{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      },
      {
        "ids": [
          "HttpUriConflict"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazonaws.glue#AWSGlue": {
      "type": "service",
      "version": "2017-03-31",
      "operations": [
        {
          "target": "com.amazonaws.glue#GetTags"
        },
        {
          "target": "com.amazonaws.glue#TagResource"
        },
        {
          "target": "com.amazonaws.glue#UntagResource"
        },
        {
          "target": "com.amazonaws.glue.datacatalog.coral#BatchCreatePartition"
        },
        {
          "target": "com.amazonaws.glue.datacatalog.coral#BatchDeleteConnection"
        },
        {
          "target": "com.amazonaws.glue.datacatalog.coral#BatchDeletePartition"
        },
        {
          "target": "com.amazonaws.glue.datacatalog.coral#BatchDeleteTable"
        },
        {
          "target": "com.amazonaws.glue.datacatalog.coral#BatchDeleteTableVersion"
        },
        {
          "target": "com.amazonaws.glue.datacatalog.coral#BatchGetPartition"
        },
        {
          "target": "com.amazonaws.glue.datacatalog.coral#CreateConnection"
        },
        {
          "target": "com.amazonaws.glue.datacatalog.coral#CreateDatabase"
        },
        {
          "target": "com.amazonaws.glue.datacatalog.coral#CreatePartition"
        },
        {
          "target": "com.amazonaws.glue.datacatalog.coral#CreateTable"
        },
        {
          "target": "com.amazonaws.glue.datacatalog.coral#CreateUserDefinedFunction"
        },
        {
          "target": "com.amazonaws.glue.datacatalog.coral#DeleteConnection"
        },
        {
          "target": "com.amazonaws.glue.datacatalog.coral#DeleteDatabase"
        },
        {
          "target": "com.amazonaws.glue.datacatalog.coral#DeletePartition"
        },
        {
          "target": "com.amazonaws.glue.datacatalog.coral#DeleteResourcePolicy"
        },
        {
          "target": "com.amazonaws.glue.datacatalog.coral#DeleteTable"
        },
        {
          "target": "com.amazonaws.glue.datacatalog.coral#DeleteTableVersion"
        },
        {
          "target": "com.amazonaws.glue.datacatalog.coral#DeleteUserDefinedFunction"
        },
        {
          "target": "com.amazonaws.glue.datacatalog.coral#GetCatalogImportStatus"
        },
        {
          "target": "com.amazonaws.glue.datacatalog.coral#GetConnection"
        },
        {
          "target": "com.amazonaws.glue.datacatalog.coral#GetConnections"
        },
        {
          "target": "com.amazonaws.glue.datacatalog.coral#GetDataCatalogEncryptionSettings"
        },
        {
          "target": "com.amazonaws.glue.datacatalog.coral#GetDatabase"
        },
        {
          "target": "com.amazonaws.glue.datacatalog.coral#GetDatabases"
        },
        {
          "target": "com.amazonaws.glue.datacatalog.coral#GetPartition"
        },
        {
          "target": "com.amazonaws.glue.datacatalog.coral#GetPartitions"
        },
        {
          "target": "com.amazonaws.glue.datacatalog.coral#GetResourcePolicy"
        },
        {
          "target": "com.amazonaws.glue.datacatalog.coral#GetTable"
        },
        {
          "target": "com.amazonaws.glue.datacatalog.coral#GetTableVersion"
        },
        {
          "target": "com.amazonaws.glue.datacatalog.coral#GetTableVersions"
        },
        {
          "target": "com.amazonaws.glue.datacatalog.coral#GetTables"
        },
        {
          "target": "com.amazonaws.glue.datacatalog.coral#GetUserDefinedFunction"
        },
        {
          "target": "com.amazonaws.glue.datacatalog.coral#GetUserDefinedFunctions"
        },
        {
          "target": "com.amazonaws.glue.datacatalog.coral#ImportCatalogToGlue"
        },
        {
          "target": "com.amazonaws.glue.datacatalog.coral#PutDataCatalogEncryptionSettings"
        },
        {
          "target": "com.amazonaws.glue.datacatalog.coral#PutResourcePolicy"
        },
        {
          "target": "com.amazonaws.glue.datacatalog.coral#SearchTables"
        },
        {
          "target": "com.amazonaws.glue.datacatalog.coral#UpdateConnection"
        },
        {
          "target": "com.amazonaws.glue.datacatalog.coral#UpdateDatabase"
        },
        {
          "target": "com.amazonaws.glue.datacatalog.coral#UpdatePartition"
        },
        {
          "target": "com.amazonaws.glue.datacatalog.coral#UpdateTable"
        },
        {
          "target": "com.amazonaws.glue.datacatalog.coral#UpdateUserDefinedFunction"
        },
        {
          "target": "com.amazonaws.glue.jobexecutor#BatchGetDevEndpoints"
        },
        {
          "target": "com.amazonaws.glue.jobexecutor#CreateDevEndpoint"
        },
        {
          "target": "com.amazonaws.glue.jobexecutor#CreateSecurityConfiguration"
        },
        {
          "target": "com.amazonaws.glue.jobexecutor#DeleteDevEndpoint"
        },
        {
          "target": "com.amazonaws.glue.jobexecutor#DeleteSecurityConfiguration"
        },
        {
          "target": "com.amazonaws.glue.jobexecutor#GetDevEndpoint"
        },
        {
          "target": "com.amazonaws.glue.jobexecutor#GetDevEndpoints"
        },
        {
          "target": "com.amazonaws.glue.jobexecutor#GetJobBookmark"
        },
        {
          "target": "com.amazonaws.glue.jobexecutor#GetSecurityConfiguration"
        },
        {
          "target": "com.amazonaws.glue.jobexecutor#GetSecurityConfigurations"
        },
        {
          "target": "com.amazonaws.glue.jobexecutor#ListDevEndpoints"
        },
        {
          "target": "com.amazonaws.glue.jobexecutor#ResetJobBookmark"
        },
        {
          "target": "com.amazonaws.glue.jobexecutor#UpdateDevEndpoint"
        },
        {
          "target": "com.amazonaws.glue.ml.coral#CancelMLTaskRun"
        },
        {
          "target": "com.amazonaws.glue.ml.coral#CreateMLTransform"
        },
        {
          "target": "com.amazonaws.glue.ml.coral#DeleteMLTransform"
        },
        {
          "target": "com.amazonaws.glue.ml.coral#GetMLTaskRun"
        },
        {
          "target": "com.amazonaws.glue.ml.coral#GetMLTaskRuns"
        },
        {
          "target": "com.amazonaws.glue.ml.coral#GetMLTransform"
        },
        {
          "target": "com.amazonaws.glue.ml.coral#GetMLTransforms"
        },
        {
          "target": "com.amazonaws.glue.ml.coral#StartExportLabelsTaskRun"
        },
        {
          "target": "com.amazonaws.glue.ml.coral#StartImportLabelsTaskRun"
        },
        {
          "target": "com.amazonaws.glue.ml.coral#StartMLEvaluationTaskRun"
        },
        {
          "target": "com.amazonaws.glue.ml.coral#StartMLLabelingSetGenerationTaskRun"
        },
        {
          "target": "com.amazonaws.glue.ml.coral#UpdateMLTransform"
        },
        {
          "target": "com.amazonaws.glue.orchestration#BatchGetJobs"
        },
        {
          "target": "com.amazonaws.glue.orchestration#BatchGetTriggers"
        },
        {
          "target": "com.amazonaws.glue.orchestration#BatchGetWorkflows"
        },
        {
          "target": "com.amazonaws.glue.orchestration#BatchStopJobRun"
        },
        {
          "target": "com.amazonaws.glue.orchestration#CreateJob"
        },
        {
          "target": "com.amazonaws.glue.orchestration#CreateTrigger"
        },
        {
          "target": "com.amazonaws.glue.orchestration#CreateWorkflow"
        },
        {
          "target": "com.amazonaws.glue.orchestration#DeleteJob"
        },
        {
          "target": "com.amazonaws.glue.orchestration#DeleteTrigger"
        },
        {
          "target": "com.amazonaws.glue.orchestration#DeleteWorkflow"
        },
        {
          "target": "com.amazonaws.glue.orchestration#GetJob"
        },
        {
          "target": "com.amazonaws.glue.orchestration#GetJobRun"
        },
        {
          "target": "com.amazonaws.glue.orchestration#GetJobRuns"
        },
        {
          "target": "com.amazonaws.glue.orchestration#GetJobs"
        },
        {
          "target": "com.amazonaws.glue.orchestration#GetTrigger"
        },
        {
          "target": "com.amazonaws.glue.orchestration#GetTriggers"
        },
        {
          "target": "com.amazonaws.glue.orchestration#GetWorkflow"
        },
        {
          "target": "com.amazonaws.glue.orchestration#GetWorkflowRun"
        },
        {
          "target": "com.amazonaws.glue.orchestration#GetWorkflowRunProperties"
        },
        {
          "target": "com.amazonaws.glue.orchestration#GetWorkflowRuns"
        },
        {
          "target": "com.amazonaws.glue.orchestration#ListJobs"
        },
        {
          "target": "com.amazonaws.glue.orchestration#ListTriggers"
        },
        {
          "target": "com.amazonaws.glue.orchestration#ListWorkflows"
        },
        {
          "target": "com.amazonaws.glue.orchestration#PutWorkflowRunProperties"
        },
        {
          "target": "com.amazonaws.glue.orchestration#StartJobRun"
        },
        {
          "target": "com.amazonaws.glue.orchestration#StartTrigger"
        },
        {
          "target": "com.amazonaws.glue.orchestration#StartWorkflowRun"
        },
        {
          "target": "com.amazonaws.glue.orchestration#StopTrigger"
        },
        {
          "target": "com.amazonaws.glue.orchestration#UpdateJob"
        },
        {
          "target": "com.amazonaws.glue.orchestration#UpdateTrigger"
        },
        {
          "target": "com.amazonaws.glue.orchestration#UpdateWorkflow"
        },
        {
          "target": "com.amazonaws.gluedataplane.coral#BatchGetCrawlers"
        },
        {
          "target": "com.amazonaws.gluedataplane.coral#CreateClassifier"
        },
        {
          "target": "com.amazonaws.gluedataplane.coral#CreateCrawler"
        },
        {
          "target": "com.amazonaws.gluedataplane.coral#CreateScript"
        },
        {
          "target": "com.amazonaws.gluedataplane.coral#DeleteClassifier"
        },
        {
          "target": "com.amazonaws.gluedataplane.coral#DeleteCrawler"
        },
        {
          "target": "com.amazonaws.gluedataplane.coral#GetClassifier"
        },
        {
          "target": "com.amazonaws.gluedataplane.coral#GetClassifiers"
        },
        {
          "target": "com.amazonaws.gluedataplane.coral#GetCrawler"
        },
        {
          "target": "com.amazonaws.gluedataplane.coral#GetCrawlerMetrics"
        },
        {
          "target": "com.amazonaws.gluedataplane.coral#GetCrawlers"
        },
        {
          "target": "com.amazonaws.gluedataplane.coral#GetDataflowGraph"
        },
        {
          "target": "com.amazonaws.gluedataplane.coral#GetMapping"
        },
        {
          "target": "com.amazonaws.gluedataplane.coral#GetPlan"
        },
        {
          "target": "com.amazonaws.gluedataplane.coral#ListCrawlers"
        },
        {
          "target": "com.amazonaws.gluedataplane.coral#StartCrawler"
        },
        {
          "target": "com.amazonaws.gluedataplane.coral#StartCrawlerSchedule"
        },
        {
          "target": "com.amazonaws.gluedataplane.coral#StopCrawler"
        },
        {
          "target": "com.amazonaws.gluedataplane.coral#StopCrawlerSchedule"
        },
        {
          "target": "com.amazonaws.gluedataplane.coral#UpdateClassifier"
        },
        {
          "target": "com.amazonaws.gluedataplane.coral#UpdateCrawler"
        },
        {
          "target": "com.amazonaws.gluedataplane.coral#UpdateCrawlerSchedule"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Glue",
          "arnNamespace": "glue",
          "cloudFormationName": "Glue",
          "cloudTrailEventSource": "glue.amazonaws.com"
        },
        "smithy.api#documentation": "<fullname>AWS Glue</fullname>\n         <p>Defines the public endpoint for the AWS Glue service.</p>",
        "smithy.api#protocols": [
          {
            "name": "aws.json-1.1",
            "auth": [
              "aws.v4"
            ]
          }
        ],
        "smithy.api#title": "AWS Glue"
      }
    },
    "com.amazonaws.glue.common.exceptions#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.glue.common.exceptions#MessageString",
          "traits": {
            "smithy.api#documentation": "<p>A message describing the problem.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Access to a resource was denied.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.glue.orchestration#Action": {
      "type": "structure",
      "members": {
        "Arguments": {
          "target": "com.amazonaws.glue.orchestration#GenericMap",
          "traits": {
            "smithy.api#documentation": "<p>The job arguments used when this trigger fires. For this job run, they replace the default arguments set in the job definition itself.</p>\n         <p>You can specify arguments here that your own job-execution script\n      consumes, as well as arguments that AWS Glue itself consumes.</p>\n         <p>For information about how to specify and consume your own Job arguments, see the <a href=\"https://docs.aws.amazon.com/glue/latest/dg/aws-glue-programming-python-calling.html\">Calling AWS Glue APIs in Python</a> topic in the developer guide.</p>\n         <p>For information about the key-value pairs that AWS Glue consumes to set up your job, see the <a href=\"https://docs.aws.amazon.com/glue/latest/dg/aws-glue-programming-etl-glue-arguments.html\">Special Parameters Used by AWS Glue</a> topic in the developer guide.</p>"
          }
        },
        "CrawlerName": {
          "target": "com.amazonaws.glue.common.datatypes#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the crawler to be used with this action.</p>"
          }
        },
        "JobName": {
          "target": "com.amazonaws.glue.common.datatypes#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of a job to be executed.</p>"
          }
        },
        "NotificationProperty": {
          "target": "com.amazonaws.glue.orchestration#NotificationProperty",
          "traits": {
            "smithy.api#documentation": "<p>Specifies configuration properties of a job run notification.</p>"
          }
        },
        "SecurityConfiguration": {
          "target": "com.amazonaws.glue.common.datatypes#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the <code>SecurityConfiguration</code> structure to be used with this\n      action.</p>"
          }
        },
        "Timeout": {
          "target": "com.amazonaws.glue.orchestration#Timeout",
          "traits": {
            "smithy.api#documentation": "<p>The <code>JobRun</code> timeout in minutes. This is the maximum time that a job run can\n      consume resources before it is terminated and enters <code>TIMEOUT</code> status. The default\n      is 2,880 minutes (48 hours). This overrides the timeout value set in the parent job.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines an action to be initiated by a trigger.</p>"
      }
    },
    "com.amazonaws.glue.orchestration#ActionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue.orchestration#Action"
      }
    },
    "com.amazonaws.glue.common.exceptions#AlreadyExistsException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.glue.common.exceptions#MessageString",
          "traits": {
            "smithy.api#documentation": "<p>A message describing the problem.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A resource to be created or added already exists.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.glue.orchestration#AttemptCount": {
      "type": "integer"
    },
    "com.amazonaws.glue.datacatalog.coral#BatchCreatePartition": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.glue.datacatalog.coral#BatchCreatePartitionRequest"
      },
      "output": {
        "target": "com.amazonaws.glue.datacatalog.coral#BatchCreatePartitionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.glue.common.exceptions#AlreadyExistsException"
        },
        {
          "target": "com.amazonaws.glue.common.exceptions#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.glue.common.exceptions#GlueEncryptionException"
        },
        {
          "target": "com.amazonaws.glue.common.exceptions#InternalServiceException"
        },
        {
          "target": "com.amazonaws.glue.common.exceptions#InvalidInputException"
        },
        {
          "target": "com.amazonaws.glue.common.exceptions#OperationTimeoutException"
        },
        {
          "target": "com.amazonaws.glue.common.exceptions#ResourceNumberLimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates one or more partitions in a batch operation.</p>"
      }
    },
    "com.amazonaws.glue.datacatalog.coral#BatchCreatePartitionRequest": {
      "type": "structure",
      "members": {
        "CatalogId": {
          "target": "com.amazonaws.glue.datacatalog.coral#CatalogIdString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the catalog in which the partition is to be created. Currently, this should be\n      the AWS account ID.</p>"
          }
        },
        "DatabaseName": {
          "target": "com.amazonaws.glue.common.datatypes#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the metadata database in which the partition is\n      to be created.</p>",
            "smithy.api#required": true
          }
        },
        "PartitionInputList": {
          "target": "com.amazonaws.glue.datacatalog.coral#PartitionInputList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>PartitionInput</code> structures that define\n      the partitions to be created.</p>",
            "smithy.api#required": true
          }
        },
        "TableName": {
          "target": "com.amazonaws.glue.common.datatypes#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the metadata table in which the partition is to be created.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.glue.datacatalog.coral#BatchCreatePartitionResponse": {
      "type": "structure",
      "members": {
        "Errors": {
          "target": "com.amazonaws.glue.datacatalog.coral#PartitionErrors",
          "traits": {
            "smithy.api#documentation": "<p>The errors encountered when trying to create the requested partitions.</p>"
          }
        }
      }
    },
    "com.amazonaws.glue.datacatalog.coral#BatchDeleteConnection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.glue.datacatalog.coral#BatchDeleteConnectionRequest"
      },
      "output": {
        "target": "com.amazonaws.glue.datacatalog.coral#BatchDeleteConnectionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.glue.common.exceptions#InternalServiceException"
        },
        {
          "target": "com.amazonaws.glue.common.exceptions#OperationTimeoutException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a list of connection definitions from the Data Catalog.</p>"
      }
    },
    "com.amazonaws.glue.datacatalog.coral#BatchDeleteConnectionRequest": {
      "type": "structure",
      "members": {
        "CatalogId": {
          "target": "com.amazonaws.glue.datacatalog.coral#CatalogIdString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Data Catalog in which the connections reside. If none is provided, the AWS\n      account ID is used by default.</p>"
          }
        },
        "ConnectionNameList": {
          "target": "com.amazonaws.glue.datacatalog.coral#DeleteConnectionNameList",
          "traits": {
            "smithy.api#documentation": "<p>A list of names of the connections to delete.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.glue.datacatalog.coral#BatchDeleteConnectionResponse": {
      "type": "structure",
      "members": {
        "Errors": {
          "target": "com.amazonaws.glue.datacatalog.coral#ErrorByName",
          "traits": {
            "smithy.api#documentation": "<p>A map of the names of connections that were not successfully\n       deleted to error details.</p>"
          }
        },
        "Succeeded": {
          "target": "com.amazonaws.glue.common.datatypes#NameStringList",
          "traits": {
            "smithy.api#documentation": "<p>A list of names of the connection definitions that were\n       successfully deleted.</p>"
          }
        }
      }
    },
    "com.amazonaws.glue.datacatalog.coral#BatchDeletePartition": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.glue.datacatalog.coral#BatchDeletePartitionRequest"
      },
      "output": {
        "target": "com.amazonaws.glue.datacatalog.coral#BatchDeletePartitionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.glue.common.exceptions#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.glue.common.exceptions#InternalServiceException"
        },
        {
          "target": "com.amazonaws.glue.common.exceptions#InvalidInputException"
        },
        {
          "target": "com.amazonaws.glue.common.exceptions#OperationTimeoutException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes one or more partitions in a batch operation.</p>"
      }
    },
    "com.amazonaws.glue.datacatalog.coral#BatchDeletePartitionRequest": {
      "type": "structure",
      "members": {
        "CatalogId": {
          "target": "com.amazonaws.glue.datacatalog.coral#CatalogIdString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Data Catalog where the partition to be deleted resides. If none is provided,\n      the AWS account ID is used by default.</p>"
          }
        },
        "DatabaseName": {
          "target": "com.amazonaws.glue.common.datatypes#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the catalog database in which the table in question\n      resides.</p>",
            "smithy.api#required": true
          }
        },
        "PartitionsToDelete": {
          "target": "com.amazonaws.glue.datacatalog.coral#BatchDeletePartitionValueList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>PartitionInput</code> structures that define\n      the partitions to be deleted.</p>",
            "smithy.api#required": true
          }
        },
        "TableName": {
          "target": "com.amazonaws.glue.common.datatypes#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the table that contains the partitions to be deleted.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.glue.datacatalog.coral#BatchDeletePartitionResponse": {
      "type": "structure",
      "members": {
        "Errors": {
          "target": "com.amazonaws.glue.datacatalog.coral#PartitionErrors",
          "traits": {
            "smithy.api#documentation": "<p>The errors encountered when trying to delete the requested partitions.</p>"
          }
        }
      }
    },
    "com.amazonaws.glue.datacatalog.coral#BatchDeletePartitionValueList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue.datacatalog.coral#PartitionValueList"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 25
        }
      }
    },
    "com.amazonaws.glue.datacatalog.coral#BatchDeleteTable": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.glue.datacatalog.coral#BatchDeleteTableRequest"
      },
      "output": {
        "target": "com.amazonaws.glue.datacatalog.coral#BatchDeleteTableResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.glue.common.exceptions#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.glue.common.exceptions#InternalServiceException"
        },
        {
          "target": "com.amazonaws.glue.common.exceptions#InvalidInputException"
        },
        {
          "target": "com.amazonaws.glue.common.exceptions#OperationTimeoutException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes multiple tables at once.</p>\n         <note>\n            <p>After completing this operation, you no longer have access to the table versions and\n        partitions that belong to the deleted table. AWS Glue deletes these \"orphaned\" resources\n        asynchronously in a timely manner, at the discretion of the service.</p>\n            <p>To ensure the immediate deletion of all related resources, before calling\n          <code>BatchDeleteTable</code>, use <code>DeleteTableVersion</code> or\n          <code>BatchDeleteTableVersion</code>, and <code>DeletePartition</code> or\n          <code>BatchDeletePartition</code>, to delete any resources that belong to the\n        table.</p>\n         </note>"
      }
    },
    "com.amazonaws.glue.datacatalog.coral#BatchDeleteTableNameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue.common.datatypes#NameString"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.glue.datacatalog.coral#BatchDeleteTableRequest": {
      "type": "structure",
      "members": {
        "CatalogId": {
          "target": "com.amazonaws.glue.datacatalog.coral#CatalogIdString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Data Catalog where the table resides. If none is provided, the AWS account\n      ID is used by default.</p>"
          }
        },
        "DatabaseName": {
          "target": "com.amazonaws.glue.common.datatypes#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the catalog database in which the tables to delete reside. For Hive\n      compatibility, this name is entirely lowercase.</p>",
            "smithy.api#required": true
          }
        },
        "TablesToDelete": {
          "target": "com.amazonaws.glue.datacatalog.coral#BatchDeleteTableNameList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the table to delete.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.glue.datacatalog.coral#BatchDeleteTableResponse": {
      "type": "structure",
      "members": {
        "Errors": {
          "target": "com.amazonaws.glue.datacatalog.coral#TableErrors",
          "traits": {
            "smithy.api#documentation": "<p>A list of errors encountered in attempting to delete the specified tables.</p>"
          }
        }
      }
    },
    "com.amazonaws.glue.datacatalog.coral#BatchDeleteTableVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.glue.datacatalog.coral#BatchDeleteTableVersionRequest"
      },
      "output": {
        "target": "com.amazonaws.glue.datacatalog.coral#BatchDeleteTableVersionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.glue.common.exceptions#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.glue.common.exceptions#InternalServiceException"
        },
        {
          "target": "com.amazonaws.glue.common.exceptions#InvalidInputException"
        },
        {
          "target": "com.amazonaws.glue.common.exceptions#OperationTimeoutException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a specified batch of versions of a table.</p>"
      }
    },
    "com.amazonaws.glue.datacatalog.coral#BatchDeleteTableVersionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue.datacatalog.coral#VersionString"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.glue.datacatalog.coral#BatchDeleteTableVersionRequest": {
      "type": "structure",
      "members": {
        "CatalogId": {
          "target": "com.amazonaws.glue.datacatalog.coral#CatalogIdString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Data Catalog where the tables reside. If none is provided, the AWS account\n      ID is used by default.</p>"
          }
        },
        "DatabaseName": {
          "target": "com.amazonaws.glue.common.datatypes#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The database in the catalog in which the table resides. For Hive\n      compatibility, this name is entirely lowercase.</p>",
            "smithy.api#required": true
          }
        },
        "TableName": {
          "target": "com.amazonaws.glue.common.datatypes#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the table. For Hive compatibility, \n      this name is entirely lowercase.</p>",
            "smithy.api#required": true
          }
        },
        "VersionIds": {
          "target": "com.amazonaws.glue.datacatalog.coral#BatchDeleteTableVersionList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the IDs of versions to be deleted. A <code>VersionId</code> is a string representation of an integer. Each version is incremented by 1.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.glue.datacatalog.coral#BatchDeleteTableVersionResponse": {
      "type": "structure",
      "members": {
        "Errors": {
          "target": "com.amazonaws.glue.datacatalog.coral#TableVersionErrors",
          "traits": {
            "smithy.api#documentation": "<p>A list of errors encountered while trying to delete\n      the specified table versions.</p>"
          }
        }
      }
    },
    "com.amazonaws.gluedataplane.coral#BatchGetCrawlers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gluedataplane.coral#BatchGetCrawlersRequest"
      },
      "output": {
        "target": "com.amazonaws.gluedataplane.coral#BatchGetCrawlersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.glue.common.exceptions#InvalidInputException"
        },
        {
          "target": "com.amazonaws.glue.common.exceptions#OperationTimeoutException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of resource metadata for a given list of crawler names. After calling the <code>ListCrawlers</code> operation, you can call this operation to access the data to which you have been granted permissions. This operation supports all IAM permissions, including permission conditions that uses tags.</p>"
      }
    },
    "com.amazonaws.gluedataplane.coral#BatchGetCrawlersRequest": {
      "type": "structure",
      "members": {
        "CrawlerNames": {
          "target": "com.amazonaws.gluedataplane.coral#CrawlerNameList",
          "traits": {
            "smithy.api#documentation": "<p>A list of crawler names, which might be the names returned from the\n        <code>ListCrawlers</code> operation.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.gluedataplane.coral#BatchGetCrawlersResponse": {
      "type": "structure",
      "members": {
        "Crawlers": {
          "target": "com.amazonaws.gluedataplane.coral#CrawlerList",
          "traits": {
            "smithy.api#documentation": "<p>A list of crawler definitions.</p>"
          }
        },
        "CrawlersNotFound": {
          "target": "com.amazonaws.gluedataplane.coral#CrawlerNameList",
          "traits": {
            "smithy.api#documentation": "<p>A list of names of crawlers that were not found.</p>"
          }
        }
      }
    },
    "com.amazonaws.glue.jobexecutor#BatchGetDevEndpoints": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.glue.jobexecutor#BatchGetDevEndpointsRequest"
      },
      "output": {
        "target": "com.amazonaws.glue.jobexecutor#BatchGetDevEndpointsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.glue.common.exceptions#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.glue.common.exceptions#InternalServiceException"
        },
        {
          "target": "com.amazonaws.glue.common.exceptions#InvalidInputException"
        },
        {
          "target": "com.amazonaws.glue.common.exceptions#OperationTimeoutException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of resource metadata for a given list of development endpoint names. After\n      calling the <code>ListDevEndpoints</code> operation, you can call this operation to access the\n      data to which you have been granted permissions. This operation supports all IAM permissions,\n      including permission conditions that uses tags.</p>"
      }
    },
    "com.amazonaws.glue.jobexecutor#BatchGetDevEndpointsRequest": {
      "type": "structure",
      "members": {
        "DevEndpointNames": {
          "target": "com.amazonaws.glue.jobexecutor#DevEndpointNames",
          "traits": {
            "smithy.api#documentation": "<p>The list of <code>DevEndpoint</code> names, which might be the names returned from the\n        <code>ListDevEndpoint</code> operation.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.glue.jobexecutor#BatchGetDevEndpointsResponse": {
      "type": "structure",
      "members": {
        "DevEndpoints": {
          "target": "com.amazonaws.glue.jobexecutor#DevEndpointList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>DevEndpoint</code> definitions.</p>"
          }
        },
        "DevEndpointsNotFound": {
          "target": "com.amazonaws.glue.jobexecutor#DevEndpointNames",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>DevEndpoints</code> not found.</p>"
          }
        }
      }
    },
    "com.amazonaws.glue.orchestration#BatchGetJobs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.glue.orchestration#BatchGetJobsRequest"
      },
      "output": {
        "target": "com.amazonaws.glue.orchestration#BatchGetJobsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.glue.common.exceptions#InternalServiceException"
        },
        {
          "target": "com.amazonaws.glue.common.exceptions#InvalidInputException"
        },
        {
          "target": "com.amazonaws.glue.common.exceptions#OperationTimeoutException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of resource metadata for a given list of job names. After calling the <code>ListJobs</code> operation, you can call this operation to access the data to which you have been granted permissions. This operation supports all IAM permissions, including permission conditions that uses tags. \n</p>"
      }
    },
    "com.amazonaws.glue.orchestration#BatchGetJobsRequest": {
      "type": "structure",
      "members": {
        "JobNames": {
          "target": "com.amazonaws.glue.orchestration#JobNameList",
          "traits": {
            "smithy.api#documentation": "<p>A list of job names, which might be the names returned from the <code>ListJobs</code>\n      operation.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.glue.orchestration#BatchGetJobsResponse": {
      "type": "structure",
      "members": {
        "Jobs": {
          "target": "com.amazonaws.glue.orchestration#JobList",
          "traits": {
            "smithy.api#documentation": "<p>A list of job definitions.</p>"
          }
        },
        "JobsNotFound": {
          "target": "com.amazonaws.glue.orchestration#JobNameList",
          "traits": {
            "smithy.api#documentation": "<p>A list of names of jobs not found.</p>"
          }
        }
      }
    },
    "com.amazonaws.glue.datacatalog.coral#BatchGetPartition": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.glue.datacatalog.coral#BatchGetPartitionRequest"
      },
      "output": {
        "target": "com.amazonaws.glue.datacatalog.coral#BatchGetPartitionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.glue.common.exceptions#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.glue.common.exceptions#GlueEncryptionException"
        },
        {
          "target": "com.amazonaws.glue.common.exceptions#InternalServiceException"
        },
        {
          "target": "com.amazonaws.glue.common.exceptions#InvalidInputException"
        },
        {
          "target": "com.amazonaws.glue.common.exceptions#OperationTimeoutException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves partitions in a batch request.</p>"
      }
    },
    "com.amazonaws.glue.datacatalog.coral#BatchGetPartitionRequest": {
      "type": "structure",
      "members": {
        "CatalogId": {
          "target": "com.amazonaws.glue.datacatalog.coral#CatalogIdString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Data Catalog where the partitions in question reside.\n      If none is supplied, the AWS account ID is used by default.</p>"
          }
        },
        "DatabaseName": {
          "target": "com.amazonaws.glue.common.datatypes#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the catalog database where the partitions reside.</p>",
            "smithy.api#required": true
          }
        },
        "PartitionsToGet": {
          "target": "com.amazonaws.glue.datacatalog.coral#BatchGetPartitionValueList",
          "traits": {
            "smithy.api#documentation": "<p>A list of partition values identifying the partitions to retrieve.</p>",
            "smithy.api#required": true
          }
        },
        "TableName": {
          "target": "com.amazonaws.glue.common.datatypes#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the partitions' table.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.glue.datacatalog.coral#BatchGetPartitionResponse": {
      "type": "structure",
      "members": {
        "Partitions": {
          "target": "com.amazonaws.glue.datacatalog.coral#PartitionList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the requested partitions.</p>"
          }
        },
        "UnprocessedKeys": {
          "target": "com.amazonaws.glue.datacatalog.coral#BatchGetPartitionValueList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the partition values in the request for which partitions were not\n      returned.</p>"
          }
        }
      }
    },
    "com.amazonaws.glue.datacatalog.coral#BatchGetPartitionValueList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue.datacatalog.coral#PartitionValueList"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1000
        }
      }
    },
    "com.amazonaws.glue.orchestration#BatchGetTriggers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.glue.orchestration#BatchGetTriggersRequest"
      },
      "output": {
        "target": "com.amazonaws.glue.orchestration#BatchGetTriggersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.glue.common.exceptions#InternalServiceException"
        },
        {
          "target": "com.amazonaws.glue.common.exceptions#InvalidInputException"
        },
        {
          "target": "com.amazonaws.glue.common.exceptions#OperationTimeoutException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of resource metadata for a given list of trigger names. After calling the <code>ListTriggers</code> operation, you can call this operation to access the data to which you have been granted permissions. This operation supports all IAM permissions, including permission conditions that uses tags.</p>"
      }
    },
    "com.amazonaws.glue.orchestration#BatchGetTriggersRequest": {
      "type": "structure",
      "members": {
        "TriggerNames": {
          "target": "com.amazonaws.glue.orchestration#TriggerNameList",
          "traits": {
            "smithy.api#documentation": "<p>A list of trigger names, which may be the names returned from the <code>ListTriggers</code> operation.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.glue.orchestration#BatchGetTriggersResponse": {
      "type": "structure",
      "members": {
        "Triggers": {
          "target": "com.amazonaws.glue.orchestration#TriggerList",
          "traits": {
            "smithy.api#documentation": "<p>A list of trigger definitions.</p>"
          }
        },
        "TriggersNotFound": {
          "target": "com.amazonaws.glue.orchestration#TriggerNameList",
          "traits": {
            "smithy.api#documentation": "<p>A list of names of triggers not found.</p>"
          }
        }
      }
    },
    "com.amazonaws.glue.orchestration#BatchGetWorkflows": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.glue.orchestration#BatchGetWorkflowsRequest"
      },
      "output": {
        "target": "com.amazonaws.glue.orchestration#BatchGetWorkflowsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.glue.common.exceptions#InternalServiceException"
        },
        {
          "target": "com.amazonaws.glue.common.exceptions#InvalidInputException"
        },
        {
          "target": "com.amazonaws.glue.common.exceptions#OperationTimeoutException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of resource metadata for a given list of workflow names. After calling the <code>ListWorkflows</code> operation, you can call this operation to access the data to which you have been granted permissions. This operation supports all IAM permissions, including permission conditions that uses tags.</p>"
      }
    },
    "com.amazonaws.glue.orchestration#BatchGetWorkflowsRequest": {
      "type": "structure",
      "members": {
        "IncludeGraph": {
          "target": "com.amazonaws.glue.common.datatypes#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether to include a graph when returning the workflow resource metadata.</p>"
          }
        },
        "Names": {
          "target": "com.amazonaws.glue.orchestration#WorkflowNames",
          "traits": {
            "smithy.api#documentation": "<p>A list of workflow names, which may be the names returned from the <code>ListWorkflows</code> operation.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.glue.orchestration#BatchGetWorkflowsResponse": {
      "type": "structure",
      "members": {
        "MissingWorkflows": {
          "target": "com.amazonaws.glue.orchestration#WorkflowNames",
          "traits": {
            "smithy.api#documentation": "<p>A list of names of workflows not found.</p>"
          }
        },
        "Workflows": {
          "target": "com.amazonaws.glue.orchestration#Workflows",
          "traits": {
            "smithy.api#documentation": "<p>A list of workflow resource metadata.</p>"
          }
        }
      }
    },
    "com.amazonaws.glue.orchestration#BatchStopJobRun": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.glue.orchestration#BatchStopJobRunRequest"
      },
      "output": {
        "target": "com.amazonaws.glue.orchestration#BatchStopJobRunResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.glue.common.exceptions#InternalServiceException"
        },
        {
          "target": "com.amazonaws.glue.common.exceptions#InvalidInputException"
        },
        {
          "target": "com.amazonaws.glue.common.exceptions#OperationTimeoutException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Stops one or more job runs for a specified job definition.</p>"
      }
    },
    "com.amazonaws.glue.orchestration#BatchStopJobRunError": {
      "type": "structure",
      "members": {
        "ErrorDetail": {
          "target": "com.amazonaws.glue.common.exceptions#ErrorDetail",
          "traits": {
            "smithy.api#documentation": "<p>Specifies details about the error that was encountered.</p>"
          }
        },
        "JobName": {
          "target": "com.amazonaws.glue.common.datatypes#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the job definition that is used in the job run in question.</p>"
          }
        },
        "JobRunId": {
          "target": "com.amazonaws.glue.orchestration#IdString",
          "traits": {
            "smithy.api#documentation": "<p>The <code>JobRunId</code> of the job run in question.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Records an error that occurred when attempting to stop a\n      specified job run.</p>"
      }
    },
    "com.amazonaws.glue.orchestration#BatchStopJobRunErrorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue.orchestration#BatchStopJobRunError"
      }
    },
    "com.amazonaws.glue.orchestration#BatchStopJobRunJobRunIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue.orchestration#IdString"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 25
        }
      }
    },
    "com.amazonaws.glue.orchestration#BatchStopJobRunRequest": {
      "type": "structure",
      "members": {
        "JobName": {
          "target": "com.amazonaws.glue.common.datatypes#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the job definition for which to stop job runs.</p>",
            "smithy.api#required": true
          }
        },
        "JobRunIds": {
          "target": "com.amazonaws.glue.orchestration#BatchStopJobRunJobRunIdList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the <code>JobRunIds</code> that should be stopped for that job\n      definition.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.glue.orchestration#BatchStopJobRunResponse": {
      "type": "structure",
      "members": {
        "Errors": {
          "target": "com.amazonaws.glue.orchestration#BatchStopJobRunErrorList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the errors that were encountered in trying to stop <code>JobRuns</code>,\n      including the <code>JobRunId</code> for which each error was encountered and details about the\n      error.</p>"
          }
        },
        "SuccessfulSubmissions": {
          "target": "com.amazonaws.glue.orchestration#BatchStopJobRunSuccessfulSubmissionList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the JobRuns that were successfully submitted for stopping.</p>"
          }
        }
      }
    },
    "com.amazonaws.glue.orchestration#BatchStopJobRunSuccessfulSubmission": {
      "type": "structure",
      "members": {
        "JobName": {
          "target": "com.amazonaws.glue.common.datatypes#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the job definition used in the job run that was stopped.</p>"
          }
        },
        "JobRunId": {
          "target": "com.amazonaws.glue.orchestration#IdString",
          "traits": {
            "smithy.api#documentation": "<p>The <code>JobRunId</code> of the job run that was stopped.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Records a successful request to stop a specified <code>JobRun</code>.</p>"
      }
    },
    "com.amazonaws.glue.orchestration#BatchStopJobRunSuccessfulSubmissionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue.orchestration#BatchStopJobRunSuccessfulSubmission"
      }
    },
    "com.amazonaws.glue.datacatalog.coral#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.gluedataplane.coral#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.glue.datacatalog.coral#BooleanNullable": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.amazonaws.glue.orchestration#BooleanValue": {
      "type": "boolean"
    },
    "com.amazonaws.glue.jobexecutor#BooleanValue": {
      "type": "boolean"
    },
    "com.amazonaws.glue.datacatalog.coral#BoundedPartitionValueList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue.datacatalog.coral#ValueString"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.glue.ml.coral#CancelMLTaskRun": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.glue.ml.coral#CancelMLTaskRunRequest"
      },
      "output": {
        "target": "com.amazonaws.glue.ml.coral#CancelMLTaskRunResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.glue.common.exceptions#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.glue.common.exceptions#InternalServiceException"
        },
        {
          "target": "com.amazonaws.glue.common.exceptions#InvalidInputException"
        },
        {
          "target": "com.amazonaws.glue.common.exceptions#OperationTimeoutException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels (stops) a task run. Machine learning task runs are asynchronous tasks that AWS\n      Glue runs on your behalf as part of various machine learning workflows. You can cancel a\n      machine learning task run at any time by calling <code>CancelMLTaskRun</code> with a task\n      run's parent transform's <code>TransformID</code> and the task run's <code>TaskRunId</code>. </p>"
      }
    },
    "com.amazonaws.glue.ml.coral#CancelMLTaskRunRequest": {
      "type": "structure",
      "members": {
        "TaskRunId": {
          "target": "com.amazonaws.glue.common.datatypes#HashString",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the task run.</p>",
            "smithy.api#required": true
          }
        },
        "TransformId": {
          "target": "com.amazonaws.glue.common.datatypes#HashString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the machine learning transform.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.glue.ml.coral#CancelMLTaskRunResponse": {
      "type": "structure",
      "members": {
        "Status": {
          "target": "com.amazonaws.glue.ml.coral#TaskStatusType",
          "traits": {
            "smithy.api#documentation": "<p>The status for this run.</p>"
          }
        },
        "TaskRunId": {
          "target": "com.amazonaws.glue.common.datatypes#HashString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the task run.</p>"
          }
        },
        "TransformId": {
          "target": "com.amazonaws.glue.common.datatypes#HashString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the machine learning transform.</p>"
          }
        }
      }
    },
    "com.amazonaws.glue.datacatalog.coral#CatalogEncryptionMode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "DISABLED": {
            "name": "DISABLED"
          },
          "SSE-KMS": {
            "name": "SSEKMS"
          }
        }
      }
    },
    "com.amazonaws.gluedataplane.coral#CatalogEntries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.gluedataplane.coral#CatalogEntry"
      }
    },
    "com.amazonaws.gluedataplane.coral#CatalogEntry": {
      "type": "structure",
      "members": {
        "DatabaseName": {
          "target": "com.amazonaws.glue.common.datatypes#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The database in which the table metadata resides.</p>",
            "smithy.api#required": true
          }
        },
        "TableName": {
          "target": "com.amazonaws.glue.common.datatypes#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the table in question.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies a table definition in the AWS Glue Data Catalog.</p>"
      }
    },
    "com.amazonaws.glue.datacatalog.coral#CatalogIdString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
      }
    },
    "com.amazonaws.glue.datacatalog.coral#CatalogImportStatus": {
      "type": "structure",
      "members": {
        "ImportCompleted": {
          "target": "com.amazonaws.glue.datacatalog.coral#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>\n            <code>True</code> if the migration has completed, or <code>False</code> otherwise.</p>"
          }
        },
        "ImportTime": {
          "target": "com.amazonaws.glue.datacatalog.coral#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that the migration was started.</p>"
          }
        },
        "ImportedBy": {
          "target": "com.amazonaws.glue.common.datatypes#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the person who initiated the migration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure containing migration status information.</p>"
      }
    },
    "com.amazonaws.gluedataplane.coral#CatalogTablesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue.common.datatypes#NameString"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.gluedataplane.coral#CatalogTarget": {
      "type": "structure",
      "members": {
        "DatabaseName": {
          "target": "com.amazonaws.glue.common.datatypes#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the database to be synchronized.</p>",
            "smithy.api#required": true
          }
        },
        "Tables": {
          "target": "com.amazonaws.gluedataplane.coral#CatalogTablesList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the tables to be synchronized.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies an AWS Glue Data Catalog target.</p>"
      }
    },
    "com.amazonaws.gluedataplane.coral#CatalogTargetList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.gluedataplane.coral#CatalogTarget"
      }
    },
    "com.amazonaws.gluedataplane.coral#Classification": {
      "type": "string"
    },
    "com.amazonaws.gluedataplane.coral#Classifier": {
      "type": "structure",
      "members": {
        "CsvClassifier": {
          "target": "com.amazonaws.gluedataplane.coral#CsvClassifier",
          "traits": {
            "smithy.api#documentation": "<p>A classifier for comma-separated values (CSV).</p>"
          }
        },
        "GrokClassifier": {
          "target": "com.amazonaws.gluedataplane.coral#GrokClassifier",
          "traits": {
            "smithy.api#documentation": "<p>A classifier that uses <code>grok</code>.</p>"
          }
        },
        "JsonClassifier": {
          "target": "com.amazonaws.gluedataplane.coral#JsonClassifier",
          "traits": {
            "smithy.api#documentation": "<p>A classifier for JSON content.</p>"
          }
        },
        "XMLClassifier": {
          "target": "com.amazonaws.gluedataplane.coral#XMLClassifier",
          "traits": {
            "smithy.api#documentation": "<p>A classifier for XML content.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Classifiers are triggered during a crawl task. A classifier checks whether a given file is\n      in a format it can handle. If it is, the classifier creates a schema in the form of a\n        <code>StructType</code> object that matches that data format.</p>\n         <p>You can use the standard classifiers that AWS Glue provides, or you can write your own\n      classifiers to best categorize your data sources and specify the appropriate schemas to use\n      for them. A classifier can be a <code>grok</code> classifier, an <code>XML</code> classifier,\n      a <code>JSON</code> classifier, or a custom <code>CSV</code> classifier, as specified in one\n      of the fields in the <code>Classifier</code> object.</p>"
      }
    },
    "com.amazonaws.gluedataplane.coral#ClassifierList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.gluedataplane.coral#Classifier"
      }
    },
    "com.amazonaws.gluedataplane.coral#ClassifierNameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue.common.datatypes#NameString"
      }
    },
    "com.amazonaws.glue.jobexecutor#CloudWatchEncryption": {
      "type": "structure",
      "members": {
        "CloudWatchEncryptionMode": {
          "target": "com.amazonaws.glue.common.datatypes#CloudWatchEncryptionMode",
          "traits": {
            "smithy.api#documentation": "<p>The encryption mode to use for CloudWatch data.</p>"
          }
        },
        "KmsKeyArn": {
          "target": "com.amazonaws.glue.jobexecutor#KmsKeyArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the KMS key to be used to encrypt the data.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies how Amazon CloudWatch data should be encrypted.</p>"
      }
    },
    "com.amazonaws.glue.common.datatypes#CloudWatchEncryptionMode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "DISABLED": {
            "name": "DISABLED"
          },
          "SSE-KMS": {
            "name": "SSEKMS"
          }
        }
      }
    },
    "com.amazonaws.gluedataplane.coral#CodeGenArgName": {
      "type": "string"
    },
    "com.amazonaws.gluedataplane.coral#CodeGenArgValue": {
      "type": "string"
    },
    "com.amazonaws.gluedataplane.coral#CodeGenEdge": {
      "type": "structure",
      "members": {
        "Source": {
          "target": "com.amazonaws.gluedataplane.coral#CodeGenIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the node at which the edge starts.</p>",
            "smithy.api#required": true
          }
        },
        "Target": {
          "target": "com.amazonaws.gluedataplane.coral#CodeGenIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the node at which the edge ends.</p>",
            "smithy.api#required": true
          }
        },
        "TargetParameter": {
          "target": "com.amazonaws.gluedataplane.coral#CodeGenArgName",
          "traits": {
            "smithy.api#documentation": "<p>The target of the edge.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a directional edge in a directed acyclic graph (DAG).</p>"
      }
    },
    "com.amazonaws.gluedataplane.coral#CodeGenIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "[A-Za-z_][A-Za-z0-9_]*"
      }
    },
    "com.amazonaws.gluedataplane.coral#CodeGenNode": {
      "type": "structure",
      "members": {
        "Args": {
          "target": "com.amazonaws.gluedataplane.coral#CodeGenNodeArgs",
          "traits": {
            "smithy.api#documentation": "<p>Properties of the node, in the form of name-value pairs.</p>",
            "smithy.api#required": true
          }
        },
        "Id": {
          "target": "com.amazonaws.gluedataplane.coral#CodeGenIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>A node identifier that is unique within the node's graph.</p>",
            "smithy.api#required": true
          }
        },
        "LineNumber": {
          "target": "com.amazonaws.gluedataplane.coral#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The line number of the node.</p>"
          }
        },
        "NodeType": {
          "target": "com.amazonaws.gluedataplane.coral#CodeGenNodeType",
          "traits": {
            "smithy.api#documentation": "<p>The type of node that this is.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a node in a directed acyclic graph (DAG)</p>"
      }
    },
    "com.amazonaws.gluedataplane.coral#CodeGenNodeArg": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.gluedataplane.coral#CodeGenArgName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the argument or property.</p>",
            "smithy.api#required": true
          }
        },
        "Param": {
          "target": "com.amazonaws.gluedataplane.coral#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>True if the value is used as a parameter.</p>"
          }
        },
        "Value": {
          "target": "com.amazonaws.gluedataplane.coral#CodeGenArgValue",
          "traits": {
            "smithy.api#documentation": "<p>The value of the argument or property.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An argument or property of a node.</p>"
      }
    },
    "com.amazonaws.gluedataplane.coral#CodeGenNodeArgs": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.gluedataplane.coral#CodeGenNodeArg"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.gluedataplane.coral#CodeGenNodeType": {
      "type": "string"
    },
    "com.amazonaws.glue.datacatalog.coral#Column": {
      "type": "structure",
      "members": {
        "Comment": {
          "target": "com.amazonaws.glue.datacatalog.coral#CommentString",
          "traits": {
            "smithy.api#documentation": "<p>A free-form text comment.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.glue.common.datatypes#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the <code>Column</code>.</p>",
            "smithy.api#required": true
          }
        },
        "Parameters": {
          "target": "com.amazonaws.glue.datacatalog.coral#ParametersMap",
          "traits": {
            "smithy.api#documentation": "<p>These key-value pairs define properties associated with the column.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.glue.common.datatypes#ColumnTypeString",
          "traits": {
            "smithy.api#documentation": "<p>The data type of the <code>Column</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A column in a <code>Table</code>.</p>"
      }
    },
    "com.amazonaws.glue.datacatalog.coral#ColumnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue.datacatalog.coral#Column"
      }
    },
    "com.amazonaws.glue.common.datatypes#ColumnNameString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
      }
    },
    "com.amazonaws.glue.common.datatypes#ColumnTypeString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 131072
        },
        "smithy.api#pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
      }
    },
    "com.amazonaws.glue.datacatalog.coral#ColumnValueStringList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue.datacatalog.coral#ColumnValuesString"
      }
    },
    "com.amazonaws.glue.datacatalog.coral#ColumnValuesString": {
      "type": "string"
    },
    "com.amazonaws.glue.datacatalog.coral#CommentString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        },
        "smithy.api#pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
      }
    },
    "com.amazonaws.glue.datacatalog.coral#Comparator": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "EQUALS": {
            "name": "EQUALS"
          },
          "GREATER_THAN": {
            "name": "GREATER_THAN"
          },
          "LESS_THAN": {
            "name": "LESS_THAN"
          },
          "GREATER_THAN_EQUALS": {
            "name": "GREATER_THAN_EQUALS"
          },
          "LESS_THAN_EQUALS": {
            "name": "LESS_THAN_EQUALS"
          }
        }
      }
    },
    "com.amazonaws.glue.common.exceptions#ConcurrentModificationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.glue.common.exceptions#MessageString",
          "traits": {
            "smithy.api#documentation": "<p>A message describing the problem.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Two processes are trying to modify a resource simultaneously.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.glue.common.exceptions#ConcurrentRunsExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.glue.common.exceptions#MessageString",
          "traits": {
            "smithy.api#documentation": "<p>A message describing the problem.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Too many jobs are being run concurrently.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.glue.orchestration#Condition": {
      "type": "structure",
      "members": {
        "CrawlState": {
          "target": "com.amazonaws.glue.orchestration#CrawlState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the crawler to which this condition applies.</p>"
          }
        },
        "CrawlerName": {
          "target": "com.amazonaws.glue.common.datatypes#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the crawler to which this condition applies.</p>"
          }
        },
        "JobName": {
          "target": "com.amazonaws.glue.common.datatypes#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the job whose <code>JobRuns</code> this condition applies to, and on which\n      this trigger waits.</p>"
          }
        },
        "LogicalOperator": {
          "target": "com.amazonaws.glue.orchestration#LogicalOperator",
          "traits": {
            "smithy.api#documentation": "<p>A logical operator.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.glue.orchestration#JobRunState",
          "traits": {
            "smithy.api#documentation": "<p>The condition state. Currently, the values supported are <code>SUCCEEDED</code>,\n      <code>STOPPED</code>, <code>TIMEOUT</code>, and <code>FAILED</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines a condition under which a trigger fires.</p>"
      }
    },
    "com.amazonaws.glue.common.exceptions#ConditionCheckFailureException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.glue.common.exceptions#MessageString",
          "traits": {
            "smithy.api#documentation": "<p>A message describing the problem.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A specified condition was not satisfied.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.glue.orchestration#ConditionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue.orchestration#Condition"
      }
    },
    "com.amazonaws.glue.ml.coral#ConfusionMatrix": {
      "type": "structure",
      "members": {
        "NumFalseNegatives": {
          "target": "com.amazonaws.glue.ml.coral#RecordsCount",
          "traits": {
            "smithy.api#documentation": "<p>The number of matches in the data that the transform didn't find, in the confusion matrix for your transform.</p>"
          }
        },
        "NumFalsePositives": {
          "target": "com.amazonaws.glue.ml.coral#RecordsCount",
          "traits": {
            "smithy.api#documentation": "<p>The number of nonmatches in the data that the transform incorrectly classified as a match,\n      in the confusion matrix for your transform.</p>"
          }
        },
        "NumTrueNegatives": {
          "target": "com.amazonaws.glue.ml.coral#RecordsCount",
          "traits": {
            "smithy.api#documentation": "<p>The number of nonmatches in the data that the transform correctly rejected, in the\n      confusion matrix for your transform.</p>"
          }
        },
        "NumTruePositives": {
          "target": "com.amazonaws.glue.ml.coral#RecordsCount",
          "traits": {
            "smithy.api#documentation": "<p>The number of matches in the data that the transform correctly found, in the confusion matrix for your transform.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The confusion matrix shows you what your transform is predicting accurately and what types of errors it is making.</p>\n\t\n\t        <p>For more information, see <a href=\"https://en.wikipedia.org/wiki/Confusion_matrix\">Confusion matrix</a> in Wikipedia.</p>"
      }
    },
    "com.amazonaws.glue.datacatalog.coral#Connection": {
      "type": "structure",
      "members": {
        "ConnectionProperties": {
          "target": "com.amazonaws.glue.datacatalog.coral#ConnectionProperties",
          "traits": {
            "smithy.api#documentation": "<p>These key-value pairs define parameters for the connection:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>HOST</code> - The host URI: either the\n        fully qualified domain name (FQDN) or the IPv4 address of\n        the database host.</p>\n            </li>\n            <li>\n               <p>\n                  <code>PORT</code> - The port number, between\n        1024 and 65535, of the port on which the database host is\n        listening for database connections.</p>\n            </li>\n            <li>\n               <p>\n                  <code>USER_NAME</code> -  The name under which\n        to log in to the database. The value string for <code>USER_NAME</code> is \"<code>USERNAME</code>\".</p>\n            </li>\n            <li>\n               <p>\n                  <code>PASSWORD</code> - A password,\n        if one is used, for the user name.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ENCRYPTED_PASSWORD</code> - When you enable connection password protection by setting <code>ConnectionPasswordEncryption</code> in the Data Catalog encryption settings, this field stores the encrypted password.</p>\n            </li>\n            <li>\n               <p>\n                  <code>JDBC_DRIVER_JAR_URI</code> - The Amazon Simple Storage Service (Amazon S3) path of the\n          JAR file that contains the JDBC driver to use.</p>\n            </li>\n            <li>\n               <p>\n                  <code>JDBC_DRIVER_CLASS_NAME</code> - The class name of the JDBC driver to use.</p>\n            </li>\n            <li>\n               <p>\n                  <code>JDBC_ENGINE</code> - The name of the JDBC engine to use.</p>\n            </li>\n            <li>\n               <p>\n                  <code>JDBC_ENGINE_VERSION</code> - The version of the JDBC engine to use.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CONFIG_FILES</code> - (Reserved for future use.)</p>\n            </li>\n            <li>\n               <p>\n                  <code>INSTANCE_ID</code> - The instance ID to use.</p>\n            </li>\n            <li>\n               <p>\n                  <code>JDBC_CONNECTION_URL</code> - The URL for the JDBC connection.</p>\n            </li>\n            <li>\n               <p>\n                  <code>JDBC_ENFORCE_SSL</code> - A Boolean string (true, false) specifying whether Secure\n          Sockets Layer (SSL) with hostname matching is enforced for the JDBC connection on the\n          client. The default is false.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CUSTOM_JDBC_CERT</code> - An Amazon S3 location specifying the customer's root certificate. AWS Glue uses this root certificate to validate the customer’s certificate when connecting to the customer database. AWS Glue only handles X.509 certificates. The certificate provided must be DER-encoded and supplied in Base64 encoding PEM format.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SKIP_CUSTOM_JDBC_CERT_VALIDATION</code> - By default, this is <code>false</code>. AWS Glue validates the Signature algorithm and Subject Public Key Algorithm for the customer certificate. The only permitted algorithms for the Signature algorithm are SHA256withRSA, SHA384withRSA or SHA512withRSA. For the Subject Public Key Algorithm, the key length must be at least 2048. You can set the value of this property to <code>true</code> to skip AWS Glue’s validation of the customer certificate.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CUSTOM_JDBC_CERT_STRING</code> - A custom JDBC certificate string which is used for domain match or distinguished name match to prevent a man-in-the-middle attack. In Oracle database, this is used as the <code>SSL_SERVER_CERT_DN</code>; in Microsoft SQL Server, this is used as the <code>hostNameInCertificate</code>.</p>\n            </li>\n         </ul>"
          }
        },
        "ConnectionType": {
          "target": "com.amazonaws.glue.datacatalog.coral#ConnectionType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the connection. Currently, only JDBC is supported; \n      SFTP is not supported.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.glue.datacatalog.coral#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that this connection definition was created.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.glue.common.datatypes#DescriptionString",
          "traits": {
            "smithy.api#documentation": "<p>The description of the connection.</p>"
          }
        },
        "LastUpdatedBy": {
          "target": "com.amazonaws.glue.common.datatypes#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The user, group, or role that last updated this connection definition.</p>"
          }
        },
        "LastUpdatedTime": {
          "target": "com.amazonaws.glue.datacatalog.coral#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The last time that this connection definition was updated.</p>"
          }
        },
        "MatchCriteria": {
          "target": "com.amazonaws.glue.datacatalog.coral#MatchCriteria",
          "traits": {
            "smithy.api#documentation": "<p>A list of criteria that can be used in selecting this connection.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.glue.common.datatypes#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the connection definition.</p>"
          }
        },
        "PhysicalConnectionRequirements": {
          "target": "com.amazonaws.glue.datacatalog.coral#PhysicalConnectionRequirements",
          "traits": {
            "smithy.api#documentation": "<p>A map of physical connection requirements, such as virtual private cloud (VPC) and\n        <code>SecurityGroup</code>, that are needed to make this connection successfully.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines a connection to a data source.</p>"
      }
    },
    "com.amazonaws.glue.datacatalog.coral#ConnectionInput": {
      "type": "structure",
      "members": {
        "ConnectionProperties": {
          "target": "com.amazonaws.glue.datacatalog.coral#ConnectionProperties",
          "traits": {
            "smithy.api#documentation": "<p>These key-value pairs define parameters for the connection.</p>",
            "smithy.api#required": true
          }
        },
        "ConnectionType": {
          "target": "com.amazonaws.glue.datacatalog.coral#ConnectionType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the connection. Currently, only JDBC is supported; \n      SFTP is not supported.</p>",
            "smithy.api#required": true
          }
        },
        "Description": {
          "target": "com.amazonaws.glue.common.datatypes#DescriptionString",
          "traits": {
            "smithy.api#documentation": "<p>The description of the connection.</p>"
          }
        },
        "MatchCriteria": {
          "target": "com.amazonaws.glue.datacatalog.coral#MatchCriteria",
          "traits": {
            "smithy.api#documentation": "<p>A list of criteria that can be used in selecting this connection.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.glue.common.datatypes#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the connection.</p>",
            "smithy.api#required": true
          }
        },
        "PhysicalConnectionRequirements": {
          "target": "com.amazonaws.glue.datacatalog.coral#PhysicalConnectionRequirements",
          "traits": {
            "smithy.api#documentation": "<p>A map of physical connection requirements, such as virtual private cloud (VPC) and\n        <code>SecurityGroup</code>, that are needed to successfully make this connection.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure that is used to specify a connection to create or update.</p>"
      }
    },
    "com.amazonaws.glue.datacatalog.coral#ConnectionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue.datacatalog.coral#Connection"
      }
    },
    "com.amazonaws.gluedataplane.coral#ConnectionName": {
      "type": "string"
    },
    "com.amazonaws.glue.datacatalog.coral#ConnectionPasswordEncryption": {
      "type": "structure",
      "members": {
        "AwsKmsKeyId": {
          "target": "com.amazonaws.glue.common.datatypes#NameString",
          "traits": {
            "smithy.api#documentation": "<p>An AWS KMS key that is used to encrypt the connection password. </p>\n\t\n         <p>If connection password protection is enabled, the caller of <code>CreateConnection</code>\n      and <code>UpdateConnection</code> needs at least <code>kms:Encrypt</code> permission on the\n      specified AWS KMS key, to encrypt passwords before storing them in the Data Catalog. </p> \n    \n\t        <p>You can set the decrypt permission to enable or restrict access on the password key according to your security requirements.</p>"
          }
        },
        "ReturnConnectionPasswordEncrypted": {
          "target": "com.amazonaws.glue.datacatalog.coral#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>When the <code>ReturnConnectionPasswordEncrypted</code> flag is set to \"true\", passwords remain encrypted in the responses of <code>GetConnection</code> and <code>GetConnections</code>. This encryption takes effect independently from catalog encryption. </p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The data structure used by the Data Catalog to encrypt the password as part of\n        <code>CreateConnection</code> or <code>UpdateConnection</code> and store it in the\n        <code>ENCRYPTED_PASSWORD</code> field in the connection properties. You can enable catalog\n      encryption or only password encryption.</p>\n\t\n\t        <p>When a <code>CreationConnection</code> request arrives containing a password, the Data\n      Catalog first encrypts the password using your AWS KMS key. It then encrypts the whole\n      connection object again if catalog encryption is also enabled.</p>\n \n         <p>This encryption requires that you set AWS KMS key permissions to enable or restrict access\n      on the password key according to your security requirements. For example, you might want only\n      administrators to have decrypt permission on the password key.</p>"
      }
    },
    "com.amazonaws.glue.datacatalog.coral#ConnectionProperties": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.glue.datacatalog.coral#ConnectionPropertyKey"
      },
      "value": {
        "target": "com.amazonaws.glue.datacatalog.coral#ValueString"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.glue.datacatalog.coral#ConnectionPropertyKey": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "HOST": {
            "name": "HOST"
          },
          "PORT": {
            "name": "PORT"
          },
          "USERNAME": {
            "name": "USER_NAME"
          },
          "PASSWORD": {
            "name": "PASSWORD"
          },
          "ENCRYPTED_PASSWORD": {
            "name": "ENCRYPTED_PASSWORD"
          },
          "JDBC_DRIVER_JAR_URI": {
            "name": "JDBC_DRIVER_JAR_URI"
          },
          "JDBC_DRIVER_CLASS_NAME": {
            "name": "JDBC_DRIVER_CLASS_NAME"
          },
          "JDBC_ENGINE": {
            "name": "JDBC_ENGINE"
          },
          "JDBC_ENGINE_VERSION": {
            "name": "JDBC_ENGINE_VERSION"
          },
          "CONFIG_FILES": {
            "name": "CONFIG_FILES"
          },
          "INSTANCE_ID": {
            "name": "INSTANCE_ID"
          },
          "JDBC_CONNECTION_URL": {
            "name": "JDBC_CONNECTION_URL"
          },
          "JDBC_ENFORCE_SSL": {
            "name": "JDBC_ENFORCE_SSL"
          },
          "CUSTOM_JDBC_CERT": {
            "name": "CUSTOM_JDBC_CERT"
          },
          "SKIP_CUSTOM_JDBC_CERT_VALIDATION": {
            "name": "SKIP_CUSTOM_JDBC_CERT_VALIDATION"
          },
          "CUSTOM_JDBC_CERT_STRING": {
            "name": "CUSTOM_JDBC_CERT_STRING"
          }
        }
      }
    },
    "com.amazonaws.glue.datacatalog.coral#ConnectionType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "JDBC": {
            "name": "JDBC"
          },
          "SFTP": {
            "name": "SFTP"
          }
        }
      }
    },
    "com.amazonaws.glue.orchestration#ConnectionsList": {
      "type": "structure",
      "members": {
        "Connections": {
          "target": "com.amazonaws.glue.orchestration#OrchestrationStringList",
          "traits": {
            "smithy.api#documentation": "<p>A list of connections used by the job.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the connections used by a job.</p>"
      }
    },
    "com.amazonaws.glue.orchestration#Crawl": {
      "type": "structure",
      "members": {
        "CompletedOn": {
          "target": "com.amazonaws.glue.orchestration#TimestampValue",
          "traits": {
            "smithy.api#documentation": "<p>The date and time on which the crawl completed.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.glue.common.datatypes#DescriptionString",
          "traits": {
            "smithy.api#documentation": "<p>The error message associated with the crawl.</p>"
          }
        },
        "LogGroup": {
          "target": "com.amazonaws.glue.orchestration#LogGroup",
          "traits": {
            "smithy.api#documentation": "<p>The log group associated with the crawl.</p>"
          }
        },
        "LogStream": {
          "target": "com.amazonaws.glue.orchestration#LogStream",
          "traits": {
            "smithy.api#documentation": "<p>The log stream associated with the crawl.</p>"
          }
        },
        "StartedOn": {
          "target": "com.amazonaws.glue.orchestration#TimestampValue",
          "traits": {
            "smithy.api#documentation": "<p>The date and time on which the crawl started.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.glue.orchestration#CrawlState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the crawler.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of a crawl in the workflow.</p>"
      }
    },
    "com.amazonaws.glue.orchestration#CrawlList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue.orchestration#Crawl"
      }
    },
    "com.amazonaws.glue.orchestration#CrawlState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "RUNNING": {
            "name": "RUNNING"
          },
          "SUCCEEDED": {
            "name": "SUCCEEDED"
          },
          "CANCELLED": {
            "name": "CANCELLED"
          },
          "FAILED": {
            "name": "FAILED"
          }
        }
      }
    },
    "com.amazonaws.gluedataplane.coral#Crawler": {
      "type": "structure",
      "members": {
        "Classifiers": {
          "target": "com.amazonaws.gluedataplane.coral#ClassifierNameList",
          "traits": {
            "smithy.api#documentation": "<p>A list of UTF-8 strings that specify the custom classifiers that are associated \n     with the crawler.</p>"
          }
        },
        "Configuration": {
          "target": "com.amazonaws.gluedataplane.coral#CrawlerConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Crawler configuration information. This versioned JSON string allows users\n        to specify aspects of a crawler's behavior.\n        For more information, see <a href=\"http://docs.aws.amazon.com/glue/latest/dg/crawler-configuration.html\">Configuring a Crawler</a>.</p>"
          }
        },
        "CrawlElapsedTime": {
          "target": "com.amazonaws.gluedataplane.coral#MillisecondsCount",
          "traits": {
            "smithy.api#documentation": "<p>If the crawler is running, contains the total time elapsed since the last crawl\n      began.</p>"
          }
        },
        "CrawlerSecurityConfiguration": {
          "target": "com.amazonaws.gluedataplane.coral#CrawlerSecurityConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The name of the <code>SecurityConfiguration</code> structure to be used by this\n      crawler.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.gluedataplane.coral#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that the crawler was created.</p>"
          }
        },
        "DatabaseName": {
          "target": "com.amazonaws.gluedataplane.coral#DatabaseName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the database in which the crawler's output is stored.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.glue.common.datatypes#DescriptionString",
          "traits": {
            "smithy.api#documentation": "<p>A description of the crawler.</p>"
          }
        },
        "LastCrawl": {
          "target": "com.amazonaws.gluedataplane.coral#LastCrawlInfo",
          "traits": {
            "smithy.api#documentation": "<p>The status of the last crawl, and potentially error information if\n      an error occurred.</p>"
          }
        },
        "LastUpdated": {
          "target": "com.amazonaws.gluedataplane.coral#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that the crawler was last updated.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.glue.common.datatypes#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the crawler.</p>"
          }
        },
        "Role": {
          "target": "com.amazonaws.gluedataplane.coral#Role",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of an IAM role that's used to access customer resources,\n      such as Amazon Simple Storage Service (Amazon S3) data.</p>"
          }
        },
        "Schedule": {
          "target": "com.amazonaws.gluedataplane.coral#Schedule",
          "traits": {
            "smithy.api#documentation": "<p>For scheduled crawlers, the schedule when the crawler runs.</p>"
          }
        },
        "SchemaChangePolicy": {
          "target": "com.amazonaws.gluedataplane.coral#SchemaChangePolicy",
          "traits": {
            "smithy.api#documentation": "<p>The policy that specifies update and delete behaviors for the crawler.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.gluedataplane.coral#CrawlerState",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the crawler is running, or whether a run is pending.</p>"
          }
        },
        "TablePrefix": {
          "target": "com.amazonaws.gluedataplane.coral#TablePrefix",
          "traits": {
            "smithy.api#documentation": "<p>The prefix added to the names of tables that are created.</p>"
          }
        },
        "Targets": {
          "target": "com.amazonaws.gluedataplane.coral#CrawlerTargets",
          "traits": {
            "smithy.api#documentation": "<p>A collection of targets to crawl.</p>"
          }
        },
        "Version": {
          "target": "com.amazonaws.gluedataplane.coral#VersionId",
          "traits": {
            "smithy.api#documentation": "<p>The version of the crawler.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies a crawler program that examines a data source and uses classifiers to try to\n      determine its schema. If successful, the crawler records metadata concerning the data source\n      in the AWS Glue Data Catalog.</p>"
      }
    },
    "com.amazonaws.gluedataplane.coral#CrawlerConfiguration": {
      "type": "string"
    },
    "com.amazonaws.gluedataplane.coral#CrawlerList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.gluedataplane.coral#Crawler"
      }
    },
    "com.amazonaws.gluedataplane.coral#CrawlerMetrics": {
      "type": "structure",
      "members": {
        "CrawlerName": {
          "target": "com.amazonaws.glue.common.datatypes#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the crawler.</p>"
          }
        },
        "LastRuntimeSeconds": {
          "target": "com.amazonaws.gluedataplane.coral#NonNegativeDouble",
          "traits": {
            "smithy.api#documentation": "<p>The duration of the crawler's most recent run, in seconds.</p>"
          }
        },
        "MedianRuntimeSeconds": {
          "target": "com.amazonaws.gluedataplane.coral#NonNegativeDouble",
          "traits": {
            "smithy.api#documentation": "<p>The median duration of this crawler's runs, in seconds.</p>"
          }
        },
        "StillEstimating": {
          "target": "com.amazonaws.gluedataplane.coral#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>True if the crawler is still estimating how long it will take to complete this run.</p>"
          }
        },
        "TablesCreated": {
          "target": "com.amazonaws.gluedataplane.coral#NonNegativeInteger",
          "traits": {
            "smithy.api#documentation": "<p>The number of tables created by this crawler.</p>"
          }
        },
        "TablesDeleted": {
          "target": "com.amazonaws.gluedataplane.coral#NonNegativeInteger",
          "traits": {
            "smithy.api#documentation": "<p>The number of tables deleted by this crawler.</p>"
          }
        },
        "TablesUpdated": {
          "target": "com.amazonaws.gluedataplane.coral#NonNegativeInteger",
          "traits": {
            "smithy.api#documentation": "<p>The number of tables updated by this crawler.</p>"
          }
        },
        "TimeLeftSeconds": {
          "target": "com.amazonaws.gluedataplane.coral#NonNegativeDouble",
          "traits": {
            "smithy.api#documentation": "<p>The estimated time left to complete a running crawl.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Metrics for a specified crawler.</p>"
      }
    },
    "com.amazonaws.gluedataplane.coral#CrawlerMetricsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.gluedataplane.coral#CrawlerMetrics"
      }
    },
    "com.amazonaws.gluedataplane.coral#CrawlerNameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue.common.datatypes#NameString"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.glue.orchestration#CrawlerNodeDetails": {
      "type": "structure",
      "members": {
        "Crawls": {
          "target": "com.amazonaws.glue.orchestration#CrawlList",
          "traits": {
            "smithy.api#documentation": "<p>A list of crawls represented by the crawl node.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of a Crawler node present in the workflow.</p>"
      }
    },
    "com.amazonaws.gluedataplane.coral#CrawlerNotRunningException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.gluedataplane.coral#MessageString",
          "traits": {
            "smithy.api#documentation": "<p>A message describing the problem.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified crawler is not running.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.gluedataplane.coral#CrawlerRunningException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.gluedataplane.coral#MessageString",
          "traits": {
            "smithy.api#documentation": "<p>A message describing the problem.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The operation cannot be performed because the crawler is already running.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.gluedataplane.coral#CrawlerSecurityConfiguration": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 128
        }
      }
    },
    "com.amazonaws.gluedataplane.coral#CrawlerState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "READY": {
            "name": "READY"
          },
          "RUNNING": {
            "name": "RUNNING"
          },
          "STOPPING": {
            "name": "STOPPING"
          }
        }
      }
    },
    "com.amazonaws.gluedataplane.coral#CrawlerStoppingException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.gluedataplane.coral#MessageString",
          "traits": {
            "smithy.api#documentation": "<p>A message describing the problem.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified crawler is stopping.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.gluedataplane.coral#CrawlerTargets": {
      "type": "structure",
      "members": {
        "CatalogTargets": {
          "target": "com.amazonaws.gluedataplane.coral#CatalogTargetList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies AWS Glue Data Catalog targets.</p>"
          }
        },
        "DynamoDBTargets": {
          "target": "com.amazonaws.gluedataplane.coral#DynamoDBTargetList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies Amazon DynamoDB targets.</p>"
          }
        },
        "JdbcTargets": {
[...]
