{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazonaws.silvermineunifiedapi.v20160804#AWSHealth_20160804": {
      "type": "service",
      "version": "2016-08-04",
      "operations": [
        {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.operation#DescribeAffectedEntities"
        },
        {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.operation#DescribeEntityAggregates"
        },
        {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.operation#DescribeEventAggregates"
        },
        {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.operation#DescribeEventDetails"
        },
        {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.operation#DescribeEventTypes"
        },
        {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.operation#DescribeEvents"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Health",
          "arnNamespace": "health",
          "cloudFormationName": "Health",
          "cloudTrailEventSource": "v20160804.silvermineunifiedapi.amazonaws.com"
        },
        "smithy.api#documentation": "\n\n         <fullname>AWS Health</fullname>\n      \n         <p>The AWS Health API provides programmatic access to the AWS Health information that is presented in the <a href=\"https://phd.aws.amazon.com/phd/home#/\">AWS Personal Health Dashboard</a>. You can get information about events that affect your AWS resources:</p>\n         <ul>\n            <li>\n               <p>\n                  <a>DescribeEvents</a>: Summary information about events.</p>\n            </li>\n            <li>\n               <p>\n                  <a>DescribeEventDetails</a>: Detailed information about one or more events.</p>\n            </li>\n            <li>\n               <p>\n                  <a>DescribeAffectedEntities</a>: Information about AWS resources that are affected by one or more events.</p>\n            </li>\n         </ul>\n         <p>In addition, these operations provide information about event types and summary counts of events or affected entities:</p>\n         <ul>\n            <li>\n               <p>\n                  <a>DescribeEventTypes</a>: Information about the kinds of events that AWS Health tracks.</p>\n            </li>\n            <li>\n               <p>\n                  <a>DescribeEventAggregates</a>: A count of the number of events that meet specified criteria.</p>\n            </li>\n            <li>\n               <p>\n                  <a>DescribeEntityAggregates</a>: A count of the number of affected entities that meet specified criteria.</p>\n            </li>\n         </ul>\n\n         <p>The Health API requires a Business or Enterprise support plan from <a href=\"http://aws.amazon.com/premiumsupport/\">AWS Support</a>. Calling the Health API from an account that does not have a Business or Enterprise support plan causes a <code>SubscriptionRequiredException</code>. </p>\n\n         <p>For authentication of requests, AWS Health uses the <a href=\"https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4 Signing Process</a>.</p>\n\n         <p>See the <a href=\"https://docs.aws.amazon.com/health/latest/ug/what-is-aws-health.html\">AWS Health User Guide</a> for information about how to use the API.</p>\n\n         <p>\n            <b>Service Endpoint</b>\n         </p>\n         <p>The HTTP endpoint for the AWS Health API is:</p>\n         <ul>\n            <li>\n               <p>https://health.us-east-1.amazonaws.com </p>\n            </li>\n         </ul>\n\n      ",
        "smithy.api#protocols": [
          {
            "name": "aws.json-1.1",
            "auth": [
              "aws.v4"
            ]
          }
        ],
        "smithy.api#title": "AWS Health APIs and Notifications"
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.types#AffectedEntity": {
      "type": "structure",
      "members": {
        "awsAccountId": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#accountId",
          "traits": {
            "smithy.api#documentation": "\n         <p>The 12-digit AWS account number that contains the affected entity.</p>\n      "
          }
        },
        "entityArn": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#entityArn",
          "traits": {
            "smithy.api#documentation": "\n         <p>The unique identifier for the entity. Format: <code>arn:aws:health:<i>entity-region</i>:<i>aws-account</i>:entity/<i>entity-id</i>\n            </code>. Example: <code>arn:aws:health:us-east-1:111222333444:entity/AVh5GGT7ul1arKr1sE1K</code>\n         </p>\n      "
          }
        },
        "entityUrl": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#entityUrl"
        },
        "entityValue": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#entityValue",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ID of the affected entity.</p>\n      "
          }
        },
        "eventArn": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#eventArn",
          "traits": {
            "smithy.api#documentation": "\n         <p>The unique identifier for the event. Format: <code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i>\n            </code>. Example: <code>Example: arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code>\n         </p>\n      "
          }
        },
        "lastUpdatedTime": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#timestamp",
          "traits": {
            "smithy.api#documentation": "\n         <p>The most recent time that the entity was updated.</p>\n      "
          }
        },
        "statusCode": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#entityStatusCode",
          "traits": {
            "smithy.api#documentation": "\n         <p>The most recent status of the entity affected by the event.\n        The possible values are <code>IMPAIRED</code>, <code>UNIMPAIRED</code>, and <code>UNKNOWN</code>.</p>\n      "
          }
        },
        "tags": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#tagSet",
          "traits": {
            "smithy.api#documentation": "\n         <p>A map of entity tags attached to the affected entity.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>Information about an entity that is affected by a Health event.</p>\n      "
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.types#DateTimeRange": {
      "type": "structure",
      "members": {
        "from": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#timestamp",
          "traits": {
            "smithy.api#documentation": "\n         <p>The starting date and time of a time range.</p>\n      "
          }
        },
        "to": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#timestamp",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ending date and time of a time range.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>A range of dates and times that is used by the <a>EventFilter</a> and <a>EntityFilter</a> objects. If <code>from</code> is set and <code>to</code> is set: match items where the timestamp (<code>startTime</code>, <code>endTime</code>, or <code>lastUpdatedTime</code>) is between <code>from</code> and <code>to</code> inclusive. If <code>from</code> is set and <code>to</code> is not set: match items where the timestamp value is equal to or after <code>from</code>. If <code>from</code> is not set and <code>to</code> is set: match items where the timestamp value is equal to or before <code>to</code>.</p>\n      "
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.operation#DescribeAffectedEntities": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.silvermineunifiedapi.v20160804.operation#DescribeAffectedEntitiesRequest"
      },
      "output": {
        "target": "com.amazonaws.silvermineunifiedapi.v20160804.operation#DescribeAffectedEntitiesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.error#InvalidPaginationToken"
        },
        {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.error#UnsupportedLocale"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Returns a list of entities that have been affected by the specified events, based on the specified filter criteria. Entities can refer to individual customer resources, groups of customer resources, or any other construct, depending on the AWS service. Events that have impact beyond that of the affected entities, or where the extent of impact is unknown, include at least one entity indicating this.</p>\n        <p>At least one event ARN is required. Results are sorted by the <code>lastUpdatedTime</code> of the entity, starting with the most recent.</p>\n      ",
        "smithy.api#idempotent": true
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.operation#DescribeAffectedEntitiesRequest": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.types#EntityFilter",
          "traits": {
            "smithy.api#documentation": "\n         <p>Values to narrow the results returned. At least one event ARN is required. </p>\n      ",
            "smithy.api#required": true
          }
        },
        "locale": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#locale",
          "traits": {
            "smithy.api#documentation": "\n         <p>The locale (language) to return information in. English (en) is the default and the only supported value at this time.</p>\n      "
          }
        },
        "maxResults": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#maxResults",
          "traits": {
            "smithy.api#documentation": "\n         <p>The maximum number of items to return in one batch, between 10 and 100, inclusive.</p>\n      "
          }
        },
        "nextToken": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#nextToken",
          "traits": {
            "smithy.api#documentation": "\n         <p>If the results of a search are large, only a portion of the\nresults are returned, and a <code>nextToken</code> pagination token is returned in the response. To\nretrieve the next batch of results, reissue the search request and include the returned token.\nWhen all results have been returned, the response does not contain a pagination token value.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.operation#DescribeAffectedEntitiesResponse": {
      "type": "structure",
      "members": {
        "entities": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.operation#EntityList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The entities that match the filter criteria.</p>\n      "
          }
        },
        "nextToken": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#nextToken",
          "traits": {
            "smithy.api#documentation": "\n         <p>If the results of a search are large, only a portion of the\nresults are returned, and a <code>nextToken</code> pagination token is returned in the response. To\nretrieve the next batch of results, reissue the search request and include the returned token.\nWhen all results have been returned, the response does not contain a pagination token value.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.operation#DescribeEntityAggregates": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.silvermineunifiedapi.v20160804.operation#DescribeEntityAggregatesRequest"
      },
      "output": {
        "target": "com.amazonaws.silvermineunifiedapi.v20160804.operation#DescribeEntityAggregatesResponse"
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>Returns the number of entities that are affected by each of the specified events. If no events are specified, the counts of all affected entities are returned.</p>\n      ",
        "smithy.api#idempotent": true
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.operation#DescribeEntityAggregatesRequest": {
      "type": "structure",
      "members": {
        "eventArns": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.operation#EventArnsList",
          "traits": {
            "smithy.api#documentation": "\n         <p>A list of event ARNs (unique identifiers). For example: <code>\"arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-CDE456\", \"arn:aws:health:us-west-1::event/EBS/AWS_EBS_LOST_VOLUME/AWS_EBS_LOST_VOLUME_CHI789_JKL101\"</code>\n         </p>\n      "
          }
        }
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.operation#DescribeEntityAggregatesResponse": {
      "type": "structure",
      "members": {
        "entityAggregates": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.operation#EntityAggregateList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The number of entities that are affected by each of the specified events.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.operation#DescribeEventAggregates": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.silvermineunifiedapi.v20160804.operation#DescribeEventAggregatesRequest"
      },
      "output": {
        "target": "com.amazonaws.silvermineunifiedapi.v20160804.operation#DescribeEventAggregatesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.error#InvalidPaginationToken"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Returns the number of events of each event type (issue, scheduled change, and account notification). If no filter is specified, the counts of all events in each category are returned.</p>\n      ",
        "smithy.api#idempotent": true
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.operation#DescribeEventAggregatesRequest": {
      "type": "structure",
      "members": {
        "aggregateField": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#eventAggregateField",
          "traits": {
            "smithy.api#documentation": "\n         <p>The only currently supported value is <code>eventTypeCategory</code>.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "filter": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.types#EventFilter",
          "traits": {
            "smithy.api#documentation": "\n         <p>Values to narrow the results returned.</p>\n      "
          }
        },
        "maxResults": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#maxResults",
          "traits": {
            "smithy.api#documentation": "\n         <p>The maximum number of items to return in one batch, between 10 and 100, inclusive.</p>\n      "
          }
        },
        "nextToken": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#nextToken",
          "traits": {
            "smithy.api#documentation": "\n         <p>If the results of a search are large, only a portion of the\nresults are returned, and a <code>nextToken</code> pagination token is returned in the response. To\nretrieve the next batch of results, reissue the search request and include the returned token.\nWhen all results have been returned, the response does not contain a pagination token value.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.operation#DescribeEventAggregatesResponse": {
      "type": "structure",
      "members": {
        "eventAggregates": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.operation#EventAggregateList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The number of events in each category that meet the optional filter criteria.</p>\n      "
          }
        },
        "nextToken": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#nextToken",
          "traits": {
            "smithy.api#documentation": "\n         <p>If the results of a search are large, only a portion of the\nresults are returned, and a <code>nextToken</code> pagination token is returned in the response. To\nretrieve the next batch of results, reissue the search request and include the returned token.\nWhen all results have been returned, the response does not contain a pagination token value.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.operation#DescribeEventDetails": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.silvermineunifiedapi.v20160804.operation#DescribeEventDetailsRequest"
      },
      "output": {
        "target": "com.amazonaws.silvermineunifiedapi.v20160804.operation#DescribeEventDetailsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.error#UnsupportedLocale"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Returns detailed information about one or more specified events. Information includes standard event data (region, service, etc., as returned by <a>DescribeEvents</a>), a detailed event description, and possible additional metadata that depends upon the nature of the event. Affected entities are not included; to retrieve those, use the <a>DescribeAffectedEntities</a> operation.</p>\n         <p>If a specified event cannot be retrieved, an error message is returned for that event.</p>\n      ",
        "smithy.api#idempotent": true
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.operation#DescribeEventDetailsFailedSet": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.silvermineunifiedapi.v20160804.types#EventDetailsErrorItem"
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.operation#DescribeEventDetailsRequest": {
      "type": "structure",
      "members": {
        "eventArns": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#eventArnList",
          "traits": {
            "smithy.api#documentation": "\n         <p>A list of event ARNs (unique identifiers). For example: <code>\"arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-CDE456\", \"arn:aws:health:us-west-1::event/EBS/AWS_EBS_LOST_VOLUME/AWS_EBS_LOST_VOLUME_CHI789_JKL101\"</code>\n         </p>\n      ",
            "smithy.api#required": true
          }
        },
        "locale": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#locale",
          "traits": {
            "smithy.api#documentation": "\n         <p>The locale (language) to return information in. English (en) is the default and the only supported value at this time.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.operation#DescribeEventDetailsResponse": {
      "type": "structure",
      "members": {
        "failedSet": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.operation#DescribeEventDetailsFailedSet",
          "traits": {
            "smithy.api#documentation": "\n         <p>Error messages for any events that could not be retrieved.</p>\n      "
          }
        },
        "successfulSet": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.operation#DescribeEventDetailsSuccessfulSet",
          "traits": {
            "smithy.api#documentation": "\n         <p>Information about the events that could be retrieved.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.operation#DescribeEventDetailsSuccessfulSet": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.silvermineunifiedapi.v20160804.types#EventDetails"
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.operation#DescribeEventTypes": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.silvermineunifiedapi.v20160804.operation#DescribeEventTypesRequest"
      },
      "output": {
        "target": "com.amazonaws.silvermineunifiedapi.v20160804.operation#DescribeEventTypesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.error#InvalidPaginationToken"
        },
        {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.error#UnsupportedLocale"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Returns the event types that meet the specified filter criteria. If no filter criteria are specified, all event types are returned, in no particular order.</p>\n      ",
        "smithy.api#idempotent": true
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.operation#DescribeEventTypesRequest": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.types#EventTypeFilter",
          "traits": {
            "smithy.api#documentation": "\n         <p>Values to narrow the results returned.</p>\n      "
          }
        },
        "locale": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#locale",
          "traits": {
            "smithy.api#documentation": "\n         <p>The locale (language) to return information in. English (en) is the default and the only supported value at this time.</p>\n      "
          }
        },
        "maxResults": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#maxResults",
          "traits": {
            "smithy.api#documentation": "\n         <p>The maximum number of items to return in one batch, between 10 and 100, inclusive.</p>\n      "
          }
        },
        "nextToken": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#nextToken",
          "traits": {
            "smithy.api#documentation": "\n         <p>If the results of a search are large, only a portion of the\nresults are returned, and a <code>nextToken</code> pagination token is returned in the response. To\nretrieve the next batch of results, reissue the search request and include the returned token.\nWhen all results have been returned, the response does not contain a pagination token value.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.operation#DescribeEventTypesResponse": {
      "type": "structure",
      "members": {
        "eventTypes": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.operation#EventTypeList",
          "traits": {
            "smithy.api#documentation": "\n         <p>A list of event types that match the filter criteria. Event types have a category\n            (<code>issue</code>, <code>accountNotification</code>, or <code>scheduledChange</code>),\n         a service (for example, <code>EC2</code>, <code>RDS</code>, <code>DATAPIPELINE</code>,\n            <code>BILLING</code>), and a code (in the format\n               <code>AWS_<i>SERVICE</i>_<i>DESCRIPTION</i>\n            </code>; for\n         example, <code>AWS_EC2_SYSTEM_MAINTENANCE_EVENT</code>).</p>\n      "
          }
        },
        "nextToken": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#nextToken",
          "traits": {
            "smithy.api#documentation": "\n         <p>If the results of a search are large, only a portion of the\nresults are returned, and a <code>nextToken</code> pagination token is returned in the response. To\nretrieve the next batch of results, reissue the search request and include the returned token.\nWhen all results have been returned, the response does not contain a pagination token value.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.operation#DescribeEvents": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.silvermineunifiedapi.v20160804.operation#DescribeEventsRequest"
      },
      "output": {
        "target": "com.amazonaws.silvermineunifiedapi.v20160804.operation#DescribeEventsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.error#InvalidPaginationToken"
        },
        {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.error#UnsupportedLocale"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Returns information about events that meet the specified filter criteria. Events are returned in a summary form and do not include the detailed description, any  additional metadata that depends on the event type, or any affected resources. To retrieve that information, use the <a>DescribeEventDetails</a> and <a>DescribeAffectedEntities</a> operations.</p>\n        <p>If no filter criteria are specified, all events are returned. Results are sorted by <code>lastModifiedTime</code>, starting with the most recent.</p>\n      ",
        "smithy.api#idempotent": true
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.operation#DescribeEventsRequest": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.types#EventFilter",
          "traits": {
            "smithy.api#documentation": "\n         <p>Values to narrow the results returned.</p>\n      "
          }
        },
        "locale": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#locale",
          "traits": {
            "smithy.api#documentation": "\n         <p>The locale (language) to return information in. English (en) is the default and the only supported value at this time.</p>\n      "
          }
        },
        "maxResults": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#maxResults",
          "traits": {
            "smithy.api#documentation": "\n         <p>The maximum number of items to return in one batch, between 10 and 100, inclusive.</p>\n      "
          }
        },
        "nextToken": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#nextToken",
          "traits": {
            "smithy.api#documentation": "\n         <p>If the results of a search are large, only a portion of the\nresults are returned, and a <code>nextToken</code> pagination token is returned in the response. To\nretrieve the next batch of results, reissue the search request and include the returned token.\nWhen all results have been returned, the response does not contain a pagination token value.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.operation#DescribeEventsResponse": {
      "type": "structure",
      "members": {
        "events": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.operation#EventList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The events that match the specified filter criteria.</p>\n      "
          }
        },
        "nextToken": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#nextToken",
          "traits": {
            "smithy.api#documentation": "\n         <p>If the results of a search are large, only a portion of the\nresults are returned, and a <code>nextToken</code> pagination token is returned in the response. To\nretrieve the next batch of results, reissue the search request and include the returned token.\nWhen all results have been returned, the response does not contain a pagination token value.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.types#EntityAggregate": {
      "type": "structure",
      "members": {
        "count": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#count",
          "traits": {
            "smithy.api#documentation": "\n         <p>The number entities that match the criteria for the specified events.</p>\n      "
          }
        },
        "eventArn": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#eventArn",
          "traits": {
            "smithy.api#documentation": "\n         <p>The unique identifier for the event. Format: <code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i>\n            </code>. Example: <code>Example: arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code>\n         </p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>The number of entities that are affected by one or more events. Returned by the <a>DescribeEntityAggregates</a> operation.</p>\n      "
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.operation#EntityAggregateList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.silvermineunifiedapi.v20160804.types#EntityAggregate"
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.types#EntityFilter": {
      "type": "structure",
      "members": {
        "entityArns": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#entityArnList",
          "traits": {
            "smithy.api#documentation": "\n         <p>A list of entity ARNs (unique identifiers).</p>\n      "
          }
        },
        "entityValues": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#entityValueList",
          "traits": {
            "smithy.api#documentation": "\n         <p>A list of IDs for affected entities.</p>\n      "
          }
        },
        "eventArns": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#eventArnList",
          "traits": {
            "smithy.api#documentation": "\n         <p>A list of event ARNs (unique identifiers). For example: <code>\"arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-CDE456\", \"arn:aws:health:us-west-1::event/EBS/AWS_EBS_LOST_VOLUME/AWS_EBS_LOST_VOLUME_CHI789_JKL101\"</code>\n         </p>\n      ",
            "smithy.api#required": true
          }
        },
        "lastUpdatedTimes": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.types#dateTimeRangeList",
          "traits": {
            "smithy.api#documentation": "\n         <p>A list of the most recent dates and times that the entity was updated.</p>\n      "
          }
        },
        "statusCodes": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#entityStatusCodeList",
          "traits": {
            "smithy.api#documentation": "\n         <p>A list of entity status codes (<code>IMPAIRED</code>, <code>UNIMPAIRED</code>, or <code>UNKNOWN</code>).</p>\n      "
          }
        },
        "tags": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#tagFilter",
          "traits": {
            "smithy.api#documentation": "\n         <p>A map of entity tags attached to the affected entity.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>The values to use to filter results from the <a>DescribeAffectedEntities</a> operation.</p>\n      "
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.operation#EntityList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.silvermineunifiedapi.v20160804.types#AffectedEntity"
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.types#Event": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#eventArn",
          "traits": {
            "smithy.api#documentation": "\n         <p>The unique identifier for the event. Format: <code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i>\n            </code>. Example: <code>Example: arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code>\n         </p>\n      "
          }
        },
        "availabilityZone": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#availabilityZone",
          "traits": {
            "smithy.api#documentation": "\n         <p>The AWS Availability Zone of the event. For example, us-east-1a.</p>\n      "
          }
        },
        "endTime": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#timestamp",
          "traits": {
            "smithy.api#documentation": "\n         <p>The date and time that the event ended.</p>\n      "
          }
        },
        "eventTypeCategory": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#eventTypeCategory",
          "traits": {
            "smithy.api#documentation": "\n         <p>The category of the event. Possible values are <code>issue</code>, <code>scheduledChange</code>, and <code>accountNotification</code>.</p>\n      "
          }
        },
        "eventTypeCode": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#eventTypeCode",
          "traits": {
            "smithy.api#documentation": "\n         <p>The unique identifier for the event type. The format is <code>AWS_<i>SERVICE</i>_<i>DESCRIPTION</i>\n            </code>; for example, <code>AWS_EC2_SYSTEM_MAINTENANCE_EVENT</code>.</p>\n      "
          }
        },
        "lastUpdatedTime": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#timestamp",
          "traits": {
            "smithy.api#documentation": "\n         <p>The most recent date and time that the event was updated.</p>\n      "
          }
        },
        "region": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#region",
          "traits": {
            "smithy.api#documentation": "\n         <p>The AWS region name of the event.</p>\n      "
          }
        },
        "service": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#service",
          "traits": {
            "smithy.api#documentation": "\n         <p>The AWS service that is affected by the event. For example, <code>EC2</code>, <code>RDS</code>.</p>\n      "
          }
        },
        "startTime": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#timestamp",
          "traits": {
            "smithy.api#documentation": "\n         <p>The date and time that the event began.</p>\n      "
          }
        },
        "statusCode": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#eventStatusCode",
          "traits": {
            "smithy.api#documentation": "\n         <p>The most recent status of the event. Possible values are <code>open</code>, <code>closed</code>, and <code>upcoming</code>.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>Summary information about an event, returned by the <a>DescribeEvents</a> operation. The <a>DescribeEventDetails</a> operation also returns this information, as well as the <a>EventDescription</a> and additional event metadata.</p>\n      "
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.types#EventAggregate": {
      "type": "structure",
      "members": {
        "aggregateValue": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#aggregateValue",
          "traits": {
            "smithy.api#documentation": "\n         <p>The issue type for the associated count.</p>\n      "
          }
        },
        "count": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#count",
          "traits": {
            "smithy.api#documentation": "\n         <p>The number of events of the associated issue type.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>The number of events of each issue type. Returned by the <a>DescribeEventAggregates</a> operation.</p>\n      "
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.operation#EventAggregateList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.silvermineunifiedapi.v20160804.types#EventAggregate"
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.operation#EventArnsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#eventArn"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.types#EventDescription": {
      "type": "structure",
      "members": {
        "latestDescription": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#eventDescription",
          "traits": {
            "smithy.api#documentation": "\n         <p>The most recent description of the event.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>The detailed description of the event. Included in the information returned by the <a>DescribeEventDetails</a> operation.</p>\n      "
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.types#EventDetails": {
      "type": "structure",
      "members": {
        "event": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.types#Event",
          "traits": {
            "smithy.api#documentation": "\n         <p>Summary information about the event.</p>\n      "
          }
        },
        "eventDescription": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.types#EventDescription",
          "traits": {
            "smithy.api#documentation": "\n         <p>The most recent description of the event.</p>\n      "
          }
        },
        "eventMetadata": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#eventMetadata",
          "traits": {
            "smithy.api#documentation": "\n         <p>Additional metadata about the event.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>Detailed information about an event. A combination of an <a>Event</a> object, an <a>EventDescription</a> object, and additional metadata about the event. Returned by the <a>DescribeEventDetails</a> operation.</p>\n      "
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.types#EventDetailsErrorItem": {
      "type": "structure",
      "members": {
        "errorMessage": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#string",
          "traits": {
            "smithy.api#documentation": "\n         <p>A message that describes the error.</p>\n      "
          }
        },
        "errorName": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#string",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the error.</p>\n      "
          }
        },
        "eventArn": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#eventArn",
          "traits": {
            "smithy.api#documentation": "\n         <p>The unique identifier for the event. Format: <code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i>\n            </code>. Example: <code>Example: arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code>\n         </p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>Error information returned when a <a>DescribeEventDetails</a> operation cannot find a specified event.</p>\n      "
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.types#EventFilter": {
      "type": "structure",
      "members": {
        "availabilityZones": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#availabilityZones",
          "traits": {
            "smithy.api#documentation": "\n         <p>A list of AWS availability zones.</p>\n      "
          }
        },
        "endTimes": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.types#dateTimeRangeList",
          "traits": {
            "smithy.api#documentation": "\n         <p>A list of dates and times that the event ended.</p>\n      "
          }
        },
        "entityArns": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#entityArnList",
          "traits": {
            "smithy.api#documentation": "\n         <p>A list of entity ARNs (unique identifiers).</p>\n      "
          }
        },
        "entityValues": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#entityValueList",
          "traits": {
            "smithy.api#documentation": "\n         <p>A list of entity identifiers, such as EC2 instance IDs (<code>i-34ab692e</code>) or EBS volumes (<code>vol-426ab23e</code>).</p>\n      "
          }
        },
        "eventArns": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#eventArnList",
          "traits": {
            "smithy.api#documentation": "\n         <p>A list of event ARNs (unique identifiers). For example: <code>\"arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-CDE456\", \"arn:aws:health:us-west-1::event/EBS/AWS_EBS_LOST_VOLUME/AWS_EBS_LOST_VOLUME_CHI789_JKL101\"</code>\n         </p>\n      "
          }
        },
        "eventStatusCodes": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#eventStatusCodeList",
          "traits": {
            "smithy.api#documentation": "\n         <p>A list of event status codes.</p>\n      "
          }
        },
        "eventTypeCategories": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#eventTypeCategoryList",
          "traits": {
            "smithy.api#documentation": "\n         <p>A list of event type category codes (<code>issue</code>, <code>scheduledChange</code>, or <code>accountNotification</code>).</p>\n      "
          }
        },
        "eventTypeCodes": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#eventTypeList",
          "traits": {
            "smithy.api#documentation": "\n         <p>A list of unique identifiers for event types. For example, <code>\"AWS_EC2_SYSTEM_MAINTENANCE_EVENT\",\"AWS_RDS_MAINTENANCE_SCHEDULED\"</code>\n         </p>\n      "
          }
        },
        "lastUpdatedTimes": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.types#dateTimeRangeList",
          "traits": {
            "smithy.api#documentation": "\n         <p>A list of dates and times that the event was last updated.</p>\n      "
          }
        },
        "regions": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#regionList",
          "traits": {
            "smithy.api#documentation": "\n         <p>A list of AWS regions.</p>\n      "
          }
        },
        "services": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#serviceList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The AWS services associated with the event. For example, <code>EC2</code>, <code>RDS</code>.</p>\n      "
          }
        },
        "startTimes": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.types#dateTimeRangeList",
          "traits": {
            "smithy.api#documentation": "\n         <p>A list of dates and times that the event began.</p>\n      "
          }
        },
        "tags": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#tagFilter",
          "traits": {
            "smithy.api#documentation": "\n         <p>A map of entity tags attached to the affected entity.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>The values to use to filter results from the <a>DescribeEvents</a> and <a>DescribeEventAggregates</a> operations.</p>\n      "
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.operation#EventList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.silvermineunifiedapi.v20160804.types#Event"
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.types#EventType": {
      "type": "structure",
      "members": {
        "category": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#eventTypeCategory",
          "traits": {
            "smithy.api#documentation": "\n         <p>A list of event type category codes (<code>issue</code>, <code>scheduledChange</code>, or <code>accountNotification</code>).</p>\n      "
          }
        },
        "code": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#eventTypeCode",
          "traits": {
            "smithy.api#documentation": "\n         <p>The unique identifier for the event type. The format is <code>AWS_<i>SERVICE</i>_<i>DESCRIPTION</i>\n            </code>; for example, <code>AWS_EC2_SYSTEM_MAINTENANCE_EVENT</code>.</p>\n      "
          }
        },
        "service": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#service",
          "traits": {
            "smithy.api#documentation": "\n         <p>The AWS service that is affected by the event. For example, <code>EC2</code>, <code>RDS</code>.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>Metadata about a type of event that is reported by AWS Health. Data consists of the category (for example, <code>issue</code>), the service (for example, <code>EC2</code>), and the event type code (for example, <code>AWS_EC2_SYSTEM_MAINTENANCE_EVENT</code>).</p>\n      "
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.types#EventTypeCategoryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#eventTypeCategory"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.types#EventTypeCodeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#eventTypeCode"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.types#EventTypeFilter": {
      "type": "structure",
      "members": {
        "eventTypeCategories": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.types#EventTypeCategoryList",
          "traits": {
            "smithy.api#documentation": "\n         <p>A list of event type category codes (<code>issue</code>, <code>scheduledChange</code>, or <code>accountNotification</code>).</p>\n      "
          }
        },
        "eventTypeCodes": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.types#EventTypeCodeList",
          "traits": {
            "smithy.api#documentation": "\n         <p>A list of event type codes.</p>\n      "
          }
        },
        "services": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#serviceList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The AWS services associated with the event. For example, <code>EC2</code>, <code>RDS</code>.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>The values to use to filter results from the <a>DescribeEventTypes</a> operation.</p>\n      "
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.operation#EventTypeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.silvermineunifiedapi.v20160804.types#EventType"
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.error#InvalidPaginationToken": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#string"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>The specified pagination token (<code>nextToken</code>) is not valid.</p>\n      ",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.error#UnsupportedLocale": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#string"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>The specified locale is not supported.</p>\n      ",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.common#accountId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "[0-9]{12}"
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.common#aggregateValue": {
      "type": "string"
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.common#availabilityZone": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "[a-z]{2}\\-[0-9a-z\\-]{4,16}"
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.common#availabilityZones": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#availabilityZone"
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.common#count": {
      "type": "integer"
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.types#dateTimeRangeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.silvermineunifiedapi.v20160804.types#DateTimeRange"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.common#entityArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1600
        }
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.common#entityArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#entityArn"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.common#entityStatusCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "IMPAIRED": {
            "name": "IMPAIRED"
          },
          "UNIMPAIRED": {
            "name": "UNIMPAIRED"
          },
          "UNKNOWN": {
            "name": "UNKNOWN"
          }
        }
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.common#entityStatusCodeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#entityStatusCode"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 3
        }
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.common#entityUrl": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "https?://.+\\.(amazon\\.com|amazonaws\\.com|amazonaws\\.cn|c2s\\.ic\\.gov|sc2s\\.sgov\\.gov|amazonaws-us-gov.com)/.*"
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.common#entityValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.common#entityValueList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#entityValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.common#eventAggregateField": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "eventTypeCategory": {
            "name": "EventTypeCategory"
          }
        }
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.common#eventArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1600
        },
        "smithy.api#pattern": "arn:aws(-[a-z]+(-[a-z]+)?)?:health:[^:]*:[^:]*:event(?:/[\\w-]+){3}"
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.common#eventArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#eventArn"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.common#eventDescription": {
      "type": "string"
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.common#eventMetadata": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#metadataKey"
      },
      "value": {
        "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#metadataValue"
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.common#eventStatusCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "open": {
            "name": "OPEN"
          },
          "closed": {
            "name": "CLOSED"
          },
          "upcoming": {
            "name": "UPCOMING"
          }
        }
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.common#eventStatusCodeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#eventStatusCode"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 6
        }
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.common#eventType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 100
        }
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.common#eventTypeCategory": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "issue": {
            "name": "ISSUE"
          },
          "accountNotification": {
            "name": "ACCOUNT_NOTIFICATION"
          },
          "scheduledChange": {
            "name": "SCHEDULED_CHANGE"
          },
          "investigation": {
            "name": "INVESTIGATION"
          }
        },
        "smithy.api#length": {
          "min": 3,
          "max": 255
        }
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.common#eventTypeCategoryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#eventTypeCategory"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.common#eventTypeCode": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 100
        }
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.common#eventTypeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#eventType"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.common#locale": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 256
        }
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.common#maxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 10,
          "max": 100
        }
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.common#metadataKey": {
      "type": "string"
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.common#metadataValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10240
        }
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.common#nextToken": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "[a-zA-Z0-9=/+_.-]{4,512}"
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.common#region": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "[^:/]{2,25}"
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.common#regionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#region"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.common#service": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 30
        }
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.common#serviceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#service"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.common#string": {
      "type": "string"
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.common#tagFilter": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#tagSet"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.common#tagKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 127
        }
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.common#tagSet": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#tagKey"
      },
      "value": {
        "target": "com.amazonaws.silvermineunifiedapi.v20160804.common#tagValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.common#tagValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        }
      }
    },
    "com.amazonaws.silvermineunifiedapi.v20160804.common#timestamp": {
      "type": "timestamp"
    }
  }
}
