{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      },
      {
        "ids": [
          "HttpUriConflict"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazon.webservices.auth.identity.v20100508#AWSIdentityManagementV20100508": {
      "type": "service",
      "version": "2010-05-08",
      "operations": [
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#AddClientIDToOpenIDConnectProvider"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#AddRoleToInstanceProfile"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#AddUserToGroup"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#AttachGroupPolicy"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#AttachRolePolicy"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#AttachUserPolicy"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#ChangePassword"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#CreateAccessKey"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#CreateAccountAlias"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#CreateGroup"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#CreateInstanceProfile"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#CreateLoginProfile"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#CreateOpenIDConnectProvider"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#CreatePolicy"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#CreatePolicyVersion"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#CreateRole"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#CreateSAMLProvider"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#CreateServiceLinkedRole"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#CreateServiceSpecificCredential"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#CreateUser"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#CreateVirtualMFADevice"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#DeactivateMFADevice"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#DeleteAccessKey"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#DeleteAccountAlias"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#DeleteAccountPasswordPolicy"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#DeleteGroup"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#DeleteGroupPolicy"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#DeleteInstanceProfile"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#DeleteLoginProfile"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#DeleteOpenIDConnectProvider"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#DeletePolicy"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#DeletePolicyVersion"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#DeleteRole"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#DeleteRolePermissionsBoundary"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#DeleteRolePolicy"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#DeleteSAMLProvider"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#DeleteSSHPublicKey"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#DeleteServerCertificate"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#DeleteServiceLinkedRole"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#DeleteServiceSpecificCredential"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#DeleteSigningCertificate"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#DeleteUser"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#DeleteUserPermissionsBoundary"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#DeleteUserPolicy"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#DeleteVirtualMFADevice"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#DetachGroupPolicy"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#DetachRolePolicy"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#DetachUserPolicy"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#EnableMFADevice"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#GenerateCredentialReport"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#GenerateOrganizationsAccessReport"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#GenerateServiceLastAccessedDetails"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#GetAccessKeyLastUsed"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#GetAccountAuthorizationDetails"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#GetAccountPasswordPolicy"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#GetAccountSummary"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#GetContextKeysForCustomPolicy"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#GetContextKeysForPrincipalPolicy"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#GetCredentialReport"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#GetGroup"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#GetGroupPolicy"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#GetInstanceProfile"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#GetLoginProfile"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#GetOpenIDConnectProvider"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#GetOrganizationsAccessReport"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#GetPolicy"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#GetPolicyVersion"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#GetRole"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#GetRolePolicy"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#GetSAMLProvider"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#GetSSHPublicKey"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#GetServerCertificate"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#GetServiceLastAccessedDetails"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#GetServiceLastAccessedDetailsWithEntities"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#GetServiceLinkedRoleDeletionStatus"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#GetUser"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#GetUserPolicy"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#ListAccessKeys"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#ListAccountAliases"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#ListAttachedGroupPolicies"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#ListAttachedRolePolicies"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#ListAttachedUserPolicies"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#ListEntitiesForPolicy"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#ListGroupPolicies"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#ListGroups"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#ListGroupsForUser"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#ListInstanceProfiles"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#ListInstanceProfilesForRole"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#ListMFADevices"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#ListOpenIDConnectProviders"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#ListPolicies"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#ListPoliciesGrantingServiceAccess"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#ListPolicyVersions"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#ListRolePolicies"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#ListRoleTags"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#ListRoles"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#ListSAMLProviders"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#ListSSHPublicKeys"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#ListServerCertificates"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#ListServiceSpecificCredentials"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#ListSigningCertificates"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#ListUserPolicies"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#ListUserTags"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#ListUsers"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#ListVirtualMFADevices"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#PutGroupPolicy"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#PutRolePermissionsBoundary"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#PutRolePolicy"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#PutUserPermissionsBoundary"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#PutUserPolicy"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#RemoveClientIDFromOpenIDConnectProvider"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#RemoveRoleFromInstanceProfile"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#RemoveUserFromGroup"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#ResetServiceSpecificCredential"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#ResyncMFADevice"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#SetDefaultPolicyVersion"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#SetSecurityTokenServicePreferences"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#SimulateCustomPolicy"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#SimulatePrincipalPolicy"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#TagRole"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#TagUser"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#UntagRole"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#UntagUser"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#UpdateAccessKey"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#UpdateAccountPasswordPolicy"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#UpdateAssumeRolePolicy"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#UpdateGroup"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#UpdateLoginProfile"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#UpdateOpenIDConnectProviderThumbprint"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#UpdateRole"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#UpdateRoleDescription"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#UpdateSAMLProvider"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#UpdateSSHPublicKey"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#UpdateServerCertificate"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#UpdateServiceSpecificCredential"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#UpdateSigningCertificate"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#UpdateUser"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#UploadSSHPublicKey"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#UploadServerCertificate"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#UploadSigningCertificate"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "IAM",
          "arnNamespace": "iam",
          "cloudFormationName": "IAM",
          "cloudTrailEventSource": "v20100508.identity.auth.webservices.amazon.com"
        },
        "smithy.api#documentation": "<fullname>AWS Identity and Access Management</fullname>\n         <p>AWS Identity and Access Management (IAM) is a web service that you can use to manage\n      users and user permissions under your AWS account. This guide provides descriptions of IAM\n      actions that you can call programmatically. For general information about IAM, see <a href=\"http://aws.amazon.com/iam/\">AWS Identity and Access Management (IAM)</a>. For the user\n      guide for IAM, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/\">Using IAM</a>. </p>\n         <note>\n            <p>AWS provides SDKs that consist of libraries and sample code for various programming\n        languages and platforms (Java, Ruby, .NET, iOS, Android, etc.). The SDKs provide a\n        convenient way to create programmatic access to IAM and AWS. For example, the SDKs take care\n        of tasks such as cryptographically signing requests (see below), managing errors, and\n        retrying requests automatically. For information about the AWS SDKs, including how to\n        download and install them, see the <a href=\"http://aws.amazon.com/tools/\">Tools for Amazon Web\n          Services</a> page. </p>\n         </note>\n         <p>We recommend that you use the AWS SDKs to make programmatic API calls to IAM. However,\n      you can also use the IAM Query API to make direct calls to the IAM web service. To learn more\n      about the IAM Query API, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/IAM_UsingQueryAPI.html\">Making Query Requests</a> in the\n        <i>Using IAM</i> guide. IAM supports GET and POST requests for all actions.\n      That is, the API does not require you to use GET for some actions and POST for others.\n      However, GET requests are subject to the limitation size of a URL. Therefore, for operations\n      that require larger sizes, use a POST request. </p>\n         <p>\n            <b>Signing Requests</b>\n         </p>\n         <p>Requests must be signed using an access key ID and a secret access key. We strongly\n      recommend that you do not use your AWS account access key ID and secret access key for\n      everyday work with IAM. You can use the access key ID and secret access key for an IAM user or\n      you can use the AWS Security Token Service to generate temporary security credentials and use\n      those to sign requests.</p>\n         <p>To sign requests, we recommend that you use <a href=\"https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4</a>. If you have an\n      existing application that uses Signature Version 2, you do not have to update it to use\n      Signature Version 4. However, some operations now require Signature Version 4. The\n      documentation for operations that require version 4 indicate this requirement. </p>\n         <p>\n            <b>Additional Resources</b>\n         </p>\n         <p>For more information, see the following:</p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-security-credentials.html\">AWS\n            Security Credentials</a>. This topic provides general information about the types of\n          credentials used for accessing AWS. </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/IAMBestPractices.html\">IAM Best\n            Practices</a>. This topic presents a list of suggestions for using the IAM service\n          to help secure your AWS resources. </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/general/latest/gr/signing_aws_api_requests.html\">Signing\n            AWS API Requests</a>. This set of topics walk you through the process of signing a\n          request using an access key ID and secret access key. </p>\n            </li>\n         </ul>",
        "smithy.api#protocols": [
          {
            "name": "aws.query",
            "auth": [
              "aws.v4"
            ]
          }
        ],
        "smithy.api#title": "AWS Identity and Access Management",
        "smithy.api#xmlNamespace": {
          "uri": "https://iam.amazonaws.com/doc/2010-05-08/"
        }
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#AccessDetail": {
      "type": "structure",
      "members": {
        "EntityPath": {
          "target": "com.amazon.webservices.auth.identity.v20100508#organizationsEntityPathType",
          "traits": {
            "smithy.api#documentation": "<p>The path of the Organizations entity (root, organizational unit, or account) from which an\n         authenticated principal last attempted to access the service. AWS does not report\n         unauthenticated requests.</p>\n         <p>This field is null if no principals (IAM users, IAM roles, or root users) in the\n         reported Organizations entity attempted to access the service within the <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_access-advisor.html#service-last-accessed-reporting-period\">reporting period</a>.</p>"
          }
        },
        "LastAuthenticatedTime": {
          "target": "com.amazon.webservices.auth.identity.v20100508#dateType",
          "traits": {
            "smithy.api#documentation": "<p>The date and time, in <a href=\"http://www.iso.org/iso/iso8601\">ISO 8601 date-time\n            format</a>, when an authenticated principal most recently attempted to access the\n         service. AWS does not report unauthenticated requests.</p>\n         <p>This field is null if no principals in the reported Organizations entity attempted to access the\n         service within the <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_access-advisor.html#service-last-accessed-reporting-period\">reporting period</a>.</p>"
          }
        },
        "Region": {
          "target": "com.amazon.webservices.auth.identity.v20100508#stringType",
          "traits": {
            "smithy.api#documentation": "<p>The Region where the last service access attempt occurred.</p>\n         <p>This field is null if no principals in the reported Organizations entity attempted to access the\n         service within the <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_access-advisor.html#service-last-accessed-reporting-period\">reporting period</a>.</p>"
          }
        },
        "ServiceName": {
          "target": "com.amazon.webservices.auth.identity.v20100508#serviceNameType",
          "traits": {
            "smithy.api#documentation": "<p>The name of the service in which access was attempted.</p>",
            "smithy.api#required": true
          }
        },
        "ServiceNamespace": {
          "target": "com.amazon.webservices.auth.identity.v20100508#serviceNamespaceType",
          "traits": {
            "smithy.api#documentation": "<p>The namespace of the service in which access was attempted.</p>\n         <p>To learn the service namespace of a service, go to <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_actions-resources-contextkeys.html\">Actions,\n            Resources, and Condition Keys for AWS Services</a> in the\n            <i>IAM User Guide</i>. Choose the name of the service to view details\n         for that service. In the first paragraph, find the service prefix. For example,\n            <code>(service prefix: a4b)</code>. For more information about service namespaces, see\n            <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS\n            Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
            "smithy.api#required": true
          }
        },
        "TotalAuthenticatedEntities": {
          "target": "com.amazon.webservices.auth.identity.v20100508#integerType",
          "traits": {
            "smithy.api#documentation": "<p>The number of accounts with authenticated principals (root users, IAM users, and IAM\n         roles) that attempted to access the service in the reporting period.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that contains details about when a principal in the reported AWS Organizations entity\n         last attempted to access an AWS service. A principal can be an IAM user, an IAM role,\n         or the AWS account root user within the reported Organizations entity.</p>\n         <p>This data type is a response element in the <a>GetOrganizationsAccessReport</a> operation.</p>"
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#AccessDetails": {
      "type": "list",
      "member": {
        "target": "com.amazon.webservices.auth.identity.v20100508#AccessDetail"
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#AccessKey": {
      "type": "structure",
      "members": {
        "AccessKeyId": {
          "target": "com.amazon.webservices.auth.identity.v20100508#accessKeyIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID for this access key.</p>",
            "smithy.api#required": true
          }
        },
        "CreateDate": {
          "target": "com.amazon.webservices.auth.identity.v20100508#dateType",
          "traits": {
            "smithy.api#documentation": "<p>The date when the access key was created.</p>"
          }
        },
        "SecretAccessKey": {
          "target": "com.amazon.webservices.auth.identity.v20100508#accessKeySecretType",
          "traits": {
            "smithy.api#documentation": "<p>The secret key used to sign requests.</p>",
            "smithy.api#required": true
          }
        },
        "Status": {
          "target": "com.amazon.webservices.auth.identity.v20100508#statusType",
          "traits": {
            "smithy.api#documentation": "<p>The status of the access key. <code>Active</code> means that the key is valid for API\n         calls, while <code>Inactive</code> means it is not. </p>",
            "smithy.api#required": true
          }
        },
        "UserName": {
          "target": "com.amazon.webservices.auth.identity.v20100508#userNameType",
          "traits": {
            "smithy.api#documentation": "<p>The name of the IAM user that the access key is associated with.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an AWS access key.</p>\n         <p> This data type is used as a response element in the <a>CreateAccessKey</a>\n         and <a>ListAccessKeys</a> operations. </p>\n         <note>\n            <p>The <code>SecretAccessKey</code> value is returned only in response to <a>CreateAccessKey</a>. You can get a secret access key only when you first\n            create an access key; you cannot recover the secret access key later. If you lose a\n            secret access key, you must create a new access key.</p>\n         </note>"
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#AccessKeyLastUsed": {
      "type": "structure",
      "members": {
        "LastUsedDate": {
          "target": "com.amazon.webservices.auth.identity.v20100508#dateType",
          "traits": {
            "smithy.api#documentation": "<p>The date and time, in <a href=\"http://www.iso.org/iso/iso8601\">ISO 8601 date-time\n            format</a>, when the access key was most recently used. This field is null in the\n         following situations:</p>\n         <ul>\n            <li>\n               <p>The user does not have an access key.</p>\n            </li>\n            <li>\n               <p>An access key exists but has not been used since IAM began tracking this\n               information.</p>\n            </li>\n            <li>\n               <p>There is no sign-in data associated with the user.</p>\n            </li>\n         </ul>",
            "smithy.api#required": true
          }
        },
        "Region": {
          "target": "com.amazon.webservices.auth.identity.v20100508#stringType",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Region where this access key was most recently used. The value for this field is\n         \"N/A\" in the following situations:</p>\n         <ul>\n            <li>\n               <p>The user does not have an access key.</p>\n            </li>\n            <li>\n               <p>An access key exists but has not been used since IAM began tracking this\n               information.</p>\n            </li>\n            <li>\n               <p>There is no sign-in data associated with the user.</p>\n            </li>\n         </ul>\n         <p>For more information about AWS Regions, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/rande.html\">Regions and Endpoints</a> in the Amazon Web Services\n         General Reference.</p>",
            "smithy.api#required": true
          }
        },
        "ServiceName": {
          "target": "com.amazon.webservices.auth.identity.v20100508#stringType",
          "traits": {
            "smithy.api#documentation": "<p>The name of the AWS service with which this access key was most recently used. The value\n         of this field is \"N/A\" in the following situations:</p>\n         <ul>\n            <li>\n               <p>The user does not have an access key.</p>\n            </li>\n            <li>\n               <p>An access key exists but has not been used since IAM started tracking this\n               information.</p>\n            </li>\n            <li>\n               <p>There is no sign-in data associated with the user.</p>\n            </li>\n         </ul>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the last time an AWS access key was used since IAM began\n         tracking this information on April 22, 2015.</p>\n         <p>This data type is used as a response element in the <a>GetAccessKeyLastUsed</a> operation.</p>"
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#AccessKeyMetadata": {
      "type": "structure",
      "members": {
        "AccessKeyId": {
          "target": "com.amazon.webservices.auth.identity.v20100508#accessKeyIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID for this access key.</p>"
          }
        },
        "CreateDate": {
          "target": "com.amazon.webservices.auth.identity.v20100508#dateType",
          "traits": {
            "smithy.api#documentation": "<p>The date when the access key was created.</p>"
          }
        },
        "Status": {
          "target": "com.amazon.webservices.auth.identity.v20100508#statusType",
          "traits": {
            "smithy.api#documentation": "<p>The status of the access key. <code>Active</code> means that the key is valid for API\n         calls; <code>Inactive</code> means it is not.</p>"
          }
        },
        "UserName": {
          "target": "com.amazon.webservices.auth.identity.v20100508#userNameType",
          "traits": {
            "smithy.api#documentation": "<p>The name of the IAM user that the key is associated with.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an AWS access key, without its secret key.</p>\n         <p>This data type is used as a response element in the <a>ListAccessKeys</a>\n         operation.</p>"
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#ActionNameListType": {
      "type": "list",
      "member": {
        "target": "com.amazon.webservices.auth.identity.v20100508#ActionNameType"
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#ActionNameType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 128
        }
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#AddClientIDToOpenIDConnectProvider": {
      "type": "operation",
      "input": {
        "target": "com.amazon.webservices.auth.identity.v20100508#AddClientIDToOpenIDConnectProviderRequest"
      },
      "errors": [
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#InvalidInputException"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#LimitExceededException"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#NoSuchEntityException"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#ServiceFailureException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds a new client ID (also known as audience) to the list of client IDs already\n         registered for the specified IAM OpenID Connect (OIDC) provider resource.</p>\n         <p>This operation is idempotent; it does not fail or return an error if you add an existing\n         client ID to the provider.</p>"
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#AddClientIDToOpenIDConnectProviderRequest": {
      "type": "structure",
      "members": {
        "ClientID": {
          "target": "com.amazon.webservices.auth.identity.v20100508#clientIDType",
          "traits": {
            "smithy.api#documentation": "<p>The client ID (also known as audience) to add to the IAM OpenID Connect provider\n         resource.</p>",
            "smithy.api#required": true
          }
        },
        "OpenIDConnectProviderArn": {
          "target": "com.amazon.webservices.auth.identity.v20100508#arnType",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM OpenID Connect (OIDC) provider resource to\n         add the client ID to. You can get a list of OIDC provider ARNs by using the <a>ListOpenIDConnectProviders</a> operation.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#AddRoleToInstanceProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazon.webservices.auth.identity.v20100508#AddRoleToInstanceProfileRequest"
      },
      "errors": [
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#EntityAlreadyExistsException"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#LimitExceededException"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#NoSuchEntityException"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#ServiceFailureException"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#UnmodifiableEntityException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds the specified IAM role to the specified instance profile. An instance profile can\n         contain only one role, and this limit cannot be increased. You can remove the existing role\n         and then add a different role to an instance profile. You must then wait for the change to\n         appear across all of AWS because of <a href=\"https://en.wikipedia.org/wiki/Eventual_consistency\">eventual consistency</a>.\n         To force the change, you must <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DisassociateIamInstanceProfile.html\">disassociate\n            the instance profile</a> and then <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_AssociateIamInstanceProfile.html\">associate the\n            instance profile</a>, or you can stop your instance and then restart it.</p>\n         <note>\n            <p>The caller of this API must be granted the <code>PassRole</code> permission on the\n            IAM role by a permissions policy.</p>\n         </note>\n         <p>For more information about roles, go to <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/WorkingWithRoles.html\">Working with Roles</a>. For more\n         information about instance profiles, go to <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/AboutInstanceProfiles.html\">About Instance Profiles</a>.</p>"
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#AddRoleToInstanceProfileRequest": {
      "type": "structure",
      "members": {
        "InstanceProfileName": {
          "target": "com.amazon.webservices.auth.identity.v20100508#instanceProfileNameType",
          "traits": {
            "smithy.api#documentation": "<p>The name of the instance profile to update.</p>\n         <p>This parameter allows (through its <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a>) a string of characters consisting of upper and lowercase alphanumeric \n    characters with no spaces. You can also include any of the following characters: _+=,.@-</p>",
            "smithy.api#required": true
          }
        },
        "RoleName": {
          "target": "com.amazon.webservices.auth.identity.v20100508#roleNameType",
          "traits": {
            "smithy.api#documentation": "<p>The name of the role to add.</p>\n         <p>This parameter allows (through its <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a>) a string of characters consisting of upper and lowercase alphanumeric \n    characters with no spaces. You can also include any of the following characters: _+=,.@-</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#AddUserToGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazon.webservices.auth.identity.v20100508#AddUserToGroupRequest"
      },
      "errors": [
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#LimitExceededException"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#NoSuchEntityException"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#ServiceFailureException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds the specified user to the specified group.</p>"
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#AddUserToGroupRequest": {
      "type": "structure",
      "members": {
        "GroupName": {
          "target": "com.amazon.webservices.auth.identity.v20100508#groupNameType",
          "traits": {
            "smithy.api#documentation": "<p>The name of the group to update.</p>\n         <p>This parameter allows (through its <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a>) a string of characters consisting of upper and lowercase alphanumeric \n    characters with no spaces. You can also include any of the following characters: _+=,.@-</p>",
            "smithy.api#required": true
          }
        },
        "UserName": {
          "target": "com.amazon.webservices.auth.identity.v20100508#existingUserNameType",
          "traits": {
            "smithy.api#documentation": "<p>The name of the user to add.</p>\n         <p>This parameter allows (through its <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a>) a string of characters consisting of upper and lowercase alphanumeric \n    characters with no spaces. You can also include any of the following characters: _+=,.@-</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#ArnListType": {
      "type": "list",
      "member": {
        "target": "com.amazon.webservices.auth.identity.v20100508#arnType"
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#AttachGroupPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazon.webservices.auth.identity.v20100508#AttachGroupPolicyRequest"
      },
      "errors": [
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#InvalidInputException"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#LimitExceededException"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#NoSuchEntityException"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#PolicyNotAttachableException"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#ServiceFailureException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Attaches the specified managed policy to the specified IAM group.</p>\n         <p>You use this API to attach a managed policy to a group. To embed an inline policy in a\n         group, use <a>PutGroupPolicy</a>.</p>\n         <p>For more information about policies, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html\">Managed Policies and Inline\n            Policies</a> in the <i>IAM User Guide</i>.</p>"
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#AttachGroupPolicyRequest": {
      "type": "structure",
      "members": {
        "GroupName": {
          "target": "com.amazon.webservices.auth.identity.v20100508#groupNameType",
          "traits": {
            "smithy.api#documentation": "<p>The name (friendly name, not ARN) of the group to attach the policy to.</p>\n         <p>This parameter allows (through its <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a>) a string of characters consisting of upper and lowercase alphanumeric \n    characters with no spaces. You can also include any of the following characters: _+=,.@-</p>",
            "smithy.api#required": true
          }
        },
        "PolicyArn": {
          "target": "com.amazon.webservices.auth.identity.v20100508#arnType",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM policy you want to attach.</p>\n         <p>For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service \n    Namespaces</a> in the <i>AWS General Reference</i>.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#AttachRolePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazon.webservices.auth.identity.v20100508#AttachRolePolicyRequest"
      },
      "errors": [
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#InvalidInputException"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#LimitExceededException"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#NoSuchEntityException"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#PolicyNotAttachableException"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#ServiceFailureException"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#UnmodifiableEntityException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Attaches the specified managed policy to the specified IAM role. When you attach a\n         managed policy to a role, the managed policy becomes part of the role's permission (access)\n         policy.</p>\n         <note>\n            <p>You cannot use a managed policy as the role's trust policy. The role's trust policy\n            is created at the same time as the role, using <a>CreateRole</a>. You can\n            update a role's trust policy using <a>UpdateAssumeRolePolicy</a>.</p>\n         </note>\n         <p>Use this API to attach a <i>managed</i> policy to a role. To embed an\n         inline policy in a role, use <a>PutRolePolicy</a>. For more information about\n         policies, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html\">Managed Policies and Inline\n            Policies</a> in the <i>IAM User Guide</i>.</p>"
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#AttachRolePolicyRequest": {
      "type": "structure",
      "members": {
        "PolicyArn": {
          "target": "com.amazon.webservices.auth.identity.v20100508#arnType",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM policy you want to attach.</p>\n         <p>For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service \n    Namespaces</a> in the <i>AWS General Reference</i>.</p>",
            "smithy.api#required": true
          }
        },
        "RoleName": {
          "target": "com.amazon.webservices.auth.identity.v20100508#roleNameType",
          "traits": {
            "smithy.api#documentation": "<p>The name (friendly name, not ARN) of the role to attach the policy to.</p>\n         <p>This parameter allows (through its <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a>) a string of characters consisting of upper and lowercase alphanumeric \n    characters with no spaces. You can also include any of the following characters: _+=,.@-</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#AttachUserPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazon.webservices.auth.identity.v20100508#AttachUserPolicyRequest"
      },
      "errors": [
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#InvalidInputException"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#LimitExceededException"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#NoSuchEntityException"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#PolicyNotAttachableException"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#ServiceFailureException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Attaches the specified managed policy to the specified user.</p>\n         <p>You use this API to attach a <i>managed</i> policy to a user. To embed an\n         inline policy in a user, use <a>PutUserPolicy</a>.</p>\n         <p>For more information about policies, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html\">Managed Policies and Inline\n            Policies</a> in the <i>IAM User Guide</i>.</p>"
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#AttachUserPolicyRequest": {
      "type": "structure",
      "members": {
        "PolicyArn": {
          "target": "com.amazon.webservices.auth.identity.v20100508#arnType",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM policy you want to attach.</p>\n         <p>For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service \n    Namespaces</a> in the <i>AWS General Reference</i>.</p>",
            "smithy.api#required": true
          }
        },
        "UserName": {
          "target": "com.amazon.webservices.auth.identity.v20100508#userNameType",
          "traits": {
            "smithy.api#documentation": "<p>The name (friendly name, not ARN) of the IAM user to attach the policy to.</p>\n         <p>This parameter allows (through its <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a>) a string of characters consisting of upper and lowercase alphanumeric \n    characters with no spaces. You can also include any of the following characters: _+=,.@-</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#AttachedPermissionsBoundary": {
      "type": "structure",
      "members": {
        "PermissionsBoundaryArn": {
          "target": "com.amazon.webservices.auth.identity.v20100508#arnType",
          "traits": {
            "smithy.api#documentation": "<p> The ARN of the policy used to set the permissions boundary for the user or role.</p>"
          }
        },
        "PermissionsBoundaryType": {
          "target": "com.amazon.webservices.auth.identity.v20100508#PermissionsBoundaryAttachmentType",
          "traits": {
            "smithy.api#documentation": "<p> The permissions boundary usage type that indicates what type of IAM resource is used\n         as the permissions boundary for an entity. This data type can only have a value of\n            <code>Policy</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an attached permissions boundary.</p>\n         <p>An attached permissions boundary is a managed policy that has been attached to a user or\n         role to set the permissions boundary.</p>\n         <p>For more information about permissions boundaries, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_boundaries.html\">Permissions Boundaries for IAM\n            Identities </a> in the <i>IAM User Guide</i>.</p>"
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#AttachedPolicy": {
      "type": "structure",
      "members": {
        "PolicyArn": {
          "target": "com.amazon.webservices.auth.identity.v20100508#arnType"
        },
        "PolicyName": {
          "target": "com.amazon.webservices.auth.identity.v20100508#policyNameType",
          "traits": {
            "smithy.api#documentation": "<p>The friendly name of the attached policy.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an attached policy.</p>\n         <p>An attached policy is a managed policy that has been attached to a user, group, or role.\n         This data type is used as a response element in the <a>ListAttachedGroupPolicies</a>, <a>ListAttachedRolePolicies</a>, <a>ListAttachedUserPolicies</a>, and <a>GetAccountAuthorizationDetails</a> operations. </p>\n         <p>For more information about managed policies, refer to <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html\">Managed Policies and Inline\n            Policies</a> in the <i>IAM User Guide</i>. </p>"
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#BootstrapDatum": {
      "type": "blob",
      "traits": {
        "smithy.api#sensitive": true
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#ChangePassword": {
      "type": "operation",
      "input": {
        "target": "com.amazon.webservices.auth.identity.v20100508#ChangePasswordRequest"
      },
      "errors": [
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#EntityTemporarilyUnmodifiableException"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#InvalidUserTypeException"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#LimitExceededException"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#NoSuchEntityException"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#PasswordPolicyViolationException"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#ServiceFailureException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Changes the password of the IAM user who is calling this operation. The AWS account\n         root user password is not affected by this operation.</p>\n         <p>To change the password for a different user, see <a>UpdateLoginProfile</a>.\n         For more information about modifying passwords, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/Using_ManagingLogins.html\">Managing Passwords</a> in the\n            <i>IAM User Guide</i>.</p>"
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#ChangePasswordRequest": {
      "type": "structure",
      "members": {
        "NewPassword": {
          "target": "com.amazon.webservices.auth.identity.v20100508#passwordType",
          "traits": {
            "smithy.api#documentation": "<p>The new password. The new password must conform to the AWS account's password policy,\n         if one exists.</p>\n         <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> \n    that is used to validate this parameter is a string of characters. That string can include almost any printable \n    ASCII character from the space (\\u0020) through the end of the ASCII character range (\\u00FF). \n    You can also include the tab (\\u0009), line feed (\\u000A), and carriage return (\\u000D) \n    characters. Any of these characters are valid in a password. However, many tools, such \n    as the AWS Management Console, might restrict the ability to type certain characters because they have \n    special meaning within that tool.</p>",
            "smithy.api#required": true
          }
        },
        "OldPassword": {
          "target": "com.amazon.webservices.auth.identity.v20100508#passwordType",
          "traits": {
            "smithy.api#documentation": "<p>The IAM user's current password.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#ColumnNumber": {
      "type": "integer"
    },
    "com.amazon.webservices.auth.identity.v20100508#ConcurrentModificationException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazon.webservices.auth.identity.v20100508#ConcurrentModificationMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was rejected because multiple requests to change this object were submitted simultaneously. Wait a few minutes and submit your request again.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#ConcurrentModificationMessage": {
      "type": "string"
    },
    "com.amazon.webservices.auth.identity.v20100508#ContextEntry": {
      "type": "structure",
      "members": {
        "ContextKeyName": {
          "target": "com.amazon.webservices.auth.identity.v20100508#ContextKeyNameType",
          "traits": {
            "smithy.api#documentation": "<p>The full name of a condition context key, including the service prefix. For example,\n            <code>aws:SourceIp</code> or <code>s3:VersionId</code>.</p>"
          }
        },
        "ContextKeyType": {
          "target": "com.amazon.webservices.auth.identity.v20100508#ContextKeyTypeEnum",
          "traits": {
            "smithy.api#documentation": "<p>The data type of the value (or values) specified in the <code>ContextKeyValues</code>\n         parameter.</p>"
          }
        },
        "ContextKeyValues": {
          "target": "com.amazon.webservices.auth.identity.v20100508#ContextKeyValueListType",
          "traits": {
            "smithy.api#documentation": "<p>The value (or values, if the condition context key supports multiple values) to provide\n         to the simulation when the key is referenced by a <code>Condition</code> element in an\n         input policy.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a condition context key. It includes the name of the key and\n         specifies the value (or values, if the context key supports multiple values) to use in the\n         simulation. This information is used when evaluating the <code>Condition</code> elements of\n         the input policies.</p>\n         <p>This data type is used as an input parameter to <code>\n               <a>SimulateCustomPolicy</a>\n            </code> and <code>\n               <a>SimulatePrincipalPolicy</a>\n            </code>.</p>"
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#ContextEntryListType": {
      "type": "list",
      "member": {
        "target": "com.amazon.webservices.auth.identity.v20100508#ContextEntry"
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#ContextKeyNameType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 5,
          "max": 256
        }
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#ContextKeyNamesResultListType": {
      "type": "list",
      "member": {
        "target": "com.amazon.webservices.auth.identity.v20100508#ContextKeyNameType"
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#ContextKeyTypeEnum": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "string": {
            "name": "STRING"
          },
          "stringList": {
            "name": "STRING_LIST"
          },
          "numeric": {
            "name": "NUMERIC"
          },
          "numericList": {
            "name": "NUMERIC_LIST"
          },
          "boolean": {
            "name": "BOOLEAN"
          },
          "booleanList": {
            "name": "BOOLEAN_LIST"
          },
          "ip": {
            "name": "IP"
          },
          "ipList": {
            "name": "IP_LIST"
          },
          "binary": {
            "name": "BINARY"
          },
          "binaryList": {
            "name": "BINARY_LIST"
          },
          "date": {
            "name": "DATE"
          },
          "dateList": {
            "name": "DATE_LIST"
          }
        }
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#ContextKeyValueListType": {
      "type": "list",
      "member": {
        "target": "com.amazon.webservices.auth.identity.v20100508#ContextKeyValueType"
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#ContextKeyValueType": {
      "type": "string"
    },
    "com.amazon.webservices.auth.identity.v20100508#CreateAccessKey": {
      "type": "operation",
      "input": {
        "target": "com.amazon.webservices.auth.identity.v20100508#CreateAccessKeyRequest"
      },
      "output": {
        "target": "com.amazon.webservices.auth.identity.v20100508#CreateAccessKeyResponse"
      },
      "errors": [
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#LimitExceededException"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#NoSuchEntityException"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#ServiceFailureException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Creates a new AWS secret access key and corresponding AWS access key ID for the\n         specified user. The default status for new keys is <code>Active</code>.</p>\n         <p>If you do not specify a user name, IAM determines the user name implicitly based on\n         the AWS access key ID signing the request. This operation works for access keys under the\n         AWS account. Consequently, you can use this operation to manage AWS account root user\n         credentials. This is true even if the AWS account has no associated users.</p>\n         <p> For information about limits on the number of keys you can create, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/LimitationsOnEntities.html\">Limitations on\n            IAM Entities</a> in the <i>IAM User Guide</i>.</p>\n         <important>\n            <p>To ensure the security of your AWS account, the secret access key is accessible\n            only during key and user creation. You must save the key (for example, in a text file)\n            if you want to be able to access it again. If a secret key is lost, you can delete the\n            access keys for the associated user and then create new keys.</p>\n         </important>"
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#CreateAccessKeyRequest": {
      "type": "structure",
      "members": {
        "UserName": {
          "target": "com.amazon.webservices.auth.identity.v20100508#existingUserNameType",
          "traits": {
            "smithy.api#documentation": "<p>The name of the IAM user that the new key will belong to.</p>\n         <p>This parameter allows (through its <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a>) a string of characters consisting of upper and lowercase alphanumeric \n    characters with no spaces. You can also include any of the following characters: _+=,.@-</p>"
          }
        }
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#CreateAccessKeyResponse": {
      "type": "structure",
      "members": {
        "AccessKey": {
          "target": "com.amazon.webservices.auth.identity.v20100508#AccessKey",
          "traits": {
            "smithy.api#documentation": "<p>A structure with details about the access key.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the response to a successful <a>CreateAccessKey</a> request.\n    </p>"
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#CreateAccountAlias": {
      "type": "operation",
      "input": {
        "target": "com.amazon.webservices.auth.identity.v20100508#CreateAccountAliasRequest"
      },
      "errors": [
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#EntityAlreadyExistsException"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#LimitExceededException"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#ServiceFailureException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an alias for your AWS account. For information about using an AWS account\n         alias, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/AccountAlias.html\">Using an\n            Alias for Your AWS Account ID</a> in the\n         <i>IAM User Guide</i>.</p>"
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#CreateAccountAliasRequest": {
      "type": "structure",
      "members": {
        "AccountAlias": {
          "target": "com.amazon.webservices.auth.identity.v20100508#accountAliasType",
          "traits": {
            "smithy.api#documentation": "<p>The account alias to create.</p>\n         <p>This parameter allows (through its <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a>) a string of characters consisting of \n    lowercase letters, digits, and dashes. You cannot start or finish with a dash, nor can you have \n    two dashes in a row.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#CreateGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazon.webservices.auth.identity.v20100508#CreateGroupRequest"
      },
      "output": {
        "target": "com.amazon.webservices.auth.identity.v20100508#CreateGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#EntityAlreadyExistsException"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#LimitExceededException"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#NoSuchEntityException"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#ServiceFailureException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new group.</p>\n         <p> For information about the number of groups you can create, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/LimitationsOnEntities.html\">Limitations on\n            IAM Entities</a> in the <i>IAM User Guide</i>.</p>"
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#CreateGroupRequest": {
      "type": "structure",
      "members": {
        "GroupName": {
          "target": "com.amazon.webservices.auth.identity.v20100508#groupNameType",
          "traits": {
            "smithy.api#documentation": "<p>The name of the group to create. Do not include the path in this value.</p>\n         <p>IAM user, group, role, and policy names must be unique within the account. Names are\n         not distinguished by case. For example, you cannot create resources named both \"MyResource\"\n         and \"myresource\".</p>",
            "smithy.api#required": true
          }
        },
        "Path": {
          "target": "com.amazon.webservices.auth.identity.v20100508#pathType",
          "traits": {
            "smithy.api#documentation": "<p> The path to the group. For more information about paths, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/Using_Identifiers.html\">IAM\n            Identifiers</a> in the <i>IAM User Guide</i>.</p>\n         <p>This parameter is optional. If it is not included, it defaults to a slash (/).</p>\n         <p>This parameter allows (through its <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a>) a string of characters consisting \n    of either a forward slash (/) by itself or a string that must begin and end with forward slashes.\n    In addition, it can contain any ASCII character from the ! (\\u0021) through the DEL character (\\u007F), including \n    most punctuation characters, digits, and upper and lowercased letters.</p>"
          }
        }
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#CreateGroupResponse": {
      "type": "structure",
      "members": {
        "Group": {
          "target": "com.amazon.webservices.auth.identity.v20100508#Group",
          "traits": {
            "smithy.api#documentation": "<p>A structure containing details about the new group.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the response to a successful <a>CreateGroup</a> request. </p>"
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#CreateInstanceProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazon.webservices.auth.identity.v20100508#CreateInstanceProfileRequest"
      },
      "output": {
        "target": "com.amazon.webservices.auth.identity.v20100508#CreateInstanceProfileResponse"
      },
      "errors": [
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#EntityAlreadyExistsException"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#LimitExceededException"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#ServiceFailureException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Creates a new instance profile. For information about instance profiles, go to <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/AboutInstanceProfiles.html\">About Instance\n            Profiles</a>.</p>\n         <p> For information about the number of instance profiles you can create, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/LimitationsOnEntities.html\">Limitations on\n            IAM Entities</a> in the <i>IAM User Guide</i>.</p>"
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#CreateInstanceProfileRequest": {
      "type": "structure",
      "members": {
        "InstanceProfileName": {
          "target": "com.amazon.webservices.auth.identity.v20100508#instanceProfileNameType",
          "traits": {
            "smithy.api#documentation": "<p>The name of the instance profile to create.</p>\n         <p>This parameter allows (through its <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a>) a string of characters consisting of upper and lowercase alphanumeric \n    characters with no spaces. You can also include any of the following characters: _+=,.@-</p>",
            "smithy.api#required": true
          }
        },
        "Path": {
          "target": "com.amazon.webservices.auth.identity.v20100508#pathType",
          "traits": {
            "smithy.api#documentation": "<p> The path to the instance profile. For more information about paths, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/Using_Identifiers.html\">IAM\n            Identifiers</a> in the <i>IAM User Guide</i>.</p>\n         <p>This parameter is optional. If it is not included, it defaults to a slash (/).</p>\n         <p>This parameter allows (through its <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a>) a string of characters consisting \n    of either a forward slash (/) by itself or a string that must begin and end with forward slashes.\n    In addition, it can contain any ASCII character from the ! (\\u0021) through the DEL character (\\u007F), including \n    most punctuation characters, digits, and upper and lowercased letters.</p>"
          }
        }
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#CreateInstanceProfileResponse": {
      "type": "structure",
      "members": {
        "InstanceProfile": {
          "target": "com.amazon.webservices.auth.identity.v20100508#InstanceProfile",
          "traits": {
            "smithy.api#documentation": "<p>A structure containing details about the new instance profile.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the response to a successful <a>CreateInstanceProfile</a> request.\n    </p>"
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#CreateLoginProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazon.webservices.auth.identity.v20100508#CreateLoginProfileRequest"
      },
      "output": {
        "target": "com.amazon.webservices.auth.identity.v20100508#CreateLoginProfileResponse"
      },
      "errors": [
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#EntityAlreadyExistsException"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#LimitExceededException"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#NoSuchEntityException"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#PasswordPolicyViolationException"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#ServiceFailureException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Creates a password for the specified user, giving the user the ability to access AWS\n         services through the AWS Management Console. For more information about managing passwords, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/Using_ManagingLogins.html\">Managing\n            Passwords</a> in the <i>IAM User Guide</i>.</p>"
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#CreateLoginProfileRequest": {
      "type": "structure",
      "members": {
        "Password": {
          "target": "com.amazon.webservices.auth.identity.v20100508#passwordType",
          "traits": {
            "smithy.api#documentation": "<p>The new password for the user.</p>\n         <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> \n    that is used to validate this parameter is a string of characters. That string can include almost any printable \n    ASCII character from the space (\\u0020) through the end of the ASCII character range (\\u00FF). \n    You can also include the tab (\\u0009), line feed (\\u000A), and carriage return (\\u000D) \n    characters. Any of these characters are valid in a password. However, many tools, such \n    as the AWS Management Console, might restrict the ability to type certain characters because they have \n    special meaning within that tool.</p>",
            "smithy.api#required": true
          }
        },
        "PasswordResetRequired": {
          "target": "com.amazon.webservices.auth.identity.v20100508#booleanType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the user is required to set a new password on next sign-in.</p>"
          }
        },
        "UserName": {
          "target": "com.amazon.webservices.auth.identity.v20100508#userNameType",
          "traits": {
            "smithy.api#documentation": "<p>The name of the IAM user to create a password for. The user must already exist.</p>\n         <p>This parameter allows (through its <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a>) a string of characters consisting of upper and lowercase alphanumeric \n    characters with no spaces. You can also include any of the following characters: _+=,.@-</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#CreateLoginProfileResponse": {
      "type": "structure",
      "members": {
        "LoginProfile": {
          "target": "com.amazon.webservices.auth.identity.v20100508#LoginProfile",
          "traits": {
            "smithy.api#documentation": "<p>A structure containing the user name and password create date.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the response to a successful <a>CreateLoginProfile</a> request.\n    </p>"
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#CreateOpenIDConnectProvider": {
      "type": "operation",
      "input": {
        "target": "com.amazon.webservices.auth.identity.v20100508#CreateOpenIDConnectProviderRequest"
      },
      "output": {
        "target": "com.amazon.webservices.auth.identity.v20100508#CreateOpenIDConnectProviderResponse"
      },
      "errors": [
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#EntityAlreadyExistsException"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#InvalidInputException"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#LimitExceededException"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#ServiceFailureException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an IAM entity to describe an identity provider (IdP) that supports <a href=\"http://openid.net/connect/\">OpenID Connect (OIDC)</a>.</p>\n         <p>The OIDC provider that you create with this operation can be used as a principal in a\n         role's trust policy. Such a policy establishes a trust relationship between AWS and the\n         OIDC provider.</p>\n         <p>When you create the IAM OIDC provider, you specify the following:</p>\n         <ul>\n            <li>\n               <p>The URL of the OIDC identity provider (IdP) to trust</p>\n            </li>\n            <li>\n               <p>A list of client IDs (also known as audiences) that identify the application or\n               applications that are allowed to authenticate using the OIDC provider</p>\n            </li>\n            <li>\n               <p>A list of thumbprints of the server certificate(s) that the IdP uses</p>\n            </li>\n         </ul>\n         <p>You get all of this information from the OIDC IdP that you want to use to access\n         AWS.</p>\n         <note>\n            <p>The trust for the OIDC provider is derived from the IAM provider that this\n            operation creates. Therefore, it is best to limit access to the <a>CreateOpenIDConnectProvider</a> operation to highly privileged users.</p>\n         </note>"
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#CreateOpenIDConnectProviderRequest": {
      "type": "structure",
      "members": {
        "ClientIDList": {
          "target": "com.amazon.webservices.auth.identity.v20100508#clientIDListType",
          "traits": {
            "smithy.api#documentation": "<p>A list of client IDs (also known as audiences). When a mobile or web app registers with\n         an OpenID Connect provider, they establish a value that identifies the application. (This\n         is the value that's sent as the <code>client_id</code> parameter on OAuth requests.)</p>\n         <p>You can register multiple client IDs with the same provider. For example, you might have\n         multiple applications that use the same OIDC provider. You cannot register more than 100\n         client IDs with a single IAM OIDC provider.</p>\n         <p>There is no defined format for a client ID. The\n            <code>CreateOpenIDConnectProviderRequest</code> operation accepts client IDs up to 255\n         characters long.</p>"
          }
        },
        "ThumbprintList": {
          "target": "com.amazon.webservices.auth.identity.v20100508#thumbprintListType",
          "traits": {
            "smithy.api#documentation": "<p>A list of server certificate thumbprints for the OpenID Connect (OIDC) identity\n         provider's server certificates. Typically this list includes only one entry. However, IAM\n         lets you have up to five thumbprints for an OIDC provider. This lets you maintain multiple\n         thumbprints if the identity provider is rotating certificates.</p>\n         <p>The server certificate thumbprint is the hex-encoded SHA-1 hash value of the X.509\n         certificate used by the domain where the OpenID Connect provider makes its keys available.\n         It is always a 40-character string.</p>\n         <p>You must provide at least one thumbprint when creating an IAM OIDC provider. For\n         example, assume that the OIDC provider is <code>server.example.com</code> and the provider\n         stores its keys at https://keys.server.example.com/openid-connect. In that case, the\n         thumbprint string would be the hex-encoded SHA-1 hash value of the certificate used by\n         https://keys.server.example.com.</p>\n         <p>For more information about obtaining the OIDC provider's thumbprint, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/identity-providers-oidc-obtain-thumbprint.html\">Obtaining the Thumbprint for an OpenID Connect Provider</a> in the <i>IAM\n            User Guide</i>.</p>",
            "smithy.api#required": true
          }
        },
        "Url": {
          "target": "com.amazon.webservices.auth.identity.v20100508#OpenIDConnectProviderUrlType",
          "traits": {
            "smithy.api#documentation": "<p>The URL of the identity provider. The URL must begin with <code>https://</code> and\n         should correspond to the <code>iss</code> claim in the provider's OpenID Connect ID tokens.\n         Per the OIDC standard, path components are allowed but query parameters are not. Typically\n         the URL consists of only a hostname, like <code>https://server.example.org</code> or\n            <code>https://example.com</code>.</p>\n         <p>You cannot register the same provider multiple times in a single AWS account. If you\n         try to submit a URL that has already been used for an OpenID Connect provider in the AWS\n         account, you will get an error.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#CreateOpenIDConnectProviderResponse": {
      "type": "structure",
      "members": {
        "OpenIDConnectProviderArn": {
          "target": "com.amazon.webservices.auth.identity.v20100508#arnType",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the new IAM OpenID Connect provider that is created.\n         For more information, see <a>OpenIDConnectProviderListEntry</a>. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the response to a successful <a>CreateOpenIDConnectProvider</a>\n      request. </p>"
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#CreatePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazon.webservices.auth.identity.v20100508#CreatePolicyRequest"
      },
      "output": {
        "target": "com.amazon.webservices.auth.identity.v20100508#CreatePolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#EntityAlreadyExistsException"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#InvalidInputException"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#LimitExceededException"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#MalformedPolicyDocumentException"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#ServiceFailureException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new managed policy for your AWS account.</p>\n         <p>This operation creates a policy version with a version identifier of <code>v1</code> and\n         sets v1 as the policy's default version. For more information about policy versions, see\n            <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-versions.html\">Versioning for Managed Policies</a> in the\n         <i>IAM User Guide</i>.</p>\n         <p>For more information about managed policies in general, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html\">Managed Policies and Inline\n            Policies</a> in the <i>IAM User Guide</i>.</p>"
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#CreatePolicyRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazon.webservices.auth.identity.v20100508#policyDescriptionType",
          "traits": {
            "smithy.api#documentation": "<p>A friendly description of the policy.</p>\n         <p>Typically used to store information about the permissions defined in the policy. For\n         example, \"Grants access to production DynamoDB tables.\"</p>\n         <p>The policy description is immutable. After a value is assigned, it cannot be\n         changed.</p>"
          }
        },
        "Path": {
          "target": "com.amazon.webservices.auth.identity.v20100508#policyPathType",
          "traits": {
            "smithy.api#documentation": "<p>The path for the policy.</p>\n         <p>For more information about paths, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/Using_Identifiers.html\">IAM Identifiers</a> in the\n            <i>IAM User Guide</i>.</p>\n         <p>This parameter is optional. If it is not included, it defaults to a slash (/).</p>\n         <p>This parameter allows (through its <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a>) a string of characters consisting \n    of either a forward slash (/) by itself or a string that must begin and end with forward slashes.\n    In addition, it can contain any ASCII character from the ! (\\u0021) through the DEL character (\\u007F), including \n    most punctuation characters, digits, and upper and lowercased letters.</p>"
          }
        },
        "PolicyDocument": {
          "target": "com.amazon.webservices.auth.identity.v20100508#policyDocumentType",
          "traits": {
            "smithy.api#documentation": "<p>The JSON policy document that you want to use as the content for the new policy.</p>\n         <p>You must provide policies in JSON format in IAM. However, for AWS CloudFormation\n         templates formatted in YAML, you can provide the policy in JSON or YAML format. AWS\n         CloudFormation always converts a YAML policy to JSON format before submitting it to\n         IAM.</p> \n         <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> \n    used to validate this parameter is a string of characters consisting of the following:</p>\n         <ul>\n            <li>\n               <p>Any printable ASCII \n    character ranging from the space character (\\u0020) through the end of the ASCII character range</p>\n            </li>\n            <li>\n               <p>The printable characters in the Basic Latin and  Latin-1 Supplement character set \n    (through \\u00FF)</p>\n            </li>\n            <li>\n               <p>The special characters tab (\\u0009), line feed (\\u000A), and \n    carriage return (\\u000D)</p>\n            </li>\n         </ul>",
            "smithy.api#required": true
          }
        },
        "PolicyName": {
          "target": "com.amazon.webservices.auth.identity.v20100508#policyNameType",
          "traits": {
            "smithy.api#documentation": "<p>The friendly name of the policy.</p>\n         <p>IAM user, group, role, and policy names must be unique within the account. Names are\n         not distinguished by case. For example, you cannot create resources named both \"MyResource\"\n         and \"myresource\".</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#CreatePolicyResponse": {
      "type": "structure",
      "members": {
        "Policy": {
          "target": "com.amazon.webservices.auth.identity.v20100508#Policy",
          "traits": {
            "smithy.api#documentation": "<p>A structure containing details about the new policy.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the response to a successful <a>CreatePolicy</a> request.\n    </p>"
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#CreatePolicyVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazon.webservices.auth.identity.v20100508#CreatePolicyVersionRequest"
      },
      "output": {
        "target": "com.amazon.webservices.auth.identity.v20100508#CreatePolicyVersionResponse"
      },
      "errors": [
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#InvalidInputException"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#LimitExceededException"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#MalformedPolicyDocumentException"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#NoSuchEntityException"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#ServiceFailureException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new version of the specified managed policy. To update a managed policy, you\n         create a new policy version. A managed policy can have up to five versions. If the policy\n         has five versions, you must delete an existing version using <a>DeletePolicyVersion</a> before you create a new version.</p>\n         <p>Optionally, you can set the new version as the policy's default version. The default\n         version is the version that is in effect for the IAM users, groups, and roles to which\n         the policy is attached.</p>\n         <p>For more information about managed policy versions, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-versions.html\">Versioning for Managed\n            Policies</a> in the <i>IAM User Guide</i>.</p>"
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#CreatePolicyVersionRequest": {
      "type": "structure",
      "members": {
        "PolicyArn": {
          "target": "com.amazon.webservices.auth.identity.v20100508#arnType",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM policy to which you want to add a new\n         version.</p>\n         <p>For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service \n    Namespaces</a> in the <i>AWS General Reference</i>.</p>",
            "smithy.api#required": true
          }
        },
        "PolicyDocument": {
          "target": "com.amazon.webservices.auth.identity.v20100508#policyDocumentType",
          "traits": {
            "smithy.api#documentation": "<p>The JSON policy document that you want to use as the content for this new version of the\n         policy.</p>\n         <p>You must provide policies in JSON format in IAM. However, for AWS CloudFormation\n         templates formatted in YAML, you can provide the policy in JSON or YAML format. AWS\n         CloudFormation always converts a YAML policy to JSON format before submitting it to\n         IAM.</p> \n         <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> \n    used to validate this parameter is a string of characters consisting of the following:</p>\n         <ul>\n            <li>\n               <p>Any printable ASCII \n    character ranging from the space character (\\u0020) through the end of the ASCII character range</p>\n            </li>\n            <li>\n               <p>The printable characters in the Basic Latin and  Latin-1 Supplement character set \n    (through \\u00FF)</p>\n            </li>\n            <li>\n               <p>The special characters tab (\\u0009), line feed (\\u000A), and \n    carriage return (\\u000D)</p>\n            </li>\n         </ul>",
            "smithy.api#required": true
          }
        },
        "SetAsDefault": {
          "target": "com.amazon.webservices.auth.identity.v20100508#booleanType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether to set this version as the policy's default version.</p>\n         <p>When this parameter is <code>true</code>, the new policy version becomes the operative\n         version. That is, it becomes the version that is in effect for the IAM users, groups, and\n         roles that the policy is attached to.</p>\n         <p>For more information about managed policy versions, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-versions.html\">Versioning for Managed\n            Policies</a> in the <i>IAM User Guide</i>.</p>"
          }
        }
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#CreatePolicyVersionResponse": {
      "type": "structure",
      "members": {
        "PolicyVersion": {
          "target": "com.amazon.webservices.auth.identity.v20100508#PolicyVersion",
          "traits": {
            "smithy.api#documentation": "<p>A structure containing details about the new policy version.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the response to a successful <a>CreatePolicyVersion</a> request.\n    </p>"
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#CreateRole": {
      "type": "operation",
      "input": {
        "target": "com.amazon.webservices.auth.identity.v20100508#CreateRoleRequest"
      },
      "output": {
        "target": "com.amazon.webservices.auth.identity.v20100508#CreateRoleResponse"
      },
      "errors": [
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#ConcurrentModificationException"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#EntityAlreadyExistsException"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#InvalidInputException"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#LimitExceededException"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#MalformedPolicyDocumentException"
        },
        {
          "target": "com.amazon.webservices.auth.identity.v20100508#ServiceFailureException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new role for your AWS account. For more information about roles, go to\n            <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/WorkingWithRoles.html\">IAM\n            Roles</a>. For information about limitations on role names and the number of roles\n         you can create, go to <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/LimitationsOnEntities.html\">Limitations on IAM Entities</a> in\n         the <i>IAM User Guide</i>.</p>"
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#CreateRoleRequest": {
      "type": "structure",
      "members": {
        "AssumeRolePolicyDocument": {
          "target": "com.amazon.webservices.auth.identity.v20100508#policyDocumentType",
          "traits": {
            "smithy.api#documentation": "<p>The trust relationship policy document that grants an entity permission to assume the\n         role.</p>\n\n         <p>In IAM, you must provide a JSON policy that has been converted to a string. However,\n         for AWS CloudFormation templates formatted in YAML, you can provide the policy in JSON or\n         YAML format. AWS CloudFormation always converts a YAML policy to JSON format before\n         submitting it to IAM.</p> \n         <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> \n    used to validate this parameter is a string of characters consisting of the following:</p>\n         <ul>\n            <li>\n               <p>Any printable ASCII \n    character ranging from the space character (\\u0020) through the end of the ASCII character range</p>\n            </li>\n            <li>\n               <p>The printable characters in the Basic Latin and  Latin-1 Supplement character set \n    (through \\u00FF)</p>\n            </li>\n            <li>\n               <p>The special characters tab (\\u0009), line feed (\\u000A), and \n    carriage return (\\u000D)</p>\n            </li>\n         </ul> \n         <p> Upon success, the response includes\n         the same trust policy in JSON format.</p>",
            "smithy.api#required": true
          }
        },
        "Description": {
          "target": "com.amazon.webservices.auth.identity.v20100508#roleDescriptionType",
          "traits": {
            "smithy.api#documentation": "<p>A description of the role.</p>"
          }
        },
        "MaxSessionDuration": {
          "target": "com.amazon.webservices.auth.identity.v20100508#roleMaxSessionDurationType",
          "traits": {
            "smithy.api#documentation": "<p>The maximum session duration (in seconds) that you want to set for the specified role.\n         If you do not specify a value for this setting, the default maximum of one hour is applied.\n         This setting can have a value from 1 hour to 12 hours.</p>\n         <p>Anyone who assumes the role from the AWS CLI or API can use the\n            <code>DurationSeconds</code> API parameter or the <code>duration-seconds</code> CLI\n         parameter to request a longer session. The <code>MaxSessionDuration</code> setting\n         determines the maximum duration that can be requested using the\n            <code>DurationSeconds</code> parameter. If users don't specify a value for the\n            <code>DurationSeconds</code> parameter, their security credentials are valid for one\n         hour by default. This applies when you use the <code>AssumeRole*</code> API operations or\n         the <code>assume-role*</code> CLI operations but does not apply when you use those\n         operations to create a console URL. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use.html\">Using IAM Roles</a> in the\n            <i>IAM User Guide</i>.</p>"
          }
        },
        "Path": {
          "target": "com.amazon.webservices.auth.identity.v20100508#pathType",
          "traits": {
            "smithy.api#documentation": "<p> The path to the role. For more information about paths, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/Using_Identifiers.html\">IAM Identifiers</a> in the\n            <i>IAM User Guide</i>.</p>\n         <p>This parameter is optional. If it is not included, it defaults to a slash (/).</p>\n         <p>This parameter allows (through its <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a>) a string of characters consisting \n    of either a forward slash (/) by itself or a string that must begin and end with forward slashes.\n    In addition, it can contain any ASCII character from the ! (\\u0021) through the DEL character (\\u007F), including \n    most punctuation characters, digits, and upper and lowercased letters.</p>"
          }
        },
        "PermissionsBoundary": {
          "target": "com.amazon.webservices.auth.identity.v20100508#arnType",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the policy that is used to set the permissions boundary for the role.</p>"
          }
        },
        "RoleName": {
          "target": "com.amazon.webservices.auth.identity.v20100508#roleNameType",
          "traits": {
            "smithy.api#documentation": "<p>The name of the role to create.</p>\n         <p>IAM user, group, role, and policy names must be unique within the account. Names are\n         not distinguished by case. For example, you cannot create resources named both \"MyResource\"\n         and \"myresource\".</p>",
            "smithy.api#required": true
          }
        },
        "Tags": {
          "target": "com.amazon.webservices.auth.identity.v20100508#tagListType",
          "traits": {
            "smithy.api#documentation": "<p>A list of tags that you want to attach to the newly created role. Each tag consists of\n      a key name and an associated value. For more information about tagging, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_tags.html\">Tagging IAM Identities</a> in the\n        <i>IAM User Guide</i>.</p>\n         <note>\n            <p>If any one of the tags is invalid or if you exceed the allowed number of tags per\n        role, then the entire request fails and the role is not created.</p>\n         </note>"
          }
        }
      }
    },
    "com.amazon.webservices.auth.identity.v20100508#CreateRoleResponse": {
      "type": "structure",
      "members": {
        "Role": {
          "target": "com.amazon.webservices.auth.identity.v20100508#Role",
          "traits": {
            "smithy.api#documentation": "<p>A structure containing details about the new role.</p>",
            "smithy.api#required": true
[...]
