{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      },
      {
        "ids": [
          "HttpUriConflict"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazon.iot.columbo.data#BatchPutMessage": {
      "type": "operation",
      "input": {
        "target": "com.amazon.iot.columbo.data#BatchPutMessageRequest"
      },
      "output": {
        "target": "com.amazon.iot.columbo.data#BatchPutMessageResponse"
      },
      "errors": [
        {
          "target": "com.amazon.iot.columbo.common.exceptions#InternalFailureException"
        },
        {
          "target": "com.amazon.iot.columbo.common.exceptions#InvalidRequestException"
        },
        {
          "target": "com.amazon.iot.columbo.common.exceptions#ServiceUnavailableException"
        },
        {
          "target": "com.amazon.iot.columbo.common.exceptions#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Sends a set of messages to the AWS IoT Events system. Each message payload is transformed\n       into the input you specify (<code>\"inputName\"</code>) and ingested into any detectors that monitor \n       that input. If multiple messages are sent, the order in which the messages are processed isn't \n       guaranteed. To guarantee ordering, you must send messages one at a time and wait for a successful \n       response.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/inputs/messages",
          "code": 200
        }
      }
    },
    "com.amazon.iot.columbo.data#BatchPutMessageErrorEntries": {
      "type": "list",
      "member": {
        "target": "com.amazon.iot.columbo.data#BatchPutMessageErrorEntry"
      }
    },
    "com.amazon.iot.columbo.data#BatchPutMessageErrorEntry": {
      "type": "structure",
      "members": {
        "errorCode": {
          "target": "com.amazon.iot.columbo.data#ErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The code associated with the error.</p>"
          }
        },
        "errorMessage": {
          "target": "com.amazon.iot.columbo.data#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>More information about the error.</p>"
          }
        },
        "messageId": {
          "target": "com.amazon.iot.columbo.data#MessageId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the message that caused the error. (See the value corresponding to the \n          <code>\"messageId\"</code> key in the <code>\"message\"</code> object.)</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the errors encountered.</p>"
      }
    },
    "com.amazon.iot.columbo.data#BatchPutMessageRequest": {
      "type": "structure",
      "members": {
        "messages": {
          "target": "com.amazon.iot.columbo.data#Messages",
          "traits": {
            "smithy.api#documentation": "<p>The list of messages to send. Each message has the following format:\n          <code>'{ \"messageId\": \"string\", \"inputName\": \"string\", \"payload\": \"string\"}'</code>\n         </p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.iot.columbo.data#BatchPutMessageResponse": {
      "type": "structure",
      "members": {
        "BatchPutMessageErrorEntries": {
          "target": "com.amazon.iot.columbo.data#BatchPutMessageErrorEntries",
          "traits": {
            "smithy.api#documentation": "<p>A list of any errors encountered when sending the messages.</p>"
          }
        }
      }
    },
    "com.amazon.iot.columbo.data#BatchUpdateDetector": {
      "type": "operation",
      "input": {
        "target": "com.amazon.iot.columbo.data#BatchUpdateDetectorRequest"
      },
      "output": {
        "target": "com.amazon.iot.columbo.data#BatchUpdateDetectorResponse"
      },
      "errors": [
        {
          "target": "com.amazon.iot.columbo.common.exceptions#InternalFailureException"
        },
        {
          "target": "com.amazon.iot.columbo.common.exceptions#InvalidRequestException"
        },
        {
          "target": "com.amazon.iot.columbo.common.exceptions#ServiceUnavailableException"
        },
        {
          "target": "com.amazon.iot.columbo.common.exceptions#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Updates the state, variable values, and timer settings of one or more detectors (instances)\n        of a specified detector model.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/detectors",
          "code": 200
        }
      }
    },
    "com.amazon.iot.columbo.data#BatchUpdateDetectorErrorEntries": {
      "type": "list",
      "member": {
        "target": "com.amazon.iot.columbo.data#BatchUpdateDetectorErrorEntry"
      }
    },
    "com.amazon.iot.columbo.data#BatchUpdateDetectorErrorEntry": {
      "type": "structure",
      "members": {
        "errorCode": {
          "target": "com.amazon.iot.columbo.data#ErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The code of the error.</p>"
          }
        },
        "errorMessage": {
          "target": "com.amazon.iot.columbo.data#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>A message describing the error.</p>"
          }
        },
        "messageId": {
          "target": "com.amazon.iot.columbo.data#MessageId",
          "traits": {
            "smithy.api#documentation": "<p>The <code>\"messageId\"</code> of the update request that caused the error. (The value of the \n       <code>\"messageId\"</code> in the update request <code>\"Detector\"</code> object.)</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the error that occured when attempting to update a detector.</p>"
      }
    },
    "com.amazon.iot.columbo.data#BatchUpdateDetectorRequest": {
      "type": "structure",
      "members": {
        "detectors": {
          "target": "com.amazon.iot.columbo.data#UpdateDetectorRequests",
          "traits": {
            "smithy.api#documentation": "<p>The list of detectors (instances) to update, along with the values to update.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.iot.columbo.data#BatchUpdateDetectorResponse": {
      "type": "structure",
      "members": {
        "batchUpdateDetectorErrorEntries": {
          "target": "com.amazon.iot.columbo.data#BatchUpdateDetectorErrorEntries",
          "traits": {
            "smithy.api#documentation": "<p>A list of those detector updates that resulted in errors. (If an error is listed here, the \n        specific update did not occur.)</p>"
          }
        }
      }
    },
    "com.amazon.iot.columbo.data#DescribeDetector": {
      "type": "operation",
      "input": {
        "target": "com.amazon.iot.columbo.data#DescribeDetectorRequest"
      },
      "output": {
        "target": "com.amazon.iot.columbo.data#DescribeDetectorResponse"
      },
      "errors": [
        {
          "target": "com.amazon.iot.columbo.common.exceptions#InternalFailureException"
        },
        {
          "target": "com.amazon.iot.columbo.common.exceptions#InvalidRequestException"
        },
        {
          "target": "com.amazon.iot.columbo.common.exceptions#ResourceNotFoundException"
        },
        {
          "target": "com.amazon.iot.columbo.common.exceptions#ServiceUnavailableException"
        },
        {
          "target": "com.amazon.iot.columbo.common.exceptions#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about the specified detector (instance).</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/detectors/{detectorModelName}/keyValues",
          "code": 200
        }
      }
    },
    "com.amazon.iot.columbo.data#DescribeDetectorRequest": {
      "type": "structure",
      "members": {
        "detectorModelName": {
          "target": "com.amazon.iot.columbo.common.types#DetectorModelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the detector model whose detectors (instances) you want information about.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "keyValue": {
          "target": "com.amazon.iot.columbo.common.types#KeyValue",
          "traits": {
            "smithy.api#documentation": "<p>A filter used to limit results to detectors (instances) created because of the given key ID.</p>",
            "smithy.api#httpQuery": "keyValue"
          }
        }
      }
    },
    "com.amazon.iot.columbo.data#DescribeDetectorResponse": {
      "type": "structure",
      "members": {
        "detector": {
          "target": "com.amazon.iot.columbo.data#Detector",
          "traits": {
            "smithy.api#documentation": "<p>Information about the detector (instance).</p>"
          }
        }
      }
    },
    "com.amazon.iot.columbo.data#Detector": {
      "type": "structure",
      "members": {
        "creationTime": {
          "target": "com.amazon.iot.columbo.common.types#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the detector (instance) was created.</p>"
          }
        },
        "detectorModelName": {
          "target": "com.amazon.iot.columbo.common.types#DetectorModelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the detector model that created this detector (instance).</p>"
          }
        },
        "detectorModelVersion": {
          "target": "com.amazon.iot.columbo.common.types#DetectorModelVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the detector model that created this detector (instance).</p>"
          }
        },
        "keyValue": {
          "target": "com.amazon.iot.columbo.common.types#KeyValue",
          "traits": {
            "smithy.api#documentation": "<p>The value of the key (identifying the device or system) that caused the creation of this \n        detector (instance).</p>"
          }
        },
        "lastUpdateTime": {
          "target": "com.amazon.iot.columbo.common.types#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the detector (instance) was last updated.</p>"
          }
        },
        "state": {
          "target": "com.amazon.iot.columbo.data#DetectorState",
          "traits": {
            "smithy.api#documentation": "<p>The current state of the detector (instance).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the detector (instance).</p>"
      }
    },
    "com.amazon.iot.columbo.common.types#DetectorModelName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[a-zA-Z0-9_-]+$"
      }
    },
    "com.amazon.iot.columbo.common.types#DetectorModelVersion": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazon.iot.columbo.data#DetectorState": {
      "type": "structure",
      "members": {
        "stateName": {
          "target": "com.amazon.iot.columbo.common.types#StateName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the state.</p>",
            "smithy.api#required": true
          }
        },
        "timers": {
          "target": "com.amazon.iot.columbo.data#Timers",
          "traits": {
            "smithy.api#documentation": "<p>The current state of the detector's timers.</p>",
            "smithy.api#required": true
          }
        },
        "variables": {
          "target": "com.amazon.iot.columbo.data#Variables",
          "traits": {
            "smithy.api#documentation": "<p>The current values of the detector's variables.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the current state of the detector instance.</p>"
      }
    },
    "com.amazon.iot.columbo.data#DetectorStateDefinition": {
      "type": "structure",
      "members": {
        "stateName": {
          "target": "com.amazon.iot.columbo.common.types#StateName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the new state of the detector (instance).</p>",
            "smithy.api#required": true
          }
        },
        "timers": {
          "target": "com.amazon.iot.columbo.data#TimerDefinitions",
          "traits": {
            "smithy.api#documentation": "<p>The new values of the detector's timers. Any timer whose value isn't specified is \n       cleared, and its timeout event won't occur.</p>",
            "smithy.api#required": true
          }
        },
        "variables": {
          "target": "com.amazon.iot.columbo.data#VariableDefinitions",
          "traits": {
            "smithy.api#documentation": "<p>The new values of the detector's variables. Any variable whose value isn't specified is cleared.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The new state, variable values, and timer settings of the detector (instance).</p>"
      }
    },
    "com.amazon.iot.columbo.data#DetectorStateSummary": {
      "type": "structure",
      "members": {
        "stateName": {
          "target": "com.amazon.iot.columbo.common.types#StateName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the state.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the detector state.</p>"
      }
    },
    "com.amazon.iot.columbo.data#DetectorSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazon.iot.columbo.data#DetectorSummary"
      }
    },
    "com.amazon.iot.columbo.data#DetectorSummary": {
      "type": "structure",
      "members": {
        "creationTime": {
          "target": "com.amazon.iot.columbo.common.types#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the detector (instance) was created.</p>"
          }
        },
        "detectorModelName": {
          "target": "com.amazon.iot.columbo.common.types#DetectorModelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the detector model that created this detector (instance).</p>"
          }
        },
        "detectorModelVersion": {
          "target": "com.amazon.iot.columbo.common.types#DetectorModelVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the detector model that created this detector (instance).</p>"
          }
        },
        "keyValue": {
          "target": "com.amazon.iot.columbo.common.types#KeyValue",
          "traits": {
            "smithy.api#documentation": "<p>The value of the key (identifying the device or system) that caused the creation of this \n        detector (instance).</p>"
          }
        },
        "lastUpdateTime": {
          "target": "com.amazon.iot.columbo.common.types#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the detector (instance) was last updated.</p>"
          }
        },
        "state": {
          "target": "com.amazon.iot.columbo.data#DetectorStateSummary",
          "traits": {
            "smithy.api#documentation": "<p>The current state of the detector (instance).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the detector (instance).</p>"
      }
    },
    "com.amazon.iot.columbo.data#ErrorCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "ResourceNotFoundException": {
            "name": "ResourceNotFoundException"
          },
          "InvalidRequestException": {
            "name": "InvalidRequestException"
          },
          "InternalFailureException": {
            "name": "InternalFailureException"
          },
          "ServiceUnavailableException": {
            "name": "ServiceUnavailableException"
          },
          "ThrottlingException": {
            "name": "ThrottlingException"
          }
        }
      }
    },
    "com.amazon.iot.columbo.data#ErrorMessage": {
      "type": "string"
    },
    "com.amazon.iot.columbo.common.types#InputName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[a-zA-Z][a-zA-Z0-9_]*$"
      }
    },
    "com.amazon.iot.columbo.common.exceptions#InternalFailureException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazon.iot.columbo.common.exceptions#errorMessage",
          "traits": {
            "smithy.api#documentation": "<p>The message for the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An internal failure occured.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazon.iot.columbo.common.exceptions#InvalidRequestException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazon.iot.columbo.common.exceptions#errorMessage",
          "traits": {
            "smithy.api#documentation": "<p>The message for the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was invalid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazon.iot.columbo.data#IotColumboDataService": {
      "type": "service",
      "version": "2018-10-23",
      "operations": [
        {
          "target": "com.amazon.iot.columbo.data#BatchPutMessage"
        },
        {
          "target": "com.amazon.iot.columbo.data#BatchUpdateDetector"
        },
        {
          "target": "com.amazon.iot.columbo.data#DescribeDetector"
        },
        {
          "target": "com.amazon.iot.columbo.data#ListDetectors"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "IoT Events Data",
          "arnNamespace": "ioteventsdata",
          "cloudFormationName": "IoTEventsData",
          "cloudTrailEventSource": "data.columbo.iot.amazon.com"
        },
        "smithy.api#documentation": "<p>AWS IoT Events monitors your equipment or device fleets for failures or changes in operation, \n        and triggers actions when such events occur. AWS IoT Events Data API commands enable you to send\n        inputs to detectors, list detectors, and view or update a detector's status.</p>",
        "smithy.api#protocols": [
          {
            "name": "aws.rest-json-1.1",
            "auth": [
              "aws.v4"
            ]
          }
        ],
        "smithy.api#title": "AWS IoT Events Data"
      }
    },
    "com.amazon.iot.columbo.common.types#KeyValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[a-zA-Z0-9\\-_:]+$"
      }
    },
    "com.amazon.iot.columbo.data#ListDetectors": {
      "type": "operation",
      "input": {
        "target": "com.amazon.iot.columbo.data#ListDetectorsRequest"
      },
      "output": {
        "target": "com.amazon.iot.columbo.data#ListDetectorsResponse"
      },
      "errors": [
        {
          "target": "com.amazon.iot.columbo.common.exceptions#InternalFailureException"
        },
        {
          "target": "com.amazon.iot.columbo.common.exceptions#InvalidRequestException"
        },
        {
          "target": "com.amazon.iot.columbo.common.exceptions#ResourceNotFoundException"
        },
        {
          "target": "com.amazon.iot.columbo.common.exceptions#ServiceUnavailableException"
        },
        {
          "target": "com.amazon.iot.columbo.common.exceptions#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists detectors (the instances of a detector model).</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/detectors/{detectorModelName}",
          "code": 200
        }
      }
    },
    "com.amazon.iot.columbo.data#ListDetectorsRequest": {
      "type": "structure",
      "members": {
        "detectorModelName": {
          "target": "com.amazon.iot.columbo.common.types#DetectorModelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the detector model whose detectors (instances) are listed.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "maxResults": {
          "target": "com.amazon.iot.columbo.common.types#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return at one time.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "nextToken": {
          "target": "com.amazon.iot.columbo.common.types#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "stateName": {
          "target": "com.amazon.iot.columbo.common.types#StateName",
          "traits": {
            "smithy.api#documentation": "<p>A filter that limits results to those detectors (instances) in the given state.</p>",
            "smithy.api#httpQuery": "stateName"
          }
        }
      }
    },
    "com.amazon.iot.columbo.data#ListDetectorsResponse": {
      "type": "structure",
      "members": {
        "detectorSummaries": {
          "target": "com.amazon.iot.columbo.data#DetectorSummaries",
          "traits": {
            "smithy.api#documentation": "<p>A list of summary information about the detectors (instances).</p>"
          }
        },
        "nextToken": {
          "target": "com.amazon.iot.columbo.common.types#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A token to retrieve the next set of results, or <code>null</code> if there are no additional \n          results.</p>"
          }
        }
      }
    },
    "com.amazon.iot.columbo.common.types#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 1,
          "max": 250
        }
      }
    },
    "com.amazon.iot.columbo.data#Message": {
      "type": "structure",
      "members": {
        "inputName": {
          "target": "com.amazon.iot.columbo.common.types#InputName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the input into which the message payload is transformed.</p>",
            "smithy.api#required": true
          }
        },
        "messageId": {
          "target": "com.amazon.iot.columbo.data#MessageId",
          "traits": {
            "smithy.api#documentation": "<p>The ID to assign to the message. Within each batch sent, each <code>\"messageId\"</code> must \n        be unique.</p>",
            "smithy.api#required": true
          }
        },
        "payload": {
          "target": "com.amazon.iot.columbo.data#Payload",
          "traits": {
            "smithy.api#documentation": "<p>The payload of the message. This can be a JSON string or a Base-64-encoded string representing\n          binary data (in which case you must decode it).</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a message.</p>"
      }
    },
    "com.amazon.iot.columbo.data#MessageId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[a-zA-Z0-9_-]+$"
      }
    },
    "com.amazon.iot.columbo.data#Messages": {
      "type": "list",
      "member": {
        "target": "com.amazon.iot.columbo.data#Message"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazon.iot.columbo.common.types#NextToken": {
      "type": "string"
    },
    "com.amazon.iot.columbo.data#Payload": {
      "type": "blob"
    },
    "com.amazon.iot.columbo.common.exceptions#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazon.iot.columbo.common.exceptions#errorMessage",
          "traits": {
            "smithy.api#documentation": "<p>The message for the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The resource was not found.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazon.iot.columbo.data#Seconds": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.amazon.iot.columbo.common.exceptions#ServiceUnavailableException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazon.iot.columbo.common.exceptions#errorMessage",
          "traits": {
            "smithy.api#documentation": "<p>The message for the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The service is currently unavailable.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 503
      }
    },
    "com.amazon.iot.columbo.common.types#StateName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazon.iot.columbo.common.exceptions#ThrottlingException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazon.iot.columbo.common.exceptions#errorMessage",
          "traits": {
            "smithy.api#documentation": "<p>The message for the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request could not be completed due to throttling.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      }
    },
    "com.amazon.iot.columbo.data#Timer": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazon.iot.columbo.common.types#TimerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the timer.</p>",
            "smithy.api#required": true
          }
        },
        "timestamp": {
          "target": "com.amazon.iot.columbo.common.types#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The number of seconds which have elapsed on the timer.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The current state of a timer.</p>"
      }
    },
    "com.amazon.iot.columbo.data#TimerDefinition": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazon.iot.columbo.common.types#TimerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the timer.</p>",
            "smithy.api#required": true
          }
        },
        "seconds": {
          "target": "com.amazon.iot.columbo.data#Seconds",
          "traits": {
            "smithy.api#documentation": "<p>The new setting of the timer (the number of seconds before the timer elapses).</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The new setting of a timer.</p>"
      }
    },
    "com.amazon.iot.columbo.data#TimerDefinitions": {
      "type": "list",
      "member": {
        "target": "com.amazon.iot.columbo.data#TimerDefinition"
      }
    },
    "com.amazon.iot.columbo.common.types#TimerName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazon.iot.columbo.data#Timers": {
      "type": "list",
      "member": {
        "target": "com.amazon.iot.columbo.data#Timer"
      }
    },
    "com.amazon.iot.columbo.common.types#Timestamp": {
      "type": "timestamp"
    },
    "com.amazon.iot.columbo.data#UpdateDetectorRequest": {
      "type": "structure",
      "members": {
        "detectorModelName": {
          "target": "com.amazon.iot.columbo.common.types#DetectorModelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the detector model that created the detectors (instances).</p>",
            "smithy.api#required": true
          }
        },
        "keyValue": {
          "target": "com.amazon.iot.columbo.common.types#KeyValue",
          "traits": {
            "smithy.api#documentation": "<p>The value of the input key attribute (identifying the device or system) that caused the creation \n       of this detector (instance).</p>"
          }
        },
        "messageId": {
          "target": "com.amazon.iot.columbo.data#MessageId",
          "traits": {
            "smithy.api#documentation": "<p>The ID to assign to the detector update <code>\"message\"</code>. Each <code>\"messageId\"</code> \n       must be unique within each batch sent.</p>",
            "smithy.api#required": true
          }
        },
        "state": {
          "target": "com.amazon.iot.columbo.data#DetectorStateDefinition",
          "traits": {
            "smithy.api#documentation": "<p>The new state, variable values, and timer settings of the detector (instance).</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information used to update the detector (instance).</p>"
      }
    },
    "com.amazon.iot.columbo.data#UpdateDetectorRequests": {
      "type": "list",
      "member": {
        "target": "com.amazon.iot.columbo.data#UpdateDetectorRequest"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazon.iot.columbo.data#Variable": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazon.iot.columbo.common.types#VariableName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the variable.</p>",
            "smithy.api#required": true
          }
        },
        "value": {
          "target": "com.amazon.iot.columbo.common.types#VariableValue",
          "traits": {
            "smithy.api#documentation": "<p>The current value of the variable.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The current state of the variable.</p>"
      }
    },
    "com.amazon.iot.columbo.data#VariableDefinition": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazon.iot.columbo.common.types#VariableName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the variable.</p>",
            "smithy.api#required": true
          }
        },
        "value": {
          "target": "com.amazon.iot.columbo.common.types#VariableValue",
          "traits": {
            "smithy.api#documentation": "<p>The new value of the variable.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The new value of the variable.</p>"
      }
    },
    "com.amazon.iot.columbo.data#VariableDefinitions": {
      "type": "list",
      "member": {
        "target": "com.amazon.iot.columbo.data#VariableDefinition"
      }
    },
    "com.amazon.iot.columbo.common.types#VariableName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[a-zA-Z][a-zA-Z0-9_]*$"
      }
    },
    "com.amazon.iot.columbo.common.types#VariableValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazon.iot.columbo.data#Variables": {
      "type": "list",
      "member": {
        "target": "com.amazon.iot.columbo.data#Variable"
      }
    },
    "com.amazon.iot.columbo.common.exceptions#errorMessage": {
      "type": "string"
    }
  }
}
