{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazon.kinesis.video.v20170930#APIName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "PUT_MEDIA": {
            "name": "PUT_MEDIA"
          },
          "GET_MEDIA": {
            "name": "GET_MEDIA"
          },
          "LIST_FRAGMENTS": {
            "name": "LIST_FRAGMENTS"
          },
          "GET_MEDIA_FOR_FRAGMENT_LIST": {
            "name": "GET_MEDIA_FOR_FRAGMENT_LIST"
          },
          "GET_HLS_STREAMING_SESSION_URL": {
            "name": "GET_HLS_STREAMING_SESSION_URL"
          },
          "GET_DASH_STREAMING_SESSION_URL": {
            "name": "GET_DASH_STREAMING_SESSION_URL"
          }
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#AccountStreamLimitExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazon.kinesis.video.v20170930#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>The number of streams created for the account is too high.</p>\n      ",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazon.kinesis.video.v20170930#ClientLimitExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazon.kinesis.video.v20170930#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>Kinesis Video Streams has throttled the \n      request because you have exceeded the limit of allowed client calls. Try making the call later.</p>\n      ",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazon.kinesis.video.v20170930#ComparisonOperator": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "BEGINS_WITH": {
            "name": "BEGINS_WITH"
          }
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#CreateStream": {
      "type": "operation",
      "input": {
        "target": "com.amazon.kinesis.video.v20170930#CreateStreamInput"
      },
      "output": {
        "target": "com.amazon.kinesis.video.v20170930#CreateStreamOutput"
      },
      "errors": [
        {
          "target": "com.amazon.kinesis.video.v20170930#AccountStreamLimitExceededException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#ClientLimitExceededException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#DeviceStreamLimitExceededException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#InvalidArgumentException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#InvalidDeviceException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#ResourceInUseException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#TagsPerResourceExceededLimitException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Creates a new Kinesis video stream. </p>\n    \n         <p>When you create a new stream, Kinesis Video Streams assigns it a version number. \n      When you change the stream's metadata, Kinesis Video Streams updates the version.  \n    </p>\n         <p>\n            <code>CreateStream</code> is an asynchronous operation.</p>\n         <p>For information about how the service works, see \n      \n      <a href=\"https://docs.aws.amazon.com/kinesisvideostreams/latest/dg/how-it-works.html\">How it Works</a>.\n    </p>\n         <p>You must have permissions for the \n      <code>KinesisVideo:CreateStream</code> action.</p>\n      ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/createStream",
          "code": 200
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#CreateStreamInput": {
      "type": "structure",
      "members": {
        "DataRetentionInHours": {
          "target": "com.amazon.kinesis.video.v20170930#DataRetentionInHours",
          "traits": {
            "smithy.api#documentation": "\n         <p>The number of hours that you want to retain the data in the stream. Kinesis Video Streams retains the data \n      in a data store that is associated with the stream.</p>\n         <p>The default value is 0, indicating that the stream does not persist data.</p>\n         <p>When the <code>DataRetentionInHours</code> value is 0, consumers can still consume the fragments that remain in the service host buffer, \n      which has a retention time limit of 5 minutes and a retention memory limit of 200 MB. Fragments are removed from the buffer when either limit is reached.</p>\n      "
          }
        },
        "DeviceName": {
          "target": "com.amazon.kinesis.video.v20170930#DeviceName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the device that is writing to the stream. </p>\n         <note>\n            <p>In the current implementation, Kinesis Video Streams does not use this name.</p>\n         </note>\n      "
          }
        },
        "KmsKeyId": {
          "target": "com.amazon.kinesis.video.v20170930#KmsKeyId",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ID of the AWS Key Management Service (AWS KMS) key that you want Kinesis Video\n      Streams to use to encrypt stream data.</p>\n         <p>If no key ID is specified, the default, Kinesis Video-managed key (<code>aws/kinesisvideo</code>) is used.</p>\n         <p>\n      For more information, see \n      <a href=\"https://docs.aws.amazon.com/kms/latest/APIReference/API_DescribeKey.html#API_DescribeKey_RequestParameters\">DescribeKey</a>.\n      \n    </p>\n      "
          }
        },
        "MediaType": {
          "target": "com.amazon.kinesis.video.v20170930#MediaType",
          "traits": {
            "smithy.api#documentation": "\n         <p>The media type of the stream. Consumers of the stream can use this information \n      when processing the stream.\n      For more information about media types, see \n      <a href=\"http://www.iana.org/assignments/media-types/media-types.xhtml\">Media Types</a>.\n      \n      If you choose to specify the <code>MediaType</code>, see \n      <a href=\"https://tools.ietf.org/html/rfc6838#section-4.2\">Naming Requirements</a> for guidelines.</p>\n\n      \n         <p>This parameter is optional; the default value is <code>null</code> (or empty in\n      JSON).</p>\n      "
          }
        },
        "StreamName": {
          "target": "com.amazon.kinesis.video.v20170930#StreamName",
          "traits": {
            "smithy.api#documentation": "\n         <p>A name for the stream that you are creating.</p>\n         <p>The stream name is an identifier for the stream, and must be unique for each account and region.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "Tags": {
          "target": "com.amazon.kinesis.video.v20170930#ResourceTags",
          "traits": {
            "smithy.api#documentation": "\n         <p>A list of tags to associate with the specified stream. Each tag is a key-value pair (the value is optional).</p>\n      "
          }
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#CreateStreamOutput": {
      "type": "structure",
      "members": {
        "StreamARN": {
          "target": "com.amazon.kinesis.video.v20170930#ResourceARN",
          "traits": {
            "smithy.api#documentation": "\n         <p>The Amazon Resource Name (ARN) of the stream.</p>\n      "
          }
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#DataEndpoint": {
      "type": "string"
    },
    "com.amazon.kinesis.video.v20170930#DataRetentionChangeInHours": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 1
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#DataRetentionInHours": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#DeleteStream": {
      "type": "operation",
      "input": {
        "target": "com.amazon.kinesis.video.v20170930#DeleteStreamInput"
      },
      "output": {
        "target": "com.amazon.kinesis.video.v20170930#DeleteStreamOutput"
      },
      "errors": [
        {
          "target": "com.amazon.kinesis.video.v20170930#ClientLimitExceededException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#InvalidArgumentException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#NotAuthorizedException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#ResourceNotFoundException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#VersionMismatchException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Deletes a Kinesis video stream and the data contained in the stream. \n      \n    \n    </p>\n         <p>This method marks the stream for deletion, and makes the data in the stream inaccessible immediately.</p>\n         <p>\n      \n    </p>\n         <p> To ensure that you have the latest version of the stream before deleting it, you can\n      specify the stream version. Kinesis Video Streams assigns a version to each stream. When you\n      update a stream, Kinesis Video Streams assigns a new version number. To get the latest stream\n      version, use the <code>DescribeStream</code> API. </p>\n         <p>This operation requires permission for the <code>KinesisVideo:DeleteStream</code>\n      action.</p>\n      ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/deleteStream",
          "code": 200
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#DeleteStreamInput": {
      "type": "structure",
      "members": {
        "CurrentVersion": {
          "target": "com.amazon.kinesis.video.v20170930#Version",
          "traits": {
            "smithy.api#documentation": "\n         <p>Optional: The version of the stream that you want to delete. </p>\n         <p>Specify the \n    version as a safeguard to ensure that your are deleting the correct stream. \n    To get the stream version, use the \n      <code>DescribeStream</code> API.</p>\n         <p>If not specified, only the <code>CreationTime</code> is checked before deleting the stream.</p>\n  \n      "
          }
        },
        "StreamARN": {
          "target": "com.amazon.kinesis.video.v20170930#ResourceARN",
          "traits": {
            "smithy.api#documentation": "\n         <p>The Amazon Resource Name (ARN) of the stream that you want to delete. </p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#DeleteStreamOutput": {
      "type": "structure",
      "members": { }
    },
    "com.amazon.kinesis.video.v20170930#DescribeStream": {
      "type": "operation",
      "input": {
        "target": "com.amazon.kinesis.video.v20170930#DescribeStreamInput"
      },
      "output": {
        "target": "com.amazon.kinesis.video.v20170930#DescribeStreamOutput"
      },
      "errors": [
        {
          "target": "com.amazon.kinesis.video.v20170930#ClientLimitExceededException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#InvalidArgumentException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#NotAuthorizedException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Returns the most current information about the specified stream.\n    You must specify either the <code>StreamName</code> or the <code>StreamARN</code>.\n    </p>\n      ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/describeStream",
          "code": 200
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#DescribeStreamInput": {
      "type": "structure",
      "members": {
        "StreamARN": {
          "target": "com.amazon.kinesis.video.v20170930#ResourceARN",
          "traits": {
            "smithy.api#documentation": "\n         <p>The Amazon Resource Name (ARN) of the stream.</p>\n      "
          }
        },
        "StreamName": {
          "target": "com.amazon.kinesis.video.v20170930#StreamName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the stream.</p>\n      "
          }
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#DescribeStreamOutput": {
      "type": "structure",
      "members": {
        "StreamInfo": {
          "target": "com.amazon.kinesis.video.v20170930#StreamInfo",
          "traits": {
            "smithy.api#documentation": "\n         <p>An object that describes the stream.</p>\n      "
          }
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#DeviceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "[a-zA-Z0-9_.-]+"
      }
    },
    "com.amazon.kinesis.video.v20170930#DeviceStreamLimitExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazon.kinesis.video.v20170930#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>Not implemented. </p>\n      ",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazon.kinesis.video.v20170930#ErrorMessage": {
      "type": "string"
    },
    "com.amazon.kinesis.video.v20170930#GetDataEndpoint": {
      "type": "operation",
      "input": {
        "target": "com.amazon.kinesis.video.v20170930#GetDataEndpointInput"
      },
      "output": {
        "target": "com.amazon.kinesis.video.v20170930#GetDataEndpointOutput"
      },
      "errors": [
        {
          "target": "com.amazon.kinesis.video.v20170930#ClientLimitExceededException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#InvalidArgumentException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#NotAuthorizedException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Gets an endpoint for a specified stream for either reading or writing. \n      Use this endpoint in your application to read from the specified stream (using the <code>GetMedia</code> or <code>GetMediaForFragmentList</code> operations) or write \n      to it (using the <code>PutMedia</code> operation). \n      \n      </p>\n         <note>\n            <p>The returned endpoint does not have the API name appended. The client needs to add the API name to the returned endpoint.</p>\n         </note>\n    \n         <p>In the request,  specify the stream either by <code>StreamName</code> or <code>StreamARN</code>.</p>\n      ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/getDataEndpoint",
          "code": 200
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#GetDataEndpointInput": {
      "type": "structure",
      "members": {
        "APIName": {
          "target": "com.amazon.kinesis.video.v20170930#APIName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the API action for which to get an endpoint.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "StreamARN": {
          "target": "com.amazon.kinesis.video.v20170930#ResourceARN",
          "traits": {
            "smithy.api#documentation": "\n         <p>The Amazon Resource Name (ARN) of the stream that you want to get the endpoint for. You\n      must specify either this parameter or a <code>StreamName</code> in the request. </p>\n      "
          }
        },
        "StreamName": {
          "target": "com.amazon.kinesis.video.v20170930#StreamName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the stream that you want to get the endpoint for. \n      You must specify either this parameter or a <code>StreamARN</code> in the request.</p>\n      "
          }
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#GetDataEndpointOutput": {
      "type": "structure",
      "members": {
        "DataEndpoint": {
          "target": "com.amazon.kinesis.video.v20170930#DataEndpoint",
          "traits": {
            "smithy.api#documentation": "\n         <p>The endpoint value. To read data from the stream or to write data to it, specify this endpoint \n      in your application.</p>\n      "
          }
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#InvalidArgumentException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazon.kinesis.video.v20170930#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>The value for this input parameter is invalid.</p>\n      ",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazon.kinesis.video.v20170930#InvalidDeviceException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazon.kinesis.video.v20170930#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>Not implemented.</p>\n      ",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazon.kinesis.video.v20170930#InvalidResourceFormatException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazon.kinesis.video.v20170930#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>The format of the <code>StreamARN</code> is invalid.</p>\n      ",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazon.kinesis.video.v20170930#KinesisVideo_20170930": {
      "type": "service",
      "version": "2017-09-30",
      "operations": [
        {
          "target": "com.amazon.kinesis.video.v20170930#CreateStream"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#DeleteStream"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#DescribeStream"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#GetDataEndpoint"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#ListStreams"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#ListTagsForStream"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#TagStream"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#UntagStream"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#UpdateDataRetention"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#UpdateStream"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Kinesis Video",
          "arnNamespace": "kinesisvideo",
          "cloudFormationName": "KinesisVideo",
          "cloudTrailEventSource": "v20170930.video.kinesis.amazon.com"
        },
        "smithy.api#documentation": "\n         <p></p>\n      ",
        "smithy.api#protocols": [
          {
            "name": "aws.rest-json-1.1",
            "auth": [
              "aws.v4"
            ]
          }
        ],
        "smithy.api#title": "Amazon Kinesis Video Streams",
        "smithy.api#xmlNamespace": {
          "uri": "https://kinesisvideo.amazonaws.com/doc/2017-09-30/"
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#KmsKeyId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#ListStreams": {
      "type": "operation",
      "input": {
        "target": "com.amazon.kinesis.video.v20170930#ListStreamsInput"
      },
      "output": {
        "target": "com.amazon.kinesis.video.v20170930#ListStreamsOutput"
      },
      "errors": [
        {
          "target": "com.amazon.kinesis.video.v20170930#ClientLimitExceededException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#InvalidArgumentException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Returns an array of <code>StreamInfo</code> objects. Each object describes a stream.\n      To retrieve only streams that satisfy a specific condition, you can specify a <code>StreamNameCondition</code>.\n    </p>\n      ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/listStreams",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "StreamInfoList",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#ListStreamsInput": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazon.kinesis.video.v20170930#ListStreamsInputLimit",
          "traits": {
            "smithy.api#documentation": "\n         <p>The maximum number of streams to return in the response. The default is 10,000.</p>\n      "
          }
        },
        "NextToken": {
          "target": "com.amazon.kinesis.video.v20170930#NextToken",
          "traits": {
            "smithy.api#documentation": "\n         <p>If you specify this parameter, when the result of a <code>ListStreams</code> operation is truncated, the call returns \n      the <code>NextToken</code> in the response. To get another batch of streams, provide this token in your next \n      request.</p>\n      "
          }
        },
        "StreamNameCondition": {
          "target": "com.amazon.kinesis.video.v20170930#StreamNameCondition",
          "traits": {
            "smithy.api#documentation": "\n         <p>Optional: Returns only streams that satisfy a specific condition. Currently, you can specify only the prefix of a stream name as a condition. \n    </p>\n      "
          }
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#ListStreamsInputLimit": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 1,
          "max": 10000
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#ListStreamsOutput": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazon.kinesis.video.v20170930#NextToken",
          "traits": {
            "smithy.api#documentation": "\n         <p>If the response is truncated, the call returns this element \n      with a token. To get the next batch of streams, use this token in your next request. \n       \n    </p>\n      "
          }
        },
        "StreamInfoList": {
          "target": "com.amazon.kinesis.video.v20170930#StreamInfoList",
          "traits": {
            "smithy.api#documentation": "\n         <p>An array of <code>StreamInfo</code> objects.</p>\n      "
          }
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#ListTagsForStream": {
      "type": "operation",
      "input": {
        "target": "com.amazon.kinesis.video.v20170930#ListTagsForStreamInput"
      },
      "output": {
        "target": "com.amazon.kinesis.video.v20170930#ListTagsForStreamOutput"
      },
      "errors": [
        {
          "target": "com.amazon.kinesis.video.v20170930#ClientLimitExceededException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#InvalidArgumentException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#InvalidResourceFormatException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#NotAuthorizedException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Returns a list of tags associated with the specified stream.</p>\n         <p>In the request, you must specify either the <code>StreamName</code> or the <code>StreamARN</code>. </p>\n      ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/listTagsForStream",
          "code": 200
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#ListTagsForStreamInput": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazon.kinesis.video.v20170930#NextToken",
          "traits": {
            "smithy.api#documentation": "\n         <p>If you specify this parameter and the result of a <code>ListTagsForStream</code> call is truncated, the response includes a token that you can use in the next request to fetch the \n      next batch of tags.</p>\n      "
          }
        },
        "StreamARN": {
          "target": "com.amazon.kinesis.video.v20170930#ResourceARN",
          "traits": {
            "smithy.api#documentation": "\n         <p>The Amazon Resource Name (ARN) of the stream that you want to list tags for.</p>\n      "
          }
        },
        "StreamName": {
          "target": "com.amazon.kinesis.video.v20170930#StreamName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the stream that you want to list tags for.</p>\n      "
          }
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#ListTagsForStreamOutput": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazon.kinesis.video.v20170930#NextToken",
          "traits": {
            "smithy.api#documentation": "\n         <p>If you specify this parameter and the result of a <code>ListTags</code> call is truncated, \n      the response includes a token that you can use in the next request to fetch the \n      next set of tags.</p>\n      "
          }
        },
        "Tags": {
          "target": "com.amazon.kinesis.video.v20170930#ResourceTags",
          "traits": {
            "smithy.api#documentation": "\n         <p>A map of tag keys and values associated with the specified stream.</p>\n      "
          }
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#MediaType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "[\\w\\-\\.\\+]+/[\\w\\-\\.\\+]+(,[\\w\\-\\.\\+]+/[\\w\\-\\.\\+]+)*"
      }
    },
    "com.amazon.kinesis.video.v20170930#NextToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#NotAuthorizedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazon.kinesis.video.v20170930#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>The caller is not authorized to perform this operation.</p>\n      ",
        "smithy.api#error": "client",
        "smithy.api#httpError": 401
      }
    },
    "com.amazon.kinesis.video.v20170930#ResourceARN": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": "arn:aws:kinesisvideo:[a-z0-9-]+:[0-9]+:[a-z]+/[a-zA-Z0-9_.-]+/[0-9]+"
      }
    },
    "com.amazon.kinesis.video.v20170930#ResourceInUseException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazon.kinesis.video.v20170930#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>The stream is currently not available for this operation.</p>\n      ",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazon.kinesis.video.v20170930#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazon.kinesis.video.v20170930#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>Amazon Kinesis Video Streams can't find the stream that you specified.</p>\n      ",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazon.kinesis.video.v20170930#ResourceTags": {
      "type": "map",
      "key": {
        "target": "com.amazon.kinesis.video.v20170930#TagKey"
      },
      "value": {
        "target": "com.amazon.kinesis.video.v20170930#TagValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#Status": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "CREATING": {
            "name": "CREATING"
          },
          "ACTIVE": {
            "name": "ACTIVE"
          },
          "UPDATING": {
            "name": "UPDATING"
          },
          "DELETING": {
            "name": "DELETING"
          }
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#StreamInfo": {
      "type": "structure",
      "members": {
        "CreationTime": {
          "target": "com.amazon.kinesis.video.v20170930#Timestamp",
          "traits": {
            "smithy.api#documentation": "\n         <p>A time stamp that indicates when the stream was created.</p>\n      "
          }
        },
        "DataRetentionInHours": {
          "target": "com.amazon.kinesis.video.v20170930#DataRetentionInHours",
          "traits": {
            "smithy.api#documentation": "\n         <p>How long the stream retains data, in hours.</p>\n      "
          }
        },
        "DeviceName": {
          "target": "com.amazon.kinesis.video.v20170930#DeviceName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the device that is associated with the stream.</p>\n      "
          }
        },
        "KmsKeyId": {
          "target": "com.amazon.kinesis.video.v20170930#KmsKeyId",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ID of the AWS Key Management Service (AWS KMS) key that Kinesis Video Streams uses\n      to encrypt data on the stream.</p>\n      "
          }
        },
        "MediaType": {
          "target": "com.amazon.kinesis.video.v20170930#MediaType",
          "traits": {
            "smithy.api#documentation": "\n         <p>The <code>MediaType</code> of the stream.  </p>\n      "
          }
        },
        "Status": {
          "target": "com.amazon.kinesis.video.v20170930#Status",
          "traits": {
            "smithy.api#documentation": "\n         <p>The status of the stream.</p>\n      "
          }
        },
        "StreamARN": {
          "target": "com.amazon.kinesis.video.v20170930#ResourceARN",
          "traits": {
            "smithy.api#documentation": "\n         <p>The Amazon Resource Name (ARN) of the stream.</p>\n      "
          }
        },
        "StreamName": {
          "target": "com.amazon.kinesis.video.v20170930#StreamName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the stream.</p>\n      "
          }
        },
        "Version": {
          "target": "com.amazon.kinesis.video.v20170930#Version",
          "traits": {
            "smithy.api#documentation": "\n         <p>The version of the stream.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>An object describing a Kinesis video stream.</p>\n      "
      }
    },
    "com.amazon.kinesis.video.v20170930#StreamInfoList": {
      "type": "list",
      "member": {
        "target": "com.amazon.kinesis.video.v20170930#StreamInfo"
      }
    },
    "com.amazon.kinesis.video.v20170930#StreamName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "[a-zA-Z0-9_.-]+"
      }
    },
    "com.amazon.kinesis.video.v20170930#StreamNameCondition": {
      "type": "structure",
      "members": {
        "ComparisonOperator": {
          "target": "com.amazon.kinesis.video.v20170930#ComparisonOperator",
          "traits": {
            "smithy.api#documentation": "\n         <p>A comparison operator. Currently, you can specify only the <code>BEGINS_WITH</code> operator, which finds \n      streams whose names start with a given prefix.</p>\n      "
          }
        },
        "ComparisonValue": {
          "target": "com.amazon.kinesis.video.v20170930#StreamName",
          "traits": {
            "smithy.api#documentation": "\n         <p>A value to compare.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>Specifies the condition that streams must satisfy to be returned when you list streams (see the <code>ListStreams</code> API). \n      \n      A condition has a comparison operation and a value. \n      Currently, you can specify only the <code>BEGINS_WITH</code> operator, which finds \n      streams whose names start with a given prefix. </p>\n      "
      }
    },
    "com.amazon.kinesis.video.v20170930#TagKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#TagKeyList": {
      "type": "list",
      "member": {
        "target": "com.amazon.kinesis.video.v20170930#TagKey"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#TagStream": {
      "type": "operation",
      "input": {
        "target": "com.amazon.kinesis.video.v20170930#TagStreamInput"
      },
      "output": {
        "target": "com.amazon.kinesis.video.v20170930#TagStreamOutput"
      },
      "errors": [
        {
          "target": "com.amazon.kinesis.video.v20170930#ClientLimitExceededException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#InvalidArgumentException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#InvalidResourceFormatException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#NotAuthorizedException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#ResourceNotFoundException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#TagsPerResourceExceededLimitException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Adds one or more tags to a stream. A <i>tag</i> is a key-value pair (the\n      value is optional) that you can define and assign to AWS resources. If you specify a tag that\n      already exists, the tag value is replaced with the value that you specify in the request. For\n      more information, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html\">Using Cost Allocation\n        Tags</a> in the <i>AWS Billing and Cost Management User Guide</i>. </p>\n         <p>You must provide either the <code>StreamName</code> or the <code>StreamARN</code>.</p>\n         <p>This operation requires permission for the <code>KinesisVideo:TagStream</code> action.</p>\n         <p>Kinesis video streams support up to 50 tags.</p>\n      ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/tagStream",
          "code": 200
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#TagStreamInput": {
      "type": "structure",
      "members": {
        "StreamARN": {
          "target": "com.amazon.kinesis.video.v20170930#ResourceARN",
          "traits": {
            "smithy.api#documentation": "\n         <p>The Amazon Resource Name (ARN) of the resource that you want to add the tag or tags\n      to.</p>\n      "
          }
        },
        "StreamName": {
          "target": "com.amazon.kinesis.video.v20170930#StreamName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the stream that you want to add the tag or tags to.</p>\n      "
          }
        },
        "Tags": {
          "target": "com.amazon.kinesis.video.v20170930#ResourceTags",
          "traits": {
            "smithy.api#documentation": "\n         <p>A list of tags to associate with the specified stream. Each tag is a key-value pair\n      (the value is optional).</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#TagStreamOutput": {
      "type": "structure",
      "members": { }
    },
    "com.amazon.kinesis.video.v20170930#TagValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#TagsPerResourceExceededLimitException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazon.kinesis.video.v20170930#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>You have exceeded the limit of tags that you can associate with the resource. Kinesis video streams support up to 50 tags. </p>\n      ",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazon.kinesis.video.v20170930#Timestamp": {
      "type": "timestamp"
    },
    "com.amazon.kinesis.video.v20170930#UntagStream": {
      "type": "operation",
      "input": {
        "target": "com.amazon.kinesis.video.v20170930#UntagStreamInput"
      },
      "output": {
        "target": "com.amazon.kinesis.video.v20170930#UntagStreamOutput"
      },
      "errors": [
        {
          "target": "com.amazon.kinesis.video.v20170930#ClientLimitExceededException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#InvalidArgumentException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#InvalidResourceFormatException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#NotAuthorizedException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Removes one or more tags from a stream. In the request, specify only a tag key or keys;\n      don't specify the value. If you specify a tag key that does not exist, it's ignored.</p>\n         <p>In the request, you must provide the <code>StreamName</code> or <code>StreamARN</code>.</p>\n      ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/untagStream",
          "code": 200
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#UntagStreamInput": {
      "type": "structure",
      "members": {
        "StreamARN": {
          "target": "com.amazon.kinesis.video.v20170930#ResourceARN",
          "traits": {
            "smithy.api#documentation": "\n         <p>The Amazon Resource Name (ARN) of the stream that you want to remove tags\n      from.</p>\n      "
          }
        },
        "StreamName": {
          "target": "com.amazon.kinesis.video.v20170930#StreamName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the stream that you want to remove tags from.</p>\n      "
          }
        },
        "TagKeyList": {
          "target": "com.amazon.kinesis.video.v20170930#TagKeyList",
          "traits": {
            "smithy.api#documentation": "\n         <p>A list of the keys of the tags that you want to remove.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#UntagStreamOutput": {
      "type": "structure",
      "members": { }
    },
    "com.amazon.kinesis.video.v20170930#UpdateDataRetention": {
      "type": "operation",
      "input": {
        "target": "com.amazon.kinesis.video.v20170930#UpdateDataRetentionInput"
      },
      "output": {
        "target": "com.amazon.kinesis.video.v20170930#UpdateDataRetentionOutput"
      },
      "errors": [
        {
          "target": "com.amazon.kinesis.video.v20170930#ClientLimitExceededException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#InvalidArgumentException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#NotAuthorizedException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#ResourceInUseException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#ResourceNotFoundException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#VersionMismatchException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>\n      \n      Increases or decreases the stream's data retention period by the value that you specify.\n      To indicate whether you want to increase or decrease the \n      data retention period, specify the <code>Operation</code> parameter in the request body.\n      In the request, you must specify either the <code>StreamName</code> or the <code>StreamARN</code>.\n    </p>\n         <note>\n            <p>The retention period that you specify replaces the current value.</p>\n         </note>\n    \n         <p>This operation requires permission for the <code>KinesisVideo:UpdateDataRetention</code> action.</p>\n    \n         <p>Changing the data retention period affects the data in the stream as follows:</p>\n         <ul>\n            <li>\n               <p>If the data retention period is increased, existing data is retained for the new retention\n          period. For example, if the data retention period is increased from one hour to seven\n          hours, all existing data is retained for seven hours.</p>\n            </li>\n            <li>\n               <p>If the data retention period is decreased, existing data is retained for the new retention\n          period. For example, if the data retention period is decreased from seven hours to one\n          hour, all existing data is retained for one hour, and any data older than one hour is\n          deleted immediately.</p>\n            </li>\n         </ul>\n      ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/updateDataRetention",
          "code": 200
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#UpdateDataRetentionInput": {
      "type": "structure",
      "members": {
        "CurrentVersion": {
          "target": "com.amazon.kinesis.video.v20170930#Version",
          "traits": {
            "smithy.api#documentation": "\n         <p>The version of the stream whose retention period you want to change. To get the version, call \n      either the <code>DescribeStream</code> or the <code>ListStreams</code> API.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "DataRetentionChangeInHours": {
          "target": "com.amazon.kinesis.video.v20170930#DataRetentionChangeInHours",
          "traits": {
            "smithy.api#documentation": "\n         <p>The retention period, in hours. The value you specify replaces the current value. The maximum value for this parameter is 87600 (ten years).</p>\n      ",
            "smithy.api#required": true
          }
        },
        "Operation": {
          "target": "com.amazon.kinesis.video.v20170930#UpdateDataRetentionOperation",
          "traits": {
            "smithy.api#documentation": "\n         <p>Indicates whether you want to increase or decrease the retention period.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "StreamARN": {
          "target": "com.amazon.kinesis.video.v20170930#ResourceARN",
          "traits": {
            "smithy.api#documentation": "\n         <p>The Amazon Resource Name (ARN) of the stream whose retention period you want to\n      change.</p>\n      "
          }
        },
        "StreamName": {
          "target": "com.amazon.kinesis.video.v20170930#StreamName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the stream whose retention period you want to change.</p>\n      "
          }
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#UpdateDataRetentionOperation": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "INCREASE_DATA_RETENTION": {
            "name": "INCREASE_DATA_RETENTION"
          },
          "DECREASE_DATA_RETENTION": {
            "name": "DECREASE_DATA_RETENTION"
          }
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#UpdateDataRetentionOutput": {
      "type": "structure",
      "members": { }
    },
    "com.amazon.kinesis.video.v20170930#UpdateStream": {
      "type": "operation",
      "input": {
        "target": "com.amazon.kinesis.video.v20170930#UpdateStreamInput"
      },
      "output": {
        "target": "com.amazon.kinesis.video.v20170930#UpdateStreamOutput"
      },
      "errors": [
        {
          "target": "com.amazon.kinesis.video.v20170930#ClientLimitExceededException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#InvalidArgumentException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#NotAuthorizedException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#ResourceInUseException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#ResourceNotFoundException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#VersionMismatchException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Updates stream metadata, such as the device name and media type.</p>\n         <p>You must provide the stream name or the Amazon Resource Name (ARN) of the stream.</p>\n         <p>To make sure that you have the latest version \n      of the stream before updating it, you can specify the stream version. Kinesis Video Streams assigns a version \n      to each stream. When you update a stream, Kinesis Video Streams assigns a new version number. \n      To get the latest stream version, use the <code>DescribeStream</code> API. </p>\n         <p>\n            <code>UpdateStream</code> is an asynchronous operation, and takes time to\n      complete.</p>\n      ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/updateStream",
          "code": 200
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#UpdateStreamInput": {
      "type": "structure",
      "members": {
        "CurrentVersion": {
          "target": "com.amazon.kinesis.video.v20170930#Version",
          "traits": {
            "smithy.api#documentation": "\n         <p>The version of the stream whose metadata you want to update.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "DeviceName": {
          "target": "com.amazon.kinesis.video.v20170930#DeviceName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the device that is writing to the stream. </p>\n         <note>\n            <p>\n        In the current implementation, Kinesis Video Streams does not use this name.\n      </p>\n         </note>\n      "
          }
        },
        "MediaType": {
          "target": "com.amazon.kinesis.video.v20170930#MediaType",
          "traits": {
            "smithy.api#documentation": "\n         <p>The stream's media type. Use <code>MediaType</code> to specify the type of content that the \n      stream contains to the consumers of the stream.\n      For more information about media types, see \n      <a href=\"http://www.iana.org/assignments/media-types/media-types.xhtml\">Media Types</a>.\n      \n      If you choose to specify the <code>MediaType</code>, see \n      <a href=\"https://tools.ietf.org/html/rfc6838#section-4.2\">Naming Requirements</a>.</p>\n         <p>To play video on the console, you must specify the correct video type. For example, if\n      the video in the stream is H.264, specify <code>video/h264</code> as the\n        <code>MediaType</code>.</p>\n      "
          }
        },
        "StreamARN": {
          "target": "com.amazon.kinesis.video.v20170930#ResourceARN",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ARN of the stream whose metadata you want to update.</p>\n      "
          }
        },
        "StreamName": {
          "target": "com.amazon.kinesis.video.v20170930#StreamName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the stream whose metadata you want to update.</p>\n         <p>The stream name is an identifier for the stream, and must be unique for each account and region.</p>\n      "
          }
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#UpdateStreamOutput": {
      "type": "structure",
      "members": { }
    },
    "com.amazon.kinesis.video.v20170930#Version": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "[a-zA-Z0-9]+"
      }
    },
    "com.amazon.kinesis.video.v20170930#VersionMismatchException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazon.kinesis.video.v20170930#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>The stream version that you specified is not the latest version. To get \n      the latest version, use the \n      <a href=\"https://docs.aws.amazon.com/kinesisvideostreams/latest/dg/API_DescribeStream.html\">DescribeStream</a> API.</p>\n      ",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    }
  }
}
