{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      },
      {
        "ids": [
          "HttpUriConflict"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazon.kinesis.video.v20170930#APIName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "PUT_MEDIA": {
            "name": "PUT_MEDIA"
          },
          "GET_MEDIA": {
            "name": "GET_MEDIA"
          },
          "LIST_FRAGMENTS": {
            "name": "LIST_FRAGMENTS"
          },
          "GET_MEDIA_FOR_FRAGMENT_LIST": {
            "name": "GET_MEDIA_FOR_FRAGMENT_LIST"
          },
          "GET_HLS_STREAMING_SESSION_URL": {
            "name": "GET_HLS_STREAMING_SESSION_URL"
          },
          "GET_DASH_STREAMING_SESSION_URL": {
            "name": "GET_DASH_STREAMING_SESSION_URL"
          }
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazon.kinesis.video.v20170930#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have required permissions to perform this operation.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 401
      }
    },
    "com.amazon.kinesis.video.v20170930#AccountChannelLimitExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazon.kinesis.video.v20170930#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You have reached the maximum limit of active signaling channels for this AWS account\n            in this region.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazon.kinesis.video.v20170930#AccountStreamLimitExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazon.kinesis.video.v20170930#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The number of streams created for the account is too high.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazon.kinesis.video.v20170930#ChannelInfo": {
      "type": "structure",
      "members": {
        "ChannelARN": {
          "target": "com.amazon.kinesis.video.v20170930#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the signaling channel.</p>"
          }
        },
        "ChannelName": {
          "target": "com.amazon.kinesis.video.v20170930#ChannelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the signaling channel.</p>"
          }
        },
        "ChannelStatus": {
          "target": "com.amazon.kinesis.video.v20170930#Status",
          "traits": {
            "smithy.api#documentation": "<p>Current status of the signaling channel.</p>"
          }
        },
        "ChannelType": {
          "target": "com.amazon.kinesis.video.v20170930#ChannelType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the signaling channel.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazon.kinesis.video.v20170930#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the signaling channel was created.</p>"
          }
        },
        "SingleMasterConfiguration": {
          "target": "com.amazon.kinesis.video.v20170930#SingleMasterConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains the configuration for the <code>SINGLE_MASTER</code> channel\n            type.</p>"
          }
        },
        "Version": {
          "target": "com.amazon.kinesis.video.v20170930#Version",
          "traits": {
            "smithy.api#documentation": "<p>The current version of the signaling channel.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure that encapsulates a signaling channel's metadata and properties.</p>"
      }
    },
    "com.amazon.kinesis.video.v20170930#ChannelInfoList": {
      "type": "list",
      "member": {
        "target": "com.amazon.kinesis.video.v20170930#ChannelInfo"
      }
    },
    "com.amazon.kinesis.video.v20170930#ChannelName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "[a-zA-Z0-9_.-]+"
      }
    },
    "com.amazon.kinesis.video.v20170930#ChannelNameCondition": {
      "type": "structure",
      "members": {
        "ComparisonOperator": {
          "target": "com.amazon.kinesis.video.v20170930#ComparisonOperator",
          "traits": {
            "smithy.api#documentation": "<p>A comparison operator. Currently, you can only specify the <code>BEGINS_WITH</code>\n            operator, which finds signaling channels whose names begin with a given prefix.</p>"
          }
        },
        "ComparisonValue": {
          "target": "com.amazon.kinesis.video.v20170930#ChannelName",
          "traits": {
            "smithy.api#documentation": "<p>A value to compare.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An optional input parameter for the <code>ListSignalingChannels</code> API. When this\n            parameter is specified while invoking <code>ListSignalingChannels</code>, the API\n            returns only the channels that satisfy a condition specified in\n                <code>ChannelNameCondition</code>.</p>"
      }
    },
    "com.amazon.kinesis.video.v20170930#ChannelProtocol": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "WSS": {
            "name": "WSS"
          },
          "HTTPS": {
            "name": "HTTPS"
          }
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#ChannelRole": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "MASTER": {
            "name": "MASTER"
          },
          "VIEWER": {
            "name": "VIEWER"
          }
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#ChannelType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "SINGLE_MASTER": {
            "name": "SINGLE_MASTER"
          }
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#ClientLimitExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazon.kinesis.video.v20170930#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Kinesis Video Streams has throttled the request because you have exceeded the limit of\n            allowed client calls. Try making the call later.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazon.kinesis.video.v20170930#ComparisonOperator": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "BEGINS_WITH": {
            "name": "BEGINS_WITH"
          }
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#CreateSignalingChannel": {
      "type": "operation",
      "input": {
        "target": "com.amazon.kinesis.video.v20170930#CreateSignalingChannelInput"
      },
      "output": {
        "target": "com.amazon.kinesis.video.v20170930#CreateSignalingChannelOutput"
      },
      "errors": [
        {
          "target": "com.amazon.kinesis.video.v20170930#AccessDeniedException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#AccountChannelLimitExceededException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#ClientLimitExceededException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#InvalidArgumentException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#ResourceInUseException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#TagsPerResourceExceededLimitException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a signaling channel. </p>\n        <p>\n            <code>CreateSignalingChannel</code> is an asynchronous operation.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/createSignalingChannel",
          "code": 200
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#CreateSignalingChannelInput": {
      "type": "structure",
      "members": {
        "ChannelName": {
          "target": "com.amazon.kinesis.video.v20170930#ChannelName",
          "traits": {
            "smithy.api#documentation": "<p>A name for the signaling channel that you are creating. It must be unique for each\n            account and region.</p>",
            "smithy.api#required": true
          }
        },
        "ChannelType": {
          "target": "com.amazon.kinesis.video.v20170930#ChannelType",
          "traits": {
            "smithy.api#documentation": "<p>A type of the signaling channel that you are creating. Currently,\n                <code>SINGLE_MASTER</code> is the only supported channel type. </p>"
          }
        },
        "SingleMasterConfiguration": {
          "target": "com.amazon.kinesis.video.v20170930#SingleMasterConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>A structure containing the configuration for the <code>SINGLE_MASTER</code> channel\n            type. </p>"
          }
        },
        "Tags": {
          "target": "com.amazon.kinesis.video.v20170930#TagOnCreateList",
          "traits": {
            "smithy.api#documentation": "<p>A set of tags (key/value pairs) that you want to associate with this channel.</p>"
          }
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#CreateSignalingChannelOutput": {
      "type": "structure",
      "members": {
        "ChannelARN": {
          "target": "com.amazon.kinesis.video.v20170930#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the created channel.</p>"
          }
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#CreateStream": {
      "type": "operation",
      "input": {
        "target": "com.amazon.kinesis.video.v20170930#CreateStreamInput"
      },
      "output": {
        "target": "com.amazon.kinesis.video.v20170930#CreateStreamOutput"
      },
      "errors": [
        {
          "target": "com.amazon.kinesis.video.v20170930#AccountStreamLimitExceededException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#ClientLimitExceededException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#DeviceStreamLimitExceededException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#InvalidArgumentException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#InvalidDeviceException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#ResourceInUseException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#TagsPerResourceExceededLimitException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new Kinesis video stream. </p>\n\n        <p>When you create a new stream, Kinesis Video Streams assigns it a version number.\n            When you change the stream's metadata, Kinesis Video Streams updates the version. </p>\n        <p>\n            <code>CreateStream</code> is an asynchronous operation.</p>\n        <p>For information about how the service works, see <a href=\"https://docs.aws.amazon.com/kinesisvideostreams/latest/dg/how-it-works.html\">How it Works</a>. </p>\n        <p>You must have permissions for the <code>KinesisVideo:CreateStream</code>\n            action.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/createStream",
          "code": 200
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#CreateStreamInput": {
      "type": "structure",
      "members": {
        "DataRetentionInHours": {
          "target": "com.amazon.kinesis.video.v20170930#DataRetentionInHours",
          "traits": {
            "smithy.api#documentation": "<p>The number of hours that you want to retain the data in the stream. Kinesis Video\n            Streams retains the data in a data store that is associated with the stream.</p>\n        <p>The default value is 0, indicating that the stream does not persist data.</p>\n        <p>When the <code>DataRetentionInHours</code> value is 0, consumers can still consume\n            the fragments that remain in the service host buffer, which has a retention time limit\n            of 5 minutes and a retention memory limit of 200 MB. Fragments are removed from the\n            buffer when either limit is reached.</p>"
          }
        },
        "DeviceName": {
          "target": "com.amazon.kinesis.video.v20170930#DeviceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the device that is writing to the stream. </p>\n        <note>\n            <p>In the current implementation, Kinesis Video Streams does not use this\n                name.</p>\n        </note>"
          }
        },
        "KmsKeyId": {
          "target": "com.amazon.kinesis.video.v20170930#KmsKeyId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the AWS Key Management Service (AWS KMS) key that you want Kinesis Video\n            Streams to use to encrypt stream data.</p>\n        <p>If no key ID is specified, the default, Kinesis Video-managed key\n                (<code>aws/kinesisvideo</code>) is used.</p>\n        <p> For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/APIReference/API_DescribeKey.html#API_DescribeKey_RequestParameters\">DescribeKey</a>. </p>"
          }
        },
        "MediaType": {
          "target": "com.amazon.kinesis.video.v20170930#MediaType",
          "traits": {
            "smithy.api#documentation": "<p>The media type of the stream. Consumers of the stream can use this information when\n            processing the stream. For more information about media types, see <a href=\"http://www.iana.org/assignments/media-types/media-types.xhtml\">Media\n                Types</a>. If you choose to specify the <code>MediaType</code>, see <a href=\"https://tools.ietf.org/html/rfc6838#section-4.2\">Naming Requirements</a>\n            for guidelines.</p>\n\n        <p>Example valid values include \"video/h264\" and \"video/h264,audio/aac\".</p>\n        <p>This parameter is optional; the default value is <code>null</code> (or empty in\n            JSON).</p>"
          }
        },
        "StreamName": {
          "target": "com.amazon.kinesis.video.v20170930#StreamName",
          "traits": {
            "smithy.api#documentation": "<p>A name for the stream that you are creating.</p>\n        <p>The stream name is an identifier for the stream, and must be unique for each\n            account and region.</p>",
            "smithy.api#required": true
          }
        },
        "Tags": {
          "target": "com.amazon.kinesis.video.v20170930#ResourceTags",
          "traits": {
            "smithy.api#documentation": "<p>A list of tags to associate with the specified stream. Each tag is a key-value pair\n            (the value is optional).</p>"
          }
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#CreateStreamOutput": {
      "type": "structure",
      "members": {
        "StreamARN": {
          "target": "com.amazon.kinesis.video.v20170930#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the stream.</p>"
          }
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#DataEndpoint": {
      "type": "string"
    },
    "com.amazon.kinesis.video.v20170930#DataRetentionChangeInHours": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 1
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#DataRetentionInHours": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#DeleteSignalingChannel": {
      "type": "operation",
      "input": {
        "target": "com.amazon.kinesis.video.v20170930#DeleteSignalingChannelInput"
      },
      "output": {
        "target": "com.amazon.kinesis.video.v20170930#DeleteSignalingChannelOutput"
      },
      "errors": [
        {
          "target": "com.amazon.kinesis.video.v20170930#AccessDeniedException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#ClientLimitExceededException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#InvalidArgumentException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#ResourceNotFoundException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#VersionMismatchException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a specified signaling channel. <code>DeleteSignalingChannel</code> is an\n            asynchronous operation. If you don't specify the channel's current version, the most\n            recent version is deleted.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/deleteSignalingChannel",
          "code": 200
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#DeleteSignalingChannelInput": {
      "type": "structure",
      "members": {
        "ChannelARN": {
          "target": "com.amazon.kinesis.video.v20170930#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the signaling channel that you want to delete.</p>",
            "smithy.api#required": true
          }
        },
        "CurrentVersion": {
          "target": "com.amazon.kinesis.video.v20170930#Version",
          "traits": {
            "smithy.api#documentation": "<p>The current version of the signaling channel that you want to delete. You can obtain\n            the current version by invoking the <code>DescribeSignalingChannel</code> or\n                <code>ListSignalingChannels</code> APIs.</p>"
          }
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#DeleteSignalingChannelOutput": {
      "type": "structure",
      "members": { }
    },
    "com.amazon.kinesis.video.v20170930#DeleteStream": {
      "type": "operation",
      "input": {
        "target": "com.amazon.kinesis.video.v20170930#DeleteStreamInput"
      },
      "output": {
        "target": "com.amazon.kinesis.video.v20170930#DeleteStreamOutput"
      },
      "errors": [
        {
          "target": "com.amazon.kinesis.video.v20170930#ClientLimitExceededException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#InvalidArgumentException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#NotAuthorizedException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#ResourceNotFoundException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#VersionMismatchException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a Kinesis video stream and the data contained in the stream. </p>\n        <p>This method marks the stream for deletion, and makes the data in the stream\n            inaccessible immediately.</p>\n        <p> </p>\n        <p> To ensure that you have the latest version of the stream before deleting it, you\n            can specify the stream version. Kinesis Video Streams assigns a version to each stream.\n            When you update a stream, Kinesis Video Streams assigns a new version number. To get the\n            latest stream version, use the <code>DescribeStream</code> API. </p>\n        <p>This operation requires permission for the <code>KinesisVideo:DeleteStream</code>\n            action.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/deleteStream",
          "code": 200
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#DeleteStreamInput": {
      "type": "structure",
      "members": {
        "CurrentVersion": {
          "target": "com.amazon.kinesis.video.v20170930#Version",
          "traits": {
            "smithy.api#documentation": "<p>Optional: The version of the stream that you want to delete. </p>\n        <p>Specify the version as a safeguard to ensure that your are deleting the correct\n            stream. To get the stream version, use the <code>DescribeStream</code> API.</p>\n        <p>If not specified, only the <code>CreationTime</code> is checked before deleting the\n            stream.</p>"
          }
        },
        "StreamARN": {
          "target": "com.amazon.kinesis.video.v20170930#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the stream that you want to delete. </p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#DeleteStreamOutput": {
      "type": "structure",
      "members": { }
    },
    "com.amazon.kinesis.video.v20170930#DescribeSignalingChannel": {
      "type": "operation",
      "input": {
        "target": "com.amazon.kinesis.video.v20170930#DescribeSignalingChannelInput"
      },
      "output": {
        "target": "com.amazon.kinesis.video.v20170930#DescribeSignalingChannelOutput"
      },
      "errors": [
        {
          "target": "com.amazon.kinesis.video.v20170930#AccessDeniedException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#ClientLimitExceededException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#InvalidArgumentException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the most current information about the signaling channel. You must specify\n            either the name or the ARN of the channel that you want to describe.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/describeSignalingChannel",
          "code": 200
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#DescribeSignalingChannelInput": {
      "type": "structure",
      "members": {
        "ChannelARN": {
          "target": "com.amazon.kinesis.video.v20170930#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the signaling channel that you want to describe.</p>"
          }
        },
        "ChannelName": {
          "target": "com.amazon.kinesis.video.v20170930#ChannelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the signaling channel that you want to describe.</p>"
          }
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#DescribeSignalingChannelOutput": {
      "type": "structure",
      "members": {
        "ChannelInfo": {
          "target": "com.amazon.kinesis.video.v20170930#ChannelInfo",
          "traits": {
            "smithy.api#documentation": "<p>A structure that encapsulates the specified signaling channel's metadata and\n            properties.</p>"
          }
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#DescribeStream": {
      "type": "operation",
      "input": {
        "target": "com.amazon.kinesis.video.v20170930#DescribeStreamInput"
      },
      "output": {
        "target": "com.amazon.kinesis.video.v20170930#DescribeStreamOutput"
      },
      "errors": [
        {
          "target": "com.amazon.kinesis.video.v20170930#ClientLimitExceededException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#InvalidArgumentException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#NotAuthorizedException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the most current information about the specified stream. You must specify\n            either the <code>StreamName</code> or the <code>StreamARN</code>. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/describeStream",
          "code": 200
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#DescribeStreamInput": {
      "type": "structure",
      "members": {
        "StreamARN": {
          "target": "com.amazon.kinesis.video.v20170930#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the stream.</p>"
          }
        },
        "StreamName": {
          "target": "com.amazon.kinesis.video.v20170930#StreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stream.</p>"
          }
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#DescribeStreamOutput": {
      "type": "structure",
      "members": {
        "StreamInfo": {
          "target": "com.amazon.kinesis.video.v20170930#StreamInfo",
          "traits": {
            "smithy.api#documentation": "<p>An object that describes the stream.</p>"
          }
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#DeviceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "[a-zA-Z0-9_.-]+"
      }
    },
    "com.amazon.kinesis.video.v20170930#DeviceStreamLimitExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazon.kinesis.video.v20170930#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Not implemented.\n            </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazon.kinesis.video.v20170930#ErrorMessage": {
      "type": "string"
    },
    "com.amazon.kinesis.video.v20170930#GetDataEndpoint": {
      "type": "operation",
      "input": {
        "target": "com.amazon.kinesis.video.v20170930#GetDataEndpointInput"
      },
      "output": {
        "target": "com.amazon.kinesis.video.v20170930#GetDataEndpointOutput"
      },
      "errors": [
        {
          "target": "com.amazon.kinesis.video.v20170930#ClientLimitExceededException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#InvalidArgumentException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#NotAuthorizedException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets an endpoint for a specified stream for either reading or writing. Use this\n            endpoint in your application to read from the specified stream (using the\n                <code>GetMedia</code> or <code>GetMediaForFragmentList</code> operations) or write\n            to it (using the <code>PutMedia</code> operation).\n            </p>\n        <note>\n            <p>The returned endpoint does not have the API name appended. The client needs to\n                add the API name to the returned endpoint.</p>\n        </note>\n\n        <p>In the request, specify the stream either by <code>StreamName</code> or\n                <code>StreamARN</code>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/getDataEndpoint",
          "code": 200
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#GetDataEndpointInput": {
      "type": "structure",
      "members": {
        "APIName": {
          "target": "com.amazon.kinesis.video.v20170930#APIName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the API action for which to get an endpoint.</p>",
            "smithy.api#required": true
          }
        },
        "StreamARN": {
          "target": "com.amazon.kinesis.video.v20170930#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the stream that you want to get the endpoint for.\n            You must specify either this parameter or a <code>StreamName</code> in the request.\n        </p>"
          }
        },
        "StreamName": {
          "target": "com.amazon.kinesis.video.v20170930#StreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stream that you want to get the endpoint for. You must specify\n            either this parameter or a <code>StreamARN</code> in the request.</p>"
          }
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#GetDataEndpointOutput": {
      "type": "structure",
      "members": {
        "DataEndpoint": {
          "target": "com.amazon.kinesis.video.v20170930#DataEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint value. To read data from the stream or to write data to it, specify\n            this endpoint in your application.</p>"
          }
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#GetSignalingChannelEndpoint": {
      "type": "operation",
      "input": {
        "target": "com.amazon.kinesis.video.v20170930#GetSignalingChannelEndpointInput"
      },
      "output": {
        "target": "com.amazon.kinesis.video.v20170930#GetSignalingChannelEndpointOutput"
      },
      "errors": [
        {
          "target": "com.amazon.kinesis.video.v20170930#AccessDeniedException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#ClientLimitExceededException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#InvalidArgumentException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#ResourceInUseException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides an endpoint for the specified signaling channel to send and receive messages.\n            This API uses the <code>SingleMasterChannelEndpointConfiguration</code> input parameter,\n            which consists of the <code>Protocols</code> and <code>Role</code> properties.</p>\n        <p>\n            <code>Protocols</code> is used to determine the communication mechanism. For example,\n            specifying <code>WSS</code> as the protocol, results in this API producing a secure websocket\n            endpoint, and specifying <code>HTTPS</code> as the protocol, results in this API\n            generating an HTTPS endpoint. </p>\n        <p>\n            <code>Role</code> determines the messaging permissions. A <code>MASTER</code> role\n            results in this API generating an endpoint that a client can use to communicate with any\n            of the viewers on the channel. A <code>VIEWER</code> role results in this API generating\n            an endpoint that a client can use to communicate only with a\n                <code>MASTER</code>. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/getSignalingChannelEndpoint",
          "code": 200
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#GetSignalingChannelEndpointInput": {
      "type": "structure",
      "members": {
        "ChannelARN": {
          "target": "com.amazon.kinesis.video.v20170930#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the signalling channel for which you want to get an endpoint.</p>",
            "smithy.api#required": true
          }
        },
        "SingleMasterChannelEndpointConfiguration": {
          "target": "com.amazon.kinesis.video.v20170930#SingleMasterChannelEndpointConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>A structure containing the endpoint configuration for the <code>SINGLE_MASTER</code>\n            channel type.</p>"
          }
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#GetSignalingChannelEndpointOutput": {
      "type": "structure",
      "members": {
        "ResourceEndpointList": {
          "target": "com.amazon.kinesis.video.v20170930#ResourceEndpointList",
          "traits": {
            "smithy.api#documentation": "<p>A list of endpoints for the specified signaling channel.</p>"
          }
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#InvalidArgumentException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazon.kinesis.video.v20170930#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The value for this input parameter is invalid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazon.kinesis.video.v20170930#InvalidDeviceException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazon.kinesis.video.v20170930#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Not implemented.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazon.kinesis.video.v20170930#InvalidResourceFormatException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazon.kinesis.video.v20170930#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The format of the <code>StreamARN</code> is invalid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazon.kinesis.video.v20170930#KinesisVideo_20170930": {
      "type": "service",
      "version": "2017-09-30",
      "operations": [
        {
          "target": "com.amazon.kinesis.video.v20170930#CreateSignalingChannel"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#CreateStream"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#DeleteSignalingChannel"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#DeleteStream"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#DescribeSignalingChannel"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#DescribeStream"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#GetDataEndpoint"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#GetSignalingChannelEndpoint"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#ListSignalingChannels"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#ListStreams"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#ListTagsForResource"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#ListTagsForStream"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#TagResource"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#TagStream"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#UntagResource"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#UntagStream"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#UpdateDataRetention"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#UpdateSignalingChannel"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#UpdateStream"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Kinesis Video",
          "arnNamespace": "kinesisvideo",
          "cloudFormationName": "KinesisVideo",
          "cloudTrailEventSource": "v20170930.video.kinesis.amazon.com"
        },
        "smithy.api#documentation": "<p></p>",
        "smithy.api#protocols": [
          {
            "name": "aws.rest-json-1.1",
            "auth": [
              "aws.v4"
            ]
          }
        ],
        "smithy.api#title": "Amazon Kinesis Video Streams",
        "smithy.api#xmlNamespace": {
          "uri": "https://kinesisvideo.amazonaws.com/doc/2017-09-30/"
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#KmsKeyId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#ListOfProtocols": {
      "type": "list",
      "member": {
        "target": "com.amazon.kinesis.video.v20170930#ChannelProtocol"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#ListSignalingChannels": {
      "type": "operation",
      "input": {
        "target": "com.amazon.kinesis.video.v20170930#ListSignalingChannelsInput"
      },
      "output": {
        "target": "com.amazon.kinesis.video.v20170930#ListSignalingChannelsOutput"
      },
      "errors": [
        {
          "target": "com.amazon.kinesis.video.v20170930#AccessDeniedException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#ClientLimitExceededException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#InvalidArgumentException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns an array of <code>ChannelInfo</code> objects. Each object describes a\n            signaling channel. To retrieve only those channels that satisfy a specific condition, you can\n            specify a <code>ChannelNameCondition</code>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/listSignalingChannels",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "ChannelInfoList",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#ListSignalingChannelsInput": {
      "type": "structure",
      "members": {
        "ChannelNameCondition": {
          "target": "com.amazon.kinesis.video.v20170930#ChannelNameCondition",
          "traits": {
            "smithy.api#documentation": "<p>Optional: Returns only the channels that satisfy a specific condition.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazon.kinesis.video.v20170930#ListStreamsInputLimit",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of channels to return in the response. The default is 500.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazon.kinesis.video.v20170930#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If you specify this parameter, when the result of a <code>ListSignalingChannels</code>\n            operation is truncated, the call returns the <code>NextToken</code> in the response. To\n            get another batch of channels, provide this token in your next request.</p>"
          }
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#ListSignalingChannelsOutput": {
      "type": "structure",
      "members": {
        "ChannelInfoList": {
          "target": "com.amazon.kinesis.video.v20170930#ChannelInfoList",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>ChannelInfo</code> objects.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazon.kinesis.video.v20170930#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If the response is truncated, the call returns this element with a token. To get the\n            next batch of streams, use this token in your next request.</p>"
          }
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#ListStreams": {
      "type": "operation",
      "input": {
        "target": "com.amazon.kinesis.video.v20170930#ListStreamsInput"
      },
      "output": {
        "target": "com.amazon.kinesis.video.v20170930#ListStreamsOutput"
      },
      "errors": [
        {
          "target": "com.amazon.kinesis.video.v20170930#ClientLimitExceededException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#InvalidArgumentException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns an array of <code>StreamInfo</code> objects. Each object describes a\n            stream. To retrieve only streams that satisfy a specific condition, you can specify a\n                <code>StreamNameCondition</code>. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/listStreams",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "StreamInfoList",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#ListStreamsInput": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazon.kinesis.video.v20170930#ListStreamsInputLimit",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of streams to return in the response. The default is\n            10,000.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazon.kinesis.video.v20170930#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If you specify this parameter, when the result of a <code>ListStreams</code>\n            operation is truncated, the call returns the <code>NextToken</code> in the response. To\n            get another batch of streams, provide this token in your next request.</p>"
          }
        },
        "StreamNameCondition": {
          "target": "com.amazon.kinesis.video.v20170930#StreamNameCondition",
          "traits": {
            "smithy.api#documentation": "<p>Optional: Returns only streams that satisfy a specific condition. Currently, you\n            can specify only the prefix of a stream name as a condition. </p>"
          }
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#ListStreamsInputLimit": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 1,
          "max": 10000
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#ListStreamsOutput": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazon.kinesis.video.v20170930#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If the response is truncated, the call returns this element with a token. To get\n            the next batch of streams, use this token in your next request. </p>"
          }
        },
        "StreamInfoList": {
          "target": "com.amazon.kinesis.video.v20170930#StreamInfoList",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>StreamInfo</code> objects.</p>"
          }
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazon.kinesis.video.v20170930#ListTagsForResourceInput"
      },
      "output": {
        "target": "com.amazon.kinesis.video.v20170930#ListTagsForResourceOutput"
      },
      "errors": [
        {
          "target": "com.amazon.kinesis.video.v20170930#AccessDeniedException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#ClientLimitExceededException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#InvalidArgumentException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of tags associated with the specified signaling channel.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ListTagsForResource",
          "code": 200
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#ListTagsForResourceInput": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazon.kinesis.video.v20170930#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If you specify this parameter and the result of a ListTagsForResource call is\n            truncated, the response includes a token that you can use in the next request to fetch\n            the next batch of tags. </p>"
          }
        },
        "ResourceARN": {
          "target": "com.amazon.kinesis.video.v20170930#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the signaling channel for which you want to list tags.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#ListTagsForResourceOutput": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazon.kinesis.video.v20170930#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If you specify this parameter and the result of a ListTagsForResource call is\n            truncated, the response includes a token that you can use in the next request to fetch\n            the next set of tags. </p>"
          }
        },
        "Tags": {
          "target": "com.amazon.kinesis.video.v20170930#ResourceTags",
          "traits": {
            "smithy.api#documentation": "<p>A map of tag keys and values associated with the specified signaling channel.</p>"
          }
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#ListTagsForStream": {
      "type": "operation",
      "input": {
        "target": "com.amazon.kinesis.video.v20170930#ListTagsForStreamInput"
      },
      "output": {
        "target": "com.amazon.kinesis.video.v20170930#ListTagsForStreamOutput"
      },
      "errors": [
        {
          "target": "com.amazon.kinesis.video.v20170930#ClientLimitExceededException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#InvalidArgumentException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#InvalidResourceFormatException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#NotAuthorizedException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of tags associated with the specified stream.</p>\n        <p>In the request, you must specify either the <code>StreamName</code> or the\n                <code>StreamARN</code>. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/listTagsForStream",
          "code": 200
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#ListTagsForStreamInput": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazon.kinesis.video.v20170930#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If you specify this parameter and the result of a <code>ListTagsForStream</code>\n            call is truncated, the response includes a token that you can use in the next request to\n            fetch the next batch of tags.</p>"
          }
        },
        "StreamARN": {
          "target": "com.amazon.kinesis.video.v20170930#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the stream that you want to list tags\n            for.</p>"
          }
        },
        "StreamName": {
          "target": "com.amazon.kinesis.video.v20170930#StreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stream that you want to list tags for.</p>"
          }
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#ListTagsForStreamOutput": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazon.kinesis.video.v20170930#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If you specify this parameter and the result of a <code>ListTags</code> call is\n            truncated, the response includes a token that you can use in the next request to fetch\n            the next set of tags.</p>"
          }
        },
        "Tags": {
          "target": "com.amazon.kinesis.video.v20170930#ResourceTags",
          "traits": {
            "smithy.api#documentation": "<p>A map of tag keys and values associated with the specified stream.</p>"
          }
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#MediaType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "[\\w\\-\\.\\+]+/[\\w\\-\\.\\+]+(,[\\w\\-\\.\\+]+/[\\w\\-\\.\\+]+)*"
      }
    },
    "com.amazon.kinesis.video.v20170930#MessageTtlSeconds": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 5,
          "max": 120
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#NextToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": "[a-zA-Z0-9+/=]*"
      }
    },
    "com.amazon.kinesis.video.v20170930#NotAuthorizedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazon.kinesis.video.v20170930#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The caller is not authorized to perform this operation.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 401
      }
    },
    "com.amazon.kinesis.video.v20170930#ResourceARN": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": "arn:aws:kinesisvideo:[a-z0-9-]+:[0-9]+:[a-z]+/[a-zA-Z0-9_.-]+/[0-9]+"
      }
    },
    "com.amazon.kinesis.video.v20170930#ResourceEndpoint": {
      "type": "string"
    },
    "com.amazon.kinesis.video.v20170930#ResourceEndpointList": {
      "type": "list",
      "member": {
        "target": "com.amazon.kinesis.video.v20170930#ResourceEndpointListItem"
      }
    },
    "com.amazon.kinesis.video.v20170930#ResourceEndpointListItem": {
      "type": "structure",
      "members": {
        "Protocol": {
          "target": "com.amazon.kinesis.video.v20170930#ChannelProtocol",
          "traits": {
            "smithy.api#documentation": "<p>The protocol of the signaling channel returned by the\n                <code>GetSignalingChannelEndpoint</code> API.</p>"
          }
        },
        "ResourceEndpoint": {
          "target": "com.amazon.kinesis.video.v20170930#ResourceEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint of the signaling channel returned by the\n                <code>GetSignalingChannelEndpoint</code> API.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that describes the endpoint of the signaling channel returned by the\n                <code>GetSignalingChannelEndpoint</code> API.</p>"
      }
    },
    "com.amazon.kinesis.video.v20170930#ResourceInUseException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazon.kinesis.video.v20170930#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The stream is currently not available for this operation.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazon.kinesis.video.v20170930#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazon.kinesis.video.v20170930#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Amazon Kinesis Video Streams can't find the stream that you specified.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazon.kinesis.video.v20170930#ResourceTags": {
      "type": "map",
      "key": {
        "target": "com.amazon.kinesis.video.v20170930#TagKey"
      },
      "value": {
        "target": "com.amazon.kinesis.video.v20170930#TagValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#SingleMasterChannelEndpointConfiguration": {
      "type": "structure",
      "members": {
        "Protocols": {
          "target": "com.amazon.kinesis.video.v20170930#ListOfProtocols",
          "traits": {
            "smithy.api#documentation": "<p>This property is used to determine the nature of communication over this\n                <code>SINGLE_MASTER</code> signaling channel. If <code>WSS</code> is specified, this\n            API returns a websocket endpoint. If <code>HTTPS</code> is specified, this API returns\n            an <code>HTTPS</code> endpoint.</p>"
          }
        },
        "Role": {
          "target": "com.amazon.kinesis.video.v20170930#ChannelRole",
          "traits": {
            "smithy.api#documentation": "<p>This property is used to determine messaging permissions in this\n                <code>SINGLE_MASTER</code> signaling channel. If <code>MASTER</code> is specified,\n            this API returns an endpoint that a client can use to receive offers from and send\n            answers to any of the viewers on this signaling channel. If <code>VIEWER</code> is\n            specified, this API returns an endpoint that a client can use only to send offers to\n            another <code>MASTER</code> client on this signaling channel. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that contains the endpoint configuration for the <code>SINGLE_MASTER</code>\n            channel type. </p>"
      }
    },
    "com.amazon.kinesis.video.v20170930#SingleMasterConfiguration": {
      "type": "structure",
      "members": {
        "MessageTtlSeconds": {
          "target": "com.amazon.kinesis.video.v20170930#MessageTtlSeconds",
          "traits": {
            "smithy.api#documentation": "<p>The period of time a signaling channel retains underlivered messages before they are\n            discarded.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure that contains the configuration for the <code>SINGLE_MASTER</code> channel\n            type.</p>"
      }
    },
    "com.amazon.kinesis.video.v20170930#Status": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "CREATING": {
            "name": "CREATING"
          },
          "ACTIVE": {
            "name": "ACTIVE"
          },
          "UPDATING": {
            "name": "UPDATING"
          },
          "DELETING": {
            "name": "DELETING"
          }
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#StreamInfo": {
      "type": "structure",
      "members": {
        "CreationTime": {
          "target": "com.amazon.kinesis.video.v20170930#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A time stamp that indicates when the stream was created.</p>"
          }
        },
        "DataRetentionInHours": {
          "target": "com.amazon.kinesis.video.v20170930#DataRetentionInHours",
          "traits": {
            "smithy.api#documentation": "<p>How long the stream retains data, in hours.</p>"
          }
        },
        "DeviceName": {
          "target": "com.amazon.kinesis.video.v20170930#DeviceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the device that is associated with the stream.</p>"
          }
        },
        "KmsKeyId": {
          "target": "com.amazon.kinesis.video.v20170930#KmsKeyId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the AWS Key Management Service (AWS KMS) key that Kinesis Video Streams\n            uses to encrypt data on the stream.</p>"
          }
        },
        "MediaType": {
          "target": "com.amazon.kinesis.video.v20170930#MediaType",
          "traits": {
            "smithy.api#documentation": "<p>The <code>MediaType</code> of the stream. </p>"
          }
        },
        "Status": {
          "target": "com.amazon.kinesis.video.v20170930#Status",
          "traits": {
            "smithy.api#documentation": "<p>The status of the stream.</p>"
          }
        },
        "StreamARN": {
          "target": "com.amazon.kinesis.video.v20170930#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the stream.</p>"
          }
        },
        "StreamName": {
          "target": "com.amazon.kinesis.video.v20170930#StreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stream.</p>"
          }
        },
        "Version": {
          "target": "com.amazon.kinesis.video.v20170930#Version",
          "traits": {
            "smithy.api#documentation": "<p>The version of the stream.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object describing a Kinesis video stream.</p>"
      }
    },
    "com.amazon.kinesis.video.v20170930#StreamInfoList": {
      "type": "list",
      "member": {
        "target": "com.amazon.kinesis.video.v20170930#StreamInfo"
      }
    },
    "com.amazon.kinesis.video.v20170930#StreamName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "[a-zA-Z0-9_.-]+"
      }
    },
    "com.amazon.kinesis.video.v20170930#StreamNameCondition": {
      "type": "structure",
      "members": {
        "ComparisonOperator": {
          "target": "com.amazon.kinesis.video.v20170930#ComparisonOperator",
          "traits": {
            "smithy.api#documentation": "<p>A comparison operator. Currently, you can specify only the <code>BEGINS_WITH</code>\n            operator, which finds streams whose names start with a given prefix.</p>"
          }
        },
        "ComparisonValue": {
          "target": "com.amazon.kinesis.video.v20170930#StreamName",
          "traits": {
            "smithy.api#documentation": "<p>A value to compare.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the condition that streams must satisfy to be returned when you list\n            streams (see the <code>ListStreams</code> API). A condition has a comparison operation\n            and a value. Currently, you can specify only the <code>BEGINS_WITH</code> operator,\n            which finds streams whose names start with a given prefix. </p>"
      }
    },
    "com.amazon.kinesis.video.v20170930#Tag": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazon.kinesis.video.v20170930#TagKey",
          "traits": {
            "smithy.api#documentation": "<p>The key of the tag that is associated with the specified signaling channel.</p>",
            "smithy.api#required": true
          }
        },
        "Value": {
          "target": "com.amazon.kinesis.video.v20170930#TagValue",
          "traits": {
            "smithy.api#documentation": "<p>The value of the tag that is associated with the specified signaling channel.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A key and value pair that is associated with the specified signaling channel.</p>"
      }
    },
    "com.amazon.kinesis.video.v20170930#TagKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
      }
    },
    "com.amazon.kinesis.video.v20170930#TagKeyList": {
      "type": "list",
      "member": {
        "target": "com.amazon.kinesis.video.v20170930#TagKey"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#TagList": {
      "type": "list",
      "member": {
        "target": "com.amazon.kinesis.video.v20170930#Tag"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#TagOnCreateList": {
      "type": "list",
      "member": {
        "target": "com.amazon.kinesis.video.v20170930#Tag"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#TagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazon.kinesis.video.v20170930#TagResourceInput"
      },
      "output": {
        "target": "com.amazon.kinesis.video.v20170930#TagResourceOutput"
      },
      "errors": [
        {
          "target": "com.amazon.kinesis.video.v20170930#AccessDeniedException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#ClientLimitExceededException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#InvalidArgumentException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#ResourceNotFoundException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#TagsPerResourceExceededLimitException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds one or more tags to a signaling channel. A <i>tag</i> is a\n            key-value pair (the value is optional) that you can define and assign to AWS resources.\n            If you specify a tag that already exists, the tag value is replaced with the value that\n            you specify in the request. For more information, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html\">Using Cost Allocation\n                Tags</a> in the <i>AWS Billing and Cost Management User\n            Guide</i>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/TagResource",
          "code": 200
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#TagResourceInput": {
      "type": "structure",
      "members": {
        "ResourceARN": {
          "target": "com.amazon.kinesis.video.v20170930#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the signaling channel to which you want to add tags.</p>",
            "smithy.api#required": true
          }
        },
        "Tags": {
          "target": "com.amazon.kinesis.video.v20170930#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of tags to associate with the specified signaling channel. Each tag is a\n            key-value pair.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#TagResourceOutput": {
      "type": "structure",
      "members": { }
    },
    "com.amazon.kinesis.video.v20170930#TagStream": {
      "type": "operation",
      "input": {
        "target": "com.amazon.kinesis.video.v20170930#TagStreamInput"
      },
      "output": {
        "target": "com.amazon.kinesis.video.v20170930#TagStreamOutput"
      },
      "errors": [
        {
          "target": "com.amazon.kinesis.video.v20170930#ClientLimitExceededException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#InvalidArgumentException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#InvalidResourceFormatException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#NotAuthorizedException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#ResourceNotFoundException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#TagsPerResourceExceededLimitException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds one or more tags to a stream. A <i>tag</i> is a key-value pair\n            (the value is optional) that you can define and assign to AWS resources. If you specify\n            a tag that already exists, the tag value is replaced with the value that you specify in\n            the request. For more information, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html\">Using Cost Allocation\n                Tags</a> in the <i>AWS Billing and Cost Management User Guide</i>. </p>\n        <p>You must provide either the <code>StreamName</code> or the\n            <code>StreamARN</code>.</p>\n        <p>This operation requires permission for the <code>KinesisVideo:TagStream</code>\n            action.</p>\n        <p>Kinesis video streams support up to 50 tags.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/tagStream",
          "code": 200
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#TagStreamInput": {
      "type": "structure",
      "members": {
        "StreamARN": {
          "target": "com.amazon.kinesis.video.v20170930#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource that you want to add the tag or tags\n            to.</p>"
          }
        },
        "StreamName": {
          "target": "com.amazon.kinesis.video.v20170930#StreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stream that you want to add the tag or tags to.</p>"
          }
        },
        "Tags": {
          "target": "com.amazon.kinesis.video.v20170930#ResourceTags",
          "traits": {
            "smithy.api#documentation": "<p>A list of tags to associate with the specified stream. Each tag is a key-value pair\n            (the value is optional).</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#TagStreamOutput": {
      "type": "structure",
      "members": { }
    },
    "com.amazon.kinesis.video.v20170930#TagValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "[\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*"
      }
    },
    "com.amazon.kinesis.video.v20170930#TagsPerResourceExceededLimitException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazon.kinesis.video.v20170930#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You have exceeded the limit of tags that you can associate with the resource.\n            Kinesis video streams support up to 50 tags. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazon.kinesis.video.v20170930#Timestamp": {
      "type": "timestamp"
    },
    "com.amazon.kinesis.video.v20170930#UntagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazon.kinesis.video.v20170930#UntagResourceInput"
      },
      "output": {
        "target": "com.amazon.kinesis.video.v20170930#UntagResourceOutput"
      },
      "errors": [
        {
          "target": "com.amazon.kinesis.video.v20170930#AccessDeniedException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#ClientLimitExceededException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#InvalidArgumentException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes one or more tags from a signaling channel. In the request, specify only a tag\n            key or keys; don't specify the value. If you specify a tag key that does not exist, it's\n            ignored.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/UntagResource",
          "code": 200
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#UntagResourceInput": {
      "type": "structure",
      "members": {
        "ResourceARN": {
          "target": "com.amazon.kinesis.video.v20170930#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the signaling channel from which you want to remove tags.</p>",
            "smithy.api#required": true
          }
        },
        "TagKeyList": {
          "target": "com.amazon.kinesis.video.v20170930#TagKeyList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the keys of the tags that you want to remove.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#UntagResourceOutput": {
      "type": "structure",
      "members": { }
    },
    "com.amazon.kinesis.video.v20170930#UntagStream": {
      "type": "operation",
      "input": {
        "target": "com.amazon.kinesis.video.v20170930#UntagStreamInput"
      },
      "output": {
        "target": "com.amazon.kinesis.video.v20170930#UntagStreamOutput"
      },
      "errors": [
        {
          "target": "com.amazon.kinesis.video.v20170930#ClientLimitExceededException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#InvalidArgumentException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#InvalidResourceFormatException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#NotAuthorizedException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes one or more tags from a stream. In the request, specify only a tag key or\n            keys; don't specify the value. If you specify a tag key that does not exist, it's\n            ignored.</p>\n        <p>In the request, you must provide the <code>StreamName</code> or\n                <code>StreamARN</code>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/untagStream",
          "code": 200
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#UntagStreamInput": {
      "type": "structure",
      "members": {
        "StreamARN": {
          "target": "com.amazon.kinesis.video.v20170930#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the stream that you want to remove tags\n            from.</p>"
          }
        },
        "StreamName": {
          "target": "com.amazon.kinesis.video.v20170930#StreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stream that you want to remove tags from.</p>"
          }
        },
        "TagKeyList": {
          "target": "com.amazon.kinesis.video.v20170930#TagKeyList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the keys of the tags that you want to remove.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#UntagStreamOutput": {
      "type": "structure",
      "members": { }
    },
    "com.amazon.kinesis.video.v20170930#UpdateDataRetention": {
      "type": "operation",
      "input": {
        "target": "com.amazon.kinesis.video.v20170930#UpdateDataRetentionInput"
      },
      "output": {
        "target": "com.amazon.kinesis.video.v20170930#UpdateDataRetentionOutput"
      },
      "errors": [
        {
          "target": "com.amazon.kinesis.video.v20170930#ClientLimitExceededException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#InvalidArgumentException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#NotAuthorizedException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#ResourceInUseException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#ResourceNotFoundException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#VersionMismatchException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Increases or decreases the stream's data retention period by the value that you\n            specify. To indicate whether you want to increase or decrease the data retention period,\n            specify the <code>Operation</code> parameter in the request body. In the request, you\n            must specify either the <code>StreamName</code> or the <code>StreamARN</code>. </p>\n        <note>\n            <p>The retention period that you specify replaces the current value.</p>\n        </note>\n\n        <p>This operation requires permission for the\n                <code>KinesisVideo:UpdateDataRetention</code> action.</p>\n\n        <p>Changing the data retention period affects the data in the stream as\n            follows:</p>\n        <ul>\n            <li>\n                <p>If the data retention period is increased, existing data is retained for\n                    the new retention period. For example, if the data retention period is increased\n                    from one hour to seven hours, all existing data is retained for seven\n                    hours.</p>\n            </li>\n            <li>\n                <p>If the data retention period is decreased, existing data is retained for\n                    the new retention period. For example, if the data retention period is decreased\n                    from seven hours to one hour, all existing data is retained for one hour, and\n                    any data older than one hour is deleted immediately.</p>\n            </li>\n         </ul>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/updateDataRetention",
          "code": 200
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#UpdateDataRetentionInput": {
      "type": "structure",
      "members": {
        "CurrentVersion": {
          "target": "com.amazon.kinesis.video.v20170930#Version",
          "traits": {
            "smithy.api#documentation": "<p>The version of the stream whose retention period you want to change. To get the\n            version, call either the <code>DescribeStream</code> or the <code>ListStreams</code>\n            API.</p>",
            "smithy.api#required": true
          }
        },
        "DataRetentionChangeInHours": {
          "target": "com.amazon.kinesis.video.v20170930#DataRetentionChangeInHours",
          "traits": {
            "smithy.api#documentation": "<p>The retention period, in hours. The value you specify replaces the current value.\n            The maximum value for this parameter is 87600 (ten years).</p>",
            "smithy.api#required": true
          }
        },
        "Operation": {
          "target": "com.amazon.kinesis.video.v20170930#UpdateDataRetentionOperation",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether you want to increase or decrease the retention period.</p>",
            "smithy.api#required": true
          }
        },
        "StreamARN": {
          "target": "com.amazon.kinesis.video.v20170930#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the stream whose retention period you want to\n            change.</p>"
          }
        },
        "StreamName": {
          "target": "com.amazon.kinesis.video.v20170930#StreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stream whose retention period you want to change.</p>"
          }
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#UpdateDataRetentionOperation": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "INCREASE_DATA_RETENTION": {
            "name": "INCREASE_DATA_RETENTION"
          },
          "DECREASE_DATA_RETENTION": {
            "name": "DECREASE_DATA_RETENTION"
          }
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#UpdateDataRetentionOutput": {
      "type": "structure",
      "members": { }
    },
    "com.amazon.kinesis.video.v20170930#UpdateSignalingChannel": {
      "type": "operation",
      "input": {
        "target": "com.amazon.kinesis.video.v20170930#UpdateSignalingChannelInput"
      },
      "output": {
        "target": "com.amazon.kinesis.video.v20170930#UpdateSignalingChannelOutput"
      },
      "errors": [
        {
          "target": "com.amazon.kinesis.video.v20170930#AccessDeniedException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#ClientLimitExceededException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#InvalidArgumentException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#ResourceInUseException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#ResourceNotFoundException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#VersionMismatchException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Updates the existing signaling channel. This is an asynchronous operation and takes\n            time to complete. </p>\n        <p>If the <code>MessageTtlSeconds</code> value is updated (either increased or reduced),\n            then it only applies to new messages sent via this channel after it's been updated.\n            Existing messages are still expire as per the previous <code>MessageTtlSeconds</code>\n            value.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/updateSignalingChannel",
          "code": 200
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#UpdateSignalingChannelInput": {
      "type": "structure",
      "members": {
        "ChannelARN": {
          "target": "com.amazon.kinesis.video.v20170930#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the signaling channel that you want to update.</p>",
            "smithy.api#required": true
          }
        },
        "CurrentVersion": {
          "target": "com.amazon.kinesis.video.v20170930#Version",
          "traits": {
            "smithy.api#documentation": "<p>The current version of the signaling channel that you want to update.</p>",
            "smithy.api#required": true
          }
        },
        "SingleMasterConfiguration": {
          "target": "com.amazon.kinesis.video.v20170930#SingleMasterConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The structure containing the configuration for the <code>SINGLE_MASTER</code> type of\n            the signaling channel that you want to update. </p>"
          }
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#UpdateSignalingChannelOutput": {
      "type": "structure",
      "members": { }
    },
    "com.amazon.kinesis.video.v20170930#UpdateStream": {
      "type": "operation",
      "input": {
        "target": "com.amazon.kinesis.video.v20170930#UpdateStreamInput"
      },
      "output": {
        "target": "com.amazon.kinesis.video.v20170930#UpdateStreamOutput"
      },
      "errors": [
        {
          "target": "com.amazon.kinesis.video.v20170930#ClientLimitExceededException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#InvalidArgumentException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#NotAuthorizedException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#ResourceInUseException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#ResourceNotFoundException"
        },
        {
          "target": "com.amazon.kinesis.video.v20170930#VersionMismatchException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Updates stream metadata, such as the device name and media type.</p>\n        <p>You must provide the stream name or the Amazon Resource Name (ARN) of the\n            stream.</p>\n        <p>To make sure that you have the latest version of the stream before updating it, you\n            can specify the stream version. Kinesis Video Streams assigns a version to each stream.\n            When you update a stream, Kinesis Video Streams assigns a new version number. To get the\n            latest stream version, use the <code>DescribeStream</code> API. </p>\n        <p>\n            <code>UpdateStream</code> is an asynchronous operation, and takes time to\n            complete.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/updateStream",
          "code": 200
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#UpdateStreamInput": {
      "type": "structure",
      "members": {
        "CurrentVersion": {
          "target": "com.amazon.kinesis.video.v20170930#Version",
          "traits": {
            "smithy.api#documentation": "<p>The version of the stream whose metadata you want to update.</p>",
            "smithy.api#required": true
          }
        },
        "DeviceName": {
          "target": "com.amazon.kinesis.video.v20170930#DeviceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the device that is writing to the stream. </p>\n        <note>\n            <p> In the current implementation, Kinesis Video Streams does not use this name.\n            </p>\n        </note>"
          }
        },
        "MediaType": {
          "target": "com.amazon.kinesis.video.v20170930#MediaType",
          "traits": {
            "smithy.api#documentation": "<p>The stream's media type. Use <code>MediaType</code> to specify the type of content\n            that the stream contains to the consumers of the stream. For more information about\n            media types, see <a href=\"http://www.iana.org/assignments/media-types/media-types.xhtml\">Media\n                Types</a>. If you choose to specify the <code>MediaType</code>, see <a href=\"https://tools.ietf.org/html/rfc6838#section-4.2\">Naming\n            Requirements</a>.</p>\n        <p>To play video on the console, you must specify the correct video type. For example,\n            if the video in the stream is H.264, specify <code>video/h264</code> as the\n                <code>MediaType</code>.</p>"
          }
        },
        "StreamARN": {
          "target": "com.amazon.kinesis.video.v20170930#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the stream whose metadata you want to update.</p>"
          }
        },
        "StreamName": {
          "target": "com.amazon.kinesis.video.v20170930#StreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stream whose metadata you want to update.</p>\n        <p>The stream name is an identifier for the stream, and must be unique for each\n            account and region.</p>"
          }
        }
      }
    },
    "com.amazon.kinesis.video.v20170930#UpdateStreamOutput": {
      "type": "structure",
      "members": { }
    },
    "com.amazon.kinesis.video.v20170930#Version": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "[a-zA-Z0-9]+"
      }
    },
    "com.amazon.kinesis.video.v20170930#VersionMismatchException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazon.kinesis.video.v20170930#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The stream version that you specified is not the latest version. To get the latest\n            version, use the <a href=\"https://docs.aws.amazon.com/kinesisvideostreams/latest/dg/API_DescribeStream.html\">DescribeStream</a>\n            API.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    }
  }
}
