{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      },
      {
        "ids": [
          "HttpUriConflict"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazonaws.awsgirapi#AWSGirApiService": {
      "type": "service",
      "version": "2015-03-31",
      "operations": [
        {
          "target": "com.amazonaws.awsgirapi#AddLayerVersionPermission"
        },
        {
          "target": "com.amazonaws.awsgirapi#AddPermission"
        },
        {
          "target": "com.amazonaws.awsgirapi#CreateAlias"
        },
        {
          "target": "com.amazonaws.awsgirapi#CreateEventSourceMapping"
        },
        {
          "target": "com.amazonaws.awsgirapi#CreateFunction"
        },
        {
          "target": "com.amazonaws.awsgirapi#DeleteAlias"
        },
        {
          "target": "com.amazonaws.awsgirapi#DeleteEventSourceMapping"
        },
        {
          "target": "com.amazonaws.awsgirapi#DeleteFunction"
        },
        {
          "target": "com.amazonaws.awsgirapi#DeleteFunctionConcurrency"
        },
        {
          "target": "com.amazonaws.awsgirapi#DeleteFunctionEventInvokeConfig"
        },
        {
          "target": "com.amazonaws.awsgirapi#DeleteLayerVersion"
        },
        {
          "target": "com.amazonaws.awsgirapi#DeleteProvisionedConcurrencyConfig"
        },
        {
          "target": "com.amazonaws.awsgirapi#GetAccountSettings"
        },
        {
          "target": "com.amazonaws.awsgirapi#GetAlias"
        },
        {
          "target": "com.amazonaws.awsgirapi#GetEventSourceMapping"
        },
        {
          "target": "com.amazonaws.awsgirapi#GetFunction"
        },
        {
          "target": "com.amazonaws.awsgirapi#GetFunctionConcurrency"
        },
        {
          "target": "com.amazonaws.awsgirapi#GetFunctionConfiguration"
        },
        {
          "target": "com.amazonaws.awsgirapi#GetFunctionEventInvokeConfig"
        },
        {
          "target": "com.amazonaws.awsgirapi#GetLayerVersion"
        },
        {
          "target": "com.amazonaws.awsgirapi#GetLayerVersionByArn"
        },
        {
          "target": "com.amazonaws.awsgirapi#GetLayerVersionPolicy"
        },
        {
          "target": "com.amazonaws.awsgirapi#GetPolicy"
        },
        {
          "target": "com.amazonaws.awsgirapi#GetProvisionedConcurrencyConfig"
        },
        {
          "target": "com.amazonaws.awsgirapi#Invoke"
        },
        {
          "target": "com.amazonaws.awsgirapi#InvokeAsync"
        },
        {
          "target": "com.amazonaws.awsgirapi#ListAliases"
        },
        {
          "target": "com.amazonaws.awsgirapi#ListEventSourceMappings"
        },
        {
          "target": "com.amazonaws.awsgirapi#ListFunctionEventInvokeConfigs"
        },
        {
          "target": "com.amazonaws.awsgirapi#ListFunctions"
        },
        {
          "target": "com.amazonaws.awsgirapi#ListLayerVersions"
        },
        {
          "target": "com.amazonaws.awsgirapi#ListLayers"
        },
        {
          "target": "com.amazonaws.awsgirapi#ListProvisionedConcurrencyConfigs"
        },
        {
          "target": "com.amazonaws.awsgirapi#ListTags"
        },
        {
          "target": "com.amazonaws.awsgirapi#ListVersionsByFunction"
        },
        {
          "target": "com.amazonaws.awsgirapi#PublishLayerVersion"
        },
        {
          "target": "com.amazonaws.awsgirapi#PublishVersion"
        },
        {
          "target": "com.amazonaws.awsgirapi#PutFunctionConcurrency"
        },
        {
          "target": "com.amazonaws.awsgirapi#PutFunctionEventInvokeConfig"
        },
        {
          "target": "com.amazonaws.awsgirapi#PutProvisionedConcurrencyConfig"
        },
        {
          "target": "com.amazonaws.awsgirapi#RemoveLayerVersionPermission"
        },
        {
          "target": "com.amazonaws.awsgirapi#RemovePermission"
        },
        {
          "target": "com.amazonaws.awsgirapi#TagResource"
        },
        {
          "target": "com.amazonaws.awsgirapi#UntagResource"
        },
        {
          "target": "com.amazonaws.awsgirapi#UpdateAlias"
        },
        {
          "target": "com.amazonaws.awsgirapi#UpdateEventSourceMapping"
        },
        {
          "target": "com.amazonaws.awsgirapi#UpdateFunctionCode"
        },
        {
          "target": "com.amazonaws.awsgirapi#UpdateFunctionConfiguration"
        },
        {
          "target": "com.amazonaws.awsgirapi#UpdateFunctionEventInvokeConfig"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Lambda",
          "arnNamespace": "lambda",
          "cloudFormationName": "Lambda",
          "cloudTrailEventSource": "awsgirapi.amazonaws.com"
        },
        "smithy.api#documentation": "<fullname>AWS Lambda</fullname>\n         <p>\n            <b>Overview</b>\n         </p>\n         <p>This is the <i>AWS Lambda API Reference</i>. The AWS Lambda Developer Guide provides additional\n      information. For the service overview, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/welcome.html\">What is\n        AWS Lambda</a>, and for information about how the service works, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/lambda-introduction.html\">AWS Lambda: How it Works</a> in the <b>AWS Lambda Developer Guide</b>.</p>",
        "smithy.api#protocols": [
          {
            "name": "aws.rest-json-1.1",
            "auth": [
              "aws.v4"
            ]
          }
        ],
        "smithy.api#title": "AWS Lambda"
      }
    },
    "com.amazonaws.awsgirapi#AccountLimit": {
      "type": "structure",
      "members": {
        "CodeSizeUnzipped": {
          "target": "com.amazonaws.awsgirapi#Long",
          "traits": {
            "smithy.api#documentation": "<p>The maximum size of a function's deployment package and layers when they're extracted.</p>"
          }
        },
        "CodeSizeZipped": {
          "target": "com.amazonaws.awsgirapi#Long",
          "traits": {
            "smithy.api#documentation": "<p>The maximum size of a deployment package when it's uploaded directly to AWS Lambda. Use Amazon S3 for larger\n      files.</p>"
          }
        },
        "ConcurrentExecutions": {
          "target": "com.amazonaws.awsgirapi#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of simultaneous function executions.</p>"
          }
        },
        "TotalCodeSize": {
          "target": "com.amazonaws.awsgirapi#Long",
          "traits": {
            "smithy.api#documentation": "<p>The amount of storage space that you can use for all deployment packages and layer archives.</p>"
          }
        },
        "UnreservedConcurrentExecutions": {
          "target": "com.amazonaws.awsgirapi#UnreservedConcurrentExecutions",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of simultaneous function executions, minus the capacity that's reserved for individual\n      functions with <a>PutFunctionConcurrency</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Limits that are related to concurrency and storage. All file and storage sizes are in bytes.</p>"
      }
    },
    "com.amazonaws.awsgirapi#AccountUsage": {
      "type": "structure",
      "members": {
        "FunctionCount": {
          "target": "com.amazonaws.awsgirapi#Long",
          "traits": {
            "smithy.api#documentation": "<p>The number of Lambda functions.</p>"
          }
        },
        "TotalCodeSize": {
          "target": "com.amazonaws.awsgirapi#Long",
          "traits": {
            "smithy.api#documentation": "<p>The amount of storage space, in bytes, that's being used by deployment packages and layer archives.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The number of functions and amount of storage in use.</p>"
      }
    },
    "com.amazonaws.awsgirapi#Action": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "(lambda:[*]|lambda:[a-zA-Z]+|[*])"
      }
    },
    "com.amazonaws.awsgirapi#AddLayerVersionPermission": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.awsgirapi#AddLayerVersionPermissionRequest"
      },
      "output": {
        "target": "com.amazonaws.awsgirapi#AddLayerVersionPermissionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.awsgirapi#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.awsgirapi#PolicyLengthExceededException"
        },
        {
          "target": "com.amazonaws.awsgirapi#PreconditionFailedException"
        },
        {
          "target": "com.amazonaws.awsgirapi#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.awsgirapi#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.awsgirapi#ServiceException"
        },
        {
          "target": "com.amazonaws.awsgirapi#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds permissions to the resource-based policy of a version of an <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-layers.html\">AWS Lambda\n        layer</a>. Use this action to grant layer\n      usage permission to other accounts. You can grant permission to a single account, all AWS accounts, or all\n      accounts in an organization.</p>\n         <p>To revoke permission, call <a>RemoveLayerVersionPermission</a> with the statement ID that you\n      specified when you added it.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2018-10-31/layers/{LayerName}/versions/{VersionNumber}/policy",
          "code": 201
        }
      }
    },
    "com.amazonaws.awsgirapi#AddLayerVersionPermissionRequest": {
      "type": "structure",
      "members": {
        "Action": {
          "target": "com.amazonaws.awsgirapi#LayerPermissionAllowedAction",
          "traits": {
            "smithy.api#documentation": "<p>The API action that grants access to the layer. For example, <code>lambda:GetLayerVersion</code>.</p>",
            "smithy.api#required": true
          }
        },
        "LayerName": {
          "target": "com.amazonaws.awsgirapi#LayerName",
          "traits": {
            "smithy.api#documentation": "<p>The name or Amazon Resource Name (ARN) of the layer.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "OrganizationId": {
          "target": "com.amazonaws.awsgirapi#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>With the principal set to <code>*</code>, grant permission to all accounts in the specified\n      organization.</p>"
          }
        },
        "Principal": {
          "target": "com.amazonaws.awsgirapi#LayerPermissionAllowedPrincipal",
          "traits": {
            "smithy.api#documentation": "<p>An account ID, or <code>*</code> to grant permission to all AWS accounts.</p>",
            "smithy.api#required": true
          }
        },
        "RevisionId": {
          "target": "com.amazonaws.awsgirapi#String",
          "traits": {
            "smithy.api#documentation": "<p>Only update the policy if the revision ID matches the ID specified. Use this option to avoid modifying a\n      policy that has changed since you last read it.</p>",
            "smithy.api#httpQuery": "RevisionId"
          }
        },
        "StatementId": {
          "target": "com.amazonaws.awsgirapi#StatementId",
          "traits": {
            "smithy.api#documentation": "<p>An identifier that distinguishes the policy from others on the same layer version.</p>",
            "smithy.api#required": true
          }
        },
        "VersionNumber": {
          "target": "com.amazonaws.awsgirapi#LayerVersionNumber",
          "traits": {
            "smithy.api#documentation": "<p>The version number.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.awsgirapi#AddLayerVersionPermissionResponse": {
      "type": "structure",
      "members": {
        "RevisionId": {
          "target": "com.amazonaws.awsgirapi#String",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the current revision of the policy.</p>"
          }
        },
        "Statement": {
          "target": "com.amazonaws.awsgirapi#String",
          "traits": {
            "smithy.api#documentation": "<p>The permission statement.</p>"
          }
        }
      }
    },
    "com.amazonaws.awsgirapi#AddPermission": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.awsgirapi#AddPermissionRequest"
      },
      "output": {
        "target": "com.amazonaws.awsgirapi#AddPermissionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.awsgirapi#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.awsgirapi#PolicyLengthExceededException"
        },
        {
          "target": "com.amazonaws.awsgirapi#PreconditionFailedException"
        },
        {
          "target": "com.amazonaws.awsgirapi#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.awsgirapi#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.awsgirapi#ServiceException"
        },
        {
          "target": "com.amazonaws.awsgirapi#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Grants an AWS service or another account permission to use a function. You can apply the policy at the\n      function level, or specify a qualifier to restrict access to a single version or alias. If you use a qualifier,\n      the invoker must use the full Amazon Resource Name (ARN) of that version or alias to invoke the function.</p>\n      \n         <p>To grant permission to another account, specify the account ID as the <code>Principal</code>. For AWS\n      services, the principal is a domain-style identifier defined by the service, like <code>s3.amazonaws.com</code> or\n        <code>sns.amazonaws.com</code>. For AWS services, you can also specify the ARN or owning account of the\n      associated resource as the <code>SourceArn</code> or <code>SourceAccount</code>. If you grant permission to a\n      service principal without specifying the source, other accounts could potentially configure resources in their\n      account to invoke your Lambda function.</p>\n      \n         <p>This action adds a statement to a resource-based permissions policy for the function. For more information\n      about function policies, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/access-control-resource-based.html\">Lambda Function Policies</a>. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2015-03-31/functions/{FunctionName}/policy",
          "code": 201
        }
      }
    },
    "com.amazonaws.awsgirapi#AddPermissionRequest": {
      "type": "structure",
      "members": {
        "Action": {
          "target": "com.amazonaws.awsgirapi#Action",
          "traits": {
            "smithy.api#documentation": "<p>The action that the principal can use on the function. For example, <code>lambda:InvokeFunction</code> or\n        <code>lambda:GetFunction</code>.</p>",
            "smithy.api#required": true
          }
        },
        "EventSourceToken": {
          "target": "com.amazonaws.awsgirapi#EventSourceToken",
          "traits": {
            "smithy.api#documentation": "<p>For Alexa Smart Home functions, a token that must be supplied by the invoker.</p>"
          }
        },
        "FunctionName": {
          "target": "com.amazonaws.awsgirapi#FunctionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Lambda function, version, or alias.</p>\n         <p class=\"title\">\n            <b>Name formats</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <b>Function name</b> - <code>my-function</code> (name-only), <code>my-function:v1</code> (with alias).</p>\n            </li>\n            <li>\n               <p>\n                  <b>Function ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:my-function</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Partial ARN</b> - <code>123456789012:function:my-function</code>.</p>\n            </li>\n         </ul>\n         <p>You can append a version number or alias to any of the formats. The length constraint applies only to the full ARN.\n      If you specify only the function name, it is limited to 64 characters in length.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "Principal": {
          "target": "com.amazonaws.awsgirapi#Principal",
          "traits": {
            "smithy.api#documentation": "<p>The AWS service or account that invokes the function. If you specify a service, use <code>SourceArn</code> or\n        <code>SourceAccount</code> to limit who can invoke the function through that service.</p>",
            "smithy.api#required": true
          }
        },
        "Qualifier": {
          "target": "com.amazonaws.awsgirapi#Qualifier",
          "traits": {
            "smithy.api#documentation": "<p>Specify a version or alias to add permissions to a published version of the function.</p>",
            "smithy.api#httpQuery": "Qualifier"
          }
        },
        "RevisionId": {
          "target": "com.amazonaws.awsgirapi#String",
          "traits": {
            "smithy.api#documentation": "<p>Only update the policy if the revision ID matches the ID that's specified. Use this option to avoid modifying a\n      policy that has changed since you last read it.</p>"
          }
        },
        "SourceAccount": {
          "target": "com.amazonaws.awsgirapi#SourceOwner",
          "traits": {
            "smithy.api#documentation": "<p>For AWS services, the ID of the account that owns the resource. Use this instead of <code>SourceArn</code> to\n      grant permission to resources that are owned by another account (for example, all of an account's Amazon S3\n      buckets). Or use it together with <code>SourceArn</code> to ensure that the resource is owned by the specified\n      account. For example, an Amazon S3 bucket could be deleted by its owner and recreated by another account.</p>"
          }
        },
        "SourceArn": {
          "target": "com.amazonaws.awsgirapi#Arn",
          "traits": {
            "smithy.api#documentation": "<p>For AWS services, the ARN of the AWS resource that invokes the function. For example, an Amazon S3 bucket or\n      Amazon SNS topic.</p>"
          }
        },
        "StatementId": {
          "target": "com.amazonaws.awsgirapi#StatementId",
          "traits": {
            "smithy.api#documentation": "<p>A statement identifier that differentiates the statement from others in the same policy.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.awsgirapi#AddPermissionResponse": {
      "type": "structure",
      "members": {
        "Statement": {
          "target": "com.amazonaws.awsgirapi#String",
          "traits": {
            "smithy.api#documentation": "<p>The permission statement that's added to the function policy.</p>"
          }
        }
      }
    },
    "com.amazonaws.awsgirapi#AdditionalVersion": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": "[0-9]+"
      }
    },
    "com.amazonaws.awsgirapi#AdditionalVersionWeights": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.awsgirapi#AdditionalVersion"
      },
      "value": {
        "target": "com.amazonaws.awsgirapi#Weight"
      }
    },
    "com.amazonaws.awsgirapi#Alias": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "(?!^[0-9]+$)([a-zA-Z0-9-_]+)"
      }
    },
    "com.amazonaws.awsgirapi#AliasConfiguration": {
      "type": "structure",
      "members": {
        "AliasArn": {
          "target": "com.amazonaws.awsgirapi#FunctionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the alias.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.awsgirapi#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the alias.</p>"
          }
        },
        "FunctionVersion": {
          "target": "com.amazonaws.awsgirapi#Version",
          "traits": {
            "smithy.api#documentation": "<p>The function version that the alias invokes.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.awsgirapi#Alias",
          "traits": {
            "smithy.api#documentation": "<p>The name of the alias.</p>"
          }
        },
        "RevisionId": {
          "target": "com.amazonaws.awsgirapi#String",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier that changes when you update the alias.</p>"
          }
        },
        "RoutingConfig": {
          "target": "com.amazonaws.awsgirapi#AliasRoutingConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/lambda-traffic-shifting-using-aliases.html\">routing\n        configuration</a> of the alias.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides configuration information about a Lambda function <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">alias</a>.</p>"
      }
    },
    "com.amazonaws.awsgirapi#AliasList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.awsgirapi#AliasConfiguration"
      }
    },
    "com.amazonaws.awsgirapi#AliasRoutingConfiguration": {
      "type": "structure",
      "members": {
        "AdditionalVersionWeights": {
          "target": "com.amazonaws.awsgirapi#AdditionalVersionWeights",
          "traits": {
            "smithy.api#documentation": "<p>The name of the second alias, and the percentage of traffic that's routed to it.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/lambda-traffic-shifting-using-aliases.html\">traffic-shifting</a> configuration of a Lambda function alias.</p>"
      }
    },
    "com.amazonaws.awsgirapi#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "arn:(aws[a-zA-Z0-9-]*):([a-zA-Z0-9\\-])+:([a-z]{2}(-gov)?-[a-z]+-\\d{1})?:(\\d{12})?:(.*)"
      }
    },
    "com.amazonaws.awsgirapi#BatchSize": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 1,
          "max": 10000
        }
      }
    },
    "com.amazonaws.awsgirapi#BisectBatchOnFunctionError": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.amazonaws.awsgirapi#Blob": {
      "type": "blob",
      "traits": {
        "smithy.api#sensitive": true
      }
    },
    "com.amazonaws.awsgirapi#BlobStream": {
      "type": "blob"
    },
    "com.amazonaws.awsgirapi#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.awsgirapi#CodeStorageExceededException": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.awsgirapi#String",
          "traits": {
            "smithy.api#documentation": "<p>The exception type.</p>"
          }
        },
        "message": {
          "target": "com.amazonaws.awsgirapi#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You have exceeded your maximum total code size per account. <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/limits.html\">Learn more</a>\n         </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.awsgirapi#CompatibleRuntimes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.awsgirapi#Runtime"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 5
        }
      }
    },
    "com.amazonaws.awsgirapi#Concurrency": {
      "type": "structure",
      "members": {
        "ReservedConcurrentExecutions": {
          "target": "com.amazonaws.awsgirapi#ReservedConcurrentExecutions",
          "traits": {
            "smithy.api#documentation": "<p>The number of concurrent executions that are reserved for this function. For more information, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/concurrent-executions.html\">Managing Concurrency</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.awsgirapi#CreateAlias": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.awsgirapi#CreateAliasRequest"
      },
      "output": {
        "target": "com.amazonaws.awsgirapi#AliasConfiguration"
      },
      "errors": [
        {
          "target": "com.amazonaws.awsgirapi#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.awsgirapi#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.awsgirapi#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.awsgirapi#ServiceException"
        },
        {
          "target": "com.amazonaws.awsgirapi#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">alias</a> for a\n      Lambda function version. Use aliases to provide clients with a function identifier that you can update to invoke a\n      different version.</p>\n         <p>You can also map an alias to split invocation requests between two versions. Use the\n        <code>RoutingConfig</code> parameter to specify a second version and the percentage of invocation requests that\n      it receives.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2015-03-31/functions/{FunctionName}/aliases",
          "code": 201
        }
      }
    },
    "com.amazonaws.awsgirapi#CreateAliasRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.awsgirapi#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the alias.</p>"
          }
        },
        "FunctionName": {
          "target": "com.amazonaws.awsgirapi#FunctionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Lambda function.</p>\n         <p class=\"title\">\n            <b>Name formats</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <b>Function name</b> - <code>MyFunction</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Function ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:MyFunction</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Partial ARN</b> - <code>123456789012:function:MyFunction</code>.</p>\n            </li>\n         </ul>\n         <p>The length constraint applies only to the full ARN. If you specify only the function name, it is limited to 64\n      characters in length.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "FunctionVersion": {
          "target": "com.amazonaws.awsgirapi#Version",
          "traits": {
            "smithy.api#documentation": "<p>The function version that the alias invokes.</p>",
            "smithy.api#required": true
          }
        },
        "Name": {
          "target": "com.amazonaws.awsgirapi#Alias",
          "traits": {
            "smithy.api#documentation": "<p>The name of the alias.</p>",
            "smithy.api#required": true
          }
        },
        "RoutingConfig": {
          "target": "com.amazonaws.awsgirapi#AliasRoutingConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/lambda-traffic-shifting-using-aliases.html\">routing\n        configuration</a> of the alias.</p>"
          }
        }
      }
    },
    "com.amazonaws.awsgirapi#CreateEventSourceMapping": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.awsgirapi#CreateEventSourceMappingRequest"
      },
      "output": {
        "target": "com.amazonaws.awsgirapi#EventSourceMappingConfiguration"
      },
      "errors": [
        {
          "target": "com.amazonaws.awsgirapi#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.awsgirapi#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.awsgirapi#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.awsgirapi#ServiceException"
        },
        {
          "target": "com.amazonaws.awsgirapi#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a mapping between an event source and an AWS Lambda function. Lambda reads items from the event source\n      and triggers the function.</p>\n         <p>For details about each event source type, see the following topics.</p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/with-ddb.html\">Using AWS Lambda with Amazon\n            DynamoDB</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/with-kinesis.html\">Using AWS Lambda with Amazon\n            Kinesis</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/with-sqs.html\">Using AWS Lambda with Amazon\n          SQS</a>\n               </p>\n            </li>\n         </ul>\n         <p>The following error handling options are only available for stream sources (DynamoDB and Kinesis):</p>\n         <ul>\n            <li>\n               <p>\n                  <code>BisectBatchOnFunctionError</code> - If the function returns an error, split the batch in two and retry.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DestinationConfig</code> - Send discarded records to an Amazon SQS queue or Amazon SNS topic.</p>\n            </li>\n            <li>\n               <p>\n                  <code>MaximumRecordAgeInSeconds</code> - Discard records older than the specified age.</p>\n            </li>\n            <li>\n               <p>\n                  <code>MaximumRetryAttempts</code> - Discard records after the specified number of retries.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ParallelizationFactor</code> - Process multiple batches from each shard concurrently.</p>\n            </li>\n         </ul>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2015-03-31/event-source-mappings",
          "code": 202
        }
      }
    },
    "com.amazonaws.awsgirapi#CreateEventSourceMappingRequest": {
      "type": "structure",
      "members": {
        "BatchSize": {
          "target": "com.amazonaws.awsgirapi#BatchSize",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of items to retrieve in a single batch.</p>\n         <ul>\n            <li>\n               <p>\n                  <b>Amazon Kinesis</b> - Default 100. Max 10,000.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Amazon DynamoDB Streams</b> - Default 100. Max 1,000.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Amazon Simple Queue Service</b> - Default 10. Max 10.</p>\n            </li>\n         </ul>"
          }
        },
        "BisectBatchOnFunctionError": {
          "target": "com.amazonaws.awsgirapi#BisectBatchOnFunctionError",
          "traits": {
            "smithy.api#documentation": "<p>(Streams) If the function returns an error, split the batch in two and retry.</p>"
          }
        },
        "DestinationConfig": {
          "target": "com.amazonaws.awsgirapi#DestinationConfig",
          "traits": {
            "smithy.api#documentation": "<p>(Streams) An Amazon SQS queue or Amazon SNS topic destination for discarded records.</p>"
          }
        },
        "Enabled": {
          "target": "com.amazonaws.awsgirapi#Enabled",
          "traits": {
            "smithy.api#documentation": "<p>Disables the event source mapping to pause polling and invocation.</p>"
          }
        },
        "EventSourceArn": {
          "target": "com.amazonaws.awsgirapi#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the event source.</p>\n         <ul>\n            <li>\n               <p>\n                  <b>Amazon Kinesis</b> - The ARN of the data stream or a stream consumer.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Amazon DynamoDB Streams</b> - The ARN of the stream.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Amazon Simple Queue Service</b> - The ARN of the queue.</p>\n            </li>\n         </ul>",
            "smithy.api#required": true
          }
        },
        "FunctionName": {
          "target": "com.amazonaws.awsgirapi#FunctionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Lambda function.</p>\n         <p class=\"title\">\n            <b>Name formats</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <b>Function name</b> - <code>MyFunction</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Function ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:MyFunction</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Version or Alias ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:MyFunction:PROD</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Partial ARN</b> - <code>123456789012:function:MyFunction</code>.</p>\n            </li>\n         </ul>\n         <p>The length constraint applies only to the full ARN. If you specify only the function name, it's limited to 64\n      characters in length.</p>",
            "smithy.api#required": true
          }
        },
        "MaximumBatchingWindowInSeconds": {
          "target": "com.amazonaws.awsgirapi#MaximumBatchingWindowInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>The maximum amount of time to gather records before invoking the function, in seconds.</p>"
          }
        },
        "MaximumRecordAgeInSeconds": {
          "target": "com.amazonaws.awsgirapi#MaximumRecordAgeInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>(Streams) The maximum age of a record that Lambda sends to a function for processing.</p>"
          }
        },
        "MaximumRetryAttempts": {
          "target": "com.amazonaws.awsgirapi#MaximumRetryAttemptsEventSourceMapping",
          "traits": {
            "smithy.api#documentation": "<p>(Streams) The maximum number of times to retry when the function returns an error.</p>"
          }
        },
        "ParallelizationFactor": {
          "target": "com.amazonaws.awsgirapi#ParallelizationFactor",
          "traits": {
            "smithy.api#documentation": "<p>(Streams) The number of batches to process from each shard concurrently.</p>"
          }
        },
        "StartingPosition": {
          "target": "com.amazonaws.awsgirapi#EventSourcePosition",
          "traits": {
            "smithy.api#documentation": "<p>The position in a stream from which to start reading. Required for Amazon Kinesis and Amazon DynamoDB Streams\n      sources. <code>AT_TIMESTAMP</code> is only supported for Amazon Kinesis streams.</p>"
          }
        },
        "StartingPositionTimestamp": {
          "target": "com.amazonaws.awsgirapi#Date",
          "traits": {
            "smithy.api#documentation": "<p>With <code>StartingPosition</code> set to <code>AT_TIMESTAMP</code>, the time from which to start\n      reading.</p>"
          }
        }
      }
    },
    "com.amazonaws.awsgirapi#CreateFunction": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.awsgirapi#CreateFunctionRequest"
      },
      "output": {
        "target": "com.amazonaws.awsgirapi#FunctionConfiguration"
      },
      "errors": [
        {
          "target": "com.amazonaws.awsgirapi#CodeStorageExceededException"
        },
        {
          "target": "com.amazonaws.awsgirapi#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.awsgirapi#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.awsgirapi#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.awsgirapi#ServiceException"
        },
        {
          "target": "com.amazonaws.awsgirapi#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a Lambda function. To create a function, you need a <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/deployment-package-v2.html\">deployment package</a> and an <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/intro-permission-model.html#lambda-intro-execution-role\">execution role</a>. The\n      deployment package contains your function code. The execution role grants the function permission to use AWS\n      services, such as Amazon CloudWatch Logs for log streaming and AWS X-Ray for request tracing.</p>\n      \n         <p>When you create a function, Lambda provisions an instance of the function and its supporting resources. If\n      your function connects to a VPC, this process can take a minute or so. During this time, you can't invoke or\n      modify the function. The <code>State</code>, <code>StateReason</code>, and <code>StateReasonCode</code> fields in\n      the response from <a>GetFunctionConfiguration</a> indicate when the function is ready to invoke. For\n      more information, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/functions-states.html\">Function\n        States</a>.</p>\n      \n         <p>A function has an unpublished version, and can have published versions and aliases. The unpublished version\n      changes when you update your function's code and configuration. A published version is a snapshot of your function\n      code and configuration that can't be changed. An alias is a named resource that maps to a version, and can be\n      changed to map to a different version. Use the <code>Publish</code> parameter to create version <code>1</code> of\n      your function from its initial configuration.</p>\n      \n         <p>The other parameters let you configure version-specific and function-level settings. You can modify\n      version-specific settings later with <a>UpdateFunctionConfiguration</a>. Function-level settings apply\n      to both the unpublished and published versions of the function, and include tags (<a>TagResource</a>)\n      and per-function concurrency limits (<a>PutFunctionConcurrency</a>).</p>\n      \n         <p>If another account or an AWS service invokes your function, use <a>AddPermission</a> to grant\n      permission by creating a resource-based IAM policy. You can grant permissions at the function level, on a version,\n      or on an alias.</p>\n      \n         <p>To invoke your function directly, use <a>Invoke</a>. To invoke your function in response to events\n      in other AWS services, create an event source mapping (<a>CreateEventSourceMapping</a>), or configure a\n      function trigger in the other service. For more information, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/lambda-invocation.html\">Invoking Functions</a>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2015-03-31/functions",
          "code": 201
        }
      }
    },
    "com.amazonaws.awsgirapi#CreateFunctionRequest": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.awsgirapi#FunctionCode",
          "traits": {
            "smithy.api#documentation": "<p>The code for the function.</p>",
            "smithy.api#required": true
          }
        },
        "DeadLetterConfig": {
          "target": "com.amazonaws.awsgirapi#DeadLetterConfig",
          "traits": {
            "smithy.api#documentation": "<p>A dead letter queue configuration that specifies the queue or topic where Lambda sends asynchronous events\n      when they fail processing. For more information, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/invocation-async.html#dlq\">Dead Letter Queues</a>.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.awsgirapi#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the function.</p>"
          }
        },
        "Environment": {
          "target": "com.amazonaws.awsgirapi#Environment",
          "traits": {
            "smithy.api#documentation": "<p>Environment variables that are accessible from function code during execution.</p>"
          }
        },
        "FunctionName": {
          "target": "com.amazonaws.awsgirapi#FunctionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Lambda function.</p>\n         <p class=\"title\">\n            <b>Name formats</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <b>Function name</b> - <code>my-function</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Function ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:my-function</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Partial ARN</b> - <code>123456789012:function:my-function</code>.</p>\n            </li>\n         </ul>\n         <p>The length constraint applies only to the full ARN. If you specify only the function name, it is limited to 64\n      characters in length.</p>",
            "smithy.api#required": true
          }
        },
        "Handler": {
          "target": "com.amazonaws.awsgirapi#Handler",
          "traits": {
            "smithy.api#documentation": "<p>The name of the method within your code that Lambda calls to execute your function. The format includes the\n      file name. It can also include namespaces and other qualifiers, depending on the runtime. For more information,\n      see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/programming-model-v2.html\">Programming Model</a>.</p>",
            "smithy.api#required": true
          }
        },
        "KMSKeyArn": {
          "target": "com.amazonaws.awsgirapi#KMSKeyArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the AWS Key Management Service (AWS KMS) key that's used to encrypt your function's environment\n      variables. If it's not provided, AWS Lambda uses a default service key.</p>"
          }
        },
        "Layers": {
          "target": "com.amazonaws.awsgirapi#LayerList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-layers.html\">function layers</a>\n      to add to the function's execution environment. Specify each layer by its ARN, including the version.</p>"
          }
        },
        "MemorySize": {
          "target": "com.amazonaws.awsgirapi#MemorySize",
          "traits": {
            "smithy.api#documentation": "<p>The amount of memory that your function has access to. Increasing the function's memory also increases its CPU\n      allocation. The default value is 128 MB. The value must be a multiple of 64 MB.</p>"
          }
        },
        "Publish": {
          "target": "com.amazonaws.awsgirapi#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Set to true to publish the first version of the function during creation.</p>"
          }
        },
        "Role": {
          "target": "com.amazonaws.awsgirapi#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the function's execution role.</p>",
            "smithy.api#required": true
          }
        },
        "Runtime": {
          "target": "com.amazonaws.awsgirapi#Runtime",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the function's <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/lambda-runtimes.html\">runtime</a>.</p>",
            "smithy.api#required": true
          }
        },
        "Tags": {
          "target": "com.amazonaws.awsgirapi#Tags",
          "traits": {
            "smithy.api#documentation": "<p>A list of <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/tagging.html\">tags</a> to apply to the\n      function.</p>"
          }
        },
        "Timeout": {
          "target": "com.amazonaws.awsgirapi#Timeout",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time that Lambda allows a function to run before stopping it. The default is 3 seconds. The\n      maximum allowed value is 900 seconds.</p>"
          }
        },
        "TracingConfig": {
          "target": "com.amazonaws.awsgirapi#TracingConfig",
          "traits": {
            "smithy.api#documentation": "<p>Set <code>Mode</code> to <code>Active</code> to sample and trace a subset of incoming requests with AWS\n      X-Ray.</p>"
          }
        },
        "VpcConfig": {
          "target": "com.amazonaws.awsgirapi#VpcConfig",
          "traits": {
            "smithy.api#documentation": "<p>For network connectivity to AWS resources in a VPC, specify a list of security groups and subnets in the VPC.\n      When you connect a function to a VPC, it can only access resources and the internet through that VPC. For more\n      information, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-vpc.html\">VPC Settings</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.awsgirapi#Date": {
      "type": "timestamp"
    },
    "com.amazonaws.awsgirapi#DeadLetterConfig": {
      "type": "structure",
      "members": {
        "TargetArn": {
          "target": "com.amazonaws.awsgirapi#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of an Amazon SQS queue or Amazon SNS topic.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/invocation-async.html#dlq\">dead-letter queue</a> for\n      failed asynchronous invocations.</p>"
      }
    },
    "com.amazonaws.awsgirapi#DeleteAlias": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.awsgirapi#DeleteAliasRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.awsgirapi#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.awsgirapi#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.awsgirapi#ServiceException"
        },
        {
          "target": "com.amazonaws.awsgirapi#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a Lambda function <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">alias</a>.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2015-03-31/functions/{FunctionName}/aliases/{Name}",
          "code": 204
        }
      }
    },
    "com.amazonaws.awsgirapi#DeleteAliasRequest": {
      "type": "structure",
      "members": {
        "FunctionName": {
          "target": "com.amazonaws.awsgirapi#FunctionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Lambda function.</p>\n         <p class=\"title\">\n            <b>Name formats</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <b>Function name</b> - <code>MyFunction</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Function ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:MyFunction</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Partial ARN</b> - <code>123456789012:function:MyFunction</code>.</p>\n            </li>\n         </ul>\n         <p>The length constraint applies only to the full ARN. If you specify only the function name, it is limited to 64\n      characters in length.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "Name": {
          "target": "com.amazonaws.awsgirapi#Alias",
          "traits": {
            "smithy.api#documentation": "<p>The name of the alias.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.awsgirapi#DeleteEventSourceMapping": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.awsgirapi#DeleteEventSourceMappingRequest"
      },
      "output": {
        "target": "com.amazonaws.awsgirapi#EventSourceMappingConfiguration"
      },
      "errors": [
        {
          "target": "com.amazonaws.awsgirapi#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.awsgirapi#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.awsgirapi#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.awsgirapi#ServiceException"
        },
        {
          "target": "com.amazonaws.awsgirapi#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/intro-invocation-modes.html\">event source\n        mapping</a>. You can get the identifier of a mapping from the output of <a>ListEventSourceMappings</a>.</p>\n         <p>When you delete an event source mapping, it enters a <code>Deleting</code> state and might not be completely\n      deleted for several seconds.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2015-03-31/event-source-mappings/{UUID}",
          "code": 202
        }
      }
    },
    "com.amazonaws.awsgirapi#DeleteEventSourceMappingRequest": {
      "type": "structure",
      "members": {
        "UUID": {
          "target": "com.amazonaws.awsgirapi#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the event source mapping.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.awsgirapi#DeleteFunction": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.awsgirapi#DeleteFunctionRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.awsgirapi#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.awsgirapi#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.awsgirapi#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.awsgirapi#ServiceException"
        },
        {
          "target": "com.amazonaws.awsgirapi#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a Lambda function. To delete a specific function version, use the <code>Qualifier</code> parameter.\n      Otherwise, all versions and aliases are deleted.</p>\n      \n         <p>To delete Lambda event source mappings that invoke a function, use <a>DeleteEventSourceMapping</a>.\n      For AWS services and resources that invoke your function directly, delete the trigger in the service where you\n      originally configured it.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2015-03-31/functions/{FunctionName}",
          "code": 204
        }
      }
    },
    "com.amazonaws.awsgirapi#DeleteFunctionConcurrency": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.awsgirapi#DeleteFunctionConcurrencyRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.awsgirapi#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.awsgirapi#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.awsgirapi#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.awsgirapi#ServiceException"
        },
        {
          "target": "com.amazonaws.awsgirapi#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes a concurrent execution limit from a function.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2017-10-31/functions/{FunctionName}/concurrency",
          "code": 204
        }
      }
    },
    "com.amazonaws.awsgirapi#DeleteFunctionConcurrencyRequest": {
      "type": "structure",
      "members": {
        "FunctionName": {
          "target": "com.amazonaws.awsgirapi#FunctionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Lambda function.</p>\n         <p class=\"title\">\n            <b>Name formats</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <b>Function name</b> - <code>my-function</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Function ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:my-function</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Partial ARN</b> - <code>123456789012:function:my-function</code>.</p>\n            </li>\n         </ul>\n         <p>The length constraint applies only to the full ARN. If you specify only the function name, it is limited to 64\n      characters in length.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.awsgirapi#DeleteFunctionEventInvokeConfig": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.awsgirapi#DeleteFunctionEventInvokeConfigRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.awsgirapi#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.awsgirapi#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.awsgirapi#ServiceException"
        },
        {
          "target": "com.amazonaws.awsgirapi#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the configuration for asynchronous invocation for a function, version, or alias.</p>\n         <p>To configure options for asynchronous invocation, use <a>PutFunctionEventInvokeConfig</a>.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2019-09-25/functions/{FunctionName}/event-invoke-config",
          "code": 204
        }
      }
    },
    "com.amazonaws.awsgirapi#DeleteFunctionEventInvokeConfigRequest": {
      "type": "structure",
      "members": {
        "FunctionName": {
          "target": "com.amazonaws.awsgirapi#FunctionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Lambda function, version, or alias.</p>\n         <p class=\"title\">\n            <b>Name formats</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <b>Function name</b> - <code>my-function</code> (name-only), <code>my-function:v1</code> (with alias).</p>\n            </li>\n            <li>\n               <p>\n                  <b>Function ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:my-function</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Partial ARN</b> - <code>123456789012:function:my-function</code>.</p>\n            </li>\n         </ul>\n         <p>You can append a version number or alias to any of the formats. The length constraint applies only to the full ARN.\n      If you specify only the function name, it is limited to 64 characters in length.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "Qualifier": {
          "target": "com.amazonaws.awsgirapi#Qualifier",
          "traits": {
            "smithy.api#documentation": "<p>A version number or alias name.</p>",
            "smithy.api#httpQuery": "Qualifier"
          }
        }
      }
    },
    "com.amazonaws.awsgirapi#DeleteFunctionRequest": {
      "type": "structure",
      "members": {
        "FunctionName": {
          "target": "com.amazonaws.awsgirapi#FunctionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Lambda function or version.</p>\n         <p class=\"title\">\n            <b>Name formats</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <b>Function name</b> - <code>my-function</code> (name-only), <code>my-function:1</code> (with version).</p>\n            </li>\n            <li>\n               <p>\n                  <b>Function ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:my-function</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Partial ARN</b> - <code>123456789012:function:my-function</code>.</p>\n            </li>\n         </ul>\n         <p>You can append a version number or alias to any of the formats. The length constraint applies only to the full ARN.\n      If you specify only the function name, it is limited to 64 characters in length.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "Qualifier": {
          "target": "com.amazonaws.awsgirapi#Qualifier",
          "traits": {
            "smithy.api#documentation": "<p>Specify a version to delete. You can't delete a version that's referenced by an alias.</p>",
            "smithy.api#httpQuery": "Qualifier"
          }
        }
      }
    },
    "com.amazonaws.awsgirapi#DeleteLayerVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.awsgirapi#DeleteLayerVersionRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.awsgirapi#ServiceException"
        },
        {
          "target": "com.amazonaws.awsgirapi#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a version of an <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-layers.html\">AWS Lambda\n        layer</a>. Deleted versions can no longer be viewed or added to functions. To avoid\n      breaking functions, a copy of the version remains in Lambda until no functions refer to it.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2018-10-31/layers/{LayerName}/versions/{VersionNumber}",
          "code": 204
        }
      }
    },
    "com.amazonaws.awsgirapi#DeleteLayerVersionRequest": {
      "type": "structure",
      "members": {
        "LayerName": {
          "target": "com.amazonaws.awsgirapi#LayerName",
          "traits": {
            "smithy.api#documentation": "<p>The name or Amazon Resource Name (ARN) of the layer.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "VersionNumber": {
          "target": "com.amazonaws.awsgirapi#LayerVersionNumber",
          "traits": {
            "smithy.api#documentation": "<p>The version number.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.awsgirapi#DeleteProvisionedConcurrencyConfig": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.awsgirapi#DeleteProvisionedConcurrencyConfigRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.awsgirapi#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.awsgirapi#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.awsgirapi#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.awsgirapi#ServiceException"
        },
        {
          "target": "com.amazonaws.awsgirapi#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the provisioned concurrency configuration for a function.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2019-09-30/functions/{FunctionName}/provisioned-concurrency",
          "code": 204
        }
      }
    },
    "com.amazonaws.awsgirapi#DeleteProvisionedConcurrencyConfigRequest": {
      "type": "structure",
      "members": {
        "FunctionName": {
          "target": "com.amazonaws.awsgirapi#FunctionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Lambda function.</p>\n         <p class=\"title\">\n            <b>Name formats</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <b>Function name</b> - <code>my-function</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Function ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:my-function</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Partial ARN</b> - <code>123456789012:function:my-function</code>.</p>\n            </li>\n         </ul>\n         <p>The length constraint applies only to the full ARN. If you specify only the function name, it is limited to 64\n      characters in length.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "Qualifier": {
          "target": "com.amazonaws.awsgirapi#Qualifier",
          "traits": {
            "smithy.api#documentation": "<p>The version number or alias name.</p>",
            "smithy.api#httpQuery": "Qualifier",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.awsgirapi#Description": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazonaws.awsgirapi#DestinationArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 350
        },
        "smithy.api#pattern": "^$|arn:(aws[a-zA-Z0-9-]*):([a-zA-Z0-9\\-])+:([a-z]{2}(-gov)?-[a-z]+-\\d{1})?:(\\d{12})?:(.*)"
      }
    },
    "com.amazonaws.awsgirapi#DestinationConfig": {
      "type": "structure",
      "members": {
        "OnFailure": {
          "target": "com.amazonaws.awsgirapi#OnFailure",
          "traits": {
            "smithy.api#documentation": "<p>The destination configuration for failed invocations.</p>"
          }
        },
        "OnSuccess": {
          "target": "com.amazonaws.awsgirapi#OnSuccess",
          "traits": {
            "smithy.api#documentation": "<p>The destination configuration for successful invocations.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A configuration object that specifies the destination of an event after Lambda processes it.</p>"
      }
    },
    "com.amazonaws.awsgirapi#EC2AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.awsgirapi#String"
        },
        "Type": {
          "target": "com.amazonaws.awsgirapi#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Need additional permissions to configure VPC settings.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 502
      }
    },
    "com.amazonaws.awsgirapi#EC2ThrottledException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.awsgirapi#String"
        },
        "Type": {
          "target": "com.amazonaws.awsgirapi#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>AWS Lambda was throttled by Amazon EC2 during Lambda function initialization using the execution role provided\n      for the Lambda function.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 502
      }
    },
    "com.amazonaws.awsgirapi#EC2UnexpectedException": {
      "type": "structure",
      "members": {
        "EC2ErrorCode": {
          "target": "com.amazonaws.awsgirapi#String"
        },
        "Message": {
          "target": "com.amazonaws.awsgirapi#String"
        },
        "Type": {
          "target": "com.amazonaws.awsgirapi#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>AWS Lambda received an unexpected EC2 client exception while setting up for the Lambda function.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 502
      }
    },
    "com.amazonaws.awsgirapi#ENILimitReachedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.awsgirapi#String"
        },
        "Type": {
          "target": "com.amazonaws.awsgirapi#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>AWS Lambda was not able to create an elastic network interface in the VPC, specified as part of Lambda\n      function configuration, because the limit for network interfaces has been reached.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 502
      }
    },
    "com.amazonaws.awsgirapi#Enabled": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.amazonaws.awsgirapi#Environment": {
      "type": "structure",
      "members": {
        "Variables": {
          "target": "com.amazonaws.awsgirapi#EnvironmentVariables",
          "traits": {
            "smithy.api#documentation": "<p>Environment variable key-value pairs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A function's environment variable settings.</p>"
      }
    },
    "com.amazonaws.awsgirapi#EnvironmentError": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.awsgirapi#String",
          "traits": {
            "smithy.api#documentation": "<p>The error code.</p>"
          }
        },
        "Message": {
          "target": "com.amazonaws.awsgirapi#SensitiveString",
          "traits": {
            "smithy.api#documentation": "<p>The error message.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Error messages for environment variables that couldn't be applied.</p>"
      }
    },
    "com.amazonaws.awsgirapi#EnvironmentResponse": {
      "type": "structure",
      "members": {
        "Error": {
          "target": "com.amazonaws.awsgirapi#EnvironmentError",
          "traits": {
            "smithy.api#documentation": "<p>Error messages for environment variables that couldn't be applied.</p>"
          }
        },
        "Variables": {
          "target": "com.amazonaws.awsgirapi#EnvironmentVariables",
          "traits": {
            "smithy.api#documentation": "<p>Environment variable key-value pairs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The results of an operation to update or read environment variables. If the operation is successful, the\n      response contains the environment variables. If it failed, the response contains details about the error.</p>"
      }
    },
    "com.amazonaws.awsgirapi#EnvironmentVariableName": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "[a-zA-Z]([a-zA-Z0-9_])+",
        "smithy.api#sensitive": true
      }
    },
    "com.amazonaws.awsgirapi#EnvironmentVariableValue": {
      "type": "string",
      "traits": {
        "smithy.api#sensitive": true
      }
    },
    "com.amazonaws.awsgirapi#EnvironmentVariables": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.awsgirapi#EnvironmentVariableName"
      },
      "value": {
        "target": "com.amazonaws.awsgirapi#EnvironmentVariableValue"
      },
      "traits": {
        "smithy.api#sensitive": true
      }
    },
    "com.amazonaws.awsgirapi#EventSourceMappingConfiguration": {
      "type": "structure",
      "members": {
        "BatchSize": {
          "target": "com.amazonaws.awsgirapi#BatchSize",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of items to retrieve in a single batch.</p>"
          }
        },
        "BisectBatchOnFunctionError": {
          "target": "com.amazonaws.awsgirapi#BisectBatchOnFunctionError",
          "traits": {
            "smithy.api#documentation": "<p>(Streams) If the function returns an error, split the batch in two and retry.</p>"
          }
        },
        "DestinationConfig": {
          "target": "com.amazonaws.awsgirapi#DestinationConfig",
          "traits": {
            "smithy.api#documentation": "<p>(Streams) An Amazon SQS queue or Amazon SNS topic destination for discarded records.</p>"
          }
        },
        "EventSourceArn": {
          "target": "com.amazonaws.awsgirapi#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the event source.</p>"
          }
        },
        "FunctionArn": {
          "target": "com.amazonaws.awsgirapi#FunctionArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Lambda function.</p>"
          }
        },
        "LastModified": {
          "target": "com.amazonaws.awsgirapi#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date that the event source mapping was last updated, or its state changed.</p>"
          }
        },
        "LastProcessingResult": {
          "target": "com.amazonaws.awsgirapi#String",
          "traits": {
            "smithy.api#documentation": "<p>The result of the last AWS Lambda invocation of your Lambda function.</p>"
          }
        },
        "MaximumBatchingWindowInSeconds": {
          "target": "com.amazonaws.awsgirapi#MaximumBatchingWindowInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>The maximum amount of time to gather records before invoking the function, in seconds.</p>"
          }
        },
        "MaximumRecordAgeInSeconds": {
          "target": "com.amazonaws.awsgirapi#MaximumRecordAgeInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>(Streams) The maximum age of a record that Lambda sends to a function for processing.</p>"
          }
        },
        "MaximumRetryAttempts": {
          "target": "com.amazonaws.awsgirapi#MaximumRetryAttemptsEventSourceMapping",
          "traits": {
            "smithy.api#documentation": "<p>(Streams) The maximum number of times to retry when the function returns an error.</p>"
          }
        },
        "ParallelizationFactor": {
          "target": "com.amazonaws.awsgirapi#ParallelizationFactor",
          "traits": {
            "smithy.api#documentation": "<p>(Streams) The number of batches to process from each shard concurrently.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.awsgirapi#String",
          "traits": {
            "smithy.api#documentation": "<p>The state of the event source mapping. It can be one of the following: <code>Creating</code>,\n        <code>Enabling</code>, <code>Enabled</code>, <code>Disabling</code>, <code>Disabled</code>,\n        <code>Updating</code>, or <code>Deleting</code>.</p>"
          }
        },
        "StateTransitionReason": {
          "target": "com.amazonaws.awsgirapi#String",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the last change to the event source mapping was made by a user, or by the Lambda\n      service.</p>"
          }
        },
        "UUID": {
          "target": "com.amazonaws.awsgirapi#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the event source mapping.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A mapping between an AWS resource and an AWS Lambda function. See <a>CreateEventSourceMapping</a>\n      for details.</p>"
      }
    },
    "com.amazonaws.awsgirapi#EventSourceMappingsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.awsgirapi#EventSourceMappingConfiguration"
      }
    },
    "com.amazonaws.awsgirapi#EventSourcePosition": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "TRIM_HORIZON": {
            "name": "TRIM_HORIZON"
          },
          "LATEST": {
            "name": "LATEST"
          },
          "AT_TIMESTAMP": {
            "name": "AT_TIMESTAMP"
          }
        }
      }
    },
    "com.amazonaws.awsgirapi#EventSourceToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "[a-zA-Z0-9._\\-]+"
      }
    },
    "com.amazonaws.awsgirapi#FunctionArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "arn:(aws[a-zA-Z-]*)?:lambda:[a-z]{2}(-gov)?-[a-z]+-\\d{1}:\\d{12}:function:[a-zA-Z0-9-_]+(:(\\$LATEST|[a-zA-Z0-9-_]+))?"
      }
    },
    "com.amazonaws.awsgirapi#FunctionCode": {
      "type": "structure",
      "members": {
        "S3Bucket": {
          "target": "com.amazonaws.awsgirapi#S3Bucket",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon S3 bucket in the same AWS Region as your function. The bucket can be in a different AWS account.</p>"
          }
        },
        "S3Key": {
          "target": "com.amazonaws.awsgirapi#S3Key",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 key of the deployment package.</p>"
          }
        },
        "S3ObjectVersion": {
          "target": "com.amazonaws.awsgirapi#S3ObjectVersion",
          "traits": {
            "smithy.api#documentation": "<p>For versioned objects, the version of the deployment package object to use.</p>"
          }
        },
        "ZipFile": {
          "target": "com.amazonaws.awsgirapi#Blob",
          "traits": {
            "smithy.api#documentation": "<p>The base64-encoded contents of the deployment package. AWS SDK and AWS CLI clients handle the encoding for\n  you.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The code for the Lambda function. You can specify either an object in Amazon S3, or upload a deployment\n      package directly.</p>"
      }
    },
    "com.amazonaws.awsgirapi#FunctionCodeLocation": {
      "type": "structure",
      "members": {
        "Location": {
          "target": "com.amazonaws.awsgirapi#String",
          "traits": {
            "smithy.api#documentation": "<p>A presigned URL that you can use to download the deployment package.</p>"
          }
        },
        "RepositoryType": {
          "target": "com.amazonaws.awsgirapi#String",
          "traits": {
            "smithy.api#documentation": "<p>The service that's hosting the file.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about a function's deployment package.</p>"
      }
    },
    "com.amazonaws.awsgirapi#FunctionConfiguration": {
      "type": "structure",
      "members": {
        "CodeSha256": {
          "target": "com.amazonaws.awsgirapi#String",
          "traits": {
            "smithy.api#documentation": "<p>The SHA256 hash of the function's deployment package.</p>"
          }
        },
        "CodeSize": {
          "target": "com.amazonaws.awsgirapi#Long",
          "traits": {
            "smithy.api#documentation": "<p>The size of the function's deployment package, in bytes.</p>"
          }
        },
        "DeadLetterConfig": {
          "target": "com.amazonaws.awsgirapi#DeadLetterConfig",
          "traits": {
            "smithy.api#documentation": "<p>The function's dead letter queue.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.awsgirapi#Description",
          "traits": {
            "smithy.api#documentation": "<p>The function's description.</p>"
          }
        },
        "Environment": {
          "target": "com.amazonaws.awsgirapi#EnvironmentResponse",
          "traits": {
            "smithy.api#documentation": "<p>The function's environment variables.</p>"
          }
        },
        "FunctionArn": {
          "target": "com.amazonaws.awsgirapi#NameSpacedFunctionArn",
          "traits": {
            "smithy.api#documentation": "<p>The function's Amazon Resource Name (ARN).</p>"
          }
        },
        "FunctionName": {
          "target": "com.amazonaws.awsgirapi#NamespacedFunctionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the function.</p>"
          }
        },
        "Handler": {
          "target": "com.amazonaws.awsgirapi#Handler",
          "traits": {
            "smithy.api#documentation": "<p>The function that Lambda calls to begin executing your function.</p>"
          }
        },
        "KMSKeyArn": {
          "target": "com.amazonaws.awsgirapi#KMSKeyArn",
          "traits": {
            "smithy.api#documentation": "<p>The KMS key that's used to encrypt the function's environment variables. This key is only returned if you've\n      configured a customer managed CMK.</p>"
          }
        },
        "LastModified": {
          "target": "com.amazonaws.awsgirapi#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the function was last updated, in <a href=\"https://www.w3.org/TR/NOTE-datetime\">ISO-8601 format</a> (YYYY-MM-DDThh:mm:ss.sTZD).</p>"
          }
        },
        "LastUpdateStatus": {
          "target": "com.amazonaws.awsgirapi#LastUpdateStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the last update that was performed on the function. This is first set to <code>Successful</code>\n      after function creation completes.</p>"
          }
        },
        "LastUpdateStatusReason": {
          "target": "com.amazonaws.awsgirapi#LastUpdateStatusReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason for the last update that was performed on the function.</p>"
          }
        },
        "LastUpdateStatusReasonCode": {
          "target": "com.amazonaws.awsgirapi#LastUpdateStatusReasonCode",
          "traits": {
            "smithy.api#documentation": "<p>The reason code for the last update that was performed on the function.</p>"
          }
        },
        "Layers": {
          "target": "com.amazonaws.awsgirapi#LayersReferenceList",
          "traits": {
            "smithy.api#documentation": "<p>The function's <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-layers.html\">\n      layers</a>.</p>"
          }
        },
        "MasterArn": {
          "target": "com.amazonaws.awsgirapi#FunctionArn",
          "traits": {
            "smithy.api#documentation": "<p>For Lambda@Edge functions, the ARN of the master function.</p>"
          }
        },
        "MemorySize": {
          "target": "com.amazonaws.awsgirapi#MemorySize",
          "traits": {
            "smithy.api#documentation": "<p>The memory that's allocated to the function.</p>"
          }
        },
        "RevisionId": {
          "target": "com.amazonaws.awsgirapi#String",
          "traits": {
            "smithy.api#documentation": "<p>The latest updated revision of the function or alias.</p>"
          }
        },
        "Role": {
          "target": "com.amazonaws.awsgirapi#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The function's execution role.</p>"
          }
        },
        "Runtime": {
          "target": "com.amazonaws.awsgirapi#Runtime",
          "traits": {
            "smithy.api#documentation": "<p>The runtime environment for the Lambda function.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.awsgirapi#State",
          "traits": {
            "smithy.api#documentation": "<p>The current state of the function. When the state is <code>Inactive</code>, you can reactivate the function by\n      invoking it.</p>"
          }
        },
        "StateReason": {
          "target": "com.amazonaws.awsgirapi#StateReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason for the function's current state.</p>"
          }
        },
        "StateReasonCode": {
          "target": "com.amazonaws.awsgirapi#StateReasonCode",
          "traits": {
            "smithy.api#documentation": "<p>The reason code for the function's current state. When the code is <code>Creating</code>, you can't invoke or\n      modify the function.</p>"
          }
        },
        "Timeout": {
          "target": "com.amazonaws.awsgirapi#Timeout",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time that Lambda allows a function to run before stopping it.</p>"
          }
        },
        "TracingConfig": {
          "target": "com.amazonaws.awsgirapi#TracingConfigResponse",
          "traits": {
            "smithy.api#documentation": "<p>The function's AWS X-Ray tracing configuration.</p>"
          }
        },
        "Version": {
          "target": "com.amazonaws.awsgirapi#Version",
          "traits": {
            "smithy.api#documentation": "<p>The version of the Lambda function.</p>"
          }
        },
        "VpcConfig": {
          "target": "com.amazonaws.awsgirapi#VpcConfigResponse",
          "traits": {
            "smithy.api#documentation": "<p>The function's networking configuration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about a function's configuration.</p>"
      }
    },
    "com.amazonaws.awsgirapi#FunctionEventInvokeConfig": {
      "type": "structure",
      "members": {
        "DestinationConfig": {
          "target": "com.amazonaws.awsgirapi#DestinationConfig",
          "traits": {
            "smithy.api#documentation": "<p>A destination for events after they have been sent to a function for processing.</p>\n         <p class=\"title\">\n            <b>Destinations</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <b>Function</b> - The Amazon Resource Name (ARN) of a Lambda function.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Queue</b> - The ARN of an SQS queue.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Topic</b> - The ARN of an SNS topic.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Event Bus</b> - The ARN of an Amazon EventBridge event bus.</p>\n            </li>\n         </ul>"
          }
        },
        "FunctionArn": {
          "target": "com.amazonaws.awsgirapi#FunctionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the function.</p>"
          }
        },
        "LastModified": {
          "target": "com.amazonaws.awsgirapi#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the configuration was last updated.</p>"
          }
        },
        "MaximumEventAgeInSeconds": {
          "target": "com.amazonaws.awsgirapi#MaximumEventAgeInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>The maximum age of a request that Lambda sends to a function for processing.</p>"
          }
        },
        "MaximumRetryAttempts": {
          "target": "com.amazonaws.awsgirapi#MaximumRetryAttempts",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of times to retry when the function returns an error.</p>"
          }
        }
      }
    },
    "com.amazonaws.awsgirapi#FunctionEventInvokeConfigList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.awsgirapi#FunctionEventInvokeConfig"
      }
    },
    "com.amazonaws.awsgirapi#FunctionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.awsgirapi#FunctionConfiguration"
      }
    },
    "com.amazonaws.awsgirapi#FunctionName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 140
        },
        "smithy.api#pattern": "(arn:(aws[a-zA-Z-]*)?:lambda:)?([a-z]{2}(-gov)?-[a-z]+-\\d{1}:)?(\\d{12}:)?(function:)?([a-zA-Z0-9-_]+)(:(\\$LATEST|[a-zA-Z0-9-_]+))?"
      }
    },
    "com.amazonaws.awsgirapi#FunctionVersion": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "ALL": {
            "name": "ALL"
          }
        }
      }
    },
    "com.amazonaws.awsgirapi#GetAccountSettings": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.awsgirapi#GetAccountSettingsRequest"
      },
      "output": {
        "target": "com.amazonaws.awsgirapi#GetAccountSettingsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.awsgirapi#ServiceException"
        },
        {
          "target": "com.amazonaws.awsgirapi#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves details about your account's <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/limits.html\">limits</a> and usage in an AWS Region.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2016-08-19/account-settings",
          "code": 200
        }
      }
    },
    "com.amazonaws.awsgirapi#GetAccountSettingsRequest": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.awsgirapi#GetAccountSettingsResponse": {
      "type": "structure",
      "members": {
        "AccountLimit": {
          "target": "com.amazonaws.awsgirapi#AccountLimit",
          "traits": {
            "smithy.api#documentation": "<p>Limits that are related to concurrency and code storage.</p>"
          }
        },
        "AccountUsage": {
          "target": "com.amazonaws.awsgirapi#AccountUsage",
          "traits": {
            "smithy.api#documentation": "<p>The number of functions and amount of storage in use.</p>"
          }
        }
      }
    },
    "com.amazonaws.awsgirapi#GetAlias": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.awsgirapi#GetAliasRequest"
      },
      "output": {
        "target": "com.amazonaws.awsgirapi#AliasConfiguration"
      },
      "errors": [
        {
          "target": "com.amazonaws.awsgirapi#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.awsgirapi#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.awsgirapi#ServiceException"
        },
        {
          "target": "com.amazonaws.awsgirapi#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns details about a Lambda function <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">alias</a>.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2015-03-31/functions/{FunctionName}/aliases/{Name}",
          "code": 200
        }
      }
    },
    "com.amazonaws.awsgirapi#GetAliasRequest": {
      "type": "structure",
      "members": {
        "FunctionName": {
          "target": "com.amazonaws.awsgirapi#FunctionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Lambda function.</p>\n         <p class=\"title\">\n            <b>Name formats</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <b>Function name</b> - <code>MyFunction</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Function ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:MyFunction</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Partial ARN</b> - <code>123456789012:function:MyFunction</code>.</p>\n            </li>\n         </ul>\n         <p>The length constraint applies only to the full ARN. If you specify only the function name, it is limited to 64\n      characters in length.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "Name": {
          "target": "com.amazonaws.awsgirapi#Alias",
          "traits": {
            "smithy.api#documentation": "<p>The name of the alias.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.awsgirapi#GetEventSourceMapping": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.awsgirapi#GetEventSourceMappingRequest"
      },
      "output": {
        "target": "com.amazonaws.awsgirapi#EventSourceMappingConfiguration"
      },
      "errors": [
        {
          "target": "com.amazonaws.awsgirapi#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.awsgirapi#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.awsgirapi#ServiceException"
        },
        {
          "target": "com.amazonaws.awsgirapi#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns details about an event source mapping. You can get the identifier of a mapping from the output of\n        <a>ListEventSourceMappings</a>.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2015-03-31/event-source-mappings/{UUID}",
          "code": 200
        }
      }
    },
    "com.amazonaws.awsgirapi#GetEventSourceMappingRequest": {
      "type": "structure",
      "members": {
        "UUID": {
          "target": "com.amazonaws.awsgirapi#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the event source mapping.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.awsgirapi#GetFunction": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.awsgirapi#GetFunctionRequest"
      },
      "output": {
        "target": "com.amazonaws.awsgirapi#GetFunctionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.awsgirapi#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.awsgirapi#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.awsgirapi#ServiceException"
        },
        {
          "target": "com.amazonaws.awsgirapi#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about the function or function version, with a link to download the deployment package\n      that's valid for 10 minutes. If you specify a function version, only details that are specific to that version are\n      returned.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2015-03-31/functions/{FunctionName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.awsgirapi#GetFunctionConcurrency": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.awsgirapi#GetFunctionConcurrencyRequest"
      },
      "output": {
        "target": "com.amazonaws.awsgirapi#GetFunctionConcurrencyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.awsgirapi#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.awsgirapi#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.awsgirapi#ServiceException"
        },
        {
          "target": "com.amazonaws.awsgirapi#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns details about the concurrency configuration for a function. To set a concurrency limit for a function,\n      use <a>PutFunctionConcurrency</a>.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2019-09-30/functions/{FunctionName}/concurrency",
          "code": 200
        }
      }
    },
    "com.amazonaws.awsgirapi#GetFunctionConcurrencyRequest": {
      "type": "structure",
      "members": {
        "FunctionName": {
          "target": "com.amazonaws.awsgirapi#FunctionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Lambda function.</p>\n         <p class=\"title\">\n            <b>Name formats</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <b>Function name</b> - <code>my-function</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Function ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:my-function</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Partial ARN</b> - <code>123456789012:function:my-function</code>.</p>\n            </li>\n         </ul>\n         <p>The length constraint applies only to the full ARN. If you specify only the function name, it is limited to 64\n      characters in length.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.awsgirapi#GetFunctionConcurrencyResponse": {
      "type": "structure",
      "members": {
        "ReservedConcurrentExecutions": {
          "target": "com.amazonaws.awsgirapi#ReservedConcurrentExecutions",
          "traits": {
            "smithy.api#documentation": "<p>The number of simultaneous executions that are reserved for the function.</p>"
          }
        }
      }
    },
    "com.amazonaws.awsgirapi#GetFunctionConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.awsgirapi#GetFunctionConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.awsgirapi#FunctionConfiguration"
      },
      "errors": [
        {
          "target": "com.amazonaws.awsgirapi#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.awsgirapi#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.awsgirapi#ServiceException"
        },
        {
          "target": "com.amazonaws.awsgirapi#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the version-specific settings of a Lambda function or version. The output includes only options that\n      can vary between versions of a function. To modify these settings, use <a>UpdateFunctionConfiguration</a>.</p>\n         <p>To get all of a function's details, including function-level settings, use <a>GetFunction</a>.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2015-03-31/functions/{FunctionName}/configuration",
          "code": 200
        }
      }
    },
    "com.amazonaws.awsgirapi#GetFunctionConfigurationRequest": {
      "type": "structure",
      "members": {
        "FunctionName": {
          "target": "com.amazonaws.awsgirapi#NamespacedFunctionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Lambda function, version, or alias.</p>\n         <p class=\"title\">\n            <b>Name formats</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <b>Function name</b> - <code>my-function</code> (name-only), <code>my-function:v1</code> (with alias).</p>\n            </li>\n            <li>\n               <p>\n                  <b>Function ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:my-function</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Partial ARN</b> - <code>123456789012:function:my-function</code>.</p>\n            </li>\n         </ul>\n         <p>You can append a version number or alias to any of the formats. The length constraint applies only to the full ARN.\n      If you specify only the function name, it is limited to 64 characters in length.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "Qualifier": {
          "target": "com.amazonaws.awsgirapi#Qualifier",
          "traits": {
            "smithy.api#documentation": "<p>Specify a version or alias to get details about a published version of the function.</p>",
            "smithy.api#httpQuery": "Qualifier"
          }
        }
      }
    },
    "com.amazonaws.awsgirapi#GetFunctionEventInvokeConfig": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.awsgirapi#GetFunctionEventInvokeConfigRequest"
      },
      "output": {
        "target": "com.amazonaws.awsgirapi#FunctionEventInvokeConfig"
      },
      "errors": [
        {
          "target": "com.amazonaws.awsgirapi#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.awsgirapi#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.awsgirapi#ServiceException"
        },
        {
          "target": "com.amazonaws.awsgirapi#TooManyRequestsException"
[...]
