{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      },
      {
        "ids": [
          "HttpUriConflict"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazonaws.license.manager.V2018_08_01#AWSLicenseManager": {
      "type": "service",
      "version": "2018-08-01",
      "operations": [
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#CreateLicenseConfiguration"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#DeleteLicenseConfiguration"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#GetLicenseConfiguration"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#GetServiceSettings"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#ListAssociationsForLicenseConfiguration"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#ListFailuresForLicenseConfigurationOperations"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#ListLicenseConfigurations"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#ListLicenseSpecificationsForResource"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#ListResourceInventory"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#ListUsageForLicenseConfiguration"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#TagResource"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#UntagResource"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#UpdateLicenseConfiguration"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#UpdateLicenseSpecificationsForResource"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#UpdateServiceSettings"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "License Manager",
          "arnNamespace": "license-manager",
          "cloudFormationName": "LicenseManager",
          "cloudTrailEventSource": "V2018_08_01.manager.license.amazonaws.com"
        },
        "smithy.api#documentation": "<fullname> AWS License Manager </fullname>\n         <p>AWS License Manager makes it easier to manage licenses from software vendors across multiple \n         AWS accounts and on-premises servers.</p>",
        "smithy.api#protocols": [
          {
            "name": "aws.json-1.1",
            "auth": [
              "aws.v4"
            ]
          }
        ],
        "smithy.api#title": "AWS License Manager",
        "smithy.api#xmlNamespace": {
          "uri": "https://license-manager.amazonaws.com/doc/2018_08_01"
        }
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.license.manager.V2018_08_01#Message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Access to resource denied.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 401
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#AuthorizationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.license.manager.V2018_08_01#Message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The AWS user account does not have permission to perform the action. Check the IAM\n         policy associated with this account.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#AutomatedDiscoveryInformation": {
      "type": "structure",
      "members": {
        "LastRunTime": {
          "target": "com.amazonaws.license.manager.V2018_08_01#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>Time that automated discovery last ran.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes automated discovery.</p>"
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.license.manager.V2018_08_01#BoxBoolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#BoxInteger": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#BoxLong": {
      "type": "long",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#ConsumedLicenseSummary": {
      "type": "structure",
      "members": {
        "ConsumedLicenses": {
          "target": "com.amazonaws.license.manager.V2018_08_01#BoxLong",
          "traits": {
            "smithy.api#documentation": "<p>Number of licenses consumed by the resource.</p>"
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.license.manager.V2018_08_01#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>Resource type of the resource consuming a license.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about license consumption.</p>"
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#ConsumedLicenseSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.license.manager.V2018_08_01#ConsumedLicenseSummary"
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#CreateLicenseConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.license.manager.V2018_08_01#CreateLicenseConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.license.manager.V2018_08_01#CreateLicenseConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#AuthorizationException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#RateLimitExceededException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#ServerInternalException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a license configuration.</p> \n         <p>A license configuration is an abstraction of a customer license agreement that can be\n         consumed and enforced by License Manager. Components include specifications for the license\n         type (licensing by instance, socket, CPU, or vCPU), allowed tenancy (shared tenancy, \n         Dedicated Instance, Dedicated Host, or all of these), host affinity (how long a VM\n         must be associated with a host), and the number of licenses purchased and used.</p>"
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#CreateLicenseConfigurationRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Description of the license configuration.</p>"
          }
        },
        "LicenseCount": {
          "target": "com.amazonaws.license.manager.V2018_08_01#BoxLong",
          "traits": {
            "smithy.api#documentation": "<p>Number of licenses managed by the license configuration.</p>"
          }
        },
        "LicenseCountHardLimit": {
          "target": "com.amazonaws.license.manager.V2018_08_01#BoxBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether hard or soft license enforcement is used. Exceeding a hard limit\n         blocks the launch of new instances.</p>"
          }
        },
        "LicenseCountingType": {
          "target": "com.amazonaws.license.manager.V2018_08_01#LicenseCountingType",
          "traits": {
            "smithy.api#documentation": "<p>Dimension used to track the license inventory.</p>",
            "smithy.api#required": true
          }
        },
        "LicenseRules": {
          "target": "com.amazonaws.license.manager.V2018_08_01#StringList",
          "traits": {
            "smithy.api#documentation": "<p>License rules. The syntax is #name=value (for example, #allowedTenancy=EC2-DedicatedHost). Available rules vary by dimension.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>Cores</code> dimension: <code>allowedTenancy</code> | <code>maximumCores</code> | <code>minimumCores</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>Instances</code> dimension: <code>allowedTenancy</code> | \n               <code>maximumCores</code> | <code>minimumCores</code> |\n               <code>maximumSockets</code> | <code>minimumSockets</code> |\n               <code>maximumVcpus</code> | <code>minimumVcpus</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>Sockets</code> dimension: <code>allowedTenancy</code> | <code>maximumSockets</code> | <code>minimumSockets</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>vCPUs</code> dimension: <code>allowedTenancy</code> | <code>honorVcpuOptimization</code> | <code>maximumVcpus</code> | <code>minimumVcpus</code>\n               </p>\n            </li>\n         </ul>"
          }
        },
        "Name": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Name of the license configuration.</p>",
            "smithy.api#required": true
          }
        },
        "ProductInformationList": {
          "target": "com.amazonaws.license.manager.V2018_08_01#ProductInformationList",
          "traits": {
            "smithy.api#documentation": "<p>Product information.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.license.manager.V2018_08_01#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Tags to add to the license configuration.</p>"
          }
        }
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#CreateLicenseConfigurationResponse": {
      "type": "structure",
      "members": {
        "LicenseConfigurationArn": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the license configuration.</p>"
          }
        }
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#DateTime": {
      "type": "timestamp"
    },
    "com.amazonaws.license.manager.V2018_08_01#DeleteLicenseConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.license.manager.V2018_08_01#DeleteLicenseConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.license.manager.V2018_08_01#DeleteLicenseConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#AuthorizationException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#RateLimitExceededException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#ServerInternalException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified license configuration.</p> \n         <p>You cannot delete a license configuration that is in use.</p>"
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#DeleteLicenseConfigurationRequest": {
      "type": "structure",
      "members": {
        "LicenseConfigurationArn": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>ID of the license configuration.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#DeleteLicenseConfigurationResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.license.manager.V2018_08_01#FailedDependencyException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.license.manager.V2018_08_01#Message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A dependency required to run the API is missing.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 424
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#Filter": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.license.manager.V2018_08_01#FilterName",
          "traits": {
            "smithy.api#documentation": "<p>Name of the filter. Filter names are case-sensitive.</p>"
          }
        },
        "Values": {
          "target": "com.amazonaws.license.manager.V2018_08_01#FilterValues",
          "traits": {
            "smithy.api#documentation": "<p>Filter values. Filter values are case-sensitive.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A filter name and value pair that is used to return more specific results from a\n         describe operation. Filters can be used to match a set of resources by specific criteria,\n         such as tags, attributes, or IDs.</p>"
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#FilterLimitExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.license.manager.V2018_08_01#Message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request uses too many filters or too many filter values.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#FilterName": {
      "type": "string"
    },
    "com.amazonaws.license.manager.V2018_08_01#FilterValue": {
      "type": "string"
    },
    "com.amazonaws.license.manager.V2018_08_01#FilterValues": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.license.manager.V2018_08_01#FilterValue",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#Filters": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.license.manager.V2018_08_01#Filter",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#GetLicenseConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.license.manager.V2018_08_01#GetLicenseConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.license.manager.V2018_08_01#GetLicenseConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#AuthorizationException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#RateLimitExceededException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#ServerInternalException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets detailed information about the specified license configuration.</p>"
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#GetLicenseConfigurationRequest": {
      "type": "structure",
      "members": {
        "LicenseConfigurationArn": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the license configuration.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#GetLicenseConfigurationResponse": {
      "type": "structure",
      "members": {
        "AutomatedDiscoveryInformation": {
          "target": "com.amazonaws.license.manager.V2018_08_01#AutomatedDiscoveryInformation",
          "traits": {
            "smithy.api#documentation": "<p>Automated discovery information.</p>"
          }
        },
        "ConsumedLicenseSummaryList": {
          "target": "com.amazonaws.license.manager.V2018_08_01#ConsumedLicenseSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>Summaries of the licenses consumed by resources.</p>"
          }
        },
        "ConsumedLicenses": {
          "target": "com.amazonaws.license.manager.V2018_08_01#BoxLong",
          "traits": {
            "smithy.api#documentation": "<p>Number of licenses assigned to resources.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Description of the license configuration.</p>"
          }
        },
        "LicenseConfigurationArn": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the license configuration.</p>"
          }
        },
        "LicenseConfigurationId": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Unique ID for the license configuration.</p>"
          }
        },
        "LicenseCount": {
          "target": "com.amazonaws.license.manager.V2018_08_01#BoxLong",
          "traits": {
            "smithy.api#documentation": "<p>Number of available licenses.</p>"
          }
        },
        "LicenseCountHardLimit": {
          "target": "com.amazonaws.license.manager.V2018_08_01#BoxBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Sets the number of available licenses as a hard limit.</p>"
          }
        },
        "LicenseCountingType": {
          "target": "com.amazonaws.license.manager.V2018_08_01#LicenseCountingType",
          "traits": {
            "smithy.api#documentation": "<p>Dimension on which the licenses are counted.</p>"
          }
        },
        "LicenseRules": {
          "target": "com.amazonaws.license.manager.V2018_08_01#StringList",
          "traits": {
            "smithy.api#documentation": "<p>License rules.</p>"
          }
        },
        "ManagedResourceSummaryList": {
          "target": "com.amazonaws.license.manager.V2018_08_01#ManagedResourceSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>Summaries of the managed resources.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Name of the license configuration.</p>"
          }
        },
        "OwnerAccountId": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Account ID of the owner of the license configuration.</p>"
          }
        },
        "ProductInformationList": {
          "target": "com.amazonaws.license.manager.V2018_08_01#ProductInformationList",
          "traits": {
            "smithy.api#documentation": "<p>Product information.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>License configuration status.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.license.manager.V2018_08_01#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Tags for the license configuration.</p>"
          }
        }
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#GetServiceSettings": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.license.manager.V2018_08_01#GetServiceSettingsRequest"
      },
      "output": {
        "target": "com.amazonaws.license.manager.V2018_08_01#GetServiceSettingsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#AuthorizationException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#RateLimitExceededException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#ServerInternalException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the License Manager settings for the current Region.</p>"
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#GetServiceSettingsRequest": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.license.manager.V2018_08_01#GetServiceSettingsResponse": {
      "type": "structure",
      "members": {
        "EnableCrossAccountsDiscovery": {
          "target": "com.amazonaws.license.manager.V2018_08_01#BoxBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether cross-account discovery has been enabled.</p>"
          }
        },
        "LicenseManagerResourceShareArn": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the AWS resource share. The License Manager master account will provide member\n         accounts with access to this share.</p>"
          }
        },
        "OrganizationConfiguration": {
          "target": "com.amazonaws.license.manager.V2018_08_01#OrganizationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether AWS Organizations has been integrated with License Manager for\n         cross-account discovery.</p>"
          }
        },
        "S3BucketArn": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Regional S3 bucket path for storing reports, license trail event data, discovery data,\n         and so on.</p>"
          }
        },
        "SnsTopicArn": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>SNS topic configured to receive notifications from License Manager.</p>"
          }
        }
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#InvalidParameterValueException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.license.manager.V2018_08_01#Message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>One or more parameter values are not valid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#InvalidResourceStateException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.license.manager.V2018_08_01#Message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>License Manager cannot allocate a license to a resource because of its state. </p>\n         <p>For example, you cannot allocate a license to an instance in the process of shutting\n         down.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#InventoryFilter": {
      "type": "structure",
      "members": {
        "Condition": {
          "target": "com.amazonaws.license.manager.V2018_08_01#InventoryFilterCondition",
          "traits": {
            "smithy.api#documentation": "<p>Condition of the filter.</p>",
            "smithy.api#required": true
          }
        },
        "Name": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Name of the filter.</p>",
            "smithy.api#required": true
          }
        },
        "Value": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Value of the filter.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An inventory filter.</p>"
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#InventoryFilterCondition": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "EQUALS": {
            "name": "EQUALS"
          },
          "NOT_EQUALS": {
            "name": "NOT_EQUALS"
          },
          "BEGINS_WITH": {
            "name": "BEGINS_WITH"
          },
          "CONTAINS": {
            "name": "CONTAINS"
          }
        }
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#InventoryFilterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.license.manager.V2018_08_01#InventoryFilter"
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#LicenseConfiguration": {
      "type": "structure",
      "members": {
        "AutomatedDiscoveryInformation": {
          "target": "com.amazonaws.license.manager.V2018_08_01#AutomatedDiscoveryInformation",
          "traits": {
            "smithy.api#documentation": "<p>Automated discovery information.</p>"
          }
        },
        "ConsumedLicenseSummaryList": {
          "target": "com.amazonaws.license.manager.V2018_08_01#ConsumedLicenseSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>Summaries for licenses consumed by various resources.</p>"
          }
        },
        "ConsumedLicenses": {
          "target": "com.amazonaws.license.manager.V2018_08_01#BoxLong",
          "traits": {
            "smithy.api#documentation": "<p>Number of licenses consumed. </p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Description of the license configuration.</p>"
          }
        },
        "LicenseConfigurationArn": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the license configuration.</p>"
          }
        },
        "LicenseConfigurationId": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Unique ID of the license configuration.</p>"
          }
        },
        "LicenseCount": {
          "target": "com.amazonaws.license.manager.V2018_08_01#BoxLong",
          "traits": {
            "smithy.api#documentation": "<p>Number of licenses managed by the license configuration.</p>"
          }
        },
        "LicenseCountHardLimit": {
          "target": "com.amazonaws.license.manager.V2018_08_01#BoxBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Number of available licenses as a hard limit.</p>"
          }
        },
        "LicenseCountingType": {
          "target": "com.amazonaws.license.manager.V2018_08_01#LicenseCountingType",
          "traits": {
            "smithy.api#documentation": "<p>Dimension to use to track the license inventory.</p>"
          }
        },
        "LicenseRules": {
          "target": "com.amazonaws.license.manager.V2018_08_01#StringList",
          "traits": {
            "smithy.api#documentation": "<p>License rules.</p>"
          }
        },
        "ManagedResourceSummaryList": {
          "target": "com.amazonaws.license.manager.V2018_08_01#ManagedResourceSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>Summaries for managed resources.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Name of the license configuration.</p>"
          }
        },
        "OwnerAccountId": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Account ID of the license configuration's owner.</p>"
          }
        },
        "ProductInformationList": {
          "target": "com.amazonaws.license.manager.V2018_08_01#ProductInformationList",
          "traits": {
            "smithy.api#documentation": "<p>Product information.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Status of the license configuration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A license configuration is an abstraction of a customer license agreement that can be\n         consumed and enforced by License Manager. Components include specifications for the license\n         type (licensing by instance, socket, CPU, or vCPU), allowed tenancy (shared tenancy, \n         Dedicated Instance, Dedicated Host, or all of these), host affinity (how long a VM\n         must be associated with a host), and the number of licenses purchased and used.</p>"
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#LicenseConfigurationAssociation": {
      "type": "structure",
      "members": {
        "AssociationTime": {
          "target": "com.amazonaws.license.manager.V2018_08_01#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>Time when the license configuration was associated with the resource.</p>"
          }
        },
        "ResourceArn": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the resource.</p>"
          }
        },
        "ResourceOwnerId": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>ID of the AWS account that owns the resource consuming licenses.</p>"
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.license.manager.V2018_08_01#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>Type of server resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an association with a license configuration.</p>"
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#LicenseConfigurationAssociations": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.license.manager.V2018_08_01#LicenseConfigurationAssociation"
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#LicenseConfigurationStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "AVAILABLE": {
            "name": "AVAILABLE"
          },
          "DISABLED": {
            "name": "DISABLED"
          }
        }
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#LicenseConfigurationUsage": {
      "type": "structure",
      "members": {
        "AssociationTime": {
          "target": "com.amazonaws.license.manager.V2018_08_01#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>Time when the license configuration was initially associated with the resource.</p>"
          }
        },
        "ConsumedLicenses": {
          "target": "com.amazonaws.license.manager.V2018_08_01#BoxLong",
          "traits": {
            "smithy.api#documentation": "<p>Number of licenses consumed by the resource.</p>"
          }
        },
        "ResourceArn": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the resource.</p>"
          }
        },
        "ResourceOwnerId": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>ID of the account that owns the resource.</p>"
          }
        },
        "ResourceStatus": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Status of the resource.</p>"
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.license.manager.V2018_08_01#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>Type of resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about the usage of a resource associated with a license configuration.</p>"
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#LicenseConfigurationUsageList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.license.manager.V2018_08_01#LicenseConfigurationUsage"
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#LicenseConfigurations": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.license.manager.V2018_08_01#LicenseConfiguration"
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#LicenseCountingType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "vCPU": {
            "name": "VCPU"
          },
          "Instance": {
            "name": "INSTANCE"
          },
          "Core": {
            "name": "CORE"
          },
          "Socket": {
            "name": "SOCKET"
          }
        }
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#LicenseOperationFailure": {
      "type": "structure",
      "members": {
        "ErrorMessage": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Error message.</p>"
          }
        },
        "FailureTime": {
          "target": "com.amazonaws.license.manager.V2018_08_01#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>Failure time.</p>"
          }
        },
        "MetadataList": {
          "target": "com.amazonaws.license.manager.V2018_08_01#MetadataList",
          "traits": {
            "smithy.api#documentation": "<p>Reserved.</p>"
          }
        },
        "OperationName": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Name of the operation.</p>"
          }
        },
        "OperationRequestedBy": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>The requester is \"License Manager Automated Discovery\".</p>"
          }
        },
        "ResourceArn": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the resource.</p>"
          }
        },
        "ResourceOwnerId": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>ID of the AWS account that owns the resource.</p>"
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.license.manager.V2018_08_01#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>Resource type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the failure of a license operation.</p>"
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#LicenseOperationFailureList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.license.manager.V2018_08_01#LicenseOperationFailure"
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#LicenseSpecification": {
      "type": "structure",
      "members": {
        "LicenseConfigurationArn": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the license configuration.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details for associating a license configuration with a resource.</p>"
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#LicenseSpecifications": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.license.manager.V2018_08_01#LicenseSpecification"
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#LicenseUsageException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.license.manager.V2018_08_01#Message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have enough licenses available to support a new resource launch.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 412
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#ListAssociationsForLicenseConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.license.manager.V2018_08_01#ListAssociationsForLicenseConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.license.manager.V2018_08_01#ListAssociationsForLicenseConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#AuthorizationException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#FilterLimitExceededException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#RateLimitExceededException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#ServerInternalException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the resource associations for the specified license configuration.</p> \n         <p>Resource associations need not consume licenses from a license configuration. \n         For example, an AMI or a stopped instance might not consume a license (depending on \n         the license rules).</p>"
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#ListAssociationsForLicenseConfigurationRequest": {
      "type": "structure",
      "members": {
        "LicenseConfigurationArn": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of a license configuration.</p>",
            "smithy.api#required": true
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.license.manager.V2018_08_01#BoxInteger",
          "traits": {
            "smithy.api#documentation": "<p>Maximum number of results to return in a single call.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Token for the next set of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#ListAssociationsForLicenseConfigurationResponse": {
      "type": "structure",
      "members": {
        "LicenseConfigurationAssociations": {
          "target": "com.amazonaws.license.manager.V2018_08_01#LicenseConfigurationAssociations",
          "traits": {
            "smithy.api#documentation": "<p>Information about the associations for the license configuration.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Token for the next set of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#ListFailuresForLicenseConfigurationOperations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.license.manager.V2018_08_01#ListFailuresForLicenseConfigurationOperationsRequest"
      },
      "output": {
        "target": "com.amazonaws.license.manager.V2018_08_01#ListFailuresForLicenseConfigurationOperationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#AuthorizationException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#RateLimitExceededException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#ServerInternalException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the license configuration operations that failed.</p>"
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#ListFailuresForLicenseConfigurationOperationsRequest": {
      "type": "structure",
      "members": {
        "LicenseConfigurationArn": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name of the license configuration.</p>",
            "smithy.api#required": true
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.license.manager.V2018_08_01#BoxInteger",
          "traits": {
            "smithy.api#documentation": "<p>Maximum number of results to return in a single call.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Token for the next set of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#ListFailuresForLicenseConfigurationOperationsResponse": {
      "type": "structure",
      "members": {
        "LicenseOperationFailureList": {
          "target": "com.amazonaws.license.manager.V2018_08_01#LicenseOperationFailureList",
          "traits": {
            "smithy.api#documentation": "<p>License configuration operations that failed.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Token for the next set of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#ListLicenseConfigurations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.license.manager.V2018_08_01#ListLicenseConfigurationsRequest"
      },
      "output": {
        "target": "com.amazonaws.license.manager.V2018_08_01#ListLicenseConfigurationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#AuthorizationException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#FilterLimitExceededException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#RateLimitExceededException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#ServerInternalException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the license configurations for your account.</p>"
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#ListLicenseConfigurationsRequest": {
      "type": "structure",
      "members": {
        "Filters": {
          "target": "com.amazonaws.license.manager.V2018_08_01#Filters",
          "traits": {
            "smithy.api#documentation": "<p>Filters to scope the results. The following filters and logical operators\n        are supported:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>licenseCountingType</code> - The dimension on which licenses are counted (vCPU).\n               Logical operators are <code>EQUALS</code> | <code>NOT_EQUALS</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>enforceLicenseCount</code> - A Boolean value that indicates whether hard license enforcement is used. \n               Logical operators are <code>EQUALS</code> | <code>NOT_EQUALS</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>usagelimitExceeded</code> - A Boolean value that indicates whether the available licenses have been exceeded. \n               Logical operators are <code>EQUALS</code> | <code>NOT_EQUALS</code>.</p>\n            </li>\n         </ul>"
          }
        },
        "LicenseConfigurationArns": {
          "target": "com.amazonaws.license.manager.V2018_08_01#StringList",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Names (ARN) of the license configurations.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.license.manager.V2018_08_01#BoxInteger",
          "traits": {
            "smithy.api#documentation": "<p>Maximum number of results to return in a single call.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Token for the next set of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#ListLicenseConfigurationsResponse": {
      "type": "structure",
      "members": {
        "LicenseConfigurations": {
          "target": "com.amazonaws.license.manager.V2018_08_01#LicenseConfigurations",
          "traits": {
            "smithy.api#documentation": "<p>Information about the license configurations.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Token for the next set of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#ListLicenseSpecificationsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.license.manager.V2018_08_01#ListLicenseSpecificationsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.license.manager.V2018_08_01#ListLicenseSpecificationsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#AuthorizationException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#RateLimitExceededException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#ServerInternalException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the license configurations for the specified resource.</p>"
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#ListLicenseSpecificationsForResourceRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.license.manager.V2018_08_01#BoxInteger",
          "traits": {
            "smithy.api#documentation": "<p>Maximum number of results to return in a single call.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Token for the next set of results.</p>"
          }
        },
        "ResourceArn": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of a resource that has an associated license configuration.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#ListLicenseSpecificationsForResourceResponse": {
      "type": "structure",
      "members": {
        "LicenseSpecifications": {
          "target": "com.amazonaws.license.manager.V2018_08_01#LicenseSpecifications",
          "traits": {
            "smithy.api#documentation": "<p>License configurations associated with a resource.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Token for the next set of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#ListResourceInventory": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.license.manager.V2018_08_01#ListResourceInventoryRequest"
      },
      "output": {
        "target": "com.amazonaws.license.manager.V2018_08_01#ListResourceInventoryResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#AuthorizationException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#FailedDependencyException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#FilterLimitExceededException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#RateLimitExceededException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#ServerInternalException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists resources managed using Systems Manager inventory.</p>"
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#ListResourceInventoryRequest": {
      "type": "structure",
      "members": {
        "Filters": {
          "target": "com.amazonaws.license.manager.V2018_08_01#InventoryFilterList",
          "traits": {
            "smithy.api#documentation": "<p>Filters to scope the results. The following filters and logical operators\n        are supported:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>account_id</code> - The ID of the AWS account that owns the resource.\n               Logical operators are <code>EQUALS</code> | <code>NOT_EQUALS</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>application_name</code> - The name of the application. \n               Logical operators are <code>EQUALS</code> | <code>BEGINS_WITH</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>license_included</code> - The type of license included. \n               Logical operators are <code>EQUALS</code> | <code>NOT_EQUALS</code>.\n               Possible values are <code>sql-server-enterprise</code> | \n               <code>sql-server-standard</code> | \n               <code>sql-server-web</code> |  \n               <code>windows-server-datacenter</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>platform</code> - The platform of the resource.\n               Logical operators are <code>EQUALS</code> | <code>BEGINS_WITH</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>resource_id</code> - The ID of the resource. \n               Logical operators are <code>EQUALS</code> | <code>NOT_EQUALS</code>.</p>\n            </li>\n         </ul>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.license.manager.V2018_08_01#BoxInteger",
          "traits": {
            "smithy.api#documentation": "<p>Maximum number of results to return in a single call.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Token for the next set of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#ListResourceInventoryResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Token for the next set of results.</p>"
          }
        },
        "ResourceInventoryList": {
          "target": "com.amazonaws.license.manager.V2018_08_01#ResourceInventoryList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the resources.</p>"
          }
        }
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.license.manager.V2018_08_01#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.license.manager.V2018_08_01#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#AuthorizationException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#RateLimitExceededException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#ServerInternalException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the tags for the specified license configuration.</p>"
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the license configuration.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.license.manager.V2018_08_01#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the tags.</p>"
          }
        }
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#ListUsageForLicenseConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.license.manager.V2018_08_01#ListUsageForLicenseConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.license.manager.V2018_08_01#ListUsageForLicenseConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#AuthorizationException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#FilterLimitExceededException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#RateLimitExceededException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#ServerInternalException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all license usage records for a license configuration, displaying license\n         consumption details by resource at a selected point in time. Use this action to audit the\n         current license consumption for any license inventory and configuration.</p>"
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#ListUsageForLicenseConfigurationRequest": {
      "type": "structure",
      "members": {
        "Filters": {
          "target": "com.amazonaws.license.manager.V2018_08_01#Filters",
          "traits": {
            "smithy.api#documentation": "<p>Filters to scope the results. The following filters and logical operators\n        are supported:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>resourceArn</code> - The ARN of the license configuration resource.\n               Logical operators are <code>EQUALS</code> | <code>NOT_EQUALS</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>resourceType</code> - The resource type (EC2_INSTANCE | EC2_HOST | EC2_AMI | SYSTEMS_MANAGER_MANAGED_INSTANCE). \n               Logical operators are <code>EQUALS</code> | <code>NOT_EQUALS</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>resourceAccount</code> - The ID of the account that owns the resource. \n               Logical operators are <code>EQUALS</code> | <code>NOT_EQUALS</code>.</p>\n            </li>\n         </ul>"
          }
        },
        "LicenseConfigurationArn": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the license configuration.</p>",
            "smithy.api#required": true
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.license.manager.V2018_08_01#BoxInteger",
          "traits": {
            "smithy.api#documentation": "<p>Maximum number of results to return in a single call.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Token for the next set of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#ListUsageForLicenseConfigurationResponse": {
      "type": "structure",
      "members": {
        "LicenseConfigurationUsageList": {
          "target": "com.amazonaws.license.manager.V2018_08_01#LicenseConfigurationUsageList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the license configurations.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Token for the next set of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#ManagedResourceSummary": {
      "type": "structure",
      "members": {
        "AssociationCount": {
          "target": "com.amazonaws.license.manager.V2018_08_01#BoxLong",
          "traits": {
            "smithy.api#documentation": "<p>Number of resources associated with licenses.</p>"
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.license.manager.V2018_08_01#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>Type of resource associated with a license.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary information about a managed resource.</p>"
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#ManagedResourceSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.license.manager.V2018_08_01#ManagedResourceSummary"
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#Message": {
      "type": "string"
    },
    "com.amazonaws.license.manager.V2018_08_01#Metadata": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Reserved.</p>"
          }
        },
        "Value": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Reserved.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Reserved.</p>"
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#MetadataList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.license.manager.V2018_08_01#Metadata"
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#OrganizationConfiguration": {
      "type": "structure",
      "members": {
        "EnableIntegration": {
          "target": "com.amazonaws.license.manager.V2018_08_01#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Enables AWS Organization integration.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration information for AWS Organizations.</p>"
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#ProductInformation": {
      "type": "structure",
      "members": {
        "ProductInformationFilterList": {
          "target": "com.amazonaws.license.manager.V2018_08_01#ProductInformationFilterList",
          "traits": {
            "smithy.api#documentation": "<p>Product information filters. The following filters and logical operators\n        are supported:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>Application Name</code> - The name of the application.\n              Logical operator is <code>EQUALS</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Application Publisher</code> - The publisher of the application.\n               Logical operator is <code>EQUALS</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Application Version</code> - The version of the application.\n               Logical operator is <code>EQUALS</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Platform Name</code> - The name of the platform.\n               Logical operator is <code>EQUALS</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Platform Type</code> - The platform type.\n               Logical operator is <code>EQUALS</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>License Included</code> - The type of license included.\n               Logical operators are <code>EQUALS</code> and <code>NOT_EQUALS</code>.\n               Possible values are <code>sql-server-enterprise</code> | \n               <code>sql-server-standard</code> | \n               <code>sql-server-web</code> |  \n               <code>windows-server-datacenter</code>.</p>\n            </li>\n         </ul>",
            "smithy.api#required": true
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Resource type. The value is <code>SSM_MANAGED</code>.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes product information for a license configuration.</p>"
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#ProductInformationFilter": {
      "type": "structure",
      "members": {
        "ProductInformationFilterComparator": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Logical operator.</p>",
            "smithy.api#required": true
          }
        },
        "ProductInformationFilterName": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Filter name.</p>",
            "smithy.api#required": true
          }
        },
        "ProductInformationFilterValue": {
          "target": "com.amazonaws.license.manager.V2018_08_01#StringList",
          "traits": {
            "smithy.api#documentation": "<p>Filter value.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes product information filters.</p>"
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#ProductInformationFilterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.license.manager.V2018_08_01#ProductInformationFilter"
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#ProductInformationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.license.manager.V2018_08_01#ProductInformation"
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#RateLimitExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.license.manager.V2018_08_01#Message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#ResourceInventory": {
      "type": "structure",
      "members": {
        "Platform": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Platform of the resource.</p>"
          }
        },
        "PlatformVersion": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Platform version of the resource in the inventory.</p>"
          }
        },
        "ResourceArn": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the resource.</p>"
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>ID of the resource.</p>"
          }
        },
        "ResourceOwningAccountId": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>ID of the account that owns the resource.</p>"
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.license.manager.V2018_08_01#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>Type of resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about a resource.</p>"
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#ResourceInventoryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.license.manager.V2018_08_01#ResourceInventory"
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#ResourceLimitExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.license.manager.V2018_08_01#Message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Your resource limits have been exceeded.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#ResourceType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "EC2_INSTANCE": {
            "name": "EC2_INSTANCE"
          },
          "EC2_HOST": {
            "name": "EC2_HOST"
          },
          "EC2_AMI": {
            "name": "EC2_AMI"
          },
          "RDS": {
            "name": "RDS"
          },
          "SYSTEMS_MANAGER_MANAGED_INSTANCE": {
            "name": "SYSTEMS_MANAGER_MANAGED_INSTANCE"
          }
        }
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#ServerInternalException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.license.manager.V2018_08_01#Message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The server experienced an internal error. Try again.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#String": {
      "type": "string"
    },
    "com.amazonaws.license.manager.V2018_08_01#StringList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.license.manager.V2018_08_01#String"
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#Tag": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Tag key.</p>"
          }
        },
        "Value": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Tag value.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about a tag for a license configuration.</p>"
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#TagKeyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.license.manager.V2018_08_01#String"
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#TagList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.license.manager.V2018_08_01#Tag"
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#TagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.license.manager.V2018_08_01#TagResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.license.manager.V2018_08_01#TagResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#AuthorizationException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#RateLimitExceededException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#ServerInternalException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds the specified tags to the specified license configuration.</p>"
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#TagResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the license configuration.</p>",
            "smithy.api#required": true
          }
        },
        "Tags": {
          "target": "com.amazonaws.license.manager.V2018_08_01#TagList",
          "traits": {
            "smithy.api#documentation": "<p>One or more tags.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#TagResourceResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.license.manager.V2018_08_01#UntagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.license.manager.V2018_08_01#UntagResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.license.manager.V2018_08_01#UntagResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#AuthorizationException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#RateLimitExceededException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#ServerInternalException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes the specified tags from the specified license configuration.</p>"
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#UntagResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the license configuration.</p>",
            "smithy.api#required": true
          }
        },
        "TagKeys": {
          "target": "com.amazonaws.license.manager.V2018_08_01#TagKeyList",
          "traits": {
            "smithy.api#documentation": "<p>Keys identifying the tags to remove.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#UntagResourceResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.license.manager.V2018_08_01#UpdateLicenseConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.license.manager.V2018_08_01#UpdateLicenseConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.license.manager.V2018_08_01#UpdateLicenseConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#AuthorizationException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#RateLimitExceededException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#ServerInternalException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Modifies the attributes of an existing license configuration.</p> \n         <p>A license configuration is an abstraction of a customer license agreement that can be\n         consumed and enforced by License Manager. Components include specifications for the license\n         type (licensing by instance, socket, CPU, or vCPU), allowed tenancy (shared tenancy, \n         Dedicated Instance, Dedicated Host, or all of these), host affinity (how long a VM\n         must be associated with a host), and the number of licenses purchased and used.</p>"
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#UpdateLicenseConfigurationRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>New description of the license configuration.</p>"
          }
        },
        "LicenseConfigurationArn": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the license configuration.</p>",
            "smithy.api#required": true
          }
        },
        "LicenseConfigurationStatus": {
          "target": "com.amazonaws.license.manager.V2018_08_01#LicenseConfigurationStatus",
          "traits": {
            "smithy.api#documentation": "<p>New status of the license configuration.</p>"
          }
        },
        "LicenseCount": {
          "target": "com.amazonaws.license.manager.V2018_08_01#BoxLong",
          "traits": {
            "smithy.api#documentation": "<p>New number of licenses managed by the license configuration.</p>"
          }
        },
        "LicenseCountHardLimit": {
          "target": "com.amazonaws.license.manager.V2018_08_01#BoxBoolean",
          "traits": {
            "smithy.api#documentation": "<p>New hard limit of the number of available licenses.</p>"
          }
        },
        "LicenseRules": {
          "target": "com.amazonaws.license.manager.V2018_08_01#StringList",
          "traits": {
            "smithy.api#documentation": "<p>New license rules.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>New name of the license configuration.</p>"
          }
        },
        "ProductInformationList": {
          "target": "com.amazonaws.license.manager.V2018_08_01#ProductInformationList",
          "traits": {
            "smithy.api#documentation": "<p>New product information.</p>"
          }
        }
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#UpdateLicenseConfigurationResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.license.manager.V2018_08_01#UpdateLicenseSpecificationsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.license.manager.V2018_08_01#UpdateLicenseSpecificationsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.license.manager.V2018_08_01#UpdateLicenseSpecificationsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#AuthorizationException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#InvalidResourceStateException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#LicenseUsageException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#RateLimitExceededException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#ServerInternalException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds or removes the specified license configurations for the specified AWS resource.</p> \n         <p>You can update the license specifications of AMIs, instances, and hosts.\n         You cannot update the license specifications for launch templates and AWS CloudFormation templates, \n         as they send license configurations to the operation that creates the resource.</p>"
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#UpdateLicenseSpecificationsForResourceRequest": {
      "type": "structure",
      "members": {
        "AddLicenseSpecifications": {
          "target": "com.amazonaws.license.manager.V2018_08_01#LicenseSpecifications",
          "traits": {
            "smithy.api#documentation": "<p>ARNs of the license configurations to add.</p>"
          }
        },
        "RemoveLicenseSpecifications": {
          "target": "com.amazonaws.license.manager.V2018_08_01#LicenseSpecifications",
          "traits": {
            "smithy.api#documentation": "<p>ARNs of the license configurations to remove.</p>"
          }
        },
        "ResourceArn": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the AWS resource.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#UpdateLicenseSpecificationsForResourceResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.license.manager.V2018_08_01#UpdateServiceSettings": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.license.manager.V2018_08_01#UpdateServiceSettingsRequest"
      },
      "output": {
        "target": "com.amazonaws.license.manager.V2018_08_01#UpdateServiceSettingsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#AuthorizationException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#RateLimitExceededException"
        },
        {
          "target": "com.amazonaws.license.manager.V2018_08_01#ServerInternalException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Updates License Manager settings for the current Region.</p>"
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#UpdateServiceSettingsRequest": {
      "type": "structure",
      "members": {
        "EnableCrossAccountsDiscovery": {
          "target": "com.amazonaws.license.manager.V2018_08_01#BoxBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Activates cross-account discovery.</p>"
          }
        },
        "OrganizationConfiguration": {
          "target": "com.amazonaws.license.manager.V2018_08_01#OrganizationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Enables integration with AWS Organizations for cross-account discovery.</p>"
          }
        },
        "S3BucketArn": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the Amazon S3 bucket where the License Manager information is stored.</p>"
          }
        },
        "SnsTopicArn": {
          "target": "com.amazonaws.license.manager.V2018_08_01#String",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the Amazon SNS topic used for License Manager alerts.</p>"
          }
        }
      }
    },
    "com.amazonaws.license.manager.V2018_08_01#UpdateServiceSettingsResponse": {
      "type": "structure",
      "members": { }
    }
  }
}
