{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      },
      {
        "ids": [
          "HttpUriConflict"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazon.bacon.pinpoint.frontend.svc#AccountSuspendedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazon.bacon.common.svc#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The message can't be sent because the account's ability to send email has been\n            permanently restricted.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#AlreadyExistsException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazon.bacon.common.svc#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The resource specified in your request already exists.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#AmazonPinpointEmailService": {
      "type": "service",
      "version": "2018-07-26",
      "operations": [
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#CreateConfigurationSet"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#CreateConfigurationSetEventDestination"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#CreateDedicatedIpPool"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#CreateDeliverabilityTestReport"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#CreateEmailIdentity"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#DeleteConfigurationSet"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#DeleteConfigurationSetEventDestination"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#DeleteDedicatedIpPool"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#DeleteEmailIdentity"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#GetAccount"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#GetBlacklistReports"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#GetConfigurationSet"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#GetConfigurationSetEventDestinations"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#GetDedicatedIp"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#GetDedicatedIps"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#GetDeliverabilityDashboardOptions"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#GetDeliverabilityTestReport"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#GetDomainDeliverabilityCampaign"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#GetDomainStatisticsReport"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#GetEmailIdentity"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#ListConfigurationSets"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#ListDedicatedIpPools"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#ListDeliverabilityTestReports"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#ListDomainDeliverabilityCampaigns"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#ListEmailIdentities"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#ListTagsForResource"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#PutAccountDedicatedIpWarmupAttributes"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#PutAccountSendingAttributes"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#PutConfigurationSetDeliveryOptions"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#PutConfigurationSetReputationOptions"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#PutConfigurationSetSendingOptions"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#PutConfigurationSetTrackingOptions"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#PutDedicatedIpInPool"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#PutDedicatedIpWarmupAttributes"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#PutDeliverabilityDashboardOption"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#PutEmailIdentityDkimAttributes"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#PutEmailIdentityFeedbackAttributes"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#PutEmailIdentityMailFromAttributes"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#SendEmail"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#TagResource"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#UntagResource"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#UpdateConfigurationSetEventDestination"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Pinpoint Email",
          "arnNamespace": "ses",
          "cloudFormationName": "PinpointEmail",
          "cloudTrailEventSource": "svc.frontend.pinpoint.bacon.amazon.com"
        },
        "smithy.api#documentation": "<fullname>Amazon Pinpoint Email Service</fullname>\n        <p>Welcome to the <i>Amazon Pinpoint Email API Reference</i>. This guide provides\n            information about the Amazon Pinpoint Email API (version 1.0), including supported\n            operations, data types, parameters, and schemas.</p>\n        <p>\n            <a href=\"https://aws.amazon.com/pinpoint\">Amazon Pinpoint</a> is an AWS service that you\n            can use to engage with your customers across multiple messaging channels. You can use\n            Amazon Pinpoint to send email, SMS text messages, voice messages, and push notifications. The\n            Amazon Pinpoint Email API provides programmatic access to options that are unique to the\n            email channel and supplement the options provided by the Amazon Pinpoint API.</p>\n        <p>If you're new to Amazon Pinpoint, you might find it helpful to also review the <a href=\"https://docs.aws.amazon.com/pinpoint/latest/developerguide/welcome.html\">Amazon\n                Pinpoint Developer Guide</a>. The <i>Amazon Pinpoint Developer\n                Guide</i> provides tutorials, code samples, and procedures that demonstrate\n            how to use Amazon Pinpoint features programmatically and how to integrate Amazon Pinpoint functionality into\n            mobile apps and other types of applications. The guide also provides information about\n            key topics such as Amazon Pinpoint integration with other AWS services and the limits that apply\n            to using the service.</p>\n        <p>The Amazon Pinpoint Email API is available in several AWS Regions and it provides an endpoint\n            for each of these Regions. For a list of all the Regions and endpoints where the API is\n            currently available, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/rande.html#pinpoint_region\">AWS Service Endpoints</a> in\n            the <i>Amazon Web Services General Reference</i>. To learn more about AWS Regions, see\n                <a href=\"https://docs.aws.amazon.com/general/latest/gr/rande-manage.html\">Managing AWS\n                Regions</a> in the <i>Amazon Web Services General Reference</i>.</p>\n        <p>In each Region, AWS maintains multiple Availability Zones. These Availability Zones\n            are physically isolated from each other, but are united by private, low-latency,\n            high-throughput, and highly redundant network connections. These Availability Zones\n            enable us to provide very high levels of availability and redundancy, while also\n            minimizing latency. To learn more about the number of Availability Zones that are\n            available in each Region, see <a href=\"http://aws.amazon.com/about-aws/global-infrastructure/\">AWS Global Infrastructure</a>.</p>",
        "smithy.api#protocols": [
          {
            "name": "aws.rest-json-1.1",
            "auth": [
              "aws.v4"
            ]
          }
        ],
        "smithy.api#title": "Amazon Pinpoint Email Service"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#AmazonResourceName": {
      "type": "string"
    },
    "com.amazon.bacon.pinpoint.frontend.svc#BadRequestException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazon.bacon.common.svc#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input you provided is invalid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#BehaviorOnMxFailure": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The action that you want Amazon Pinpoint to take if it can't read the required MX record for a\n            custom MAIL FROM domain. When you set this value to <code>UseDefaultValue</code>, Amazon Pinpoint\n            uses <i>amazonses.com</i> as the MAIL FROM domain. When you set this value\n            to <code>RejectMessage</code>, Amazon Pinpoint returns a <code>MailFromDomainNotVerified</code>\n            error, and doesn't attempt to deliver the email.</p>\n        <p>These behaviors are taken when the custom MAIL FROM domain configuration is in the\n                <code>Pending</code>, <code>Failed</code>, and <code>TemporaryFailure</code>\n            states.</p>",
        "smithy.api#enum": {
          "USE_DEFAULT_VALUE": {
            "name": "USE_DEFAULT_VALUE"
          },
          "REJECT_MESSAGE": {
            "name": "REJECT_MESSAGE"
          }
        }
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#BlacklistEntries": {
      "type": "list",
      "member": {
        "target": "com.amazon.bacon.pinpoint.frontend.svc#BlacklistEntry"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#BlacklistEntry": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#BlacklistingDescription",
          "traits": {
            "smithy.api#documentation": "<p>Additional information about the blacklisting event, as provided by the blacklist\n            maintainer.</p>"
          }
        },
        "ListingTime": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time when the blacklisting event occurred, shown in Unix time format.</p>"
          }
        },
        "RblName": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#RblName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the blacklist that the IP address appears on.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that contains information about a blacklisting event that impacts one of the\n            dedicated IP addresses that is associated with your account.</p>"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#BlacklistItemName": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>An IP address that you want to obtain blacklist information for.</p>"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#BlacklistItemNames": {
      "type": "list",
      "member": {
        "target": "com.amazon.bacon.pinpoint.frontend.svc#BlacklistItemName"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#BlacklistReport": {
      "type": "map",
      "key": {
        "target": "com.amazon.bacon.pinpoint.frontend.svc#BlacklistItemName"
      },
      "value": {
        "target": "com.amazon.bacon.pinpoint.frontend.svc#BlacklistEntries"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#BlacklistingDescription": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>A description of the blacklisting event.</p>"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#Body": {
      "type": "structure",
      "members": {
        "Html": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#Content",
          "traits": {
            "smithy.api#documentation": "<p>An object that represents the version of the message that is displayed in email\n            clients that support HTML. HTML messages can include formatted text, hyperlinks, images,\n            and more. </p>"
          }
        },
        "Text": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#Content",
          "traits": {
            "smithy.api#documentation": "<p>An object that represents the version of the message that is displayed in email\n            clients that don't support HTML, or clients where the recipient has disabled HTML\n            rendering.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the body of the email message.</p>"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#CampaignId": {
      "type": "string"
    },
    "com.amazon.bacon.pinpoint.frontend.svc#Charset": {
      "type": "string"
    },
    "com.amazon.bacon.pinpoint.frontend.svc#CloudWatchDestination": {
      "type": "structure",
      "members": {
        "DimensionConfigurations": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#CloudWatchDimensionConfigurations",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects that define the dimensions to use when you send email events to\n            Amazon CloudWatch.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that defines an Amazon CloudWatch destination for email events. You can use Amazon CloudWatch to\n            monitor and gain insights on your email sending metrics.</p>"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#CloudWatchDimensionConfiguration": {
      "type": "structure",
      "members": {
        "DefaultDimensionValue": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#DefaultDimensionValue",
          "traits": {
            "smithy.api#documentation": "<p>The default value of the dimension that is published to Amazon CloudWatch if you don't provide the\n            value of the dimension when you send an email. This value has to meet the following\n            criteria:</p>\n        <ul>\n            <li>\n                <p>It can only contain ASCII letters (a-z, A-Z), numbers (0-9), underscores (_),\n                    or dashes (-).</p>\n            </li>\n            <li>\n                <p>It can contain no more than 256 characters.</p>\n            </li>\n         </ul>",
            "smithy.api#required": true
          }
        },
        "DimensionName": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#DimensionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of an Amazon CloudWatch dimension associated with an email sending metric. The name has to\n            meet the following criteria:</p>\n        <ul>\n            <li>\n                <p>It can only contain ASCII letters (a-z, A-Z), numbers (0-9), underscores (_),\n                    or dashes (-).</p>\n            </li>\n            <li>\n                <p>It can contain no more than 256 characters.</p>\n            </li>\n         </ul>",
            "smithy.api#required": true
          }
        },
        "DimensionValueSource": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#DimensionValueSource",
          "traits": {
            "smithy.api#documentation": "<p>The location where Amazon Pinpoint finds the value of a dimension to publish to Amazon CloudWatch. If you\n            want Amazon Pinpoint to use the message tags that you specify using an X-SES-MESSAGE-TAGS header\n            or a parameter to the SendEmail/SendRawEmail API, choose <code>messageTag</code>. If you\n            want Amazon Pinpoint to use your own email headers, choose <code>emailHeader</code>. If you want\n            Amazon Pinpoint to use link tags, choose <code>linkTags</code>.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that defines the dimension configuration to use when you send Amazon Pinpoint email\n            events to Amazon CloudWatch.</p>"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#CloudWatchDimensionConfigurations": {
      "type": "list",
      "member": {
        "target": "com.amazon.bacon.pinpoint.frontend.svc#CloudWatchDimensionConfiguration"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#ConcurrentModificationException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazon.bacon.common.svc#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The resource is being modified by another operation or thread.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#ConfigurationSetName": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The name of a configuration set.</p>\n        <p>In Amazon Pinpoint, <i>configuration sets</i> are groups of rules that you can\n            apply to the emails you send. You apply a configuration set to an email by including a\n            reference to the configuration set in the headers of the email. When you apply a\n            configuration set to an email, all of the rules in that configuration set are applied to\n            the email.</p>"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#ConfigurationSetNameList": {
      "type": "list",
      "member": {
        "target": "com.amazon.bacon.pinpoint.frontend.svc#ConfigurationSetName"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#Content": {
      "type": "structure",
      "members": {
        "Charset": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#Charset",
          "traits": {
            "smithy.api#documentation": "<p>The character set for the content. Because of the constraints of the SMTP protocol,\n            Amazon Pinpoint uses 7-bit ASCII by default. If the text includes characters outside of the ASCII\n            range, you have to specify a character set. For example, you could specify\n                <code>UTF-8</code>, <code>ISO-8859-1</code>, or <code>Shift_JIS</code>.</p>"
          }
        },
        "Data": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#MessageData",
          "traits": {
            "smithy.api#documentation": "<p>The content of the message itself.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that represents the content of the email, and optionally a character set\n            specification.</p>"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#CreateConfigurationSet": {
      "type": "operation",
      "input": {
        "target": "com.amazon.bacon.pinpoint.frontend.svc#CreateConfigurationSetRequest"
      },
      "output": {
        "target": "com.amazon.bacon.pinpoint.frontend.svc#CreateConfigurationSetResponse"
      },
      "errors": [
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#AlreadyExistsException"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#BadRequestException"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#ConcurrentModificationException"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#LimitExceededException"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#NotFoundException"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create a configuration set. <i>Configuration sets</i> are groups of\n            rules that you can apply to the emails you send using Amazon Pinpoint. You apply a configuration\n            set to an email by including a reference to the configuration set in the headers of the\n            email. When you apply a configuration set to an email, all of the rules in that\n            configuration set are applied to the email. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/email/configuration-sets",
          "code": 200
        }
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#CreateConfigurationSetEventDestination": {
      "type": "operation",
      "input": {
        "target": "com.amazon.bacon.pinpoint.frontend.svc#CreateConfigurationSetEventDestinationRequest"
      },
      "output": {
        "target": "com.amazon.bacon.pinpoint.frontend.svc#CreateConfigurationSetEventDestinationResponse"
      },
      "errors": [
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#AlreadyExistsException"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#BadRequestException"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#LimitExceededException"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#NotFoundException"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create an event destination. In Amazon Pinpoint, <i>events</i> include message\n            sends, deliveries, opens, clicks, bounces, and complaints. <i>Event\n                destinations</i> are places that you can send information about these events\n            to. For example, you can send event data to Amazon SNS to receive notifications when you\n            receive bounces or complaints, or you can use Amazon Kinesis Data Firehose to stream data to Amazon S3 for long-term\n            storage.</p>\n        <p>A single configuration set can include more than one event destination.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/email/configuration-sets/{ConfigurationSetName}/event-destinations",
          "code": 200
        }
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#CreateConfigurationSetEventDestinationRequest": {
      "type": "structure",
      "members": {
        "ConfigurationSetName": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#ConfigurationSetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration set that you want to add an event destination to.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "EventDestination": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#EventDestinationDefinition",
          "traits": {
            "smithy.api#documentation": "<p>An object that defines the event destination.</p>",
            "smithy.api#required": true
          }
        },
        "EventDestinationName": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#EventDestinationName",
          "traits": {
            "smithy.api#documentation": "<p>A name that identifies the event destination within the configuration set.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A request to add an event destination to a configuration set.</p>"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#CreateConfigurationSetEventDestinationResponse": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "<p>An HTTP 200 response if the request succeeds, or an error message if the request\n            fails.</p>"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#CreateConfigurationSetRequest": {
      "type": "structure",
      "members": {
        "ConfigurationSetName": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#ConfigurationSetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration set.</p>",
            "smithy.api#required": true
          }
        },
        "DeliveryOptions": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#DeliveryOptions",
          "traits": {
            "smithy.api#documentation": "<p>An object that defines the dedicated IP pool that is used to send emails that you send\n            using the configuration set.</p>"
          }
        },
        "ReputationOptions": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#ReputationOptions",
          "traits": {
            "smithy.api#documentation": "<p>An object that defines whether or not Amazon Pinpoint collects reputation metrics for the emails\n            that you send that use the configuration set.</p>"
          }
        },
        "SendingOptions": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#SendingOptions",
          "traits": {
            "smithy.api#documentation": "<p>An object that defines whether or not Amazon Pinpoint can send email that you send using the\n            configuration set.</p>"
          }
        },
        "Tags": {
          "target": "com.amazon.bacon.common.svc#TagList",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects that define the tags (keys and values) that you want to associate\n            with the configuration set.</p>"
          }
        },
        "TrackingOptions": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#TrackingOptions",
          "traits": {
            "smithy.api#documentation": "<p>An object that defines the open and click tracking options for emails that you send\n            using the configuration set.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A request to create a configuration set.</p>"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#CreateConfigurationSetResponse": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "<p>An HTTP 200 response if the request succeeds, or an error message if the request\n            fails.</p>"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#CreateDedicatedIpPool": {
      "type": "operation",
      "input": {
        "target": "com.amazon.bacon.pinpoint.frontend.svc#CreateDedicatedIpPoolRequest"
      },
      "output": {
        "target": "com.amazon.bacon.pinpoint.frontend.svc#CreateDedicatedIpPoolResponse"
      },
      "errors": [
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#AlreadyExistsException"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#BadRequestException"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#ConcurrentModificationException"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#LimitExceededException"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create a new pool of dedicated IP addresses. A pool can include one or more dedicated\n            IP addresses that are associated with your Amazon Pinpoint account. You can associate a pool with\n            a configuration set. When you send an email that uses that configuration set, Amazon Pinpoint\n            sends it using only the IP addresses in the associated pool.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/email/dedicated-ip-pools",
          "code": 200
        }
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#CreateDedicatedIpPoolRequest": {
      "type": "structure",
      "members": {
        "PoolName": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#PoolName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dedicated IP pool.</p>",
            "smithy.api#required": true
          }
        },
        "Tags": {
          "target": "com.amazon.bacon.common.svc#TagList",
          "traits": {
            "smithy.api#documentation": "<p>An object that defines the tags (keys and values) that you want to associate with the\n            pool.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A request to create a new dedicated IP pool.</p>"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#CreateDedicatedIpPoolResponse": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "<p>An HTTP 200 response if the request succeeds, or an error message if the request\n            fails.</p>"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#CreateDeliverabilityTestReport": {
      "type": "operation",
      "input": {
        "target": "com.amazon.bacon.pinpoint.frontend.svc#CreateDeliverabilityTestReportRequest"
      },
      "output": {
        "target": "com.amazon.bacon.pinpoint.frontend.svc#CreateDeliverabilityTestReportResponse"
      },
      "errors": [
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#AccountSuspendedException"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#BadRequestException"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#ConcurrentModificationException"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#LimitExceededException"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#MailFromDomainNotVerifiedException"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#MessageRejected"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#NotFoundException"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#SendingPausedException"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create a new predictive inbox placement test. Predictive inbox placement tests can help you predict how your messages will be handled\n            by various email providers around the world. When you perform a predictive inbox placement test, you provide a\n            sample message that contains the content that you plan to send to your customers. Amazon Pinpoint\n            then sends that message to special email addresses spread across several major email\n            providers. After about 24 hours, the test is complete, and you can use the\n                <code>GetDeliverabilityTestReport</code> operation to view the results of the\n            test.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/email/deliverability-dashboard/test",
          "code": 200
        }
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#CreateDeliverabilityTestReportRequest": {
      "type": "structure",
      "members": {
        "Content": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#EmailContent",
          "traits": {
            "smithy.api#documentation": "<p>The HTML body of the message that you sent when you performed the predictive inbox placement test.</p>",
            "smithy.api#required": true
          }
        },
        "FromEmailAddress": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#EmailAddress",
          "traits": {
            "smithy.api#documentation": "<p>The email address that the predictive inbox placement test email was sent from.</p>",
            "smithy.api#required": true
          }
        },
        "ReportName": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#ReportName",
          "traits": {
            "smithy.api#documentation": "<p>A unique name that helps you to identify the predictive inbox placement test when you retrieve the\n            results.</p>"
          }
        },
        "Tags": {
          "target": "com.amazon.bacon.common.svc#TagList",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects that define the tags (keys and values) that you want to associate\n            with the predictive inbox placement test.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A request to perform a predictive inbox placement test. Predictive inbox placement tests can help you predict how your messages will\n            be handled by various email providers around the world. When you perform a predictive inbox placement test, you\n            provide a sample message that contains the content that you plan to send to your\n            customers. Amazon Pinpoint then sends that message to special email addresses spread across\n            several major email providers. After about 24 hours, the test is complete, and you can\n            use the <code>GetDeliverabilityTestReport</code> operation to view the results of the\n            test.</p>"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#CreateDeliverabilityTestReportResponse": {
      "type": "structure",
      "members": {
        "DeliverabilityTestStatus": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#DeliverabilityTestStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the predictive inbox placement test. If the status is <code>IN_PROGRESS</code>, then the predictive inbox placement test\n            is currently running. Predictive inbox placement tests are usually complete within 24 hours of creating the\n            test. If the status is <code>COMPLETE</code>, then the test is finished, and you can use\n            the <code>GetDeliverabilityTestReport</code> to view the results of the test.</p>",
            "smithy.api#required": true
          }
        },
        "ReportId": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#ReportId",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies the predictive inbox placement test.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the predictive inbox placement test that you created.</p>"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#CreateEmailIdentity": {
      "type": "operation",
      "input": {
        "target": "com.amazon.bacon.pinpoint.frontend.svc#CreateEmailIdentityRequest"
      },
      "output": {
        "target": "com.amazon.bacon.pinpoint.frontend.svc#CreateEmailIdentityResponse"
      },
      "errors": [
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#BadRequestException"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#ConcurrentModificationException"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#LimitExceededException"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Verifies an email identity for use with Amazon Pinpoint. In Amazon Pinpoint, an identity is an email\n            address or domain that you use when you send email. Before you can use an identity to\n            send email with Amazon Pinpoint, you first have to verify it. By verifying an address, you\n            demonstrate that you're the owner of the address, and that you've given Amazon Pinpoint permission\n            to send email from the address.</p>\n        <p>When you verify an email address, Amazon Pinpoint sends an email to the address. Your email\n            address is verified as soon as you follow the link in the verification email.\n            \n        </p>\n        <p>When you verify a domain, this operation provides a set of DKIM tokens, which you can\n            convert into CNAME tokens. You add these CNAME tokens to the DNS configuration for your\n            domain. Your domain is verified when Amazon Pinpoint detects these records in the DNS\n            configuration for your domain. It usually takes around 72 hours to complete the domain\n            verification process.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/email/identities",
          "code": 200
        }
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#CreateEmailIdentityRequest": {
      "type": "structure",
      "members": {
        "EmailIdentity": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#Identity",
          "traits": {
            "smithy.api#documentation": "<p>The email address or domain that you want to verify.</p>",
            "smithy.api#required": true
          }
        },
        "Tags": {
          "target": "com.amazon.bacon.common.svc#TagList",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects that define the tags (keys and values) that you want to associate\n            with the email identity.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A request to begin the verification process for an email identity (an email address or\n            domain).</p>"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#CreateEmailIdentityResponse": {
      "type": "structure",
      "members": {
        "DkimAttributes": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#DkimAttributes",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains information about the DKIM attributes for the identity. This\n            object includes the tokens that you use to create the CNAME records that are required to\n            complete the DKIM verification process.</p>"
          }
        },
        "IdentityType": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#IdentityType",
          "traits": {
            "smithy.api#documentation": "<p>The email identity type.</p>"
          }
        },
        "VerifiedForSendingStatus": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#Enabled",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether or not the identity is verified. In Amazon Pinpoint, you can only send email\n            from verified email addresses or domains. For more information about verifying\n            identities, see the <a href=\"https://docs.aws.amazon.com/pinpoint/latest/userguide/channels-email-manage-verify.html\">Amazon Pinpoint User Guide</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>If the email identity is a domain, this object contains tokens that you can use to\n            create a set of CNAME records. To sucessfully verify your domain, you have to add these\n            records to the DNS configuration for your domain.</p>\n        <p>If the email identity is an email address, this object is empty. </p>"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#CustomRedirectDomain": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The domain that you want to use for tracking open and click events.</p>"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#DailyVolume": {
      "type": "structure",
      "members": {
        "DomainIspPlacements": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#DomainIspPlacements",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains inbox placement metrics for a specified day in the analysis\n            period, broken out by the recipient's email provider.</p>"
          }
        },
        "StartDate": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date that the DailyVolume metrics apply to, in Unix time.</p>"
          }
        },
        "VolumeStatistics": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#VolumeStatistics",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains inbox placement metrics for a specific day in the analysis\n            period.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that contains information about the volume of email sent on each day of the\n            analysis period.</p>"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#DailyVolumes": {
      "type": "list",
      "member": {
        "target": "com.amazon.bacon.pinpoint.frontend.svc#DailyVolume"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#DedicatedIp": {
      "type": "structure",
      "members": {
        "Ip": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#Ip",
          "traits": {
            "smithy.api#documentation": "<p>An IP address that is reserved for use by your Amazon Pinpoint account.</p>",
            "smithy.api#required": true
          }
        },
        "PoolName": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#PoolName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dedicated IP pool that the IP address is associated with.</p>"
          }
        },
        "WarmupPercentage": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#Percentage100Wrapper",
          "traits": {
            "smithy.api#documentation": "<p>Indicates how complete the dedicated IP warm-up process is. When this value equals 1,\n            the address has completed the warm-up process and is ready for use.</p>",
            "smithy.api#required": true
          }
        },
        "WarmupStatus": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#WarmupStatus",
          "traits": {
            "smithy.api#documentation": "<p>The warm-up status of a dedicated IP address. The status can have one of the following\n            values:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>IN_PROGRESS</code> – The IP address isn't ready to use because the\n                    dedicated IP warm-up process is ongoing.</p>\n            </li>\n            <li>\n                <p>\n                  <code>DONE</code> – The dedicated IP warm-up process is complete, and\n                    the IP address is ready to use.</p>\n            </li>\n         </ul>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a dedicated IP address that is associated with your Amazon Pinpoint\n            account.</p>\n        <p></p>"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#DedicatedIpList": {
      "type": "list",
      "member": {
        "target": "com.amazon.bacon.pinpoint.frontend.svc#DedicatedIp"
      },
      "traits": {
        "smithy.api#documentation": "<p>A list of dedicated IP addresses that are associated with your Amazon Pinpoint account.</p>"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#DefaultDimensionValue": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The default value of the dimension that is published to Amazon CloudWatch if you don't provide the\n            value of the dimension when you send an email. This value has to meet the following\n            criteria:</p>\n        <ul>\n            <li>\n                <p>It can only contain ASCII letters (a-z, A-Z), numbers (0-9), underscores (_),\n                    or dashes (-).</p>\n            </li>\n            <li>\n                <p>It can contain no more than 256 characters.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#DeleteConfigurationSet": {
      "type": "operation",
      "input": {
        "target": "com.amazon.bacon.pinpoint.frontend.svc#DeleteConfigurationSetRequest"
      },
      "output": {
        "target": "com.amazon.bacon.pinpoint.frontend.svc#DeleteConfigurationSetResponse"
      },
      "errors": [
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#BadRequestException"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#ConcurrentModificationException"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#NotFoundException"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Delete an existing configuration set.</p>\n        <p>In Amazon Pinpoint, <i>configuration sets</i> are groups of rules that you can\n            apply to the emails you send. You apply a configuration set to an email by including a\n            reference to the configuration set in the headers of the email. When you apply a\n            configuration set to an email, all of the rules in that configuration set are applied to\n            the email.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/email/configuration-sets/{ConfigurationSetName}",
          "code": 200
        }
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#DeleteConfigurationSetEventDestination": {
      "type": "operation",
      "input": {
        "target": "com.amazon.bacon.pinpoint.frontend.svc#DeleteConfigurationSetEventDestinationRequest"
      },
      "output": {
        "target": "com.amazon.bacon.pinpoint.frontend.svc#DeleteConfigurationSetEventDestinationResponse"
      },
      "errors": [
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#BadRequestException"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#NotFoundException"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Delete an event destination.</p>\n        <p>In Amazon Pinpoint, <i>events</i> include message sends, deliveries, opens,\n            clicks, bounces, and complaints. <i>Event destinations</i> are places that\n            you can send information about these events to. For example, you can send event data to\n            Amazon SNS to receive notifications when you receive bounces or complaints, or you can use\n            Amazon Kinesis Data Firehose to stream data to Amazon S3 for long-term storage.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/email/configuration-sets/{ConfigurationSetName}/event-destinations/{EventDestinationName}",
          "code": 200
        }
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#DeleteConfigurationSetEventDestinationRequest": {
      "type": "structure",
      "members": {
        "ConfigurationSetName": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#ConfigurationSetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration set that contains the event destination that you want to\n            delete.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "EventDestinationName": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#EventDestinationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the event destination that you want to delete.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A request to delete an event destination from a configuration set.</p>"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#DeleteConfigurationSetEventDestinationResponse": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "<p>An HTTP 200 response if the request succeeds, or an error message if the request\n            fails.</p>"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#DeleteConfigurationSetRequest": {
      "type": "structure",
      "members": {
        "ConfigurationSetName": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#ConfigurationSetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration set that you want to delete.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A request to delete a configuration set.</p>"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#DeleteConfigurationSetResponse": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "<p>An HTTP 200 response if the request succeeds, or an error message if the request\n            fails.</p>"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#DeleteDedicatedIpPool": {
      "type": "operation",
      "input": {
        "target": "com.amazon.bacon.pinpoint.frontend.svc#DeleteDedicatedIpPoolRequest"
      },
      "output": {
        "target": "com.amazon.bacon.pinpoint.frontend.svc#DeleteDedicatedIpPoolResponse"
      },
      "errors": [
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#BadRequestException"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#ConcurrentModificationException"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#NotFoundException"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Delete a dedicated IP pool.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/email/dedicated-ip-pools/{PoolName}",
          "code": 200
        }
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#DeleteDedicatedIpPoolRequest": {
      "type": "structure",
      "members": {
        "PoolName": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#PoolName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dedicated IP pool that you want to delete.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A request to delete a dedicated IP pool.</p>"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#DeleteDedicatedIpPoolResponse": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "<p>An HTTP 200 response if the request succeeds, or an error message if the request\n            fails.</p>"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#DeleteEmailIdentity": {
      "type": "operation",
      "input": {
        "target": "com.amazon.bacon.pinpoint.frontend.svc#DeleteEmailIdentityRequest"
      },
      "output": {
        "target": "com.amazon.bacon.pinpoint.frontend.svc#DeleteEmailIdentityResponse"
      },
      "errors": [
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#BadRequestException"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#ConcurrentModificationException"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#NotFoundException"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an email identity that you previously verified for use with Amazon Pinpoint. An identity\n            can be either an email address or a domain name.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/email/identities/{EmailIdentity}",
          "code": 200
        }
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#DeleteEmailIdentityRequest": {
      "type": "structure",
      "members": {
        "EmailIdentity": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#Identity",
          "traits": {
            "smithy.api#documentation": "<p>The identity (that is, the email address or domain) that you want to delete from your\n            Amazon Pinpoint account.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A request to delete an existing email identity. When you delete an identity, you lose\n            the ability to use Amazon Pinpoint to send email from that identity. You can restore your ability\n            to send email by completing the verification process for the identity again.</p>"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#DeleteEmailIdentityResponse": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "<p>An HTTP 200 response if the request succeeds, or an error message if the request\n            fails.</p>"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#DeliverabilityDashboardAccountStatus": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The current status of your Deliverability dashboard subscription. If this value is\n                <code>PENDING_EXPIRATION</code>, your subscription is scheduled to expire at the end\n            of the current calendar month.</p>",
        "smithy.api#enum": {
          "ACTIVE": {
            "name": "ACTIVE"
          },
          "PENDING_EXPIRATION": {
            "name": "PENDING_EXPIRATION"
          },
          "DISABLED": {
            "name": "DISABLED"
          }
        }
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#DeliverabilityTestReport": {
      "type": "structure",
      "members": {
        "CreateDate": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the predictive inbox placement test was created, in Unix time format.</p>"
          }
        },
        "DeliverabilityTestStatus": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#DeliverabilityTestStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the predictive inbox placement test. If the status is <code>IN_PROGRESS</code>, then the predictive inbox placement test\n            is currently running. Predictive inbox placement tests are usually complete within 24 hours of creating the\n            test. If the status is <code>COMPLETE</code>, then the test is finished, and you can use\n            the <code>GetDeliverabilityTestReport</code> to view the results of the test.</p>"
          }
        },
        "FromEmailAddress": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#EmailAddress",
          "traits": {
            "smithy.api#documentation": "<p>The sender address that you specified for the predictive inbox placement test.</p>"
          }
        },
        "ReportId": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#ReportId",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies the predictive inbox placement test.</p>"
          }
        },
        "ReportName": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#ReportName",
          "traits": {
            "smithy.api#documentation": "<p>A name that helps you identify a predictive inbox placement test report.</p>"
          }
        },
        "Subject": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#DeliverabilityTestSubject",
          "traits": {
            "smithy.api#documentation": "<p>The subject line for an email that you submitted in a predictive inbox placement test.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that contains metadata related to a predictive inbox placement test.</p>"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#DeliverabilityTestReports": {
      "type": "list",
      "member": {
        "target": "com.amazon.bacon.pinpoint.frontend.svc#DeliverabilityTestReport"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#DeliverabilityTestStatus": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The status of a predictive inbox placement test. If the status is <code>IN_PROGRESS</code>, then the predictive inbox placement test is\n            currently running. Predictive inbox placement tests are usually complete within 24 hours of creating the test.\n            If the status is <code>COMPLETE</code>, then the test is finished, and you can use the\n                <code>GetDeliverabilityTestReport</code> operation to view the results of the\n            test.</p>",
        "smithy.api#enum": {
          "IN_PROGRESS": {
            "name": "IN_PROGRESS"
          },
          "COMPLETED": {
            "name": "COMPLETED"
          }
        }
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#DeliverabilityTestSubject": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The subject line for an email that you submitted in a predictive inbox placement test.</p>"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#DeliveryOptions": {
      "type": "structure",
      "members": {
        "SendingPoolName": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#PoolName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dedicated IP pool that you want to associate with the configuration\n            set.</p>"
          }
        },
        "TlsPolicy": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#TlsPolicy",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether messages that use the configuration set are required to use\n            Transport Layer Security (TLS). If the value is <code>Require</code>, messages are only\n            delivered if a TLS connection can be established. If the value is <code>Optional</code>,\n            messages can be delivered in plain text if a TLS connection can't be established.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Used to associate a configuration set with a dedicated IP pool.</p>"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#Destination": {
      "type": "structure",
      "members": {
        "BccAddresses": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#EmailAddressList",
          "traits": {
            "smithy.api#documentation": "<p>An array that contains the email addresses of the \"BCC\" (blind carbon copy) recipients\n            for the email.</p>"
          }
        },
        "CcAddresses": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#EmailAddressList",
          "traits": {
            "smithy.api#documentation": "<p>An array that contains the email addresses of the \"CC\" (carbon copy) recipients for\n            the email.</p>"
          }
        },
        "ToAddresses": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#EmailAddressList",
          "traits": {
            "smithy.api#documentation": "<p>An array that contains the email addresses of the \"To\" recipients for the\n            email.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that describes the recipients for an email.</p>"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#DimensionName": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The name of an Amazon CloudWatch dimension associated with an email sending metric. The name has to\n            meet the following criteria:</p>\n        <ul>\n            <li>\n                <p>It can only contain ASCII letters (a-z, A-Z), numbers (0-9), underscores (_),\n                    or dashes (-).</p>\n            </li>\n            <li>\n                <p>It can contain no more than 256 characters.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#DimensionValueSource": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The location where Amazon Pinpoint finds the value of a dimension to publish to Amazon CloudWatch. If you\n            want Amazon Pinpoint to use the message tags that you specify using an X-SES-MESSAGE-TAGS header\n            or a parameter to the SendEmail/SendRawEmail API, choose <code>messageTag</code>. If you\n            want Amazon Pinpoint to use your own email headers, choose <code>emailHeader</code>. If you want\n            Amazon Pinpoint to use link tags, choose <code>linkTags</code>.</p>",
        "smithy.api#enum": {
          "MESSAGE_TAG": {
            "name": "MESSAGE_TAG"
          },
          "EMAIL_HEADER": {
            "name": "EMAIL_HEADER"
          },
          "LINK_TAG": {
            "name": "LINK_TAG"
          }
        }
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#DkimAttributes": {
      "type": "structure",
      "members": {
        "SigningEnabled": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#Enabled",
          "traits": {
            "smithy.api#documentation": "<p>If the value is <code>true</code>, then the messages that Amazon Pinpoint sends from the\n            identity are DKIM-signed. If the value is <code>false</code>, then the messages that\n            Amazon Pinpoint sends from the identity aren't DKIM-signed.</p>"
          }
        },
        "Status": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#DkimStatus",
          "traits": {
            "smithy.api#documentation": "<p>Describes whether or not Amazon Pinpoint has successfully located the DKIM records in the DNS\n            records for the domain. The status can be one of the following:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>PENDING</code> – Amazon Pinpoint hasn't yet located the DKIM records in the\n                    DNS configuration for the domain, but will continue to attempt to locate\n                    them.</p>\n            </li>\n            <li>\n                <p>\n                  <code>SUCCESS</code> – Amazon Pinpoint located the DKIM records in the DNS\n                    configuration for the domain and determined that they're correct. Amazon Pinpoint can now\n                    send DKIM-signed email from the identity.</p>\n            </li>\n            <li>\n                <p>\n                  <code>FAILED</code> – Amazon Pinpoint was unable to locate the DKIM records in the\n                    DNS settings for the domain, and won't continue to search for them.</p>\n            </li>\n            <li>\n                <p>\n                  <code>TEMPORARY_FAILURE</code> – A temporary issue occurred, which\n                    prevented Amazon Pinpoint from determining the DKIM status for the domain.</p>\n            </li>\n            <li>\n                <p>\n                  <code>NOT_STARTED</code> – Amazon Pinpoint hasn't yet started searching for the\n                    DKIM records in the DKIM records for the domain.</p>\n            </li>\n         </ul>"
          }
        },
        "Tokens": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#DnsTokenList",
          "traits": {
            "smithy.api#documentation": "<p>A set of unique strings that you use to create a set of CNAME records that you add to\n            the DNS configuration for your domain. When Amazon Pinpoint detects these records in the DNS\n            configuration for your domain, the DKIM authentication process is complete. Amazon Pinpoint\n            usually detects these records within about 72 hours of adding them to the DNS\n            configuration for your domain.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that contains information about the DKIM configuration for an email\n            identity.</p>"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#DkimStatus": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The DKIM authentication status of the identity. The status can be one of the\n            following:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>PENDING</code> – The DKIM verification process was initiated, and\n                    Amazon Pinpoint is still waiting for the required CNAME records to appear in the DNS\n                    configuration for the domain.</p>\n            </li>\n            <li>\n                <p>\n                  <code>SUCCESS</code> – The DKIM authentication process completed\n                    successfully.</p>\n            </li>\n            <li>\n                <p>\n                  <code>FAILED</code> – The DKIM authentication process failed. This can\n                    happen when Amazon Pinpoint fails to find the required CNAME records in the DNS\n                    configuration of the domain.</p>\n            </li>\n            <li>\n                <p>\n                  <code>TEMPORARY_FAILURE</code> – A temporary issue is preventing Amazon Pinpoint\n                    from determining the DKIM authentication status of the domain.</p>\n            </li>\n            <li>\n                <p>\n                  <code>NOT_STARTED</code> – The DKIM verification process hasn't been\n                    initiated for the domain.</p>\n            </li>\n         </ul>",
        "smithy.api#enum": {
          "PENDING": {
            "name": "PENDING"
          },
          "SUCCESS": {
            "name": "SUCCESS"
          },
          "FAILED": {
            "name": "FAILED"
          },
          "TEMPORARY_FAILURE": {
            "name": "TEMPORARY_FAILURE"
          },
          "NOT_STARTED": {
            "name": "NOT_STARTED"
          }
        }
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#DnsToken": {
      "type": "string"
    },
    "com.amazon.bacon.pinpoint.frontend.svc#DnsTokenList": {
      "type": "list",
      "member": {
        "target": "com.amazon.bacon.pinpoint.frontend.svc#DnsToken"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#Domain": {
      "type": "string"
    },
    "com.amazon.bacon.pinpoint.frontend.svc#DomainDeliverabilityCampaign": {
      "type": "structure",
      "members": {
        "CampaignId": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#CampaignId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the campaign. Amazon Pinpoint automatically generates and assigns this\n            identifier to a campaign. This value is not the same as the campaign identifier that\n            Amazon Pinpoint assigns to campaigns that you create and manage by using the Amazon Pinpoint API or the\n            Amazon Pinpoint console.</p>"
          }
        },
        "DeleteRate": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#Percentage",
          "traits": {
            "smithy.api#documentation": "<p>The percentage of email messages that were deleted by recipients, without being opened\n            first. Due to technical limitations, this value only includes recipients who opened the\n            message by using an email client that supports images.</p>"
          }
        },
        "Esps": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#Esps",
          "traits": {
            "smithy.api#documentation": "<p>The major email providers who handled the email message.</p>"
          }
        },
        "FirstSeenDateTime": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The first time, in Unix time format, when the email message was delivered to any\n            recipient's inbox. This value can help you determine how long it took for a campaign to\n            deliver an email message.</p>"
          }
        },
        "FromAddress": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#Identity",
          "traits": {
            "smithy.api#documentation": "<p>The verified email address that the email message was sent from.</p>"
          }
        },
        "ImageUrl": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#ImageUrl",
          "traits": {
            "smithy.api#documentation": "<p>The URL of an image that contains a snapshot of the email message that was\n            sent.</p>"
          }
        },
        "InboxCount": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#Volume",
          "traits": {
            "smithy.api#documentation": "<p>The number of email messages that were delivered to recipients’ inboxes.</p>"
          }
        },
        "LastSeenDateTime": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The last time, in Unix time format, when the email message was delivered to any\n            recipient's inbox. This value can help you determine how long it took for a campaign to\n            deliver an email message.</p>"
          }
        },
        "ProjectedVolume": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#Volume",
          "traits": {
            "smithy.api#documentation": "<p>The projected number of recipients that the email message was sent to.</p>"
          }
        },
        "ReadDeleteRate": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#Percentage",
          "traits": {
            "smithy.api#documentation": "<p>The percentage of email messages that were opened and then deleted by recipients. Due\n            to technical limitations, this value only includes recipients who opened the message by\n            using an email client that supports images.</p>"
          }
        },
        "ReadRate": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#Percentage",
          "traits": {
            "smithy.api#documentation": "<p>The percentage of email messages that were opened by recipients. Due to technical\n            limitations, this value only includes recipients who opened the message by using an\n            email client that supports images.</p>"
          }
        },
        "SendingIps": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#IpList",
          "traits": {
            "smithy.api#documentation": "<p>The IP addresses that were used to send the email message.</p>"
          }
        },
        "SpamCount": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#Volume",
          "traits": {
            "smithy.api#documentation": "<p>The number of email messages that were delivered to recipients' spam or junk mail\n            folders.</p>"
          }
        },
        "Subject": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#Subject",
          "traits": {
            "smithy.api#documentation": "<p>The subject line, or title, of the email message.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that contains the deliverability data for a specific campaign. This data is\n            available for a campaign only if the campaign sent email by using a domain that the\n            Deliverability dashboard is enabled for (<code>PutDeliverabilityDashboardOption</code>\n            operation).</p>"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#DomainDeliverabilityCampaignList": {
      "type": "list",
      "member": {
        "target": "com.amazon.bacon.pinpoint.frontend.svc#DomainDeliverabilityCampaign"
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#DomainDeliverabilityTrackingOption": {
      "type": "structure",
      "members": {
        "Domain": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#Domain",
          "traits": {
            "smithy.api#documentation": "<p>A verified domain that’s associated with your AWS account and currently has an\n            active Deliverability dashboard subscription.</p>"
          }
        },
        "InboxPlacementTrackingOption": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#InboxPlacementTrackingOption",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains information about the inbox placement data settings for the\n            domain.</p>"
          }
        },
        "SubscriptionStartDate": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date, in Unix time format, when you enabled the Deliverability dashboard for the\n            domain.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that contains information about the Deliverability dashboard subscription for a\n            verified domain that you use to send email and currently has an active Deliverability dashboard\n            subscription. If a Deliverability dashboard subscription is active for a domain, you gain access\n            to reputation, inbox placement, and other metrics for the domain.</p>"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#DomainDeliverabilityTrackingOptions": {
      "type": "list",
      "member": {
        "target": "com.amazon.bacon.pinpoint.frontend.svc#DomainDeliverabilityTrackingOption"
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that contains information about the Deliverability dashboard subscription for a\n            verified domain that you use to send email and currently has an active Deliverability dashboard\n            subscription. If a Deliverability dashboard subscription is active for a domain, you gain access\n            to reputation, inbox placement, and other metrics for the domain.</p>"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#DomainIspPlacement": {
      "type": "structure",
      "members": {
        "InboxPercentage": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#Percentage",
          "traits": {
            "smithy.api#documentation": "<p>The percentage of messages that were sent from the selected domain to the specified\n            email provider that arrived in recipients' inboxes.</p>"
          }
        },
        "InboxRawCount": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#Volume",
          "traits": {
            "smithy.api#documentation": "<p>The total number of messages that were sent from the selected domain to the specified\n            email provider that arrived in recipients' inboxes.</p>"
          }
        },
        "IspName": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#IspName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the email provider that the inbox placement data applies to.</p>"
          }
        },
        "SpamPercentage": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#Percentage",
          "traits": {
            "smithy.api#documentation": "<p>The percentage of messages that were sent from the selected domain to the specified\n            email provider that arrived in recipients' spam or junk mail folders.</p>"
          }
        },
        "SpamRawCount": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#Volume",
          "traits": {
            "smithy.api#documentation": "<p>The total number of messages that were sent from the selected domain to the specified\n            email provider that arrived in recipients' spam or junk mail folders.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that contains inbox placement data for email sent from one of your email\n            domains to a specific email provider.</p>"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#DomainIspPlacements": {
      "type": "list",
      "member": {
        "target": "com.amazon.bacon.pinpoint.frontend.svc#DomainIspPlacement"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#EmailAddress": {
      "type": "string"
    },
    "com.amazon.bacon.pinpoint.frontend.svc#EmailAddressList": {
      "type": "list",
      "member": {
        "target": "com.amazon.bacon.pinpoint.frontend.svc#EmailAddress"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#EmailContent": {
      "type": "structure",
      "members": {
        "Raw": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#RawMessage",
          "traits": {
            "smithy.api#documentation": "<p>The raw email message. The message has to meet the following criteria:</p>\n        <ul>\n            <li>\n                <p>The message has to contain a header and a body, separated by one blank\n                    line.</p>\n            </li>\n            <li>\n                <p>All of the required header fields must be present in the message.</p>\n            </li>\n            <li>\n                <p>Each part of a multipart MIME message must be formatted properly.</p>\n            </li>\n            <li>\n                <p>If you include attachments, they must be in a file format that Amazon Pinpoint supports.\n                    </p>\n            </li>\n            <li>\n                <p>The entire message must be Base64 encoded.</p>\n            </li>\n            <li>\n                <p>If any of the MIME parts in your message contain content that is outside of\n                    the 7-bit ASCII character range, you should encode that content to ensure that\n                    recipients' email clients render the message properly.</p>\n            </li>\n            <li>\n                <p>The length of any single line of text in the message can't exceed 1,000\n                    characters. This restriction is defined in <a href=\"https://tools.ietf.org/html/rfc5321\">RFC 5321</a>.</p>\n            </li>\n         </ul>"
          }
        },
        "Simple": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#Message",
          "traits": {
            "smithy.api#documentation": "<p>The simple email message. The message consists of a subject and a message body.</p>"
          }
        },
        "Template": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#Template",
          "traits": {
            "smithy.api#documentation": "<p>The template to use for the email message.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that defines the entire content of the email, including the message headers\n            and the body content. You can create a simple email message, in which you specify the\n            subject and the text and HTML versions of the message body. You can also create raw\n            messages, in which you specify a complete MIME-formatted message. Raw messages can\n            include attachments and custom headers.</p>"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#Enabled": {
      "type": "boolean"
    },
    "com.amazon.bacon.common.svc#ErrorMessage": {
      "type": "string"
    },
    "com.amazon.bacon.pinpoint.frontend.svc#Esp": {
      "type": "string"
    },
    "com.amazon.bacon.pinpoint.frontend.svc#Esps": {
      "type": "list",
      "member": {
        "target": "com.amazon.bacon.pinpoint.frontend.svc#Esp"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#EventDestination": {
      "type": "structure",
      "members": {
        "CloudWatchDestination": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#CloudWatchDestination",
          "traits": {
            "smithy.api#documentation": "<p>An object that defines an Amazon CloudWatch destination for email events. You can use Amazon CloudWatch to\n            monitor and gain insights on your email sending metrics.</p>"
          }
        },
        "Enabled": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#Enabled",
          "traits": {
            "smithy.api#documentation": "<p>If <code>true</code>, the event destination is enabled. When the event destination is\n            enabled, the specified event types are sent to the destinations in this\n                <code>EventDestinationDefinition</code>.</p>\n        <p>If <code>false</code>, the event destination is disabled. When the event destination\n            is disabled, events aren't sent to the specified destinations.</p>"
          }
        },
        "KinesisFirehoseDestination": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#KinesisFirehoseDestination",
          "traits": {
            "smithy.api#documentation": "<p>An object that defines an Amazon Kinesis Data Firehose destination for email events. You can use Amazon Kinesis Data Firehose to\n            stream data to other services, such as Amazon S3 and Amazon Redshift.</p>"
          }
        },
        "MatchingEventTypes": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#EventTypes",
          "traits": {
            "smithy.api#documentation": "<p>The types of events that Amazon Pinpoint sends to the specified event destinations.</p>",
            "smithy.api#required": true
          }
        },
        "Name": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#EventDestinationName",
          "traits": {
            "smithy.api#documentation": "<p>A name that identifies the event destination.</p>",
            "smithy.api#required": true
          }
        },
        "PinpointDestination": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#PinpointDestination",
          "traits": {
            "smithy.api#documentation": "<p>An object that defines a Amazon Pinpoint destination for email events. You can use Amazon Pinpoint events\n            to create attributes in Amazon Pinpoint projects. You can use these attributes to create segments\n            for your campaigns.</p>"
          }
        },
        "SnsDestination": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#SnsDestination",
          "traits": {
            "smithy.api#documentation": "<p>An object that defines an Amazon SNS destination for email events. You can use Amazon SNS to\n            send notification when certain email events occur.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>In Amazon Pinpoint, <i>events</i> include message sends, deliveries, opens,\n            clicks, bounces, and complaints. <i>Event destinations</i> are places that\n            you can send information about these events to. For example, you can send event data to\n            Amazon SNS to receive notifications when you receive bounces or complaints, or you can use\n            Amazon Kinesis Data Firehose to stream data to Amazon S3 for long-term storage.</p>"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#EventDestinationDefinition": {
      "type": "structure",
      "members": {
        "CloudWatchDestination": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#CloudWatchDestination",
          "traits": {
            "smithy.api#documentation": "<p>An object that defines an Amazon CloudWatch destination for email events. You can use Amazon CloudWatch to\n            monitor and gain insights on your email sending metrics.</p>"
          }
        },
        "Enabled": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#Enabled",
          "traits": {
            "smithy.api#documentation": "<p>If <code>true</code>, the event destination is enabled. When the event destination is\n            enabled, the specified event types are sent to the destinations in this\n                <code>EventDestinationDefinition</code>.</p>\n        <p>If <code>false</code>, the event destination is disabled. When the event destination\n            is disabled, events aren't sent to the specified destinations.</p>"
          }
        },
        "KinesisFirehoseDestination": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#KinesisFirehoseDestination",
          "traits": {
            "smithy.api#documentation": "<p>An object that defines an Amazon Kinesis Data Firehose destination for email events. You can use Amazon Kinesis Data Firehose to\n            stream data to other services, such as Amazon S3 and Amazon Redshift.</p>"
          }
        },
        "MatchingEventTypes": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#EventTypes",
          "traits": {
            "smithy.api#documentation": "<p>An array that specifies which events Amazon Pinpoint should send to the destinations in this\n                <code>EventDestinationDefinition</code>.</p>"
          }
        },
        "PinpointDestination": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#PinpointDestination",
          "traits": {
            "smithy.api#documentation": "<p>An object that defines a Amazon Pinpoint destination for email events. You can use Amazon Pinpoint events\n            to create attributes in Amazon Pinpoint projects. You can use these attributes to create segments\n            for your campaigns.</p>"
          }
        },
        "SnsDestination": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#SnsDestination",
          "traits": {
            "smithy.api#documentation": "<p>An object that defines an Amazon SNS destination for email events. You can use Amazon SNS to\n            send notification when certain email events occur.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that defines the event destination. Specifically, it defines which services\n            receive events from emails sent using the configuration set that the event destination\n            is associated with. Also defines the types of events that are sent to the event\n            destination.</p>"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#EventDestinationName": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The name of an event destination.</p>\n        <p>In Amazon Pinpoint, <i>events</i> include message sends, deliveries, opens,\n            clicks, bounces, and complaints. <i>Event destinations</i> are places that\n            you can send information about these events to. For example, you can send event data to\n            Amazon SNS to receive notifications when you receive bounces or complaints, or you can use\n            Amazon Kinesis Data Firehose to stream data to Amazon S3 for long-term storage.</p>"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#EventDestinations": {
      "type": "list",
      "member": {
        "target": "com.amazon.bacon.pinpoint.frontend.svc#EventDestination"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#EventType": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>An email sending event type. For example, email sends, opens, and bounces are all\n            email events.</p>",
        "smithy.api#enum": {
          "SEND": {
            "name": "SEND"
          },
          "REJECT": {
            "name": "REJECT"
          },
          "BOUNCE": {
            "name": "BOUNCE"
          },
          "COMPLAINT": {
            "name": "COMPLAINT"
          },
          "DELIVERY": {
            "name": "DELIVERY"
          },
          "OPEN": {
            "name": "OPEN"
          },
          "CLICK": {
            "name": "CLICK"
          },
          "RENDERING_FAILURE": {
            "name": "RENDERING_FAILURE"
          }
        }
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#EventTypes": {
      "type": "list",
      "member": {
        "target": "com.amazon.bacon.pinpoint.frontend.svc#EventType"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#GeneralEnforcementStatus": {
      "type": "string"
    },
    "com.amazon.bacon.pinpoint.frontend.svc#GetAccount": {
      "type": "operation",
      "input": {
        "target": "com.amazon.bacon.pinpoint.frontend.svc#GetAccountRequest"
      },
      "output": {
        "target": "com.amazon.bacon.pinpoint.frontend.svc#GetAccountResponse"
      },
      "errors": [
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#BadRequestException"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Obtain information about the email-sending status and capabilities of your Amazon Pinpoint\n            account in the current AWS Region.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/email/account",
          "code": 200
        }
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#GetAccountRequest": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "<p>A request to obtain information about the email-sending capabilities of your Amazon Pinpoint\n            account.</p>"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#GetAccountResponse": {
      "type": "structure",
      "members": {
        "DedicatedIpAutoWarmupEnabled": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#Enabled",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether or not the automatic warm-up feature is enabled for dedicated IP\n            addresses that are associated with your account.</p>"
          }
        },
        "EnforcementStatus": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#GeneralEnforcementStatus",
          "traits": {
            "smithy.api#documentation": "<p>The reputation status of your Amazon Pinpoint account. The status can be one of the\n            following:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>HEALTHY</code> – There are no reputation-related issues that\n                    currently impact your account.</p>\n            </li>\n            <li>\n                <p>\n                  <code>PROBATION</code> – We've identified some issues with your Amazon Pinpoint\n                    account. We're placing your account under review while you work on correcting\n                    these issues.</p>\n            </li>\n            <li>\n                <p>\n                  <code>SHUTDOWN</code> – Your account's ability to send email is\n                    currently paused because of an issue with the email sent from your account. When\n                    you correct the issue, you can contact us and request that your account's\n                    ability to send email is resumed.</p>\n            </li>\n         </ul>"
          }
        },
        "ProductionAccessEnabled": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#Enabled",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether or not your account has production access in the current AWS\n            Region.</p>\n        <p>If the value is <code>false</code>, then your account is in the\n                <i>sandbox</i>. When your account is in the sandbox, you can only send\n            email to verified identities. Additionally, the maximum number of emails you can send in\n            a 24-hour period (your sending quota) is 200, and the maximum number of emails you can\n            send per second (your maximum sending rate) is 1.</p>\n        <p>If the value is <code>true</code>, then your account has production access. When your\n            account has production access, you can send email to any address. The sending quota and\n            maximum sending rate for your account vary based on your specific use case.</p>"
          }
        },
        "SendQuota": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#SendQuota",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains information about the per-day and per-second sending limits\n            for your Amazon Pinpoint account in the current AWS Region.</p>"
          }
        },
        "SendingEnabled": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#Enabled",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether or not email sending is enabled for your Amazon Pinpoint account in the\n            current AWS Region.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A list of details about the email-sending capabilities of your Amazon Pinpoint account in the\n            current AWS Region.</p>"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#GetBlacklistReports": {
      "type": "operation",
      "input": {
        "target": "com.amazon.bacon.pinpoint.frontend.svc#GetBlacklistReportsRequest"
      },
      "output": {
        "target": "com.amazon.bacon.pinpoint.frontend.svc#GetBlacklistReportsResponse"
      },
      "errors": [
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#BadRequestException"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#NotFoundException"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieve a list of the blacklists that your dedicated IP addresses appear on.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/email/deliverability-dashboard/blacklist-report",
          "code": 200
        }
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#GetBlacklistReportsRequest": {
      "type": "structure",
      "members": {
        "BlacklistItemNames": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#BlacklistItemNames",
          "traits": {
            "smithy.api#documentation": "<p>A list of IP addresses that you want to retrieve blacklist information about. You can\n            only specify the dedicated IP addresses that you use to send email using Amazon Pinpoint or\n            Amazon SES.</p>",
            "smithy.api#httpQuery": "BlacklistItemNames",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A request to retrieve a list of the blacklists that your dedicated IP addresses appear\n            on.</p>"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#GetBlacklistReportsResponse": {
      "type": "structure",
      "members": {
        "BlacklistReport": {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#BlacklistReport",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains information about a blacklist that one of your dedicated IP\n            addresses appears on.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that contains information about blacklist events.</p>"
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#GetConfigurationSet": {
      "type": "operation",
      "input": {
        "target": "com.amazon.bacon.pinpoint.frontend.svc#GetConfigurationSetRequest"
      },
      "output": {
        "target": "com.amazon.bacon.pinpoint.frontend.svc#GetConfigurationSetResponse"
      },
      "errors": [
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#BadRequestException"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#NotFoundException"
        },
        {
          "target": "com.amazon.bacon.pinpoint.frontend.svc#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Get information about an existing configuration set, including the dedicated IP pool\n            that it's associated with, whether or not it's enabled for sending email, and\n            more.</p>\n        <p>In Amazon Pinpoint, <i>configuration sets</i> are groups of rules that you can\n            apply to the emails you send. You apply a configuration set to an email by including a\n            reference to the configuration set in the headers of the email. When you apply a\n            configuration set to an email, all of the rules in that configuration set are applied to\n            the email.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/email/configuration-sets/{ConfigurationSetName}",
          "code": 200
        }
      }
    },
    "com.amazon.bacon.pinpoint.frontend.svc#GetConfigurationSetEventDestinations": {
      "type": "operation",
      "input": {
        "target": "com.amazon.bacon.pinpoint.frontend.svc#GetConfigurationSetEventDestinationsRequest"
      },
      "output": {
        "target": "com.amazon.bacon.pinpoint.frontend.svc#GetConfigurationSetEventDestinationsResponse"
      },
      "errors": [
        {
[...]
