{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazonaws.services.quicksight.common#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.services.quicksight.common#String"
        },
        "RequestId": {
          "target": "com.amazonaws.services.quicksight.common#String",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The AWS request id for this request.</p>\n\t     "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n\t\t       <p>You don't have access to this. The provided credentials couldn't be validated.\n\t\t\tYou might not be authorized to carry out the request. Ensure that your account is\n\t\t\tauthorized to use the Amazon QuickSight service, that your policies have the correct\n\t\t\tpermissions, and that you are using the correct access keys.</p>\n\t     ",
        "smithy.api#error": "client",
        "smithy.api#httpError": 401
      }
    },
    "com.amazonaws.services.quicksight.common#ActionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.services.quicksight.common#String"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 16
        }
      }
    },
    "com.amazonaws.services.quicksight#ActiveIAMPolicyAssignment": {
      "type": "structure",
      "members": {
        "AssignmentName": {
          "target": "com.amazonaws.services.quicksight#IAMPolicyAssignmentName",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>A name for the IAM policy assignment.</p>\n\t     "
          }
        },
        "PolicyArn": {
          "target": "com.amazonaws.services.quicksight.common#Arn",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The Amazon Resource Name (ARN) of the resource.</p>\n\t     "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n\t\t       <p>The active AWS Identity and Access Management (IAM) policy assignment.</p>\n\t     "
      }
    },
    "com.amazonaws.services.quicksight#ActiveIAMPolicyAssignmentList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.services.quicksight#ActiveIAMPolicyAssignment"
      }
    },
    "com.amazonaws.services.quicksight#AdHocFilteringOption": {
      "type": "structure",
      "members": {
        "AvailabilityStatus": {
          "target": "com.amazonaws.services.quicksight#DashboardBehavior",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Availability status.</p>\n\t     "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n\t\t       <p>Ad hoc (one-time) filtering option.</p>\n\t     "
      }
    },
    "com.amazonaws.services.quicksight#AliasName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "[\\w\\-]+|(\\$LATEST)|(\\$PUBLISHED)"
      }
    },
    "com.amazonaws.services.quicksight#AmazonElasticsearchParameters": {
      "type": "structure",
      "members": {
        "Domain": {
          "target": "com.amazonaws.services.quicksight#Domain",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The Amazon Elasticsearch Service domain.</p>\n\t     ",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n\t\t       <p>Amazon Elasticsearch Service parameters.</p>\n\t     "
      }
    },
    "com.amazonaws.services.quicksight.common#Arn": {
      "type": "string"
    },
    "com.amazonaws.services.quicksight#AssignmentStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "ENABLED": {
            "name": "ENABLED"
          },
          "DRAFT": {
            "name": "DRAFT"
          },
          "DISABLED": {
            "name": "DISABLED"
          }
        }
      }
    },
    "com.amazonaws.services.quicksight#AthenaParameters": {
      "type": "structure",
      "members": {
        "WorkGroup": {
          "target": "com.amazonaws.services.quicksight#WorkGroup",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The workgroup that Amazon Athena uses.</p>\n\t     "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n\t\t       <p>Amazon Athena parameters.</p>\n\t     "
      }
    },
    "com.amazonaws.services.quicksight#AuroraParameters": {
      "type": "structure",
      "members": {
        "Database": {
          "target": "com.amazonaws.services.quicksight#Database",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Database.</p>\n\t     ",
            "smithy.api#required": true
          }
        },
        "Host": {
          "target": "com.amazonaws.services.quicksight#Host",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Host.</p>\n\t     ",
            "smithy.api#required": true
          }
        },
        "Port": {
          "target": "com.amazonaws.services.quicksight#Port",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Port.</p>\n\t     ",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n\t\t       <p>Amazon Aurora parameters.</p>\n\t     "
      }
    },
    "com.amazonaws.services.quicksight#AuroraPostgreSqlParameters": {
      "type": "structure",
      "members": {
        "Database": {
          "target": "com.amazonaws.services.quicksight#Database",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Database.</p>\n\t     ",
            "smithy.api#required": true
          }
        },
        "Host": {
          "target": "com.amazonaws.services.quicksight#Host",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Host.</p>\n\t     ",
            "smithy.api#required": true
          }
        },
        "Port": {
          "target": "com.amazonaws.services.quicksight#Port",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Port.</p>\n\t     ",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n\t\t       <p>Amazon Aurora with PostgreSQL compatibility parameters.</p>\n\t     "
      }
    },
    "com.amazonaws.services.quicksight.common#AwsAccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^[0-9]{12}$"
      }
    },
    "com.amazonaws.services.quicksight#AwsIotAnalyticsParameters": {
      "type": "structure",
      "members": {
        "DataSetName": {
          "target": "com.amazonaws.services.quicksight#DataSetName",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Dataset name.</p>\n\t     ",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n\t\t       <p>AWS IoT Analytics parameters.</p>\n\t     "
      }
    },
    "com.amazonaws.services.quicksight#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.services.quicksight#CalculatedColumn": {
      "type": "structure",
      "members": {
        "ColumnId": {
          "target": "com.amazonaws.services.quicksight#ColumnId",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>A unique ID to identify a calculated column. During dataset update, if the column ID of\n\t\t\ta calculated column matches that of an existing calculated column, QuickSight preserves the\n\t\t\texisting calculated column.</p>\n\t     ",
            "smithy.api#required": true
          }
        },
        "ColumnName": {
          "target": "com.amazonaws.services.quicksight#ColumnName",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Column name.</p>\n\t     ",
            "smithy.api#required": true
          }
        },
        "Expression": {
          "target": "com.amazonaws.services.quicksight#Expression",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>An expression that defines the calculated column.</p>\n\t     ",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n\t\t       <p>A calculated column for a dataset.</p>\n\t     "
      }
    },
    "com.amazonaws.services.quicksight#CalculatedColumnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.services.quicksight#CalculatedColumn"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.services.quicksight#CancelIngestion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.services.quicksight#CancelIngestionRequest"
      },
      "output": {
        "target": "com.amazonaws.services.quicksight#CancelIngestionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.services.quicksight.common#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#InternalFailureException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n\t\t       <p>Cancels an ongoing ingestion of data into SPICE.</p>\n\t\t    \n\t     ",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{AwsAccountId}/data-sets/{DataSetId}/ingestions/{IngestionId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.services.quicksight#CancelIngestionRequest": {
      "type": "structure",
      "members": {
        "AwsAccountId": {
          "target": "com.amazonaws.services.quicksight.common#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The AWS account ID.</p>\n\t     ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "DataSetId": {
          "target": "com.amazonaws.services.quicksight#String",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The ID of the dataset used in the ingestion.</p>\n\t     ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "IngestionId": {
          "target": "com.amazonaws.services.quicksight#IngestionId",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>An ID for the ingestion.</p>\n\t     ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.services.quicksight#CancelIngestionResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.services.quicksight.common#Arn",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The Amazon Resource Name (ARN) for the data ingestion.</p>\n\t     "
          }
        },
        "IngestionId": {
          "target": "com.amazonaws.services.quicksight#IngestionId",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>An ID for the ingestion.</p>\n\t     "
          }
        },
        "RequestId": {
          "target": "com.amazonaws.services.quicksight#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The AWS request ID for this operation.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.services.quicksight#CastColumnTypeOperation": {
      "type": "structure",
      "members": {
        "ColumnName": {
          "target": "com.amazonaws.services.quicksight#ColumnName",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Column name.</p>\n\t     ",
            "smithy.api#required": true
          }
        },
        "Format": {
          "target": "com.amazonaws.services.quicksight#TypeCastFormat",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>When casting a column from string to datetime type, you can supply a QuickSight\n\t\t\tsupported format string to denote the source data format.</p>\n\t     "
          }
        },
        "NewColumnType": {
          "target": "com.amazonaws.services.quicksight.common#ColumnDataType",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>New column data type.</p>\n\t     ",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n\t\t       <p>A transform operation that casts a column to a different type.</p>\n\t     "
      }
    },
    "com.amazonaws.services.quicksight#Catalog": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 128
        }
      }
    },
    "com.amazonaws.services.quicksight#ClusterId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.services.quicksight.common#ColumnDataType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "STRING": {
            "name": "STRING"
          },
          "INTEGER": {
            "name": "INTEGER"
          },
          "DECIMAL": {
            "name": "DECIMAL"
          },
          "DATETIME": {
            "name": "DATETIME"
          }
        }
      }
    },
    "com.amazonaws.services.quicksight#ColumnGroup": {
      "type": "structure",
      "members": {
        "GeoSpatialColumnGroup": {
          "target": "com.amazonaws.services.quicksight#GeoSpatialColumnGroup",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Geospatial column group that denotes a hierarchy.</p>\n\t     "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n\t\t       <p>Groupings of columns that work together in certain QuickSight features. This is a\n\t\t\tvariant type structure. No more than one of the attributes should be non-null for this\n\t\t\tstructure to be valid.</p>\n\t     "
      }
    },
    "com.amazonaws.services.quicksight#ColumnGroupColumnSchema": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.services.quicksight#String",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The name of the column group's column schema.</p>\n\t     "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n\t\t       <p>A structure describing the name, datatype, and geographic role of the columns.</p>\n\t     "
      }
    },
    "com.amazonaws.services.quicksight#ColumnGroupColumnSchemaList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.services.quicksight#ColumnGroupColumnSchema"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 500
        }
      }
    },
    "com.amazonaws.services.quicksight#ColumnGroupList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.services.quicksight#ColumnGroup"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 8
        }
      }
    },
    "com.amazonaws.services.quicksight#ColumnGroupName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.services.quicksight#ColumnGroupSchema": {
      "type": "structure",
      "members": {
        "ColumnGroupColumnSchemaList": {
          "target": "com.amazonaws.services.quicksight#ColumnGroupColumnSchemaList",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>A structure containing the list of column group column schemas.</p>\n\t     "
          }
        },
        "Name": {
          "target": "com.amazonaws.services.quicksight#String",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The name of the column group schema.</p>\n\t     "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n\t\t       <p>The column group schema.</p>\n\t     "
      }
    },
    "com.amazonaws.services.quicksight#ColumnGroupSchemaList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.services.quicksight#ColumnGroupSchema"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 500
        }
      }
    },
    "com.amazonaws.services.quicksight#ColumnId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.services.quicksight#ColumnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.services.quicksight#ColumnName"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 16
        }
      }
    },
    "com.amazonaws.services.quicksight#ColumnName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.services.quicksight#ColumnSchema": {
      "type": "structure",
      "members": {
        "DataType": {
          "target": "com.amazonaws.services.quicksight#String",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The data type of the column schema.</p>\n\t     "
          }
        },
        "GeographicRole": {
          "target": "com.amazonaws.services.quicksight#String",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The geographic role of the column schema.</p>\n\t     "
          }
        },
        "Name": {
          "target": "com.amazonaws.services.quicksight#String",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The name of the column schema.</p>\n\t     "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n\t\t       <p>The column schema.</p>\n\t     "
      }
    },
    "com.amazonaws.services.quicksight#ColumnSchemaList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.services.quicksight#ColumnSchema"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 500
        }
      }
    },
    "com.amazonaws.services.quicksight#ColumnTag": {
      "type": "structure",
      "members": {
        "ColumnGeographicRole": {
          "target": "com.amazonaws.services.quicksight#GeoSpatialDataRole",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>A geospatial role for a column.</p>\n\t     "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n\t\t       <p>A tag for a column in a TagColumnOperation. This is a variant type structure. No more\n\t\t\tthan one of the attributes should be non-null for this structure to be valid.</p>\n\t     "
      }
    },
    "com.amazonaws.services.quicksight#ColumnTagList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.services.quicksight#ColumnTag"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 16
        }
      }
    },
    "com.amazonaws.services.quicksight#ConcurrentUpdatingException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.services.quicksight#String"
        },
        "RequestId": {
          "target": "com.amazonaws.services.quicksight#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n\t\t       <p>A resource is already in an \"actionable\" state that must complete \n\t\t\tbefore a new update can be applied.</p>\n\t     ",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.services.quicksight.common#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.services.quicksight.common#String"
        },
        "RequestId": {
          "target": "com.amazonaws.services.quicksight.common#String",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The AWS request id for this request.</p>\n\t     "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n\t\t       <p>Updating or deleting a resource can cause an inconsistent state.</p>\n\t     ",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.services.quicksight#CreateColumnsOperation": {
      "type": "structure",
      "members": {
        "Columns": {
          "target": "com.amazonaws.services.quicksight#CalculatedColumnList",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Calculated columns to create.</p>\n\t     ",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n\t\t       <p>A transform operation that creates calculated columns. Columns created in one such\n\t\t\toperation form a lexical closure.</p>\n\t     "
      }
    },
    "com.amazonaws.services.quicksight#CreateDashboard": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.services.quicksight#CreateDashboardRequest"
      },
      "output": {
        "target": "com.amazonaws.services.quicksight#CreateDashboardResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.services.quicksight.common#ConflictException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#InternalFailureException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ThrottlingException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#UnsupportedUserEditionException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n\t\t       <p>Creates a dashboard from a template. To first create a template, see the CreateTemplate API.</p>\n\t\t       <p>A dashboard is an entity in QuickSight which identifies\n\t\t\tQuicksight reports, created from analyses. QuickSight dashboards are sharable. With the\n\t\t\tright permissions, you can create scheduled email reports from them. The\n\t\t\t<code>CreateDashboard</code>, <code>DescribeDashboard</code> and\n\t\t\t<code>ListDashboardsByUser</code> APIs act on the dashboard entity. If you have the correct\n\t\t\tpermissions, you can create a dashboard from a template that exists in a different AWS\n\t\t\taccount.</p>\n\t     ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AwsAccountId}/dashboards/{DashboardId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.services.quicksight#CreateDashboardRequest": {
      "type": "structure",
      "members": {
        "AwsAccountId": {
          "target": "com.amazonaws.services.quicksight.common#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>AWS account ID where you want to create the dashboard.</p>\n\t     ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "DashboardId": {
          "target": "com.amazonaws.services.quicksight.common#RestrictiveResourceId",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The ID for the dashboard, also added to IAM policy.</p>\n\t     ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "DashboardPublishOptions": {
          "target": "com.amazonaws.services.quicksight#DashboardPublishOptions",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Publishing options when creating dashboard.</p>\n\t\t       <ul>\n            <li>\n\t\t\t\t\t          <p>AvailabilityStatus for AdHocFilteringOption - This can be either <code>ENABLED</code> or\n\t\t\t\t\t<code>DISABLED</code>. When This is set to set to <code>DISABLED</code>, QuickSight\n\t\t\t\t\tdisables the left filter pane on the published dashboard, which can be used for AdHoc\n\t\t\t\t\tfiltering. Enabled by default.  </p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>AvailabilityStatus for ExportToCSVOption - This can be either <code>ENABLED</code> or\n\t\t\t\t\t<code>DISABLED</code>. The visual option to export data to CSV is disabled when this\n\t\t\t\t\tis set to <code>DISABLED</code>. Enabled by default.  </p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>VisibilityState for SheetControlsOption - This can be either <code>COLLAPSED</code> or\n\t\t\t\t\t<code>EXPANDED</code>. The sheet controls pane is collapsed by default when set to\n\t\t\t\t\ttrue. Collapsed by default.  </p>\n\t\t\t         </li>\n         </ul>\n\t     "
          }
        },
        "Name": {
          "target": "com.amazonaws.services.quicksight#DashboardName",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The display name of the dashboard.</p>\n\t     ",
            "smithy.api#required": true
          }
        },
        "Parameters": {
          "target": "com.amazonaws.services.quicksight#Parameters",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>A structure that contains the parameters of the dashboard.\n\t\tThese are parameter overrides for a dashboard. \n\t\tA dashboard can have any type of parameters and some parameters might \n\t\taccept multiple values. You could use the following structure to override\n\t\ttwo string parameters that accept multiple values:</p>\n\t     "
          }
        },
        "Permissions": {
          "target": "com.amazonaws.services.quicksight.common#ResourcePermissionList",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>A structure that contains the permissions of the dashboard.\n\t\tYou can use this for granting permissions with principal and \n\t\taction information.</p>\n\t     "
          }
        },
        "SourceEntity": {
          "target": "com.amazonaws.services.quicksight#DashboardSourceEntity",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Source entity from which the dashboard is created. The souce entity accepts the Amazon Resource Name (ARN) of the\n\t\t\tsource template or analysis and also references the replacement datasets for the\n\t\t\tplaceholders set when creating the template. The replacement datasets need to follow the\n\t\t\tsame schema as the datasets for which placeholders were created when creating the template.  </p>\n\t\t       <p>If you are creating a dashboard from a source entity in a different AWS account, use the\n\t\t\tARN of the source template.</p>\n\t     ",
            "smithy.api#required": true
          }
        },
        "Tags": {
          "target": "com.amazonaws.services.quicksight.common#TagList",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Contains a map of the key-value pairs for the resource tag or tags assigned to the dashboard.</p>\n\t     "
          }
        },
        "VersionDescription": {
          "target": "com.amazonaws.services.quicksight#VersionDescription",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>A description for the first version of the dashboard being created.</p>\n\t     "
          }
        }
      }
    },
    "com.amazonaws.services.quicksight#CreateDashboardResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.services.quicksight.common#Arn",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The Amazon Resource Name (ARN) of the dashboard.</p>\n\t     "
          }
        },
        "CreationStatus": {
          "target": "com.amazonaws.services.quicksight.common#ResourceStatus",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The creation status of the dashboard create request.</p>\n\t     "
          }
        },
        "DashboardId": {
          "target": "com.amazonaws.services.quicksight.common#RestrictiveResourceId",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The ID for the dashboard.</p>\n\t     "
          }
        },
        "RequestId": {
          "target": "com.amazonaws.services.quicksight#String",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The AWS request ID for this operation.</p>\n\t     "
          }
        },
        "VersionArn": {
          "target": "com.amazonaws.services.quicksight.common#Arn",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The ARN of the dashboard, including the version number\n\t\t\tof the first version that is created.</p>\n\t     "
          }
        }
      }
    },
    "com.amazonaws.services.quicksight#CreateDataSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.services.quicksight#CreateDataSetRequest"
      },
      "output": {
        "target": "com.amazonaws.services.quicksight#CreateDataSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.services.quicksight.common#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ConflictException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#InternalFailureException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#LimitExceededException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ThrottlingException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#UnsupportedUserEditionException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n\t\t       <p>Creates a dataset.</p>\n\t\t    \n\t     ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AwsAccountId}/data-sets",
          "code": 200
        }
      }
    },
    "com.amazonaws.services.quicksight#CreateDataSetRequest": {
      "type": "structure",
      "members": {
        "AwsAccountId": {
          "target": "com.amazonaws.services.quicksight.common#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The AWS Account ID.</p>\n\t     ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "ColumnGroups": {
          "target": "com.amazonaws.services.quicksight#ColumnGroupList",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Groupings of columns that work together in certain QuickSight features. Currently, only geospatial hierarchy is supported.</p>\n\t     "
          }
        },
        "DataSetId": {
          "target": "com.amazonaws.services.quicksight.common#ResourceId",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>An ID for the dataset that you want to create. This ID is unique per AWS Region for each AWS account.</p>\n\t     ",
            "smithy.api#required": true
          }
        },
        "ImportMode": {
          "target": "com.amazonaws.services.quicksight#DataSetImportMode",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Indicates whether or not you want to import the data into SPICE.</p>\n\t     ",
            "smithy.api#required": true
          }
        },
        "LogicalTableMap": {
          "target": "com.amazonaws.services.quicksight#LogicalTableMap",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Configures the combination and transformation of the data from the physical tables.</p>\n\t     "
          }
        },
        "Name": {
          "target": "com.amazonaws.services.quicksight.common#ResourceName",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The display name for the dataset.</p>\n\t     ",
            "smithy.api#required": true
          }
        },
        "Permissions": {
          "target": "com.amazonaws.services.quicksight.common#ResourcePermissionList",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>A list of resource permissions on the dataset.</p>\n\t     "
          }
        },
        "PhysicalTableMap": {
          "target": "com.amazonaws.services.quicksight#PhysicalTableMap",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Declares the physical tables that are available in the underlying data sources.</p>\n\t     ",
            "smithy.api#required": true
          }
        },
        "RowLevelPermissionDataSet": {
          "target": "com.amazonaws.services.quicksight#RowLevelPermissionDataSet",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Row-level security configuration on the data you want to create.</p>\n\t     "
          }
        },
        "Tags": {
          "target": "com.amazonaws.services.quicksight.common#TagList",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Contains a map of the key-value pairs for the resource tag or tags assigned to the dataset.</p>\n\t     "
          }
        }
      }
    },
    "com.amazonaws.services.quicksight#CreateDataSetResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.services.quicksight.common#Arn",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The Amazon Resource Name (ARN) of the dataset.</p>\n\t     "
          }
        },
        "DataSetId": {
          "target": "com.amazonaws.services.quicksight.common#ResourceId",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The ID for the dataset that you want to create. This ID is unique per AWS Region for each AWS account.</p>\n\t     "
          }
        },
        "IngestionArn": {
          "target": "com.amazonaws.services.quicksight.common#Arn",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The ARN for the ingestion, which is triggered as a result of dataset creation if the import mode is SPICE</p>\n\t     "
          }
        },
        "IngestionId": {
          "target": "com.amazonaws.services.quicksight.common#ResourceId",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The ID of the ingestion, which is triggered as a result of dataset creation if the import mode is SPICE</p>\n\t     "
          }
        },
        "RequestId": {
          "target": "com.amazonaws.services.quicksight#String",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The AWS request ID for this operation.</p>\n\t     "
          }
        }
      }
    },
    "com.amazonaws.services.quicksight#CreateDataSource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.services.quicksight#CreateDataSourceRequest"
      },
      "output": {
        "target": "com.amazonaws.services.quicksight#CreateDataSourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.services.quicksight.common#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ConflictException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#InternalFailureException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#LimitExceededException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n\t\t       <p>Creates a data source.</p>\n\t\t    \n\t     ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AwsAccountId}/data-sources",
          "code": 200
        }
      }
    },
    "com.amazonaws.services.quicksight#CreateDataSourceRequest": {
      "type": "structure",
      "members": {
        "AwsAccountId": {
          "target": "com.amazonaws.services.quicksight.common#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The AWS account ID.</p>\n\t     ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "Credentials": {
          "target": "com.amazonaws.services.quicksight#DataSourceCredentials",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The credentials QuickSight that uses to connect to your underlying source. Currently, only\n\t\t\tcredentials based on user name and password are supported.</p>\n\t     "
          }
        },
        "DataSourceId": {
          "target": "com.amazonaws.services.quicksight.common#ResourceId",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>An ID for the data source. This ID is unique per AWS Region for each AWS account. </p>\n\t     ",
            "smithy.api#required": true
          }
        },
        "DataSourceParameters": {
          "target": "com.amazonaws.services.quicksight#DataSourceParameters",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The parameters that QuickSight uses to connect to your underlying source.</p>\n\t     "
          }
        },
        "Name": {
          "target": "com.amazonaws.services.quicksight.common#ResourceName",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>A display name for the data source.</p>\n\t     ",
            "smithy.api#required": true
          }
        },
        "Permissions": {
          "target": "com.amazonaws.services.quicksight.common#ResourcePermissionList",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>A list of resource permissions on the data source.</p>\n\t     "
          }
        },
        "SslProperties": {
          "target": "com.amazonaws.services.quicksight#SslProperties",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Secure Socket Layer (SSL) properties that apply when QuickSight connects to your underlying source.</p>\n\t     "
          }
        },
        "Tags": {
          "target": "com.amazonaws.services.quicksight.common#TagList",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Contains a map of the key-value pairs for the resource tag or tags assigned to the data source.</p>\n\t     "
          }
        },
        "Type": {
          "target": "com.amazonaws.services.quicksight#DataSourceType",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The type of the data source. Currently, the supported types for this operation are:\n\t\t\t<code>ATHENA, AURORA, AURORA_POSTGRESQL, MARIADB, MYSQL, POSTGRESQL, PRESTO, REDSHIFT, S3,\n\t\t\tSNOWFLAKE, SPARK, SQLSERVER, TERADATA</code>. \n\t\t\tUse <code>ListDataSources</code> to return a\n\t\t\tlist of all data sources.</p>\n\t     ",
            "smithy.api#required": true
          }
        },
        "VpcConnectionProperties": {
          "target": "com.amazonaws.services.quicksight#VpcConnectionProperties",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Use this parameter only when you want QuickSight to use a VPC connection when connecting to\n\t\t\tyour underlying source.</p>\n\t     "
          }
        }
      }
    },
    "com.amazonaws.services.quicksight#CreateDataSourceResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.services.quicksight.common#Arn",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The Amazon Resource Name (ARN) of the data source.</p>\n\t     "
          }
        },
        "CreationStatus": {
          "target": "com.amazonaws.services.quicksight.common#ResourceStatus",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The status of creating the data source.</p>\n\t     "
          }
        },
        "DataSourceId": {
          "target": "com.amazonaws.services.quicksight.common#ResourceId",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The ID of the data source. This ID is unique per AWS Region for each AWS account.</p>\n\t     "
          }
        },
        "RequestId": {
          "target": "com.amazonaws.services.quicksight#String",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The AWS request ID for this operation.</p>\n\t     "
          }
        }
      }
    },
    "com.amazonaws.services.quicksight#CreateGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.services.quicksight#CreateGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.services.quicksight#CreateGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.services.quicksight.common#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#InternalFailureException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#LimitExceededException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#PreconditionNotMetException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ResourceUnavailableException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n\t\t       <p>Creates an Amazon QuickSight group.</p>\n\t\t       <p>The permissions resource is\n\t\t\t\t\t<code>arn:aws:quicksight:us-east-1:<i><relevant-aws-account-id></i>:group/default/<i><group-name></i>\n            </code>.</p>\n\t\t       <p>The response is a group object.</p>\n\t     ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/groups",
          "code": 200
        }
      }
    },
    "com.amazonaws.services.quicksight#CreateGroupMembership": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.services.quicksight#CreateGroupMembershipRequest"
      },
      "output": {
        "target": "com.amazonaws.services.quicksight#CreateGroupMembershipResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.services.quicksight.common#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#InternalFailureException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#PreconditionNotMetException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ResourceUnavailableException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n\t\t       <p>Adds an Amazon QuickSight user to an Amazon QuickSight group. </p>\n      ",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}/members/{MemberName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.services.quicksight#CreateGroupMembershipRequest": {
      "type": "structure",
      "members": {
        "AwsAccountId": {
          "target": "com.amazonaws.services.quicksight.common#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The ID for the AWS account that the group is in. Currently, you use the ID for the AWS\n\t\t\taccount that contains your Amazon QuickSight account.</p>\n\t     ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "GroupName": {
          "target": "com.amazonaws.services.quicksight#GroupName",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The name of the group that you want to add the user to.</p>\n\t     ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "MemberName": {
          "target": "com.amazonaws.services.quicksight#GroupMemberName",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The name of the user that you want to add to the group membership.</p>\n\t     ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "Namespace": {
          "target": "com.amazonaws.services.quicksight#Namespace",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The namespace. Currently, you should set this to <code>default</code>.</p>\n\t     ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.services.quicksight#CreateGroupMembershipResponse": {
      "type": "structure",
      "members": {
        "GroupMember": {
          "target": "com.amazonaws.services.quicksight#GroupMember",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The group member.</p>\n\t     "
          }
        },
        "RequestId": {
          "target": "com.amazonaws.services.quicksight#String",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The AWS request ID for this operation.</p>\n\t     "
          }
        }
      }
    },
    "com.amazonaws.services.quicksight#CreateGroupRequest": {
      "type": "structure",
      "members": {
        "AwsAccountId": {
          "target": "com.amazonaws.services.quicksight.common#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The ID for the AWS account that the group is in. Currently, you use the ID for the AWS\n\t\t\taccount that contains your Amazon QuickSight account.</p>\n\t     ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "Description": {
          "target": "com.amazonaws.services.quicksight#GroupDescription",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>A description for the group that you want to create.</p>\n\t     "
          }
        },
        "GroupName": {
          "target": "com.amazonaws.services.quicksight#GroupName",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>A name for the group that you want to create.</p>\n\t     ",
            "smithy.api#required": true
          }
        },
        "Namespace": {
          "target": "com.amazonaws.services.quicksight#Namespace",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The namespace. Currently, you should set this to <code>default</code>.</p>\n\t     ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n\t\t       <p>The request object for this operation. </p>\n\t     "
      }
    },
    "com.amazonaws.services.quicksight#CreateGroupResponse": {
      "type": "structure",
      "members": {
        "Group": {
          "target": "com.amazonaws.services.quicksight#Group",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The name of the group.</p>\n\t     "
          }
        },
        "RequestId": {
          "target": "com.amazonaws.services.quicksight#String",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The AWS request ID for this operation.</p>\n\t     "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n\t\t       <p>The response object for this operation.</p>\n\t     "
      }
    },
    "com.amazonaws.services.quicksight#CreateIAMPolicyAssignment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.services.quicksight#CreateIAMPolicyAssignmentRequest"
      },
      "output": {
        "target": "com.amazonaws.services.quicksight#CreateIAMPolicyAssignmentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.services.quicksight#ConcurrentUpdatingException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#InternalFailureException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n\t\t       <p>Creates an assignment with one specified IAM policy Amazon Resource Name (ARN) and will assigned to specified groups or users of QuickSight.\n\t\tUsers and groups need to be in the same namespace.\n\t\t</p>\n\t     ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/iam-policy-assignments",
          "code": 200
        }
      }
    },
    "com.amazonaws.services.quicksight#CreateIAMPolicyAssignmentRequest": {
      "type": "structure",
      "members": {
        "AssignmentName": {
          "target": "com.amazonaws.services.quicksight#IAMPolicyAssignmentName",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The name of the assignment. It must be unique within an AWS account.</p>\n\t     ",
            "smithy.api#required": true
          }
        },
        "AssignmentStatus": {
          "target": "com.amazonaws.services.quicksight#AssignmentStatus",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The status of an assignment:</p>\n\t\t       <ul>\n            <li>\n               <p>ENABLED - Anything specified in this assignment is used while creating the data source.</p>\n            </li>\n            <li>\n               <p>DISABLED - This assignment isn't used while creating the data source.</p>\n            </li>\n            <li>\n               <p>DRAFT - Assignment is an unfinished draft and isn't used while creating the data\n\t\t\t\t\tsource.</p>\n            </li>\n         </ul>\n\t     ",
            "smithy.api#required": true
          }
        },
        "AwsAccountId": {
          "target": "com.amazonaws.services.quicksight.common#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The AWS Account ID where you want to assign QuickSight users or groups to an IAM policy.</p>\n\t     ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "Identities": {
          "target": "com.amazonaws.services.quicksight#IdentityMap",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>QuickSight users and/or groups that you want to assign the policy to.</p>\n\t     "
          }
        },
        "Namespace": {
          "target": "com.amazonaws.services.quicksight#Namespace",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The namespace that contains the assignment.</p>\n\t     ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "PolicyArn": {
          "target": "com.amazonaws.services.quicksight.common#Arn",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>An IAM policy Amazon Resource Name (ARN) that you want to apply to the QuickSight users and groups specified in this assignment.</p>\n\t     "
          }
        }
      }
    },
    "com.amazonaws.services.quicksight#CreateIAMPolicyAssignmentResponse": {
      "type": "structure",
      "members": {
        "AssignmentId": {
          "target": "com.amazonaws.services.quicksight#String",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>An ID for the assignment.</p>\n\t     "
          }
        },
        "AssignmentName": {
          "target": "com.amazonaws.services.quicksight#IAMPolicyAssignmentName",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The name of the assignment. Must be unique within an AWS account.</p>\n\t     "
          }
        },
        "AssignmentStatus": {
          "target": "com.amazonaws.services.quicksight#AssignmentStatus",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The status of an assignment:</p>\n\t\t       <ul>\n            <li>\n               <p>ENABLED - Anything specified in this assignment is used while creating the data source.</p>\n            </li>\n            <li>\n               <p>DISABLED - This assignment isn't used while creating the data source.</p>\n            </li>\n            <li>\n               <p>DRAFT - Assignment is an unfinished draft and isn't used while creating the data\n\t\t\t\t\tsource.</p>\n            </li>\n         </ul>\n\t     "
          }
        },
        "Identities": {
          "target": "com.amazonaws.services.quicksight#IdentityMap",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>QuickSight users and/or groups that are assigned to the IAM policy.</p>\n\t     "
          }
        },
        "PolicyArn": {
          "target": "com.amazonaws.services.quicksight.common#Arn",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>An IAM policy Amazon Resource Name (ARN) that is applied to the QuickSight users and groups specified in this assignment.</p>\n\t     "
          }
        },
        "RequestId": {
          "target": "com.amazonaws.services.quicksight#String",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The AWS request ID for this operation.</p>\n\t     "
          }
        }
      }
    },
    "com.amazonaws.services.quicksight#CreateIngestion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.services.quicksight#CreateIngestionRequest"
      },
      "output": {
        "target": "com.amazonaws.services.quicksight#CreateIngestionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.services.quicksight.common#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#InternalFailureException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#LimitExceededException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n\t\t       <p>Creates and starts a new SPICE ingestion on a dataset</p>\n\t\t    \n\t\t       <p>Any ingestions operating on tagged datasets inherit the same tags automatically for use in\n\t\t\taccess control. For an example, see <a href=\"https://aws.example.com/premiumsupport/knowledge-center/iam-ec2-resource-tags/\">How do I create an IAM policy to control access to Amazon EC2 resources using\n\t\t\t\ttags?</a> in the AWS Knowledge Center. Tags are visible on the tagged dataset, but not on the ingestion resource.</p>\n\t     ",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{AwsAccountId}/data-sets/{DataSetId}/ingestions/{IngestionId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.services.quicksight#CreateIngestionRequest": {
      "type": "structure",
      "members": {
        "AwsAccountId": {
          "target": "com.amazonaws.services.quicksight.common#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The AWS account ID.</p>\n\t     ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "DataSetId": {
          "target": "com.amazonaws.services.quicksight#String",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The ID of the dataset used in the ingestion.</p>\n\t     ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "IngestionId": {
          "target": "com.amazonaws.services.quicksight#IngestionId",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>An ID for the ingestion.</p>\n\t     ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.services.quicksight#CreateIngestionResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.services.quicksight.common#Arn",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The Amazon Resource Name (ARN) for the data ingestion.</p>\n\t     "
          }
        },
        "IngestionId": {
          "target": "com.amazonaws.services.quicksight#IngestionId",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>An ID for the ingestion.</p>\n\t     "
          }
        },
        "IngestionStatus": {
          "target": "com.amazonaws.services.quicksight#IngestionStatus",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The ingestion status.</p>\n\t     "
          }
        },
        "RequestId": {
          "target": "com.amazonaws.services.quicksight#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The AWS request ID for this operation.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.services.quicksight#CreateTemplate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.services.quicksight#CreateTemplateRequest"
      },
      "output": {
        "target": "com.amazonaws.services.quicksight#CreateTemplateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.services.quicksight.common#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#InternalFailureException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#LimitExceededException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ThrottlingException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#UnsupportedUserEditionException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n\t\t       <p>Creates a template from an existing QuickSight analysis or template. The resulting template\n\t\t\tcan be used to create a dashboard.</p>\n\t\t       <p>A template is an entity in QuickSight which encapsulates the metadata required to create an\n\t\t\tanalysis that can be used to create dashboard. It adds a layer of abstraction by use\n\t\t\tplaceholders to replace the dataset associated with the analysis. You can use templates to\n\t\t\tcreate dashboards by replacing dataset placeholders with datasets which follow the same\n\t\t\tschema that was used to create the source analysis and template.</p>\n\t     ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AwsAccountId}/templates/{TemplateId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.services.quicksight#CreateTemplateAlias": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.services.quicksight#CreateTemplateAliasRequest"
      },
      "output": {
        "target": "com.amazonaws.services.quicksight#CreateTemplateAliasResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.services.quicksight.common#ConflictException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#InternalFailureException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#LimitExceededException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ThrottlingException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#UnsupportedUserEditionException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n\t\t       <p>Creates a template alias for a template.</p>\n\t     ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AwsAccountId}/templates/{TemplateId}/aliases/{AliasName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.services.quicksight#CreateTemplateAliasRequest": {
      "type": "structure",
      "members": {
        "AliasName": {
          "target": "com.amazonaws.services.quicksight#AliasName",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The name that you want to give to the template alias that you're creating. \n\t\t\tAliases that start with <code>$</code> are reserved by QuickSight. </p>\n\t     ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "AwsAccountId": {
          "target": "com.amazonaws.services.quicksight.common#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>AWS account ID that contains the template you are aliasing.</p>\n\t     ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "TemplateId": {
          "target": "com.amazonaws.services.quicksight.common#RestrictiveResourceId",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>An ID for the template.</p>\n\t     ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "TemplateVersionNumber": {
          "target": "com.amazonaws.services.quicksight#VersionNumber",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The version number of the template.</p>\n\t     ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.services.quicksight#CreateTemplateAliasResponse": {
      "type": "structure",
      "members": {
        "RequestId": {
          "target": "com.amazonaws.services.quicksight#String",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The AWS request ID for this operation.</p>\n\t     "
          }
        },
        "TemplateAlias": {
          "target": "com.amazonaws.services.quicksight#TemplateAlias",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Information on the template alias.</p>\n\t     "
          }
        }
      }
    },
    "com.amazonaws.services.quicksight#CreateTemplateRequest": {
      "type": "structure",
      "members": {
        "AwsAccountId": {
          "target": "com.amazonaws.services.quicksight.common#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The ID for the AWS account that the group is in. Currently, you use the ID for the AWS\n\t\t\taccount that contains your Amazon QuickSight account.</p>\n\t     ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "Name": {
          "target": "com.amazonaws.services.quicksight#TemplateName",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>A display name for the template.</p>\n\t     "
          }
        },
        "Permissions": {
          "target": "com.amazonaws.services.quicksight.common#ResourcePermissionList",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>A list of resource permissions to be set on the template. </p>\n\t     "
          }
        },
        "SourceEntity": {
          "target": "com.amazonaws.services.quicksight#TemplateSourceEntity",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The Amazon Resource Name (ARN) of the source entity from which this template is being created. Templates can be\n\t\t\tcurrently created from an analysis or another template. If the ARN is for an analysis, you\n\t\t\tmust include its dataset references. </p>\n\t     ",
            "smithy.api#required": true
          }
        },
        "Tags": {
          "target": "com.amazonaws.services.quicksight.common#TagList",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Contains a map of the key-value pairs for the resource tag or tags assigned to the resource.</p>\n\t     "
          }
        },
        "TemplateId": {
          "target": "com.amazonaws.services.quicksight.common#RestrictiveResourceId",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>An ID for the template you want to create. This is unique per AWS region per AWS\n\t\t\taccount.</p>\n\t     ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "VersionDescription": {
          "target": "com.amazonaws.services.quicksight#VersionDescription",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>A description of the current template version being created. This API created the first\n\t\t\tversion of the template. Every time UpdateTemplate is called a new version is created. Each\n\t\t\tversion of the template maintains a description of the version in the VersionDescription\n\t\t\tfield.</p>\n\t     "
          }
        }
      }
    },
    "com.amazonaws.services.quicksight#CreateTemplateResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.services.quicksight.common#Arn",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The Amazon Resource Name (ARN) for the template.</p>\n\t     "
          }
        },
        "CreationStatus": {
          "target": "com.amazonaws.services.quicksight.common#ResourceStatus",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The template creation status.</p>\n\t     "
          }
        },
        "RequestId": {
          "target": "com.amazonaws.services.quicksight#String",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The AWS request ID for this operation.</p>\n\t     "
          }
        },
        "TemplateId": {
          "target": "com.amazonaws.services.quicksight.common#RestrictiveResourceId",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The ID of the template.</p>\n\t     "
          }
        },
        "VersionArn": {
          "target": "com.amazonaws.services.quicksight.common#Arn",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The ARN for the template, including the version information of\n\t\t\tthe first version.</p>\n\t     "
          }
        }
      }
    },
    "com.amazonaws.services.quicksight#CredentialPair": {
      "type": "structure",
      "members": {
        "Password": {
          "target": "com.amazonaws.services.quicksight#Password",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Password.</p>\n\t     ",
            "smithy.api#required": true
          }
        },
        "Username": {
          "target": "com.amazonaws.services.quicksight#UserName2",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Username.</p>\n\t     ",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n\t\t       <p>The combination of username and password that are used as credentials.</p>\n\t     "
      }
    },
    "com.amazonaws.services.quicksight#CustomSql": {
      "type": "structure",
      "members": {
        "Columns": {
          "target": "com.amazonaws.services.quicksight#InputColumnList",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The column schema from the SQL query result set.</p>\n\t     "
          }
        },
        "DataSourceArn": {
          "target": "com.amazonaws.services.quicksight.common#Arn",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The Amazon Resource Name (ARN) of the data source.</p>\n\t     ",
            "smithy.api#required": true
          }
        },
        "Name": {
          "target": "com.amazonaws.services.quicksight#CustomSqlName",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>A display name for the SQL query result.</p>\n\t     ",
            "smithy.api#required": true
          }
        },
        "SqlQuery": {
          "target": "com.amazonaws.services.quicksight#SqlQuery",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The SQL query.</p>\n\t     ",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n\t\t       <p>A physical table type built from the results of the custom SQL query.</p>\n\t     "
      }
    },
    "com.amazonaws.services.quicksight#CustomSqlName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.services.quicksight#Dashboard": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.services.quicksight.common#Arn",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The Amazon Resource name (ARN) of the resource.</p>\n\t     "
          }
        },
        "CreatedTime": {
          "target": "com.amazonaws.services.quicksight#Timestamp",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The time this was created.</p>\n\t     "
          }
        },
        "DashboardId": {
          "target": "com.amazonaws.services.quicksight.common#RestrictiveResourceId",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Dashboard ID.</p>\n\t     "
          }
        },
        "LastPublishedTime": {
          "target": "com.amazonaws.services.quicksight#Timestamp",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The last time this was published.</p>\n\t     "
          }
        },
        "LastUpdatedTime": {
          "target": "com.amazonaws.services.quicksight#Timestamp",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The last time this was updated.</p>\n\t     "
          }
        },
        "Name": {
          "target": "com.amazonaws.services.quicksight#DashboardName",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>A display name for the dataset.</p>\n\t     "
          }
        },
        "Version": {
          "target": "com.amazonaws.services.quicksight#DashboardVersion",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Version.</p>\n\t     "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n\t\t       <p>Dashboard.</p>\n\t     "
      }
    },
    "com.amazonaws.services.quicksight#DashboardBehavior": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "ENABLED": {
            "name": "ENABLED"
          },
          "DISABLED": {
            "name": "DISABLED"
          }
        }
      }
    },
    "com.amazonaws.services.quicksight#DashboardError": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.services.quicksight.common#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Message.</p>\n\t     "
          }
        },
        "Type": {
          "target": "com.amazonaws.services.quicksight#DashboardErrorType",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Type.</p>\n\t     "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n\t\t       <p>Dashboard error.</p>\n\t     "
      }
    },
    "com.amazonaws.services.quicksight#DashboardErrorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.services.quicksight#DashboardError"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.services.quicksight#DashboardErrorType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "DATA_SET_NOT_FOUND": {
            "name": "DATA_SET_NOT_FOUND"
          },
          "INTERNAL_FAILURE": {
            "name": "INTERNAL_FAILURE"
          },
          "PARAMETER_VALUE_INCOMPATIBLE": {
            "name": "PARAMETER_VALUE_INCOMPATIBLE"
          },
          "PARAMETER_TYPE_INVALID": {
            "name": "PARAMETER_TYPE_INVALID"
          },
          "PARAMETER_NOT_FOUND": {
            "name": "PARAMETER_NOT_FOUND"
          },
          "COLUMN_TYPE_MISMATCH": {
            "name": "COLUMN_TYPE_MISMATCH"
          },
          "COLUMN_GEOGRAPHIC_ROLE_MISMATCH": {
            "name": "COLUMN_GEOGRAPHIC_ROLE_MISMATCH"
          },
          "COLUMN_REPLACEMENT_MISSING": {
            "name": "COLUMN_REPLACEMENT_MISSING"
          }
        }
      }
    },
    "com.amazonaws.services.quicksight#DashboardName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "[\\u0020-\\u00FF]+"
      }
    },
    "com.amazonaws.services.quicksight#DashboardPublishOptions": {
      "type": "structure",
      "members": {
        "AdHocFilteringOption": {
          "target": "com.amazonaws.services.quicksight#AdHocFilteringOption",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Ad hoc filtering option.</p>\n\t     "
          }
        },
        "ExportToCSVOption": {
          "target": "com.amazonaws.services.quicksight#ExportToCSVOption",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Export to CSV option.</p>\n\t     "
          }
        },
        "SheetControlsOption": {
          "target": "com.amazonaws.services.quicksight#SheetControlsOption",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Sheet controls option.</p>\n\t     "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n\t\t       <p>Dashboard publish options.</p>\n\t     "
      }
    },
    "com.amazonaws.services.quicksight#DashboardSourceEntity": {
      "type": "structure",
      "members": {
        "SourceTemplate": {
          "target": "com.amazonaws.services.quicksight#DashboardSourceTemplate",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Source template.</p>\n\t     "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n\t\t       <p>Dashboard source entity.</p>\n\t     "
      }
    },
    "com.amazonaws.services.quicksight#DashboardSourceTemplate": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.services.quicksight.common#Arn",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The Amazon Resource name (ARN) of the resource.</p>\n\t     ",
            "smithy.api#required": true
          }
        },
        "DataSetReferences": {
          "target": "com.amazonaws.services.quicksight#DataSetReferenceList",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Dataset references.</p>\n\t     ",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n\t\t       <p>Dashboard source template.</p>\n\t     "
      }
    },
    "com.amazonaws.services.quicksight#DashboardSummary": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.services.quicksight.common#Arn",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The Amazon Resource name (ARN) of the resource.</p>\n\t     "
          }
        },
        "CreatedTime": {
          "target": "com.amazonaws.services.quicksight#Timestamp",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The time this was created.</p>\n\t     "
          }
        },
        "DashboardId": {
          "target": "com.amazonaws.services.quicksight.common#RestrictiveResourceId",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Dashboard ID.</p>\n\t     "
          }
        },
        "LastPublishedTime": {
          "target": "com.amazonaws.services.quicksight#Timestamp",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The last time this was published.</p>\n\t     "
          }
        },
        "LastUpdatedTime": {
          "target": "com.amazonaws.services.quicksight#Timestamp",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The last time this was updated.</p>\n\t     "
          }
        },
        "Name": {
          "target": "com.amazonaws.services.quicksight#DashboardName",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>A display name for the dataset.</p>\n\t     "
          }
        },
        "PublishedVersionNumber": {
          "target": "com.amazonaws.services.quicksight#VersionNumber",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Published version number.</p>\n\t     "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n\t\t       <p>Dashboard summary.</p>\n\t     "
      }
    },
    "com.amazonaws.services.quicksight#DashboardSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.services.quicksight#DashboardSummary"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.services.quicksight#DashboardUIState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "EXPANDED": {
            "name": "EXPANDED"
          },
          "COLLAPSED": {
            "name": "COLLAPSED"
          }
        }
      }
    },
    "com.amazonaws.services.quicksight#DashboardVersion": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.services.quicksight.common#Arn",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The Amazon Resource name (ARN) of the resource.</p>\n\t     "
          }
        },
        "CreatedTime": {
          "target": "com.amazonaws.services.quicksight#Timestamp",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The time this was created.</p>\n\t     "
          }
        },
        "Description": {
          "target": "com.amazonaws.services.quicksight#VersionDescription",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Description.</p>\n\t     "
          }
        },
        "Errors": {
          "target": "com.amazonaws.services.quicksight#DashboardErrorList",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Errors.</p>\n\t     "
          }
        },
        "SourceEntityArn": {
          "target": "com.amazonaws.services.quicksight.common#Arn",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Source entity ARN.</p>\n\t     "
          }
        },
        "Status": {
          "target": "com.amazonaws.services.quicksight.common#ResourceStatus",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The HTTP status of the request.</p>\n\t     "
          }
        },
        "VersionNumber": {
          "target": "com.amazonaws.services.quicksight#VersionNumber",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Version number.</p>\n\t     "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n\t\t       <p>Dashboard version.</p>\n\t     "
      }
    },
    "com.amazonaws.services.quicksight#DashboardVersionSummary": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.services.quicksight.common#Arn",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The Amazon Resource name (ARN) of the resource.</p>\n\t     "
          }
        },
        "CreatedTime": {
          "target": "com.amazonaws.services.quicksight#Timestamp",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The time this was created.</p>\n\t     "
          }
        },
        "Description": {
          "target": "com.amazonaws.services.quicksight#VersionDescription",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Description.</p>\n\t     "
          }
        },
        "SourceEntityArn": {
          "target": "com.amazonaws.services.quicksight.common#Arn",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Source entity ARN.</p>\n\t     "
          }
        },
        "Status": {
          "target": "com.amazonaws.services.quicksight.common#ResourceStatus",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The HTTP status of the request.</p>\n\t     "
          }
        },
        "VersionNumber": {
          "target": "com.amazonaws.services.quicksight#VersionNumber",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Version number.</p>\n\t     "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n\t\t       <p>Dashboard version summary.</p>\n\t     "
      }
    },
    "com.amazonaws.services.quicksight#DashboardVersionSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.services.quicksight#DashboardVersionSummary"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.services.quicksight#DataSet": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.services.quicksight.common#Arn",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The Amazon Resource name (ARN) of the resource.</p>\n\t     "
          }
        },
        "ColumnGroups": {
          "target": "com.amazonaws.services.quicksight#ColumnGroupList",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Groupings of columns that work together in certain QuickSight features. Currently, only\n\t\t\tgeospatial hierarchy is supported.</p>\n\t     "
          }
        },
        "ConsumedSpiceCapacityInBytes": {
          "target": "com.amazonaws.services.quicksight#Long",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The amount of SPICE capacity used by this dataset. This is 0 if the dataset isn't\n\t\t\timported into SPICE.</p>\n\t     "
          }
        },
        "CreatedTime": {
          "target": "com.amazonaws.services.quicksight#Timestamp",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The time this was created.</p>\n\t     "
          }
        },
        "DataSetId": {
          "target": "com.amazonaws.services.quicksight.common#ResourceId",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The ID of the dataset.</p>\n\t     "
          }
        },
        "ImportMode": {
          "target": "com.amazonaws.services.quicksight#DataSetImportMode",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Indicates whether or not you want to import the data into SPICE.</p>\n\t     "
          }
        },
        "LastUpdatedTime": {
          "target": "com.amazonaws.services.quicksight#Timestamp",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The last time this was updated.</p>\n\t     "
          }
        },
        "LogicalTableMap": {
          "target": "com.amazonaws.services.quicksight#LogicalTableMap",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Configures the combination and transformation of the data from the physical\n\t\t\ttables.</p>\n\t     "
          }
        },
        "Name": {
          "target": "com.amazonaws.services.quicksight.common#ResourceName",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>A display name for the dataset.</p>\n\t     "
          }
        },
        "OutputColumns": {
          "target": "com.amazonaws.services.quicksight#OutputColumnList",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The list of columns after all transforms. These columns are available in templates,\n\t\t\tanalyses, and dashboards.</p>\n\t     "
          }
        },
        "PhysicalTableMap": {
          "target": "com.amazonaws.services.quicksight#PhysicalTableMap",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Declares the physical tables that are available in the underlying data sources.</p>\n\t     "
          }
        },
        "RowLevelPermissionDataSet": {
          "target": "com.amazonaws.services.quicksight#RowLevelPermissionDataSet",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Row-level security configuration on the dataset.</p>\n\t     "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n\t\t       <p>Dataset.</p>\n\t     "
      }
    },
    "com.amazonaws.services.quicksight#DataSetConfiguration": {
      "type": "structure",
      "members": {
        "ColumnGroupSchemaList": {
          "target": "com.amazonaws.services.quicksight#ColumnGroupSchemaList",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>A structure containing the list of column group schemas.</p>\n\t     "
          }
        },
        "DataSetSchema": {
          "target": "com.amazonaws.services.quicksight#DataSetSchema",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Dataset schema.</p>\n\t     "
          }
        },
        "Placeholder": {
          "target": "com.amazonaws.services.quicksight#String",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Placeholder.</p>\n\t     "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n\t\t       <p>Dataset configuration.</p>\n\t     "
      }
    },
    "com.amazonaws.services.quicksight#DataSetConfigurationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.services.quicksight#DataSetConfiguration"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 30
        }
      }
    },
    "com.amazonaws.services.quicksight#DataSetImportMode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "SPICE": {
            "name": "SPICE"
          },
          "DIRECT_QUERY": {
            "name": "DIRECT_QUERY"
          }
        }
      }
    },
    "com.amazonaws.services.quicksight#DataSetName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.services.quicksight#DataSetReference": {
      "type": "structure",
      "members": {
        "DataSetArn": {
          "target": "com.amazonaws.services.quicksight.common#Arn",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Dataset ARN.</p>\n\t     ",
            "smithy.api#required": true
          }
        },
        "DataSetPlaceholder": {
          "target": "com.amazonaws.services.quicksight.common#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Dataset placeholder.</p>\n\t     ",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n\t\t       <p>Dataset reference.</p>\n\t     "
      }
    },
    "com.amazonaws.services.quicksight#DataSetReferenceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.services.quicksight#DataSetReference"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.services.quicksight#DataSetSchema": {
      "type": "structure",
      "members": {
        "ColumnSchemaList": {
          "target": "com.amazonaws.services.quicksight#ColumnSchemaList",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>A structure containing the list of column schemas.</p>\n\t     "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n\t\t       <p>Dataset schema.</p>\n\t     "
      }
    },
    "com.amazonaws.services.quicksight#DataSetSummary": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.services.quicksight.common#Arn",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The Amazon Resource name (ARN) of the dataset.</p>\n\t     "
          }
        },
        "CreatedTime": {
          "target": "com.amazonaws.services.quicksight#Timestamp",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The time this was created.</p>\n\t     "
          }
        },
        "DataSetId": {
          "target": "com.amazonaws.services.quicksight.common#ResourceId",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The ID of the dataset.</p>\n\t     "
          }
        },
        "ImportMode": {
          "target": "com.amazonaws.services.quicksight#DataSetImportMode",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Indicates whether or not you want to import the data into SPICE.</p>\n\t     "
          }
        },
        "LastUpdatedTime": {
          "target": "com.amazonaws.services.quicksight#Timestamp",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The last time this was updated.</p>\n\t     "
          }
        },
        "Name": {
          "target": "com.amazonaws.services.quicksight.common#ResourceName",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>A display name for the dataset.</p>\n\t     "
          }
        },
        "RowLevelPermissionDataSet": {
          "target": "com.amazonaws.services.quicksight#RowLevelPermissionDataSet",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Row-level security configuration on the dataset.</p>\n\t     "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n\t\t       <p>Dataset summary.</p>\n\t     "
      }
    },
    "com.amazonaws.services.quicksight#DataSetSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.services.quicksight#DataSetSummary"
      }
    },
    "com.amazonaws.services.quicksight#DataSource": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.services.quicksight.common#Arn",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The Amazon Resource name (ARN) of the data source.</p>\n\t     "
          }
        },
        "CreatedTime": {
          "target": "com.amazonaws.services.quicksight#Timestamp",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The time this was created.</p>\n\t     "
          }
        },
        "DataSourceId": {
          "target": "com.amazonaws.services.quicksight.common#ResourceId",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The ID of the data source. This ID is unique per AWS Region for each AWS account.</p>\n\t     "
          }
        },
        "DataSourceParameters": {
          "target": "com.amazonaws.services.quicksight#DataSourceParameters",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The parameters that QuickSight uses to connect to your underlying source. This is a\n\t\t\tvariant type structure. At most one of the attributes should be non-null for this structure\n\t\t\tto be valid.</p>\n\t     "
          }
        },
        "ErrorInfo": {
          "target": "com.amazonaws.services.quicksight#DataSourceErrorInfo",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Error information from the last update or the creation of the data source.</p>\n\t     "
          }
        },
        "LastUpdatedTime": {
          "target": "com.amazonaws.services.quicksight#Timestamp",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The last time this was updated.</p>\n\t     "
          }
        },
        "Name": {
          "target": "com.amazonaws.services.quicksight.common#ResourceName",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>A display name for the data source.</p>\n\t     "
          }
        },
        "SslProperties": {
          "target": "com.amazonaws.services.quicksight#SslProperties",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Secure Socket Layer (SSL) properties that apply when QuickSight connects to your\n\t\t\tunderlying source.</p>\n\t     "
          }
        },
        "Status": {
          "target": "com.amazonaws.services.quicksight.common#ResourceStatus",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The HTTP status of the request.</p>\n\t     "
          }
        },
        "Type": {
          "target": "com.amazonaws.services.quicksight#DataSourceType",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The type of the data source. This indicates which database engine the data source\n\t\t\tconnects to.</p>\n\t     "
          }
        },
        "VpcConnectionProperties": {
          "target": "com.amazonaws.services.quicksight#VpcConnectionProperties",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>The VPC connection information. You need to use this parameter only when you want\n\t\t\tQuickSight to use a VPC connection when connecting to your underlying source.</p>\n\t     "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n\t\t       <p>The structure of a data source.</p>\n\t     "
      }
    },
    "com.amazonaws.services.quicksight#DataSourceCredentials": {
      "type": "structure",
      "members": {
        "CredentialPair": {
          "target": "com.amazonaws.services.quicksight#CredentialPair",
          "traits": {
            "smithy.api#documentation": "\n\t\t       <p>Credential pair.</p>\n\t     "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n\t\t       <p>Data source credentials.</p>\n\t     ",
[...]
