{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazonaws.resourcesharing.V2018_01_04#AcceptResourceShareInvitation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourcesharing.V2018_01_04#AcceptResourceShareInvitationRequest"
      },
      "output": {
        "target": "com.amazonaws.resourcesharing.V2018_01_04#AcceptResourceShareInvitationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#InvalidClientTokenException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#MalformedArnException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ResourceShareInvitationAlreadyAcceptedException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ResourceShareInvitationAlreadyRejectedException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ResourceShareInvitationArnNotFoundException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ResourceShareInvitationExpiredException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ServerInternalException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Accepts an invitation to a resource share from another AWS account.</p>\n      ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/acceptresourceshareinvitation",
          "code": 200
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#AcceptResourceShareInvitationRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>\n      "
          }
        },
        "resourceShareInvitationArn": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The Amazon Resource Name (ARN) of the invitation.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#AcceptResourceShareInvitationResponse": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>\n      "
          }
        },
        "resourceShareInvitation": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ResourceShareInvitation",
          "traits": {
            "smithy.api#documentation": "\n         <p>Information about the invitation.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#AmazonResourceSharing": {
      "type": "service",
      "version": "2018-01-04",
      "operations": [
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#AcceptResourceShareInvitation"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#AssociateResourceShare"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#AssociateResourceSharePermission"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#CreateResourceShare"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#DeleteResourceShare"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#DisassociateResourceShare"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#DisassociateResourceSharePermission"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#EnableSharingWithAwsOrganization"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#GetPermission"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#GetResourcePolicies"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#GetResourceShareAssociations"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#GetResourceShareInvitations"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#GetResourceShares"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ListPendingInvitationResources"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ListPermissions"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ListPrincipals"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ListResourceSharePermissions"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ListResources"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#PromoteResourceShareCreatedFromPolicy"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#RejectResourceShareInvitation"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#TagResource"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#UntagResource"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#UpdateResourceShare"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "RAM",
          "arnNamespace": "ram",
          "cloudFormationName": "RAM",
          "cloudTrailEventSource": "V2018_01_04.resourcesharing.amazonaws.com"
        },
        "smithy.api#documentation": "\n         <p>Use AWS Resource Access Manager to share AWS resources between AWS accounts. To share a resource, you\n          create a resource share, associate the resource with the resource share, and specify the principals that\n          can access the resources associated with the resource share. The following principals are supported:\n          AWS accounts, organizational units (OU) from AWS Organizations, and organizations from\n          AWS Organizations.</p>\n         <p>For more information, see the <a href=\"https://docs.aws.amazon.com/ram/latest/userguide/\">AWS Resource Access Manager User Guide</a>.</p>\n      ",
        "smithy.api#protocols": [
          {
            "name": "aws.rest-json-1.1",
            "auth": [
              "aws.v4"
            ]
          }
        ],
        "smithy.api#title": "AWS Resource Access Manager"
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#AssociateResourceShare": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourcesharing.V2018_01_04#AssociateResourceShareRequest"
      },
      "output": {
        "target": "com.amazonaws.resourcesharing.V2018_01_04#AssociateResourceShareResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#InvalidClientTokenException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#InvalidStateTransitionException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#MalformedArnException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ResourceShareLimitExceededException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ServerInternalException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#UnknownResourceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Associates the specified resource share with the specified principals and resources.</p>\n      ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/associateresourceshare",
          "code": 200
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#AssociateResourceSharePermission": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourcesharing.V2018_01_04#AssociateResourceSharePermissionRequest"
      },
      "output": {
        "target": "com.amazonaws.resourcesharing.V2018_01_04#AssociateResourceSharePermissionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#InvalidClientTokenException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#MalformedArnException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ServerInternalException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#UnknownResourceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Associates a permission with a resource share.</p>\n      ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/associateresourcesharepermission",
          "code": 200
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#AssociateResourceSharePermissionRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>\n      "
          }
        },
        "permissionArn": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The ARN of the AWS RAM permission to associate with the resource share.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "replace": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#Boolean",
          "traits": {
            "smithy.api#documentation": "\n        <p>Indicates whether the permission should replace the permissions that are currently \n        \tassociated with the resource share. Use <code>true</code> to replace the current permissions. \n        \tUse <code>false</code> to add the permission to the current permission.</p>\n      "
          }
        },
        "resourceShareArn": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The Amazon Resource Name (ARN) of the resource share.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#AssociateResourceSharePermissionResponse": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>\n      "
          }
        },
        "returnValue": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#Boolean",
          "traits": {
            "smithy.api#documentation": "\n        <p>Indicates whether the request succeeded.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#AssociateResourceShareRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>\n      "
          }
        },
        "principals": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#PrincipalArnOrIdList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The principals.</p>\n      "
          }
        },
        "resourceArns": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ResourceArnList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The Amazon Resource Names (ARN) of the resources.</p>\n      "
          }
        },
        "resourceShareArn": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The Amazon Resource Name (ARN) of the resource share.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#AssociateResourceShareResponse": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>\n      "
          }
        },
        "resourceShareAssociations": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ResourceShareAssociationList",
          "traits": {
            "smithy.api#documentation": "\n         <p>Information about the associations.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#CreateResourceShare": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourcesharing.V2018_01_04#CreateResourceShareRequest"
      },
      "output": {
        "target": "com.amazonaws.resourcesharing.V2018_01_04#CreateResourceShareResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#InvalidClientTokenException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#InvalidStateTransitionException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#MalformedArnException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ResourceShareLimitExceededException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ServerInternalException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#TagPolicyViolationException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#UnknownResourceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Creates a resource share.</p>\n      ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/createresourceshare",
          "code": 200
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#CreateResourceShareRequest": {
      "type": "structure",
      "members": {
        "allowExternalPrincipals": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#Boolean",
          "traits": {
            "smithy.api#documentation": "\n         <p>Indicates whether principals outside your AWS organization can be associated with a resource share.</p>\n      "
          }
        },
        "clientToken": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>\n      "
          }
        },
        "name": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the resource share.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "permissionArns": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#PermissionArnList",
          "traits": {
            "smithy.api#documentation": "\n        <p>The ARNs of the permissions to associate with the resource share. If you do not specify an ARN\n\t\t\tfor the permission, AWS RAM automatically attaches the default version of the permission\n\t\t\tfor each resource type.</p>\n      "
          }
        },
        "principals": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#PrincipalArnOrIdList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The principals to associate with the resource share. The possible values are IDs of AWS accounts,\n          the ARN of an OU or organization from AWS Organizations.</p>\n      "
          }
        },
        "resourceArns": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ResourceArnList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The Amazon Resource Names (ARN) of the resources to associate with the resource share.</p>\n      "
          }
        },
        "tags": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#TagList",
          "traits": {
            "smithy.api#documentation": "\n         <p>One or more tags.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#CreateResourceShareResponse": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>\n      "
          }
        },
        "resourceShare": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ResourceShare",
          "traits": {
            "smithy.api#documentation": "\n         <p>Information about the resource share.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#DateTime": {
      "type": "timestamp"
    },
    "com.amazonaws.resourcesharing.V2018_01_04#DeleteResourceShare": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourcesharing.V2018_01_04#DeleteResourceShareRequest"
      },
      "output": {
        "target": "com.amazonaws.resourcesharing.V2018_01_04#DeleteResourceShareResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#InvalidClientTokenException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#InvalidStateTransitionException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#MalformedArnException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ServerInternalException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#UnknownResourceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Deletes the specified resource share.</p>\n      ",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/deleteresourceshare",
          "code": 200
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#DeleteResourceShareRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>\n      ",
            "smithy.api#httpQuery": "clientToken"
          }
        },
        "resourceShareArn": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The Amazon Resource Name (ARN) of the resource share.</p>\n      ",
            "smithy.api#httpQuery": "resourceShareArn",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#DeleteResourceShareResponse": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>\n      "
          }
        },
        "returnValue": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#Boolean",
          "traits": {
            "smithy.api#documentation": "\n         <p>Indicates whether the request succeeded.</p>\n      ",
            "smithy.api#xmlName": "return"
          }
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#DisassociateResourceShare": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourcesharing.V2018_01_04#DisassociateResourceShareRequest"
      },
      "output": {
        "target": "com.amazonaws.resourcesharing.V2018_01_04#DisassociateResourceShareResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#InvalidClientTokenException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#InvalidStateTransitionException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#MalformedArnException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ResourceShareLimitExceededException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ServerInternalException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#UnknownResourceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Disassociates the specified principals or resources from the specified resource share.</p>\n      ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/disassociateresourceshare",
          "code": 200
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#DisassociateResourceSharePermission": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourcesharing.V2018_01_04#DisassociateResourceSharePermissionRequest"
      },
      "output": {
        "target": "com.amazonaws.resourcesharing.V2018_01_04#DisassociateResourceSharePermissionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#InvalidClientTokenException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#MalformedArnException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ServerInternalException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#UnknownResourceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n\t        <p>Disassociates an AWS RAM permission from a resource share.</p>\n      ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/disassociateresourcesharepermission",
          "code": 200
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#DisassociateResourceSharePermissionRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n\t        <p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>\n      "
          }
        },
        "permissionArn": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n\t        <p>The ARN of the permission to disassociate from the resource share.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "resourceShareArn": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n\t        <p>The Amazon Resource Name (ARN) of the resource share.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#DisassociateResourceSharePermissionResponse": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n    \t    <p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>\n      "
          }
        },
        "returnValue": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#Boolean",
          "traits": {
            "smithy.api#documentation": "\n\t        <p>Indicates whether the request succeeded.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#DisassociateResourceShareRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>\n      "
          }
        },
        "principals": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#PrincipalArnOrIdList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The principals.</p>\n      "
          }
        },
        "resourceArns": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ResourceArnList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The Amazon Resource Names (ARNs) of the resources.</p>\n      "
          }
        },
        "resourceShareArn": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The Amazon Resource Name (ARN) of the resource share.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#DisassociateResourceShareResponse": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>\n      "
          }
        },
        "resourceShareAssociations": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ResourceShareAssociationList",
          "traits": {
            "smithy.api#documentation": "\n         <p>Information about the associations.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#EnableSharingWithAwsOrganization": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourcesharing.V2018_01_04#EnableSharingWithAwsOrganizationRequest"
      },
      "output": {
        "target": "com.amazonaws.resourcesharing.V2018_01_04#EnableSharingWithAwsOrganizationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ServerInternalException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Enables resource sharing within your AWS Organization.</p>\n         <p>The caller must be the master account for the AWS Organization.</p>\n      ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/enablesharingwithawsorganization",
          "code": 200
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#EnableSharingWithAwsOrganizationRequest": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#EnableSharingWithAwsOrganizationResponse": {
      "type": "structure",
      "members": {
        "returnValue": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#Boolean",
          "traits": {
            "smithy.api#documentation": "\n   \t     <p>Indicates whether the request succeeded.</p>\n      ",
            "smithy.api#xmlName": "return"
          }
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#GetPermission": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourcesharing.V2018_01_04#GetPermissionRequest"
      },
      "output": {
        "target": "com.amazonaws.resourcesharing.V2018_01_04#GetPermissionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#MalformedArnException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ServerInternalException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#UnknownResourceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n\t        <p>Gets the contents of an AWS RAM permission in JSON format.</p>\n      ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/getpermission",
          "code": 200
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#GetPermissionRequest": {
      "type": "structure",
      "members": {
        "permissionArn": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n\t        <p>The ARN of the permission.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "permissionVersion": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#Integer",
          "traits": {
            "smithy.api#documentation": "\n    \t    <p>The identifier for the version of the permission.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#GetPermissionResponse": {
      "type": "structure",
      "members": {
        "permission": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ResourceSharePermissionDetail",
          "traits": {
            "smithy.api#documentation": "\n\t        <p>Information about the permission.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#GetResourcePolicies": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourcesharing.V2018_01_04#GetResourcePoliciesRequest"
      },
      "output": {
        "target": "com.amazonaws.resourcesharing.V2018_01_04#GetResourcePoliciesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#MalformedArnException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ServerInternalException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Gets the policies for the specified resources that you own and have shared.</p>\n      ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/getresourcepolicies",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#GetResourcePoliciesRequest": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#MaxResults",
          "traits": {
            "smithy.api#documentation": "\n         <p>The maximum number of results to return with a single call.\n  To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.</p>\n      "
          }
        },
        "nextToken": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The token for the next page of results.</p>\n      "
          }
        },
        "principal": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The principal.</p>\n      "
          }
        },
        "resourceArns": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ResourceArnList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The Amazon Resource Names (ARN) of the resources.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#GetResourcePoliciesResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The token to use to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.</p>\n      "
          }
        },
        "policies": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#PolicyList",
          "traits": {
            "smithy.api#documentation": "\n         <p>A key policy document, in JSON format.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#GetResourceShareAssociations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourcesharing.V2018_01_04#GetResourceShareAssociationsRequest"
      },
      "output": {
        "target": "com.amazonaws.resourcesharing.V2018_01_04#GetResourceShareAssociationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#MalformedArnException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ServerInternalException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#UnknownResourceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Gets the resources or principals for the resource shares that you own.</p>\n      ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/getresourceshareassociations",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#GetResourceShareAssociationsRequest": {
      "type": "structure",
      "members": {
        "associationStatus": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ResourceShareAssociationStatus",
          "traits": {
            "smithy.api#documentation": "\n         <p>The association status.</p>\n      "
          }
        },
        "associationType": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ResourceShareAssociationType",
          "traits": {
            "smithy.api#documentation": "\n   \t     <p>The association type. Specify <code>PRINCIPAL</code> to list the principals that are \n   \t\tassociated with the specified resource share. Specify <code>RESOURCE</code> to list \n   \t\tthe resources that are associated with the specified resource share.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "maxResults": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#MaxResults",
          "traits": {
            "smithy.api#documentation": "\n         <p>The maximum number of results to return with a single call.\n  To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.</p>\n      "
          }
        },
        "nextToken": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The token for the next page of results.</p>\n      "
          }
        },
        "principal": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The principal. You cannot specify this parameter if the association type is \n     \t<code>RESOURCE</code>.</p>\n      "
          }
        },
        "resourceArn": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The Amazon Resource Name (ARN) of the resource. You cannot specify this parameter if the \n      \tassociation type is <code>PRINCIPAL</code>.</p>\n      "
          }
        },
        "resourceShareArns": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ResourceShareArnList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The Amazon Resource Names (ARN) of the resource shares.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#GetResourceShareAssociationsResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The token to use to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.</p>\n      "
          }
        },
        "resourceShareAssociations": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ResourceShareAssociationList",
          "traits": {
            "smithy.api#documentation": "\n         <p>Information about the associations.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#GetResourceShareInvitations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourcesharing.V2018_01_04#GetResourceShareInvitationsRequest"
      },
      "output": {
        "target": "com.amazonaws.resourcesharing.V2018_01_04#GetResourceShareInvitationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#InvalidMaxResultsException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#MalformedArnException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ResourceShareInvitationArnNotFoundException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ServerInternalException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Gets the invitations for resource sharing that you've received.</p>\n      ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/getresourceshareinvitations",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#GetResourceShareInvitationsRequest": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#MaxResults",
          "traits": {
            "smithy.api#documentation": "\n         <p>The maximum number of results to return with a single call.\n  To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.</p>\n      "
          }
        },
        "nextToken": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The token for the next page of results.</p>\n      "
          }
        },
        "resourceShareArns": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ResourceShareArnList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The Amazon Resource Names (ARN) of the resource shares.</p>\n      "
          }
        },
        "resourceShareInvitationArns": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ResourceShareInvitationArnList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The Amazon Resource Names (ARN) of the invitations.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#GetResourceShareInvitationsResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The token to use to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.</p>\n      "
          }
        },
        "resourceShareInvitations": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ResourceShareInvitationList",
          "traits": {
            "smithy.api#documentation": "\n         <p>Information about the invitations.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#GetResourceShares": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourcesharing.V2018_01_04#GetResourceSharesRequest"
      },
      "output": {
        "target": "com.amazonaws.resourcesharing.V2018_01_04#GetResourceSharesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#MalformedArnException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ServerInternalException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#UnknownResourceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Gets the resource shares that you own or the resource shares that are shared with you.</p>\n      ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/getresourceshares",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#GetResourceSharesRequest": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#MaxResults",
          "traits": {
            "smithy.api#documentation": "\n         <p>The maximum number of results to return with a single call.\n  To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.</p>\n      "
          }
        },
        "name": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the resource share.</p>\n      "
          }
        },
        "nextToken": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The token for the next page of results.</p>\n      "
          }
        },
        "resourceOwner": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ResourceOwner",
          "traits": {
            "smithy.api#documentation": "\n         <p>The type of owner.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "resourceShareArns": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ResourceShareArnList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The Amazon Resource Names (ARN) of the resource shares.</p>\n      "
          }
        },
        "resourceShareStatus": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ResourceShareStatus",
          "traits": {
            "smithy.api#documentation": "\n         <p>The status of the resource share.</p>\n      "
          }
        },
        "tagFilters": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#TagFilters",
          "traits": {
            "smithy.api#documentation": "\n         <p>One or more tag filters.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#GetResourceSharesResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The token to use to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.</p>\n      "
          }
        },
        "resourceShares": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ResourceShareList",
          "traits": {
            "smithy.api#documentation": "\n         <p>Information about the resource shares.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#IdempotentParameterMismatchException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>A client token input parameter was reused with an operation, but at least one of\n        the other input parameters is different from the previous call to the operation.</p>\n      ",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#Integer": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#InvalidClientTokenException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>A client token is not valid.</p>\n      ",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#InvalidMaxResultsException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>The specified value for MaxResults is not valid.</p>\n      ",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#InvalidNextTokenException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>The specified value for NextToken is not valid.</p>\n      ",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#InvalidParameterException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>A parameter is not valid.</p>\n      ",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#InvalidResourceTypeException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>The specified resource type is not valid.</p>\n      ",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#InvalidStateTransitionException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>The requested state transition is not valid.</p>\n      ",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#ListPendingInvitationResources": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourcesharing.V2018_01_04#ListPendingInvitationResourcesRequest"
      },
      "output": {
        "target": "com.amazonaws.resourcesharing.V2018_01_04#ListPendingInvitationResourcesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#MalformedArnException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#MissingRequiredParameterException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ResourceShareInvitationAlreadyRejectedException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ResourceShareInvitationArnNotFoundException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ResourceShareInvitationExpiredException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ServerInternalException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n  \t      <p>Lists the resources in a resource share that is shared with you but that the invitation is still pending for.</p>\n      ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/listpendinginvitationresources",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#ListPendingInvitationResourcesRequest": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#MaxResults",
          "traits": {
            "smithy.api#documentation": "\n  \t      <p>The maximum number of results to return with a single call.\n  To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.</p>\n      "
          }
        },
        "nextToken": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n  \t      <p>The token for the next page of results.</p>\n      "
          }
        },
        "resourceShareInvitationArn": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n  \t      <p>The Amazon Resource Name (ARN) of the invitation.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#ListPendingInvitationResourcesResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n  \t      <p>The token to use to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.</p>\n      "
          }
        },
        "resources": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ResourceList",
          "traits": {
            "smithy.api#documentation": "\n  \t      <p>Information about the resources included the resource share.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#ListPermissions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourcesharing.V2018_01_04#ListPermissionsRequest"
      },
      "output": {
        "target": "com.amazonaws.resourcesharing.V2018_01_04#ListPermissionsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ServerInternalException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n\t        <p>Lists the AWS RAM permissions.</p>\n      ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/listpermissions",
          "code": 200
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#ListPermissionsRequest": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#MaxResults",
          "traits": {
            "smithy.api#documentation": "\n\t        <p>The maximum number of results to return with a single call.\n  To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.</p>\n      "
          }
        },
        "nextToken": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n\t        <p>The token for the next page of results.</p>\n      "
          }
        },
        "resourceType": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n\t        <p>Specifies the resource type for which to list permissions. For example, to list only \n\t\tpermissions that apply to EC2 subnets, specify <code>ec2:Subnet</code>.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#ListPermissionsResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n\t        <p>The token to use to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.</p>\n      "
          }
        },
        "permissions": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ResourceSharePermissionList",
          "traits": {
            "smithy.api#documentation": "\n\t        <p>Information about the permissions.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#ListPrincipals": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourcesharing.V2018_01_04#ListPrincipalsRequest"
      },
      "output": {
        "target": "com.amazonaws.resourcesharing.V2018_01_04#ListPrincipalsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#MalformedArnException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ServerInternalException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#UnknownResourceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Lists the principals that you have shared resources with or that have shared resources\n\t\t\twith you.</p>\n      ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/listprincipals",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#ListPrincipalsRequest": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#MaxResults",
          "traits": {
            "smithy.api#documentation": "\n         <p>The maximum number of results to return with a single call.\n  To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.</p>\n      "
          }
        },
        "nextToken": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The token for the next page of results.</p>\n      "
          }
        },
        "principals": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#PrincipalArnOrIdList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The principals.</p>\n      "
          }
        },
        "resourceArn": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The Amazon Resource Name (ARN) of the resource.</p>\n      "
          }
        },
        "resourceOwner": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ResourceOwner",
          "traits": {
            "smithy.api#documentation": "\n         <p>The type of owner.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "resourceShareArns": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ResourceShareArnList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The Amazon Resource Names (ARN) of the resource shares.</p>\n      "
          }
        },
        "resourceType": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The resource type.</p>\n         <p>Valid values: <code>ec2:CapacityReservation</code> | <code>ec2:Subnet</code> | \n    \t<code>ec2:TrafficMirrorTarget</code> | <code>ec2:TransitGateway</code> | \n    \t<code>license-manager:LicenseConfiguration</code> | \n    \t<code>rds:Cluster</code> | <code>route53resolver:ResolverRule</code> I \n    \t<code>resource-groups:Group</code>\n         </p>\n      "
          }
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#ListPrincipalsResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The token to use to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.</p>\n      "
          }
        },
        "principals": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#PrincipalList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The principals.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#ListResourceSharePermissions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourcesharing.V2018_01_04#ListResourceSharePermissionsRequest"
      },
      "output": {
        "target": "com.amazonaws.resourcesharing.V2018_01_04#ListResourceSharePermissionsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#MalformedArnException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ServerInternalException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#UnknownResourceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n\t        <p>Lists the AWS RAM permissions that are associated with a resource share.</p>\n      ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/listresourcesharepermissions",
          "code": 200
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#ListResourceSharePermissionsRequest": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#MaxResults",
          "traits": {
            "smithy.api#documentation": "\n\t        <p>The maximum number of results to return with a single call.\n  To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.</p>\n      "
          }
        },
        "nextToken": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n\t        <p>The token for the next page of results.</p>\n      "
          }
        },
        "resourceShareArn": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n\t        <p>The Amazon Resource Name (ARN) of the resource share.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#ListResourceSharePermissionsResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n\t        <p>The token to use to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.</p>\n      "
          }
        },
        "permissions": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ResourceSharePermissionList",
          "traits": {
            "smithy.api#documentation": "\n\t        <p>The permissions associated with the resource share.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#ListResources": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourcesharing.V2018_01_04#ListResourcesRequest"
      },
      "output": {
        "target": "com.amazonaws.resourcesharing.V2018_01_04#ListResourcesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#InvalidResourceTypeException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#MalformedArnException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ServerInternalException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#UnknownResourceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Lists the resources that you added to a resource shares or the resources that are shared with you.</p>\n      ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/listresources",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#ListResourcesRequest": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#MaxResults",
          "traits": {
            "smithy.api#documentation": "\n         <p>The maximum number of results to return with a single call.\n  To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.</p>\n      "
          }
        },
        "nextToken": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The token for the next page of results.</p>\n      "
          }
        },
        "principal": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The principal.</p>\n      "
          }
        },
        "resourceArns": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ResourceArnList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The Amazon Resource Names (ARN) of the resources.</p>\n      "
          }
        },
        "resourceOwner": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ResourceOwner",
          "traits": {
            "smithy.api#documentation": "\n         <p>The type of owner.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "resourceShareArns": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ResourceShareArnList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The Amazon Resource Names (ARN) of the resource shares.</p>\n      "
          }
        },
        "resourceType": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The resource type.</p>\n   \t     <p>Valid values: <code>ec2:CapacityReservation</code> | <code>ec2:Subnet</code> | \n   \t\t<code>ec2:TrafficMirrorTarget</code> | <code>ec2:TransitGateway</code> | \n   \t\t<code>license-manager:LicenseConfiguration</code> | \n   \t\t<code>rds:Cluster</code> | <code>route53resolver:ResolverRule</code> | \n   \t\t<code>resource-groups:Group</code>\n         </p>\n      "
          }
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#ListResourcesResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The token to use to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.</p>\n      "
          }
        },
        "resources": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ResourceList",
          "traits": {
            "smithy.api#documentation": "\n         <p>Information about the resources.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#MalformedArnException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>The format of an Amazon Resource Name (ARN) is not valid.</p>\n      ",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 1,
          "max": 500
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#MissingRequiredParameterException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>A required input parameter is missing.</p>\n      ",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#OperationNotPermittedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>The requested operation is not permitted.</p>\n      ",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#PermissionArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#Policy": {
      "type": "string"
    },
    "com.amazonaws.resourcesharing.V2018_01_04#PolicyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resourcesharing.V2018_01_04#Policy",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#Principal": {
      "type": "structure",
      "members": {
        "creationTime": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#DateTime",
          "traits": {
            "smithy.api#documentation": "\n         <p>The time when the principal was associated with the resource share.</p>\n      "
          }
        },
        "external": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#Boolean",
          "traits": {
            "smithy.api#documentation": "\n         <p>Indicates whether the principal belongs to the same AWS organization as the AWS account that owns the resource share.</p>\n      "
          }
        },
        "id": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ID of the principal.</p>\n      "
          }
        },
        "lastUpdatedTime": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#DateTime",
          "traits": {
            "smithy.api#documentation": "\n         <p>The time when the association was last updated.</p>\n      "
          }
        },
        "resourceShareArn": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The Amazon Resource Name (ARN) of the resource share.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>Describes a principal for use with AWS Resource Access Manager.</p>\n      "
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#PrincipalArnOrIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#PrincipalList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resourcesharing.V2018_01_04#Principal",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#PromoteResourceShareCreatedFromPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourcesharing.V2018_01_04#PromoteResourceShareCreatedFromPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.resourcesharing.V2018_01_04#PromoteResourceShareCreatedFromPolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#MalformedArnException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#MissingRequiredParameterException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ServerInternalException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n    \t    <p>Resource shares that were created by attaching a policy to a resource are visible only to\n\t\t\tthe resource share owner, and the resource share cannot be modified in AWS RAM.</p>\n    \t\n    \t    <p>Use this API action to promote the resource share. When you promote the resource share,\n\t\t\tit becomes:</p>\n    \t    <ul>\n            <li>\n    \t\t\t        <p>Visible to all principals that it is shared with.</p>\n    \t\t      </li>\n            <li>\n    \t\t\t        <p>Modifiable in AWS RAM.</p>\n    \t\t      </li>\n         </ul>\n      ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/promoteresourcesharecreatedfrompolicy",
          "code": 200
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#PromoteResourceShareCreatedFromPolicyRequest": {
      "type": "structure",
      "members": {
        "resourceShareArn": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n\t        <p>The ARN of the resource share to promote.</p>\n      ",
            "smithy.api#httpQuery": "resourceShareArn",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#PromoteResourceShareCreatedFromPolicyResponse": {
      "type": "structure",
      "members": {
        "returnValue": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#Boolean",
          "traits": {
            "smithy.api#documentation": "\n\t        <p>Indicates whether the request succeeded.</p>\n      ",
            "smithy.api#xmlName": "return"
          }
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#RejectResourceShareInvitation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourcesharing.V2018_01_04#RejectResourceShareInvitationRequest"
      },
      "output": {
        "target": "com.amazonaws.resourcesharing.V2018_01_04#RejectResourceShareInvitationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#InvalidClientTokenException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#MalformedArnException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ResourceShareInvitationAlreadyAcceptedException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ResourceShareInvitationAlreadyRejectedException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ResourceShareInvitationArnNotFoundException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ResourceShareInvitationExpiredException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ServerInternalException"
        },
        {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Rejects an invitation to a resource share from another AWS account.</p>\n      ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/rejectresourceshareinvitation",
          "code": 200
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#RejectResourceShareInvitationRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>\n      "
          }
        },
        "resourceShareInvitationArn": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The Amazon Resource Name (ARN) of the invitation.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#RejectResourceShareInvitationResponse": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>\n      "
          }
        },
        "resourceShareInvitation": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ResourceShareInvitation",
          "traits": {
            "smithy.api#documentation": "\n         <p>Information about the invitation.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#Resource": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The Amazon Resource Name (ARN) of the resource.</p>\n      "
          }
        },
        "creationTime": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#DateTime",
          "traits": {
            "smithy.api#documentation": "\n         <p>The time when the resource was associated with the resource share.</p>\n      "
          }
        },
        "lastUpdatedTime": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#DateTime",
          "traits": {
            "smithy.api#documentation": "\n         <p>The time when the association was last updated.</p>\n      "
          }
        },
        "resourceGroupArn": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n\t        <p>The ARN of the resource group. This value is returned only if the resource is a resource\n\t\t\tgroup.</p>\n      "
          }
        },
        "resourceShareArn": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The Amazon Resource Name (ARN) of the resource share.</p>\n      "
          }
        },
        "status": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ResourceStatus",
          "traits": {
            "smithy.api#documentation": "\n         <p>The status of the resource.</p>\n      "
          }
        },
        "statusMessage": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>A message about the status of the resource.</p>\n      "
          }
        },
        "type": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The resource type.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>Describes a resource associated with a resource share.</p>\n      "
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#ResourceArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#ResourceArnNotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>An Amazon Resource Name (ARN) was not found.</p>\n      ",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#ResourceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resourcesharing.V2018_01_04#Resource",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#ResourceOwner": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "SELF": {
            "name": "SELF"
          },
          "OTHER-ACCOUNTS": {
            "name": "OTHER_ACCOUNTS"
          }
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#ResourceShare": {
      "type": "structure",
      "members": {
        "allowExternalPrincipals": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#Boolean",
          "traits": {
            "smithy.api#documentation": "\n         <p>Indicates whether principals outside your AWS organization can be associated with a resource share.</p>\n      "
          }
        },
        "creationTime": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#DateTime",
          "traits": {
            "smithy.api#documentation": "\n         <p>The time when the resource share was created.</p>\n      "
          }
        },
        "featureSet": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ResourceShareFeatureSet",
          "traits": {
            "smithy.api#documentation": "\n\t        <p>Indicates how the resource share was created. Possible values include:</p>\n\t        <ul>\n            <li>\n\t\t\t            <p>\n                  <code>CREATED_FROM_POLICY</code> - Indicates that the resource share was created from an AWS Identity\n\t\t\t\t\tand Access Management (AWS IAM) policy attached to a resource. These resource shares are\n\t\t\t\t\tvisible only to the AWS account that created it. They cannot be modified in\n\t\t\t\t\tAWS RAM.</p>\n\t\t          </li>\n            <li>\n\t\t\t            <p>\n                  <code>PROMOTING_TO_STANDARD</code> - The resource share is in the process \n\t\t\t\tof being promoted. For more information, see \n\t\t\t\t<a>PromoteResourceShareCreatedFromPolicy</a>.</p>\n\t\t          </li>\n            <li>\n\t\t\t            <p>\n                  <code>STANDARD</code> - Indicates that the resource share was created in AWS RAM using the console or\n\t\t\t\t\tAPIs. These resource shares are visible to all principals. They can be modified\n\t\t\t\t\tin AWS RAM.</p>\n\t\t          </li>\n         </ul>\n\t     "
          }
        },
        "lastUpdatedTime": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#DateTime",
          "traits": {
            "smithy.api#documentation": "\n         <p>The time when the resource share was last updated.</p>\n      "
          }
        },
        "name": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the resource share.</p>\n      "
          }
        },
        "owningAccountId": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ID of the AWS account that owns the resource share.</p>\n      "
          }
        },
        "resourceShareArn": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The Amazon Resource Name (ARN) of the resource share.</p>\n      "
          }
        },
        "status": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ResourceShareStatus",
          "traits": {
            "smithy.api#documentation": "\n         <p>The status of the resource share.</p>\n      "
          }
        },
        "statusMessage": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>A message about the status of the resource share.</p>\n      "
          }
        },
        "tags": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#TagList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The tags for the resource share.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>Describes a resource share.</p>\n      "
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#ResourceShareArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#ResourceShareAssociation": {
      "type": "structure",
      "members": {
        "associatedEntity": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The associated entity. For resource associations, this is the ARN of the resource.\n       For principal associations, this is the ID of an AWS account or the ARN of an OU or\n       organization from AWS Organizations.</p>\n      "
          }
        },
        "associationType": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ResourceShareAssociationType",
          "traits": {
            "smithy.api#documentation": "\n         <p>The association type.</p>\n      "
          }
        },
        "creationTime": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#DateTime",
          "traits": {
            "smithy.api#documentation": "\n         <p>The time when the association was created.</p>\n      "
          }
        },
        "external": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#Boolean",
          "traits": {
            "smithy.api#documentation": "\n         <p>Indicates whether the principal belongs to the same AWS organization as the AWS account that owns the resource share.</p>\n      "
          }
        },
        "lastUpdatedTime": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#DateTime",
          "traits": {
            "smithy.api#documentation": "\n         <p>The time when the association was last updated.</p>\n      "
          }
        },
        "resourceShareArn": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The Amazon Resource Name (ARN) of the resource share.</p>\n      "
          }
        },
        "resourceShareName": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n\t        <p>The name of the resource share.</p>\n      "
          }
        },
        "status": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ResourceShareAssociationStatus",
          "traits": {
            "smithy.api#documentation": "\n         <p>The status of the association.</p>\n      "
          }
        },
        "statusMessage": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>A message about the status of the association.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>Describes an association with a resource share.</p>\n      "
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#ResourceShareAssociationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resourcesharing.V2018_01_04#ResourceShareAssociation",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#ResourceShareAssociationStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "ASSOCIATING": { },
          "ASSOCIATED": { },
          "FAILED": { },
          "DISASSOCIATING": { },
          "DISASSOCIATED": { }
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#ResourceShareAssociationType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "PRINCIPAL": { },
          "RESOURCE": { }
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#ResourceShareFeatureSet": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "CREATED_FROM_POLICY": { },
          "PROMOTING_TO_STANDARD": { },
          "STANDARD": { }
        }
      }
    },
    "com.amazonaws.resourcesharing.V2018_01_04#ResourceShareInvitation": {
      "type": "structure",
      "members": {
        "invitationTimestamp": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#DateTime",
          "traits": {
            "smithy.api#documentation": "\n         <p>The date and time when the invitation was sent.</p>\n      "
          }
        },
        "receiverAccountId": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ID of the AWS account that received the invitation.</p>\n      "
          }
        },
        "resourceShareArn": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The Amazon Resource Name (ARN) of the resource share.</p>\n      "
          }
        },
        "resourceShareAssociations": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ResourceShareAssociationList",
          "traits": {
            "smithy.api#deprecated": {
              "message": "This member has been deprecated. Use ListPendingInvitationResources."
            },
            "smithy.api#documentation": "\n         <p>To view the resources associated with a pending resource share invitation, use \n      \t<a href=\"https://docs.aws.amazon.com/ram/latest/APIReference/API_ListPendingInvitationResources.html\">\n      \t\tListPendingInvitationResources</a>.</p>\n      "
          }
        },
        "resourceShareInvitationArn": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The Amazon Resource Name (ARN) of the invitation.</p>\n      "
          }
        },
        "resourceShareName": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the resource share.</p>\n      "
          }
        },
        "senderAccountId": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#String",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ID of the AWS account that sent the invitation.</p>\n      "
          }
        },
        "status": {
          "target": "com.amazonaws.resourcesharing.V2018_01_04#ResourceShareInvitationStatus",
          "traits": {
            "smithy.api#documentation": "\n         <p>The status of the invitation.</p>\n      "
          }
        }
      },
      "traits": {
[...]
