{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      },
      {
        "ids": [
          "HttpUriConflict"
        ]
      }
    ]
  },
  "shapes": {
    "redshift.admin.v20121201#AcceptReservedNodeExchange": {
      "type": "operation",
      "input": {
        "target": "redshift.admin.v20121201#AcceptReservedNodeExchangeInputMessage"
      },
      "output": {
        "target": "redshift.admin.v20121201#AcceptReservedNodeExchangeOutputMessage"
      },
      "errors": [
        {
          "target": "redshift.admin#DependentServiceUnavailableFault"
        },
        {
          "target": "redshift.admin#InvalidReservedNodeStateFault"
        },
        {
          "target": "redshift.admin#ReservedNodeAlreadyExistsFault"
        },
        {
          "target": "redshift.admin#ReservedNodeAlreadyMigratedFault"
        },
        {
          "target": "redshift.admin#ReservedNodeNotFoundFault"
        },
        {
          "target": "redshift.admin#ReservedNodeOfferingNotFoundFault"
        },
        {
          "target": "redshift.admin#UnsupportedOperationFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Exchanges a DC1 Reserved Node for a DC2 Reserved Node with no changes to the\n            configuration (term, payment type, or number of nodes) and no additional costs.\n        </p>"
      }
    },
    "redshift.admin.v20121201#AcceptReservedNodeExchangeInputMessage": {
      "type": "structure",
      "members": {
        "ReservedNodeId": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>A string representing the node identifier of the DC1 Reserved Node to be\n            exchanged.</p>",
            "smithy.api#required": true
          }
        },
        "TargetReservedNodeOfferingId": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the DC2 Reserved Node offering to be used for the exchange.\n            You can obtain the value for the parameter by calling <a>GetReservedNodeExchangeOfferings</a>\n         </p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "redshift.admin.v20121201#AcceptReservedNodeExchangeOutputMessage": {
      "type": "structure",
      "members": {
        "ExchangedReservedNode": {
          "target": "redshift.admin.v20121201#ReservedNode",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        }
      }
    },
    "redshift.admin#AccessToSnapshotDeniedFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "redshift.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The owner of the specified snapshot has not authorized your account to access the\n            snapshot.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "redshift.admin.v20121201#AccountAttribute": {
      "type": "structure",
      "members": {
        "AttributeName": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the attribute.</p>"
          }
        },
        "AttributeValues": {
          "target": "redshift.admin.v20121201#AttributeValueList",
          "traits": {
            "smithy.api#documentation": "<p>A list of attribute values.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A name value pair that describes an aspect of an account. </p>"
      }
    },
    "redshift.admin.v20121201#AccountAttributeList": {
      "type": "structure",
      "members": {
        "AccountAttributes": {
          "target": "redshift.admin.v20121201#AttributeList",
          "traits": {
            "smithy.api#documentation": "<p>A list of attributes assigned to an account.</p>"
          }
        }
      }
    },
    "redshift.admin.v20121201#AccountWithRestoreAccess": {
      "type": "structure",
      "members": {
        "AccountAlias": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of an AWS support account authorized to restore a snapshot. For AWS\n            support, the identifier is <code>amazon-redshift-support</code>. </p>"
          }
        },
        "AccountId": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of an AWS customer account authorized to restore a\n            snapshot.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an AWS customer account authorized to restore a snapshot.</p>"
      }
    },
    "redshift.admin.v20121201#AccountsWithRestoreAccessList": {
      "type": "list",
      "member": {
        "target": "redshift.admin.v20121201#AccountWithRestoreAccess",
        "traits": {
          "smithy.api#xmlName": "AccountWithRestoreAccess"
        }
      }
    },
    "redshift.admin.v20121201#ActionType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "restore-cluster": {
            "name": "RESTORE_CLUSTER"
          },
          "recommend-node-config": {
            "name": "RECOMMEND_NODE_CONFIG"
          }
        }
      }
    },
    "redshift.admin.v20121201#AssociatedClusterList": {
      "type": "list",
      "member": {
        "target": "redshift.admin.v20121201#ClusterAssociatedToSchedule",
        "traits": {
          "smithy.api#xmlName": "ClusterAssociatedToSchedule"
        }
      }
    },
    "redshift.admin.v20121201#AttributeList": {
      "type": "list",
      "member": {
        "target": "redshift.admin.v20121201#AccountAttribute",
        "traits": {
          "smithy.api#xmlName": "AccountAttribute"
        }
      }
    },
    "redshift.admin.v20121201#AttributeNameList": {
      "type": "list",
      "member": {
        "target": "redshift.admin.v20121201#String",
        "traits": {
          "smithy.api#xmlName": "AttributeName"
        }
      }
    },
    "redshift.admin.v20121201#AttributeValueList": {
      "type": "list",
      "member": {
        "target": "redshift.admin.v20121201#AttributeValueTarget",
        "traits": {
          "smithy.api#xmlName": "AttributeValueTarget"
        }
      }
    },
    "redshift.admin.v20121201#AttributeValueTarget": {
      "type": "structure",
      "members": {
        "AttributeValue": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The value of the attribute.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an attribute value.</p>"
      }
    },
    "redshift.admin#AuthorizationAlreadyExistsFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "redshift.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified CIDR block or EC2 security group is already authorized for the\n            specified cluster security group.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "redshift.admin#AuthorizationNotFoundFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "redshift.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified CIDR IP range or EC2 security group is not authorized for the\n            specified cluster security group.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "redshift.admin#AuthorizationQuotaExceededFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "redshift.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The authorization quota for the cluster security group has been reached.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "redshift.admin.v20121201#AuthorizeClusterSecurityGroupIngress": {
      "type": "operation",
      "input": {
        "target": "redshift.admin.v20121201#AuthorizeClusterSecurityGroupIngressMessage"
      },
      "output": {
        "target": "redshift.admin.v20121201#AuthorizeClusterSecurityGroupIngressResult"
      },
      "errors": [
        {
          "target": "redshift.admin#AuthorizationAlreadyExistsFault"
        },
        {
          "target": "redshift.admin#AuthorizationQuotaExceededFault"
        },
        {
          "target": "redshift.admin#ClusterSecurityGroupNotFoundFault"
        },
        {
          "target": "redshift.admin#InvalidClusterSecurityGroupStateFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds an inbound (ingress) rule to an Amazon Redshift security group. Depending on whether\n            the application accessing your cluster is running on the Internet or an Amazon EC2\n            instance, you can authorize inbound access to either a Classless Interdomain Routing\n            (CIDR)/Internet Protocol (IP) range or to an Amazon EC2 security group. You can add as\n            many as 20 ingress rules to an Amazon Redshift security group.</p>\n        <p>If you authorize access to an Amazon EC2 security group, specify\n                <i>EC2SecurityGroupName</i> and\n                <i>EC2SecurityGroupOwnerId</i>. The Amazon EC2 security group and\n            Amazon Redshift cluster must be in the same AWS Region. </p>\n        <p>If you authorize access to a CIDR/IP address range, specify\n                <i>CIDRIP</i>. For an overview of CIDR blocks, see the Wikipedia\n            article on <a href=\"http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing\">Classless Inter-Domain Routing</a>. </p>\n        <p>You must also associate the security group with a cluster so that clients running\n            on these IP addresses or the EC2 instance are authorized to connect to the cluster. For\n            information about managing security groups, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/working-with-security-groups.html\">Working with Security\n                Groups</a> in the <i>Amazon Redshift Cluster Management Guide</i>.</p>"
      }
    },
    "redshift.admin.v20121201#AuthorizeClusterSecurityGroupIngressMessage": {
      "type": "structure",
      "members": {
        "CIDRIP": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The IP range to be added the Amazon Redshift security group.</p>"
          }
        },
        "ClusterSecurityGroupName": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the security group to which the ingress rule is added.</p>",
            "smithy.api#required": true
          }
        },
        "EC2SecurityGroupName": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The EC2 security group to be added the Amazon Redshift security group.</p>"
          }
        },
        "EC2SecurityGroupOwnerId": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account number of the owner of the security group specified by the\n                <i>EC2SecurityGroupName</i> parameter. The AWS Access Key ID is not an\n            acceptable value. </p>\n        <p>Example: <code>111122223333</code>\n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "redshift.admin.v20121201#AuthorizeClusterSecurityGroupIngressResult": {
      "type": "structure",
      "members": {
        "ClusterSecurityGroup": {
          "target": "redshift.admin.v20121201#ClusterSecurityGroup"
        }
      }
    },
    "redshift.admin.v20121201#AuthorizeSnapshotAccess": {
      "type": "operation",
      "input": {
        "target": "redshift.admin.v20121201#AuthorizeSnapshotAccessMessage"
      },
      "output": {
        "target": "redshift.admin.v20121201#AuthorizeSnapshotAccessResult"
      },
      "errors": [
        {
          "target": "redshift.admin#AuthorizationAlreadyExistsFault"
        },
        {
          "target": "redshift.admin#AuthorizationQuotaExceededFault"
        },
        {
          "target": "redshift.admin#ClusterSnapshotNotFoundFault"
        },
        {
          "target": "redshift.admin#DependentServiceRequestThrottlingFault"
        },
        {
          "target": "redshift.admin#InvalidClusterSnapshotStateFault"
        },
        {
          "target": "redshift.admin#LimitExceededFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Authorizes the specified AWS customer account to restore the specified\n            snapshot.</p>\n        <p>\nFor more information about working with snapshots, go to \n<a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/working-with-snapshots.html\">Amazon Redshift Snapshots</a> \nin the <i>Amazon Redshift Cluster Management Guide</i>.</p>"
      }
    },
    "redshift.admin.v20121201#AuthorizeSnapshotAccessMessage": {
      "type": "structure",
      "members": {
        "AccountWithRestoreAccess": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the AWS customer account authorized to restore the specified\n            snapshot.</p>\n        <p>To share a snapshot with AWS support, specify amazon-redshift-support.</p>",
            "smithy.api#required": true
          }
        },
        "SnapshotClusterIdentifier": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the cluster the snapshot was created from. This parameter is\n            required if your IAM user has a policy containing a snapshot resource element that\n            specifies anything other than * for the cluster name.</p>"
          }
        },
        "SnapshotIdentifier": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the snapshot the account is authorized to restore.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "redshift.admin.v20121201#AuthorizeSnapshotAccessResult": {
      "type": "structure",
      "members": {
        "Snapshot": {
          "target": "redshift.admin.v20121201#Snapshot"
        }
      }
    },
    "redshift.admin.v20121201#AvailabilityZone": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the availability zone.</p>"
          }
        },
        "SupportedPlatforms": {
          "target": "redshift.admin.v20121201#SupportedPlatformsList",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an availability zone.</p>"
      }
    },
    "redshift.admin.v20121201#AvailabilityZoneList": {
      "type": "list",
      "member": {
        "target": "redshift.admin.v20121201#AvailabilityZone",
        "traits": {
          "smithy.api#xmlName": "AvailabilityZone"
        }
      }
    },
    "redshift.admin.v20121201#BatchDeleteClusterSnapshots": {
      "type": "operation",
      "input": {
        "target": "redshift.admin.v20121201#BatchDeleteClusterSnapshotsRequest"
      },
      "output": {
        "target": "redshift.admin.v20121201#BatchDeleteClusterSnapshotsResult"
      },
      "errors": [
        {
          "target": "redshift.admin#BatchDeleteRequestSizeExceededFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a set of cluster snapshots.</p>"
      }
    },
    "redshift.admin.v20121201#BatchDeleteClusterSnapshotsRequest": {
      "type": "structure",
      "members": {
        "Identifiers": {
          "target": "redshift.admin.v20121201#DeleteClusterSnapshotMessageList",
          "traits": {
            "smithy.api#documentation": "<p>A list of identifiers for the snapshots that you want to delete.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "redshift.admin.v20121201#BatchDeleteClusterSnapshotsResult": {
      "type": "structure",
      "members": {
        "Errors": {
          "target": "redshift.admin.v20121201#BatchSnapshotOperationErrorList",
          "traits": {
            "smithy.api#documentation": "<p>A list of any errors returned.</p>"
          }
        },
        "Resources": {
          "target": "redshift.admin.v20121201#SnapshotIdentifierList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the snapshot identifiers that were deleted. </p>"
          }
        }
      }
    },
    "redshift.admin#BatchDeleteRequestSizeExceededFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "redshift.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The maximum number for a batch delete of snapshots has been reached. The limit is\n            100. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "redshift.admin.v20121201#BatchModifyClusterSnapshots": {
      "type": "operation",
      "input": {
        "target": "redshift.admin.v20121201#BatchModifyClusterSnapshotsMessage"
      },
      "output": {
        "target": "redshift.admin.v20121201#BatchModifyClusterSnapshotsOutputMessage"
      },
      "errors": [
        {
          "target": "redshift.admin#BatchModifyClusterSnapshotsLimitExceededFault"
        },
        {
          "target": "redshift.admin#InvalidRetentionPeriodFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Modifies the settings for a set of cluster snapshots.</p>"
      }
    },
    "redshift.admin#BatchModifyClusterSnapshotsLimitExceededFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "redshift.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The maximum number for snapshot identifiers has been reached. The limit is 100.\n        </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "redshift.admin.v20121201#BatchModifyClusterSnapshotsMessage": {
      "type": "structure",
      "members": {
        "Force": {
          "target": "redshift.admin.v20121201#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A boolean value indicating whether to override an exception if the retention period\n            has passed. </p>"
          }
        },
        "ManualSnapshotRetentionPeriod": {
          "target": "redshift.admin.v20121201#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The number of days that a manual snapshot is retained. If you specify the value -1,\n            the manual snapshot is retained indefinitely.</p>\n        <p>The number must be either -1 or an integer between 1 and 3,653.</p>\n        <p>If you decrease the manual snapshot retention period from its current value, existing\n            manual snapshots that fall outside of the new retention period will return an error. If\n            you want to suppress the errors and delete the snapshots, use the force option. </p>"
          }
        },
        "SnapshotIdentifierList": {
          "target": "redshift.admin.v20121201#SnapshotIdentifierList",
          "traits": {
            "smithy.api#documentation": "<p>A list of snapshot identifiers you want to modify.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "redshift.admin.v20121201#BatchModifyClusterSnapshotsOutputMessage": {
      "type": "structure",
      "members": {
        "Errors": {
          "target": "redshift.admin.v20121201#BatchSnapshotOperationErrors",
          "traits": {
            "smithy.api#documentation": "<p>A list of any errors returned.</p>"
          }
        },
        "Resources": {
          "target": "redshift.admin.v20121201#SnapshotIdentifierList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the snapshots that were modified.</p>"
          }
        }
      }
    },
    "redshift.admin.v20121201#BatchSnapshotOperationErrorList": {
      "type": "list",
      "member": {
        "target": "redshift.admin.v20121201#SnapshotErrorMessage",
        "traits": {
          "smithy.api#xmlName": "SnapshotErrorMessage"
        }
      }
    },
    "redshift.admin.v20121201#BatchSnapshotOperationErrors": {
      "type": "list",
      "member": {
        "target": "redshift.admin.v20121201#SnapshotErrorMessage",
        "traits": {
          "smithy.api#xmlName": "SnapshotErrorMessage"
        }
      }
    },
    "redshift.admin.v20121201#Boolean": {
      "type": "boolean"
    },
    "redshift.admin.v20121201#BooleanOptional": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": true
      }
    },
    "redshift.admin#BucketNotFoundFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "redshift.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Could not find the specified S3 bucket.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "redshift.admin.v20121201#CancelResize": {
      "type": "operation",
      "input": {
        "target": "redshift.admin.v20121201#CancelResizeMessage"
      },
      "output": {
        "target": "redshift.admin.v20121201#ResizeProgressMessage"
      },
      "errors": [
        {
          "target": "redshift.admin#ClusterNotFoundFault"
        },
        {
          "target": "redshift.admin#InvalidClusterStateFault"
        },
        {
          "target": "redshift.admin#ResizeNotFoundFault"
        },
        {
          "target": "redshift.admin#UnsupportedOperationFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels a resize operation for a cluster.</p>"
      }
    },
    "redshift.admin.v20121201#CancelResizeMessage": {
      "type": "structure",
      "members": {
        "ClusterIdentifier": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the cluster that you want to cancel a resize operation\n            for.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "redshift.admin.v20121201#Cluster": {
      "type": "structure",
      "members": {
        "AllowVersionUpgrade": {
          "target": "redshift.admin.v20121201#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A boolean value that, if <code>true</code>, indicates that major version upgrades\n            will be applied automatically to the cluster during the maintenance window. </p>"
          }
        },
        "AutomatedSnapshotRetentionPeriod": {
          "target": "redshift.admin.v20121201#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of days that automatic cluster snapshots are retained.</p>"
          }
        },
        "AvailabilityZone": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Availability Zone in which the cluster is located.</p>"
          }
        },
        "ClusterAvailabilityStatus": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The availability status of the cluster for queries. Possible values are the following:</p>\n        <ul>\n            <li>\n               <p>Available - The cluster is available for queries. </p>\n            </li>\n            <li>\n               <p>Unavailable - The cluster is not available for queries.</p>\n            </li>\n            <li>\n               <p>Maintenance - The cluster is intermittently available for queries due to maintenance activities.</p>\n            </li>\n            <li>\n               <p>Modifying - The cluster is intermittently available for queries due to changes that modify the cluster.</p>\n            </li>\n            <li>\n               <p>Failed - The cluster failed and is not available for queries.</p>\n            </li>\n         </ul>"
          }
        },
        "ClusterCreateTime": {
          "target": "redshift.admin.v20121201#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the cluster was created.</p>"
          }
        },
        "ClusterIdentifier": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the cluster.</p>"
          }
        },
        "ClusterNodes": {
          "target": "redshift.admin.v20121201#ClusterNodesList",
          "traits": {
            "smithy.api#documentation": "<p>The nodes in the cluster.</p>"
          }
        },
        "ClusterParameterGroups": {
          "target": "redshift.admin.v20121201#ClusterParameterGroupStatusList",
          "traits": {
            "smithy.api#documentation": "<p>The list of cluster parameter groups that are associated with this cluster. Each\n            parameter group in the list is returned with its status.</p>"
          }
        },
        "ClusterPublicKey": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The public key for the cluster.</p>"
          }
        },
        "ClusterRevisionNumber": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The specific revision number of the database in the cluster.</p>"
          }
        },
        "ClusterSecurityGroups": {
          "target": "redshift.admin.v20121201#ClusterSecurityGroupMembershipList",
          "traits": {
            "smithy.api#documentation": "<p>A list of cluster security group that are associated with the cluster. Each\n            security group is represented by an element that contains\n                <code>ClusterSecurityGroup.Name</code> and <code>ClusterSecurityGroup.Status</code>\n            subelements. </p>\n        <p>Cluster security groups are used when the cluster is not created in an Amazon\n            Virtual Private Cloud (VPC). Clusters that are created in a VPC use VPC security groups,\n            which are listed by the <b>VpcSecurityGroups</b> parameter.\n        </p>"
          }
        },
        "ClusterSnapshotCopyStatus": {
          "target": "redshift.admin.v20121201#ClusterSnapshotCopyStatus",
          "traits": {
            "smithy.api#documentation": "<p>A value that returns the destination region and retention period that are\n            configured for cross-region snapshot copy.</p>"
          }
        },
        "ClusterStatus": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p> The current state of the cluster. Possible values are the following:</p>\n        <ul>\n            <li>\n                <p>\n                    <code>available</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                    <code>available, prep-for-resize</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                    <code>available, resize-cleanup</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                    <code>cancelling-resize</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                    <code>creating</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                    <code>deleting</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                    <code>final-snapshot</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                    <code>hardware-failure</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                    <code>incompatible-hsm</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                    <code>incompatible-network</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                    <code>incompatible-parameters</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                    <code>incompatible-restore</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                    <code>modifying</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                    <code>rebooting</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                    <code>renaming</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                    <code>resizing</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                    <code>rotating-keys</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                    <code>storage-full</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                    <code>updating-hsm</code>\n                </p>\n            </li>\n         </ul>"
          }
        },
        "ClusterSubnetGroupName": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the subnet group that is associated with the cluster. This parameter is\n            valid only when the cluster is in a VPC.</p>"
          }
        },
        "ClusterVersion": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The version ID of the Amazon Redshift engine that is running on the cluster.</p>"
          }
        },
        "DBName": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the initial database that was created when the cluster was created.\n            This same name is returned for the life of the cluster. If an initial database was not\n            specified, a database named <code>dev</code>dev was created by default. </p>"
          }
        },
        "DataTransferProgress": {
          "target": "redshift.admin.v20121201#DataTransferProgress",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        },
        "DeferredMaintenanceWindows": {
          "target": "redshift.admin.v20121201#DeferredMaintenanceWindowsList",
          "traits": {
            "smithy.api#documentation": "<p>Describes a group of <code>DeferredMaintenanceWindow</code> objects.</p>"
          }
        },
        "ElasticIpStatus": {
          "target": "redshift.admin.v20121201#ElasticIpStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the elastic IP (EIP) address.</p>"
          }
        },
        "ElasticResizeNumberOfNodeOptions": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The number of nodes that you can resize the cluster to with the elastic resize method.\n        </p>"
          }
        },
        "Encrypted": {
          "target": "redshift.admin.v20121201#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A boolean value that, if <code>true</code>, indicates that data in the cluster is\n            encrypted at rest.</p>"
          }
        },
        "Endpoint": {
          "target": "redshift.admin.v20121201#Endpoint",
          "traits": {
            "smithy.api#documentation": "<p>The connection endpoint.</p>"
          }
        },
        "EnhancedVpcRouting": {
          "target": "redshift.admin.v20121201#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>An option that specifies whether to create the cluster with enhanced VPC routing\n            enabled. To create a cluster that uses enhanced VPC routing, the cluster must be in a\n            VPC. For more information, see <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/enhanced-vpc-routing.html\">Enhanced VPC Routing</a> in\n            the Amazon Redshift Cluster Management Guide.</p>\n        <p>If this option is <code>true</code>, enhanced VPC routing is enabled. </p>\n        <p>Default: false</p>"
          }
        },
        "ExpectedNextSnapshotScheduleTime": {
          "target": "redshift.admin.v20121201#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the next snapshot is expected to be taken for clusters with a valid snapshot schedule and backups enabled. </p>"
          }
        },
        "ExpectedNextSnapshotScheduleTimeStatus": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p> The status of next expected snapshot for clusters having a valid snapshot schedule and backups enabled.  Possible values are the following:</p>\n        <ul>\n            <li>\n               <p>OnTrack - The next snapshot is expected to be taken on time. </p>\n            </li>\n            <li>\n               <p>Pending - The next snapshot is pending to be taken. </p>\n            </li>\n         </ul>"
          }
        },
        "HsmStatus": {
          "target": "redshift.admin.v20121201#HsmStatus",
          "traits": {
            "smithy.api#documentation": "<p>A value that reports whether the Amazon Redshift cluster has finished applying any\n            hardware security module (HSM) settings changes specified in a modify cluster\n            command.</p>\n        <p>Values: active, applying</p>"
          }
        },
        "IamRoles": {
          "target": "redshift.admin.v20121201#ClusterIamRoleList",
          "traits": {
            "smithy.api#documentation": "<p>A list of AWS Identity and Access Management (IAM) roles that can be used by the\n            cluster to access other AWS services.</p>"
          }
        },
        "KmsKeyId": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Key Management Service (AWS KMS) key ID of the encryption key used to\n            encrypt data in the cluster.</p>"
          }
        },
        "MaintenanceTrackName": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the maintenance track for the cluster.</p>"
          }
        },
        "ManualSnapshotRetentionPeriod": {
          "target": "redshift.admin.v20121201#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The default number of days to retain a manual snapshot. If the value is -1, the\n            snapshot is retained indefinitely. This setting doesn't change the retention period\n            of existing snapshots.</p>\n        <p>The value must be either -1 or an integer between 1 and 3,653.</p>"
          }
        },
        "MasterUsername": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The master user name for the cluster. This name is used to connect to the database\n            that is specified in the <b>DBName</b> parameter. </p>"
          }
        },
        "ModifyStatus": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The status of a modify operation, if any, initiated for the cluster.</p>"
          }
        },
        "NextMaintenanceWindowStartTime": {
          "target": "redshift.admin.v20121201#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time in UTC when system maintenance can begin.</p>"
          }
        },
        "NodeType": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The node type for the nodes in the cluster.</p>"
          }
        },
        "NumberOfNodes": {
          "target": "redshift.admin.v20121201#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of compute nodes in the cluster.</p>"
          }
        },
        "PendingActions": {
          "target": "redshift.admin.v20121201#PendingActionsList",
          "traits": {
            "smithy.api#documentation": "<p>Cluster operations that are waiting to be started.</p>"
          }
        },
        "PendingModifiedValues": {
          "target": "redshift.admin.v20121201#PendingModifiedValues",
          "traits": {
            "smithy.api#documentation": "<p>A value that, if present, indicates that changes to the cluster are pending.\n            Specific pending changes are identified by subelements.</p>"
          }
        },
        "PreferredMaintenanceWindow": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The weekly time range, in Universal Coordinated Time (UTC), during which system\n            maintenance can occur.</p>"
          }
        },
        "PubliclyAccessible": {
          "target": "redshift.admin.v20121201#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A boolean value that, if <code>true</code>, indicates that the cluster can be\n            accessed from a public network.</p>"
          }
        },
        "ResizeInfo": {
          "target": "redshift.admin.v20121201#ResizeInfo",
          "traits": {
            "smithy.api#documentation": "<p>Returns the following:</p>\n        <ul>\n            <li>\n                <p>AllowCancelResize: a boolean value indicating if the resize operation can be\n                    cancelled.</p>\n            </li>\n            <li>\n                <p>ResizeType: Returns ClassicResize</p>\n            </li>\n         </ul>"
          }
        },
        "RestoreStatus": {
          "target": "redshift.admin.v20121201#RestoreStatus",
          "traits": {
            "smithy.api#documentation": "<p>A value that describes the status of a cluster restore action. This parameter\n            returns null if the cluster was not created by restoring a snapshot.</p>"
          }
        },
        "SnapshotScheduleIdentifier": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the cluster snapshot schedule.</p>"
          }
        },
        "SnapshotScheduleState": {
          "target": "redshift.admin.v20121201#ScheduleState",
          "traits": {
            "smithy.api#documentation": "<p>The current state of the cluster snapshot schedule.</p>"
          }
        },
        "Tags": {
          "target": "redshift.admin.v20121201#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The list of tags for the cluster.</p>"
          }
        },
        "VpcId": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the VPC the cluster is in, if the cluster is in a VPC.</p>"
          }
        },
        "VpcSecurityGroups": {
          "target": "redshift.admin.v20121201#VpcSecurityGroupMembershipList",
          "traits": {
            "smithy.api#documentation": "<p>A list of Amazon Virtual Private Cloud (Amazon VPC) security groups that are\n            associated with the cluster. This parameter is returned only if the cluster is in a\n            VPC.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a cluster.</p>"
      }
    },
    "redshift.admin#ClusterAlreadyExistsFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "redshift.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The account already has a cluster with the given identifier.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "redshift.admin.v20121201#ClusterAssociatedToSchedule": {
      "type": "structure",
      "members": {
        "ClusterIdentifier": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        },
        "ScheduleAssociationState": {
          "target": "redshift.admin.v20121201#ScheduleState",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "redshift.admin.v20121201#ClusterCredentials": {
      "type": "structure",
      "members": {
        "DbPassword": {
          "target": "redshift.admin.v20121201#SensitiveString",
          "traits": {
            "smithy.api#documentation": "<p>A temporary password that authorizes the user name returned by <code>DbUser</code>\n            to log on to the database <code>DbName</code>. </p>"
          }
        },
        "DbUser": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>A database user name that is authorized to log on to the database\n                <code>DbName</code> using the password <code>DbPassword</code>. If the specified\n            DbUser exists in the database, the new user name has the same database privileges as the\n            the user named in DbUser. By default, the user is added to PUBLIC. If the\n                <code>DbGroups</code> parameter is specifed, <code>DbUser</code> is added to the\n            listed groups for any sessions created using these credentials.</p>"
          }
        },
        "Expiration": {
          "target": "redshift.admin.v20121201#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the password in <code>DbPassword</code> expires.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Temporary credentials with authorization to log on to an Amazon Redshift database.\n        </p>"
      }
    },
    "redshift.admin.v20121201#ClusterDbRevision": {
      "type": "structure",
      "members": {
        "ClusterIdentifier": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the cluster.</p>"
          }
        },
        "CurrentDatabaseRevision": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>A string representing the current cluster version.</p>"
          }
        },
        "DatabaseRevisionReleaseDate": {
          "target": "redshift.admin.v20121201#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The date on which the database revision was released.</p>"
          }
        },
        "RevisionTargets": {
          "target": "redshift.admin.v20121201#RevisionTargetsList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>RevisionTarget</code> objects, where each object describes the\n            database revision that a cluster can be updated to.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a <code>ClusterDbRevision</code>.</p>"
      }
    },
    "redshift.admin.v20121201#ClusterDbRevisionsList": {
      "type": "list",
      "member": {
        "target": "redshift.admin.v20121201#ClusterDbRevision",
        "traits": {
          "smithy.api#xmlName": "ClusterDbRevision"
        }
      }
    },
    "redshift.admin.v20121201#ClusterDbRevisionsMessage": {
      "type": "structure",
      "members": {
        "ClusterDbRevisions": {
          "target": "redshift.admin.v20121201#ClusterDbRevisionsList",
          "traits": {
            "smithy.api#documentation": "<p>A list of revisions.</p>"
          }
        },
        "Marker": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>A string representing the starting point for the next set of revisions. If a value is\n            returned in a response, you can retrieve the next set of revisions by providing the\n            value in the <code>marker</code> parameter and retrying the command. If the\n                <code>marker</code> field is empty, all revisions have already been returned.</p>"
          }
        }
      }
    },
    "redshift.admin.v20121201#ClusterIamRole": {
      "type": "structure",
      "members": {
        "ApplyStatus": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>A value that describes the status of the IAM role's association with an Amazon\n            Redshift cluster.</p>\n        <p>The following are possible statuses and descriptions.</p>\n        <ul>\n            <li>\n                <p>\n                    <code>in-sync</code>: The role is available for use by the cluster.</p>\n            </li>\n            <li>\n                <p>\n                    <code>adding</code>: The role is in the process of being associated with the\n                    cluster.</p>\n            </li>\n            <li>\n                <p>\n                    <code>removing</code>: The role is in the process of being disassociated with\n                    the cluster.</p>\n            </li>\n         </ul>"
          }
        },
        "IamRoleArn": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role, for example,\n                <code>arn:aws:iam::123456789012:role/RedshiftCopyUnload</code>. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An AWS Identity and Access Management (IAM) role that can be used by the associated\n            Amazon Redshift cluster to access other AWS services.</p>"
      }
    },
    "redshift.admin.v20121201#ClusterIamRoleList": {
      "type": "list",
      "member": {
        "target": "redshift.admin.v20121201#ClusterIamRole",
        "traits": {
          "smithy.api#xmlName": "ClusterIamRole"
        }
      }
    },
    "redshift.admin.v20121201#ClusterList": {
      "type": "list",
      "member": {
        "target": "redshift.admin.v20121201#Cluster",
        "traits": {
          "smithy.api#xmlName": "Cluster"
        }
      }
    },
    "redshift.admin.v20121201#ClusterNode": {
      "type": "structure",
      "members": {
        "NodeRole": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>Whether the node is a leader node or a compute node.</p>"
          }
        },
        "PrivateIPAddress": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The private IP address of a node within a cluster.</p>"
          }
        },
        "PublicIPAddress": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The public IP address of a node within a cluster.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The identifier of a node in a cluster.</p>"
      }
    },
    "redshift.admin.v20121201#ClusterNodesList": {
      "type": "list",
      "member": {
        "target": "redshift.admin.v20121201#ClusterNode"
      }
    },
    "redshift.admin#ClusterNotFoundFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "redshift.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The <code>ClusterIdentifier</code> parameter does not refer to an existing cluster.\n        </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "redshift.admin#ClusterOnLatestRevisionFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "redshift.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Cluster is already on the latest database revision.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "redshift.admin.v20121201#ClusterParameterGroup": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the parameter group.</p>"
          }
        },
        "ParameterGroupFamily": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cluster parameter group family that this cluster parameter group is\n            compatible with.</p>"
          }
        },
        "ParameterGroupName": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cluster parameter group.</p>"
          }
        },
        "Tags": {
          "target": "redshift.admin.v20121201#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The list of tags for the cluster parameter group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a parameter group.</p>"
      }
    },
    "redshift.admin#ClusterParameterGroupAlreadyExistsFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "redshift.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A cluster parameter group with the same name already exists.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "redshift.admin.v20121201#ClusterParameterGroupDetails": {
      "type": "structure",
      "members": {
        "Marker": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates the starting point for the next set of response records in a\n            subsequent request. If a value is returned in a response, you can retrieve the next set\n            of records by providing this returned marker value in the <code>Marker</code> parameter\n            and retrying the command. If the <code>Marker</code> field is empty, all response\n            records have been retrieved for the request. </p>"
          }
        },
        "Parameters": {
          "target": "redshift.admin.v20121201#ParametersList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <a>Parameter</a> instances. Each instance lists the parameters\n            of one cluster parameter group. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the output from the <a>DescribeClusterParameters</a> action.\n        </p>"
      }
    },
    "redshift.admin.v20121201#ClusterParameterGroupNameMessage": {
      "type": "structure",
      "members": {
        "ParameterGroupName": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cluster parameter group.</p>"
          }
        },
        "ParameterGroupStatus": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The status of the parameter group. For example, if you made a change to a parameter\n            group name-value pair, then the change could be pending a reboot of an associated\n            cluster.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "redshift.admin#ClusterParameterGroupNotFoundFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "redshift.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The parameter group name does not refer to an existing parameter group.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "redshift.admin#ClusterParameterGroupQuotaExceededFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "redshift.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request would result in the user exceeding the allowed number of cluster\n            parameter groups. \nFor information about increasing your quota, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/amazon-redshift-limits.html\">Limits in Amazon Redshift</a> \nin the <i>Amazon Redshift Cluster Management Guide</i>.\n</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "redshift.admin.v20121201#ClusterParameterGroupStatus": {
      "type": "structure",
      "members": {
        "ClusterParameterStatusList": {
          "target": "redshift.admin.v20121201#ClusterParameterStatusList",
          "traits": {
            "smithy.api#documentation": "<p>The list of parameter statuses.</p>\n        <p>\nFor more information about parameters and parameter groups, go to \n<a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/working-with-parameter-groups.html\">Amazon Redshift Parameter Groups</a> \nin the <i>Amazon Redshift Cluster Management Guide</i>.</p>"
          }
        },
        "ParameterApplyStatus": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The status of parameter updates.</p>"
          }
        },
        "ParameterGroupName": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cluster parameter group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the status of a parameter group.</p>"
      }
    },
    "redshift.admin.v20121201#ClusterParameterGroupStatusList": {
      "type": "list",
      "member": {
        "target": "redshift.admin.v20121201#ClusterParameterGroupStatus",
        "traits": {
          "smithy.api#xmlName": "ClusterParameterGroup"
        }
      }
    },
    "redshift.admin.v20121201#ClusterParameterGroupsMessage": {
      "type": "structure",
      "members": {
        "Marker": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates the starting point for the next set of response records in a\n            subsequent request. If a value is returned in a response, you can retrieve the next set\n            of records by providing this returned marker value in the <code>Marker</code> parameter\n            and retrying the command. If the <code>Marker</code> field is empty, all response\n            records have been retrieved for the request. </p>"
          }
        },
        "ParameterGroups": {
          "target": "redshift.admin.v20121201#ParameterGroupList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <a>ClusterParameterGroup</a> instances. Each instance\n            describes one cluster parameter group. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the output from the <a>DescribeClusterParameterGroups</a>\n            action. </p>"
      }
    },
    "redshift.admin.v20121201#ClusterParameterStatus": {
      "type": "structure",
      "members": {
        "ParameterApplyErrorDescription": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The error that prevented the parameter from being applied to the\n            database.</p>"
          }
        },
        "ParameterApplyStatus": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The status of the parameter that indicates whether the parameter is in sync with\n            the database, waiting for a cluster reboot, or encountered an error when being\n            applied.</p>\n        <p>The following are possible statuses and descriptions.</p>\n        <ul>\n            <li>\n                <p>\n                    <code>in-sync</code>: The parameter value is in sync with the\n                    database.</p>\n            </li>\n            <li>\n                <p>\n                    <code>pending-reboot</code>: The parameter value will be applied after the\n                    cluster reboots.</p>\n            </li>\n            <li>\n                <p>\n                    <code>applying</code>: The parameter value is being applied to the\n                    database.</p>\n            </li>\n            <li>\n                <p>\n                    <code>invalid-parameter</code>: Cannot apply the parameter value because it has\n                    an invalid value or syntax.</p>\n            </li>\n            <li>\n                <p>\n                    <code>apply-deferred</code>: The parameter contains static property changes. The\n                    changes are deferred until the cluster reboots.</p>\n            </li>\n            <li>\n                <p>\n                    <code>apply-error</code>: Cannot connect to the cluster. The parameter change\n                    will be applied after the cluster reboots.</p>\n            </li>\n            <li>\n                <p>\n                    <code>unknown-error</code>: Cannot apply the parameter change right now. The\n                    change will be applied after the cluster reboots.</p>\n            </li>\n         </ul>"
          }
        },
        "ParameterName": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the parameter.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the status of a parameter group.</p>"
      }
    },
    "redshift.admin.v20121201#ClusterParameterStatusList": {
      "type": "list",
      "member": {
        "target": "redshift.admin.v20121201#ClusterParameterStatus"
      }
    },
    "redshift.admin#ClusterQuotaExceededFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "redshift.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request would exceed the allowed number of cluster instances for this account.\n            \nFor information about increasing your quota, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/amazon-redshift-limits.html\">Limits in Amazon Redshift</a> \nin the <i>Amazon Redshift Cluster Management Guide</i>.\n</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "redshift.admin.v20121201#ClusterSecurityGroup": {
      "type": "structure",
      "members": {
        "ClusterSecurityGroupName": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cluster security group to which the operation was\n            applied.</p>"
          }
        },
        "Description": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of the security group.</p>"
          }
        },
        "EC2SecurityGroups": {
          "target": "redshift.admin.v20121201#EC2SecurityGroupList",
          "traits": {
            "smithy.api#documentation": "<p>A list of EC2 security groups that are permitted to access clusters associated with\n            this cluster security group.</p>"
          }
        },
        "IPRanges": {
          "target": "redshift.admin.v20121201#IPRangeList",
          "traits": {
            "smithy.api#documentation": "<p>A list of IP ranges (CIDR blocks) that are permitted to access clusters associated\n            with this cluster security group.</p>"
          }
        },
        "Tags": {
          "target": "redshift.admin.v20121201#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The list of tags for the cluster security group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a security group.</p>"
      }
    },
    "redshift.admin#ClusterSecurityGroupAlreadyExistsFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "redshift.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A cluster security group with the same name already exists.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "redshift.admin.v20121201#ClusterSecurityGroupMembership": {
      "type": "structure",
      "members": {
        "ClusterSecurityGroupName": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cluster security group.</p>"
          }
        },
        "Status": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The status of the cluster security group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a cluster security group.</p>"
      }
    },
    "redshift.admin.v20121201#ClusterSecurityGroupMembershipList": {
      "type": "list",
      "member": {
        "target": "redshift.admin.v20121201#ClusterSecurityGroupMembership",
        "traits": {
          "smithy.api#xmlName": "ClusterSecurityGroup"
        }
      }
    },
    "redshift.admin.v20121201#ClusterSecurityGroupMessage": {
      "type": "structure",
      "members": {
        "ClusterSecurityGroups": {
          "target": "redshift.admin.v20121201#ClusterSecurityGroups",
          "traits": {
            "smithy.api#documentation": "<p>A list of <a>ClusterSecurityGroup</a> instances. </p>"
          }
        },
        "Marker": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates the starting point for the next set of response records in a\n            subsequent request. If a value is returned in a response, you can retrieve the next set\n            of records by providing this returned marker value in the <code>Marker</code> parameter\n            and retrying the command. If the <code>Marker</code> field is empty, all response\n            records have been retrieved for the request. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "redshift.admin.v20121201#ClusterSecurityGroupNameList": {
      "type": "list",
      "member": {
        "target": "redshift.admin.v20121201#String",
        "traits": {
          "smithy.api#xmlName": "ClusterSecurityGroupName"
        }
      }
    },
    "redshift.admin#ClusterSecurityGroupNotFoundFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "redshift.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The cluster security group name does not refer to an existing cluster security\n            group.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "redshift.admin#ClusterSecurityGroupQuotaExceededFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "redshift.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request would result in the user exceeding the allowed number of cluster\n            security groups. \nFor information about increasing your quota, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/amazon-redshift-limits.html\">Limits in Amazon Redshift</a> \nin the <i>Amazon Redshift Cluster Management Guide</i>.\n</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "redshift.admin.v20121201#ClusterSecurityGroups": {
      "type": "list",
      "member": {
        "target": "redshift.admin.v20121201#ClusterSecurityGroup",
        "traits": {
          "smithy.api#xmlName": "ClusterSecurityGroup"
        }
      }
    },
    "redshift.admin#ClusterSnapshotAlreadyExistsFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "redshift.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The value specified as a snapshot identifier is already used by an existing\n            snapshot.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "redshift.admin.v20121201#ClusterSnapshotCopyStatus": {
      "type": "structure",
      "members": {
        "DestinationRegion": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The destination region that snapshots are automatically copied to when cross-region\n            snapshot copy is enabled.</p>"
          }
        },
        "ManualSnapshotRetentionPeriod": {
          "target": "redshift.admin.v20121201#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of days that automated snapshots are retained in the destination region\n            after they are copied from a source region. If the value is -1, the manual snapshot is\n            retained indefinitely. </p>\n        <p>The value must be either -1 or an integer between 1 and 3,653.</p>"
          }
        },
        "RetentionPeriod": {
          "target": "redshift.admin.v20121201#Long",
          "traits": {
            "smithy.api#documentation": "<p>The number of days that automated snapshots are retained in the destination region\n            after they are copied from a source region.</p>"
          }
        },
        "SnapshotCopyGrantName": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the snapshot copy grant.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns the destination region and retention period that are configured for\n            cross-region snapshot copy.</p>"
      }
    },
    "redshift.admin#ClusterSnapshotNotFoundFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "redshift.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The snapshot identifier does not refer to an existing cluster snapshot.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "redshift.admin#ClusterSnapshotQuotaExceededFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "redshift.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request would result in the user exceeding the allowed number of cluster\n            snapshots.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "redshift.admin.v20121201#ClusterSubnetGroup": {
      "type": "structure",
      "members": {
        "ClusterSubnetGroupName": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cluster subnet group.</p>"
          }
        },
        "Description": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the cluster subnet group.</p>"
          }
        },
        "SubnetGroupStatus": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The status of the cluster subnet group. Possible values are <code>Complete</code>,\n                <code>Incomplete</code> and <code>Invalid</code>. </p>"
          }
        },
        "Subnets": {
          "target": "redshift.admin.v20121201#SubnetList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the VPC <a>Subnet</a> elements. </p>"
          }
        },
        "Tags": {
          "target": "redshift.admin.v20121201#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The list of tags for the cluster subnet group.</p>"
          }
        },
        "VpcId": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The VPC ID of the cluster subnet group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a subnet group.</p>"
      }
    },
    "redshift.admin#ClusterSubnetGroupAlreadyExistsFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "redshift.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A <i>ClusterSubnetGroupName</i> is already used by an existing\n            cluster subnet group. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "redshift.admin.v20121201#ClusterSubnetGroupMessage": {
      "type": "structure",
      "members": {
        "ClusterSubnetGroups": {
          "target": "redshift.admin.v20121201#ClusterSubnetGroups",
          "traits": {
            "smithy.api#documentation": "<p>A list of <a>ClusterSubnetGroup</a> instances. </p>"
          }
        },
        "Marker": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates the starting point for the next set of response records in a\n            subsequent request. If a value is returned in a response, you can retrieve the next set\n            of records by providing this returned marker value in the <code>Marker</code> parameter\n            and retrying the command. If the <code>Marker</code> field is empty, all response\n            records have been retrieved for the request. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the output from the <a>DescribeClusterSubnetGroups</a> action.\n        </p>"
      }
    },
    "redshift.admin#ClusterSubnetGroupNotFoundFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "redshift.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The cluster subnet group name does not refer to an existing cluster subnet\n            group.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "redshift.admin#ClusterSubnetGroupQuotaExceededFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "redshift.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request would result in user exceeding the allowed number of cluster subnet\n            groups. \nFor information about increasing your quota, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/amazon-redshift-limits.html\">Limits in Amazon Redshift</a> \nin the <i>Amazon Redshift Cluster Management Guide</i>.\n</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "redshift.admin.v20121201#ClusterSubnetGroups": {
      "type": "list",
      "member": {
        "target": "redshift.admin.v20121201#ClusterSubnetGroup",
        "traits": {
          "smithy.api#xmlName": "ClusterSubnetGroup"
        }
      }
    },
    "redshift.admin#ClusterSubnetQuotaExceededFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "redshift.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request would result in user exceeding the allowed number of subnets in a\n            cluster subnet groups. \nFor information about increasing your quota, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/amazon-redshift-limits.html\">Limits in Amazon Redshift</a> \nin the <i>Amazon Redshift Cluster Management Guide</i>.\n</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "redshift.admin.v20121201#ClusterVersion": {
      "type": "structure",
      "members": {
        "ClusterParameterGroupFamily": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cluster parameter group family for the cluster.</p>"
          }
        },
        "ClusterVersion": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The version number used by the cluster.</p>"
          }
        },
        "Description": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the cluster version.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a cluster version, including the parameter group family and description\n            of the version.</p>"
      }
    },
    "redshift.admin.v20121201#ClusterVersionList": {
      "type": "list",
      "member": {
        "target": "redshift.admin.v20121201#ClusterVersion",
        "traits": {
          "smithy.api#xmlName": "ClusterVersion"
        }
      }
    },
    "redshift.admin.v20121201#ClusterVersionsMessage": {
      "type": "structure",
      "members": {
        "ClusterVersions": {
          "target": "redshift.admin.v20121201#ClusterVersionList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>Version</code> elements. </p>"
          }
        },
        "Marker": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates the starting point for the next set of response records in a\n            subsequent request. If a value is returned in a response, you can retrieve the next set\n            of records by providing this returned marker value in the <code>Marker</code> parameter\n            and retrying the command. If the <code>Marker</code> field is empty, all response\n            records have been retrieved for the request. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the output from the <a>DescribeClusterVersions</a> action.\n        </p>"
      }
    },
    "redshift.admin.v20121201#ClustersMessage": {
      "type": "structure",
      "members": {
        "Clusters": {
          "target": "redshift.admin.v20121201#ClusterList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>Cluster</code> objects, where each object describes one cluster.\n        </p>"
          }
        },
        "Marker": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates the starting point for the next set of response records in a\n            subsequent request. If a value is returned in a response, you can retrieve the next set\n            of records by providing this returned marker value in the <code>Marker</code> parameter\n            and retrying the command. If the <code>Marker</code> field is empty, all response\n            records have been retrieved for the request. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the output from the <a>DescribeClusters</a> action. </p>"
      }
    },
    "redshift.admin.v20121201#CopyClusterSnapshot": {
      "type": "operation",
      "input": {
        "target": "redshift.admin.v20121201#CopyClusterSnapshotMessage"
      },
      "output": {
        "target": "redshift.admin.v20121201#CopyClusterSnapshotResult"
      },
      "errors": [
        {
          "target": "redshift.admin#ClusterSnapshotAlreadyExistsFault"
        },
        {
          "target": "redshift.admin#ClusterSnapshotNotFoundFault"
        },
        {
          "target": "redshift.admin#ClusterSnapshotQuotaExceededFault"
        },
        {
          "target": "redshift.admin#InvalidClusterSnapshotStateFault"
        },
        {
          "target": "redshift.admin#InvalidRetentionPeriodFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Copies the specified automated cluster snapshot to a new manual cluster snapshot.\n            The source must be an automated snapshot and it must be in the available\n            state.</p>\n        <p>When you delete a cluster, Amazon Redshift deletes any automated snapshots of the\n            cluster. Also, when the retention period of the snapshot expires, Amazon Redshift\n            automatically deletes it. If you want to keep an automated snapshot for a longer period,\n            you can make a manual copy of the snapshot. Manual snapshots are retained until you\n            delete them.</p>\n        <p>\nFor more information about working with snapshots, go to \n<a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/working-with-snapshots.html\">Amazon Redshift Snapshots</a> \nin the <i>Amazon Redshift Cluster Management Guide</i>.</p>"
      }
    },
    "redshift.admin.v20121201#CopyClusterSnapshotMessage": {
      "type": "structure",
      "members": {
        "ManualSnapshotRetentionPeriod": {
          "target": "redshift.admin.v20121201#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The number of days that a manual snapshot is retained. If the value is -1, the manual\n            snapshot is retained indefinitely. </p>\n        <p>The value must be either -1 or an integer between 1 and 3,653.</p>\n        <p>The default value is -1.</p>"
          }
        },
        "SourceSnapshotClusterIdentifier": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the cluster the source snapshot was created from. This parameter\n            is required if your IAM user has a policy containing a snapshot resource element that\n            specifies anything other than * for the cluster name.</p>\n        <p>Constraints:</p>\n        <ul>\n            <li>\n                <p>Must be the identifier for a valid cluster.</p>\n            </li>\n         </ul>"
          }
        },
        "SourceSnapshotIdentifier": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the source snapshot.</p>\n        <p>Constraints:</p>\n        <ul>\n            <li>\n                <p>Must be the identifier for a valid automated snapshot whose state is\n                        <code>available</code>.</p>\n            </li>\n         </ul>",
            "smithy.api#required": true
          }
        },
        "TargetSnapshotIdentifier": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier given to the new manual snapshot.</p>\n        <p>Constraints:</p>\n        <ul>\n            <li>\n                <p>Cannot be null, empty, or blank.</p>\n            </li>\n            <li>\n                <p>Must contain from 1 to 255 alphanumeric characters or hyphens.</p>\n            </li>\n            <li>\n                <p>First character must be a letter.</p>\n            </li>\n            <li>\n                <p>Cannot end with a hyphen or contain two consecutive hyphens.</p>\n            </li>\n            <li>\n                <p>Must be unique for the AWS account that is making the request.</p>\n            </li>\n         </ul>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "redshift.admin.v20121201#CopyClusterSnapshotResult": {
      "type": "structure",
      "members": {
        "Snapshot": {
          "target": "redshift.admin.v20121201#Snapshot"
        }
      }
    },
    "redshift.admin#CopyToRegionDisabledFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "redshift.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Cross-region snapshot copy was temporarily disabled. Try your request\n            again.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "redshift.admin.v20121201#CreateCluster": {
      "type": "operation",
      "input": {
        "target": "redshift.admin.v20121201#CreateClusterMessage"
      },
      "output": {
        "target": "redshift.admin.v20121201#CreateClusterResult"
      },
      "errors": [
        {
          "target": "redshift.admin#ClusterAlreadyExistsFault"
        },
        {
          "target": "redshift.admin#ClusterParameterGroupNotFoundFault"
        },
        {
          "target": "redshift.admin#ClusterQuotaExceededFault"
        },
        {
          "target": "redshift.admin#ClusterSecurityGroupNotFoundFault"
        },
        {
          "target": "redshift.admin#ClusterSubnetGroupNotFoundFault"
        },
        {
          "target": "redshift.admin#DependentServiceRequestThrottlingFault"
        },
        {
          "target": "redshift.admin#HsmClientCertificateNotFoundFault"
        },
        {
          "target": "redshift.admin#HsmConfigurationNotFoundFault"
        },
        {
          "target": "redshift.admin#InsufficientClusterCapacityFault"
        },
        {
          "target": "redshift.admin#InvalidClusterSubnetGroupStateFault"
        },
        {
          "target": "redshift.admin#InvalidClusterTrackFault"
        },
        {
          "target": "redshift.admin#InvalidElasticIpFault"
        },
        {
          "target": "redshift.admin#InvalidRetentionPeriodFault"
        },
        {
          "target": "redshift.admin#InvalidSubnet"
        },
        {
          "target": "redshift.admin#InvalidTagFault"
        },
        {
          "target": "redshift.admin#InvalidVPCNetworkStateFault"
        },
        {
          "target": "redshift.admin#LimitExceededFault"
        },
        {
          "target": "redshift.admin#NumberOfNodesPerClusterLimitExceededFault"
        },
        {
          "target": "redshift.admin#NumberOfNodesQuotaExceededFault"
        },
        {
          "target": "redshift.admin#SnapshotScheduleNotFoundFault"
        },
        {
          "target": "redshift.admin#TagLimitExceededFault"
        },
        {
          "target": "redshift.admin#UnauthorizedOperation"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new cluster with the specified parameters.</p>\n        <p>To create a cluster in Virtual Private Cloud (VPC), you must provide a cluster\n            subnet group name. The cluster subnet group identifies the subnets of your VPC that\n            Amazon Redshift uses when creating the cluster. \nFor more information about managing clusters, go to \n<a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/working-with-clusters.html\">Amazon Redshift Clusters</a> \nin the <i>Amazon Redshift Cluster Management Guide</i>.</p>"
      }
    },
    "redshift.admin.v20121201#CreateClusterMessage": {
      "type": "structure",
      "members": {
        "AdditionalInfo": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>Reserved.</p>"
          }
        },
        "AllowVersionUpgrade": {
          "target": "redshift.admin.v20121201#BooleanOptional",
          "traits": {
            "smithy.api#documentation": "<p>If <code>true</code>, major version upgrades can be applied during the maintenance\n            window to the Amazon Redshift engine that is running on the cluster.</p>\n        <p>When a new major version of the Amazon Redshift engine is released, you can request that\n            the service automatically apply upgrades during the maintenance window to the Amazon Redshift\n            engine that is running on your cluster.</p>\n        <p>Default: <code>true</code>\n        </p>"
          }
        },
        "AutomatedSnapshotRetentionPeriod": {
          "target": "redshift.admin.v20121201#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The number of days that automated snapshots are retained. If the value is 0,\n            automated snapshots are disabled. Even if automated snapshots are disabled, you can\n            still create manual snapshots when you want with <a>CreateClusterSnapshot</a>. </p>\n        <p>Default: <code>1</code>\n        </p>\n        <p>Constraints: Must be a value from 0 to 35.</p>"
          }
        },
        "AvailabilityZone": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The EC2 Availability Zone (AZ) in which you want Amazon Redshift to provision the\n            cluster. For example, if you have several EC2 instances running in a specific\n            Availability Zone, then you might want the cluster to be provisioned in the same zone in\n            order to decrease network latency.</p>\n        <p>Default: A random, system-chosen Availability Zone in the region that is specified\n            by the endpoint.</p>\n        <p>Example: <code>us-east-2d</code>\n        </p>\n        <p>Constraint: The specified Availability Zone must be in the same region as the\n            current endpoint.</p>"
          }
        },
        "ClusterIdentifier": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the cluster. You use this identifier to refer to the\n            cluster for any subsequent cluster operations such as deleting or modifying. The\n            identifier also appears in the Amazon Redshift console.</p> \n         <p>Constraints:</p>\n         <ul>\n            <li>\n               <p>Must contain from 1 to 63 alphanumeric characters or hyphens.</p>\n            </li>\n            <li>\n               <p>Alphabetic characters must be lowercase.</p>\n            </li>\n            <li>\n               <p>First character must be a letter.</p>\n            </li>\n            <li>\n               <p>Cannot end with a hyphen or contain two consecutive hyphens.</p>\n            </li>\n            <li>\n               <p>Must be unique for all clusters within an AWS account.</p>\n            </li>\n         </ul>\n\n            <p>Example: <code>myexamplecluster</code>\n        </p>",
            "smithy.api#required": true
          }
        },
        "ClusterParameterGroupName": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the parameter group to be associated with this cluster.</p>\n        <p>Default: The default Amazon Redshift cluster parameter group. For information about the\n            default parameter group, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/working-with-parameter-groups.html\">Working with Amazon\n                Redshift Parameter Groups</a>\n        </p>\n        <p>Constraints:</p>\n        <ul>\n            <li>\n                <p>Must be 1 to 255 alphanumeric characters or hyphens.</p>\n            </li>\n            <li>\n                <p>First character must be a letter.</p>\n            </li>\n            <li>\n                <p>Cannot end with a hyphen or contain two consecutive hyphens.</p>\n            </li>\n         </ul>"
          }
        },
        "ClusterSecurityGroups": {
          "target": "redshift.admin.v20121201#ClusterSecurityGroupNameList",
          "traits": {
            "smithy.api#documentation": "<p>A list of security groups to be associated with this cluster.</p>\n        <p>Default: The default cluster security group for Amazon Redshift.</p>"
          }
        },
        "ClusterSubnetGroupName": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of a cluster subnet group to be associated with this cluster.</p>\n        <p>If this parameter is not provided the resulting cluster will be deployed outside\n            virtual private cloud (VPC).</p>"
          }
        },
        "ClusterType": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of the cluster. When cluster type is specified as</p>\n        <ul>\n            <li>\n                <p>\n                    <code>single-node</code>, the <b>NumberOfNodes</b>\n                    parameter is not required.</p>\n            </li>\n            <li>\n                <p>\n                    <code>multi-node</code>, the <b>NumberOfNodes</b>\n                    parameter is required.</p>\n            </li>\n         </ul>\n        <p>Valid Values: <code>multi-node</code> | <code>single-node</code>\n        </p>\n        <p>Default: <code>multi-node</code>\n        </p>"
          }
        },
        "ClusterVersion": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The version of the Amazon Redshift engine software that you want to deploy on the\n            cluster.</p>\n        <p>The version selected runs on all the nodes in the cluster.</p>\n        <p>Constraints: Only version 1.0 is currently available.</p>\n        <p>Example: <code>1.0</code>\n        </p>"
          }
        },
        "DBName": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the first database to be created when the cluster is created.</p>\n        <p>To create additional databases after the cluster is created, connect to the cluster\n            with a SQL client and use SQL commands to create a database. For more information, go to\n                <a href=\"https://docs.aws.amazon.com/redshift/latest/dg/t_creating_database.html\">Create\n                a Database</a> in the Amazon Redshift Database Developer Guide. </p>\n        <p>Default: <code>dev</code>\n        </p>\n        <p>Constraints:</p>\n        <ul>\n            <li>\n                <p>Must contain 1 to 64 alphanumeric characters.</p>\n            </li>\n            <li>\n                <p>Must contain only lowercase letters.</p>\n            </li>\n            <li>\n                <p>Cannot be a word that is reserved by the service. A list of reserved words\n                    can be found in <a href=\"https://docs.aws.amazon.com/redshift/latest/dg/r_pg_keywords.html\">Reserved Words</a> in the\n                    Amazon Redshift Database Developer Guide. </p>\n            </li>\n         </ul>"
          }
        },
        "ElasticIp": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The Elastic IP (EIP) address for the cluster.</p>\n        <p>Constraints: The cluster must be provisioned in EC2-VPC and publicly-accessible\n            through an Internet gateway. For more information about provisioning clusters in\n            EC2-VPC, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/working-with-clusters.html#cluster-platforms\">Supported\n                Platforms to Launch Your Cluster</a> in the Amazon Redshift Cluster Management Guide.</p>"
          }
        },
        "Encrypted": {
          "target": "redshift.admin.v20121201#BooleanOptional",
          "traits": {
            "smithy.api#documentation": "<p>If <code>true</code>, the data in the cluster is encrypted at rest. </p>\n        <p>Default: false</p>"
          }
        },
        "EnhancedVpcRouting": {
          "target": "redshift.admin.v20121201#BooleanOptional",
          "traits": {
            "smithy.api#documentation": "<p>An option that specifies whether to create the cluster with enhanced VPC routing\n            enabled. To create a cluster that uses enhanced VPC routing, the cluster must be in a\n            VPC. For more information, see <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/enhanced-vpc-routing.html\">Enhanced VPC Routing</a> in\n            the Amazon Redshift Cluster Management Guide.</p>\n        <p>If this option is <code>true</code>, enhanced VPC routing is enabled. </p>\n        <p>Default: false</p>"
          }
        },
        "HsmClientCertificateIdentifier": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name of the HSM client certificate the Amazon Redshift cluster uses to\n            retrieve the data encryption keys stored in an HSM.</p>"
          }
        },
        "HsmConfigurationIdentifier": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name of the HSM configuration that contains the information the\n            Amazon Redshift cluster can use to retrieve and store keys in an HSM.</p>"
          }
        },
        "IamRoles": {
          "target": "redshift.admin.v20121201#IamRoleArnList",
          "traits": {
            "smithy.api#documentation": "<p>A list of AWS Identity and Access Management (IAM) roles that can be used by the\n            cluster to access other AWS services. You must supply the IAM roles in their Amazon\n            Resource Name (ARN) format. You can supply up to 10 IAM roles in a single\n            request.</p>\n        <p>A cluster can have up to 10 IAM roles associated with it at any time.</p>"
          }
        },
        "KmsKeyId": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Key Management Service (KMS) key ID of the encryption key that you want to\n            use to encrypt data in the cluster.</p>"
          }
        },
        "MaintenanceTrackName": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>An optional parameter for the name of the maintenance track for the cluster. If you\n            don't provide a maintenance track name, the cluster is assigned to the\n                <code>current</code> track.</p>"
          }
        },
        "ManualSnapshotRetentionPeriod": {
          "target": "redshift.admin.v20121201#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The default number of days to retain a manual snapshot. If the value is -1, the\n            snapshot is retained indefinitely. This setting doesn't change the retention period\n            of existing snapshots.</p>\n        <p>The value must be either -1 or an integer between 1 and 3,653.</p>"
          }
        },
        "MasterUserPassword": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
            "smithy.api#documentation": "<p>The password associated with the master user account for the cluster that is being\n            created.</p>\n        <p>Constraints:</p>\n        <ul>\n            <li>\n                <p>Must be between 8 and 64 characters in length.</p>\n            </li>\n            <li>\n                <p>Must contain at least one uppercase letter.</p>\n            </li>\n            <li>\n                <p>Must contain at least one lowercase letter.</p>\n            </li>\n            <li>\n                <p>Must contain one number.</p>\n            </li>\n            <li>\n                <p>Can be any printable ASCII character (ASCII code 33 to 126) except '\n                    (single quote), \" (double quote), \\, /, @, or space.</p>\n            </li>\n         </ul>",
            "smithy.api#required": true
          }
        },
        "MasterUsername": {
          "target": "redshift.admin.v20121201#String",
          "traits": {
[...]
