{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      },
      {
        "ids": [
          "HttpUriConflict"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazonaws.route53.autonaming.v20170314#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        }
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#AttrKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        }
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#AttrValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        }
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#Attributes": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.route53.autonaming.v20170314#AttrKey"
      },
      "value": {
        "target": "com.amazonaws.route53.autonaming.v20170314#AttrValue"
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#Code": {
      "type": "string"
    },
    "com.amazonaws.route53.autonaming.v20170314#CreateHttpNamespace": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53.autonaming.v20170314#CreateHttpNamespaceRequest"
      },
      "output": {
        "target": "com.amazonaws.route53.autonaming.v20170314#CreateHttpNamespaceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53.autonaming.v20170314#DuplicateRequest"
        },
        {
          "target": "com.amazonaws.route53.autonaming.v20170314#InvalidInput"
        },
        {
          "target": "com.amazonaws.route53.autonaming.v20170314#NamespaceAlreadyExists"
        },
        {
          "target": "com.amazonaws.route53.autonaming.v20170314#ResourceLimitExceeded"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an HTTP namespace. Service instances that you register using an HTTP namespace can be discovered using a \n\t\t\t<code>DiscoverInstances</code> request but can't be discovered using DNS. </p>\n\t\t       <p>For the current limit on the number of namespaces that you can create using the same AWS account, see \n\t\t\t<a href=\"https://docs.aws.amazon.com/cloud-map/latest/dg/cloud-map-limits.html\">AWS Cloud Map Limits</a> in the \n\t\t\t<i>AWS Cloud Map Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#CreateHttpNamespaceRequest": {
      "type": "structure",
      "members": {
        "CreatorRequestId": {
          "target": "com.amazonaws.route53.autonaming.v20170314#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies the request and that allows failed <code>CreateHttpNamespace</code> requests to be retried \n\t\t\twithout the risk of executing the operation twice. <code>CreatorRequestId</code> can be any unique string, for example, a date/time stamp.</p>",
            "smithy.api#idempotencyToken": true
          }
        },
        "Description": {
          "target": "com.amazonaws.route53.autonaming.v20170314#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description for the namespace.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.route53.autonaming.v20170314#NamespaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name that you want to assign to this namespace.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#CreateHttpNamespaceResponse": {
      "type": "structure",
      "members": {
        "OperationId": {
          "target": "com.amazonaws.route53.autonaming.v20170314#OperationId",
          "traits": {
            "smithy.api#documentation": "<p>A value that you can use to determine whether the request completed successfully. To get the status of the operation, \n\t\t\tsee <a>GetOperation</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#CreatePrivateDnsNamespace": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53.autonaming.v20170314#CreatePrivateDnsNamespaceRequest"
      },
      "output": {
        "target": "com.amazonaws.route53.autonaming.v20170314#CreatePrivateDnsNamespaceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53.autonaming.v20170314#DuplicateRequest"
        },
        {
          "target": "com.amazonaws.route53.autonaming.v20170314#InvalidInput"
        },
        {
          "target": "com.amazonaws.route53.autonaming.v20170314#NamespaceAlreadyExists"
        },
        {
          "target": "com.amazonaws.route53.autonaming.v20170314#ResourceLimitExceeded"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a private namespace based on DNS, which will be visible only inside a specified Amazon VPC. The namespace defines \n\t\t\tyour service naming scheme. For example, if you name your namespace <code>example.com</code> and name your service <code>backend</code>, \n\t\t\tthe resulting DNS name for the service will be <code>backend.example.com</code>. For the current limit on the number of namespaces that you can \n\t\t\tcreate using the same AWS account, see \n\t\t\t<a href=\"https://docs.aws.amazon.com/cloud-map/latest/dg/cloud-map-limits.html\">AWS Cloud Map Limits</a> in the \n\t\t\t<i>AWS Cloud Map Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#CreatePrivateDnsNamespaceRequest": {
      "type": "structure",
      "members": {
        "CreatorRequestId": {
          "target": "com.amazonaws.route53.autonaming.v20170314#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies the request and that allows failed <code>CreatePrivateDnsNamespace</code> requests to be retried \n\t\t\twithout the risk of executing the operation twice. <code>CreatorRequestId</code> can be any unique string, for example, a date/time stamp.</p>",
            "smithy.api#idempotencyToken": true
          }
        },
        "Description": {
          "target": "com.amazonaws.route53.autonaming.v20170314#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description for the namespace.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.route53.autonaming.v20170314#NamespaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name that you want to assign to this namespace. When you create a private DNS namespace, AWS Cloud Map automatically creates an \n\t\t\tAmazon Route 53 private hosted zone that has the same name as the namespace.</p>",
            "smithy.api#required": true
          }
        },
        "Vpc": {
          "target": "com.amazonaws.route53.autonaming.v20170314#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon VPC that you want to associate the namespace with.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#CreatePrivateDnsNamespaceResponse": {
      "type": "structure",
      "members": {
        "OperationId": {
          "target": "com.amazonaws.route53.autonaming.v20170314#OperationId",
          "traits": {
            "smithy.api#documentation": "<p>A value that you can use to determine whether the request completed successfully. To get the status of the operation, \n\t\t\tsee <a>GetOperation</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#CreatePublicDnsNamespace": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53.autonaming.v20170314#CreatePublicDnsNamespaceRequest"
      },
      "output": {
        "target": "com.amazonaws.route53.autonaming.v20170314#CreatePublicDnsNamespaceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53.autonaming.v20170314#DuplicateRequest"
        },
        {
          "target": "com.amazonaws.route53.autonaming.v20170314#InvalidInput"
        },
        {
          "target": "com.amazonaws.route53.autonaming.v20170314#NamespaceAlreadyExists"
        },
        {
          "target": "com.amazonaws.route53.autonaming.v20170314#ResourceLimitExceeded"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a public namespace based on DNS, which will be visible on the internet. The namespace defines your service naming scheme. \n\t\t\tFor example, if you name your namespace <code>example.com</code> and name your service <code>backend</code>, the resulting DNS name \n\t\t\tfor the service will be <code>backend.example.com</code>. For the current limit on the number of namespaces that you can \n\t\t\tcreate using the same AWS account, see \n\t\t\t<a href=\"https://docs.aws.amazon.com/cloud-map/latest/dg/cloud-map-limits.html\">AWS Cloud Map Limits</a> in the \n\t\t\t<i>AWS Cloud Map Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#CreatePublicDnsNamespaceRequest": {
      "type": "structure",
      "members": {
        "CreatorRequestId": {
          "target": "com.amazonaws.route53.autonaming.v20170314#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies the request and that allows failed <code>CreatePublicDnsNamespace</code> requests to be retried \n\t\t\twithout the risk of executing the operation twice. <code>CreatorRequestId</code> can be any unique string, for example, a date/time stamp.</p>",
            "smithy.api#idempotencyToken": true
          }
        },
        "Description": {
          "target": "com.amazonaws.route53.autonaming.v20170314#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description for the namespace.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.route53.autonaming.v20170314#NamespaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name that you want to assign to this namespace.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#CreatePublicDnsNamespaceResponse": {
      "type": "structure",
      "members": {
        "OperationId": {
          "target": "com.amazonaws.route53.autonaming.v20170314#OperationId",
          "traits": {
            "smithy.api#documentation": "<p>A value that you can use to determine whether the request completed successfully. To get the status of the operation, \n\t\t\tsee <a>GetOperation</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#CreateService": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53.autonaming.v20170314#CreateServiceRequest"
      },
      "output": {
        "target": "com.amazonaws.route53.autonaming.v20170314#CreateServiceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53.autonaming.v20170314#InvalidInput"
        },
        {
          "target": "com.amazonaws.route53.autonaming.v20170314#NamespaceNotFound"
        },
        {
          "target": "com.amazonaws.route53.autonaming.v20170314#ResourceLimitExceeded"
        },
        {
          "target": "com.amazonaws.route53.autonaming.v20170314#ServiceAlreadyExists"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a service, which defines the configuration for the following entities:</p>\n\t\t       <ul>\n            <li>\n               <p>For public and private DNS namespaces, one of the following combinations of DNS records in Amazon Route 53:</p>\n\t\t\t\t           <ul>\n                  <li>\n                     <p>A</p>\n                  </li>\n                  <li>\n                     <p>AAAA</p>\n                  </li>\n                  <li>\n                     <p>A and AAAA</p>\n                  </li>\n                  <li>\n                     <p>SRV</p>\n                  </li>\n                  <li>\n                     <p>CNAME</p>\n                  </li>\n               </ul>\n\t\t\t         </li>\n            <li>\n               <p>Optionally, a health check</p>\n            </li>\n         </ul>\n\t\t       <p>After you create the service, you can submit a <a>RegisterInstance</a> request, and AWS Cloud Map uses the values in the configuration \n\t\t\tto create the specified entities.</p>\n\t\t       <p>For the current limit on the number of instances that you can register using the same namespace and using the same service, see \n\t\t\t<a href=\"https://docs.aws.amazon.com/cloud-map/latest/dg/cloud-map-limits.html\">AWS Cloud Map Limits</a> in the \n\t\t\t<i>AWS Cloud Map Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#CreateServiceRequest": {
      "type": "structure",
      "members": {
        "CreatorRequestId": {
          "target": "com.amazonaws.route53.autonaming.v20170314#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies the request and that allows failed <code>CreateService</code> requests to be retried \n\t\t\twithout the risk of executing the operation twice. <code>CreatorRequestId</code> can be any unique string, for example, a date/time stamp.</p>",
            "smithy.api#idempotencyToken": true
          }
        },
        "Description": {
          "target": "com.amazonaws.route53.autonaming.v20170314#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description for the service.</p>"
          }
        },
        "DnsConfig": {
          "target": "com.amazonaws.route53.autonaming.v20170314#DnsConfig",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains information about the Amazon Route 53 records that you want AWS Cloud Map to create when you register an instance. </p>"
          }
        },
        "HealthCheckConfig": {
          "target": "com.amazonaws.route53.autonaming.v20170314#HealthCheckConfig",
          "traits": {
            "smithy.api#documentation": "<p>\n            <i>Public DNS namespaces only.</i> A complex type that contains settings for an optional Route 53 health check. \n\t\t\tIf you specify settings for a health check, AWS Cloud Map associates the health check with all the Route 53 DNS records that you specify \n\t\t\tin <code>DnsConfig</code>.</p>\n\t\t       <important>\n            <p>If you specify a health check configuration, you can specify either <code>HealthCheckCustomConfig</code> or \n\t\t\t<code>HealthCheckConfig</code> but not both.</p>\n         </important>\n\t\t       <p>For information about the charges for health checks, see <a href=\"http://aws.amazon.com/cloud-map/pricing/\">AWS Cloud Map Pricing</a>.</p>"
          }
        },
        "HealthCheckCustomConfig": {
          "target": "com.amazonaws.route53.autonaming.v20170314#HealthCheckCustomConfig",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains information about an optional custom health check.</p>\n\t\t       <important>\n            <p>If you specify a health check configuration, you can specify either <code>HealthCheckCustomConfig</code> or \n\t\t\t<code>HealthCheckConfig</code> but not both.</p>\n         </important>"
          }
        },
        "Name": {
          "target": "com.amazonaws.route53.autonaming.v20170314#ServiceName",
          "traits": {
            "smithy.api#documentation": "<p>The name that you want to assign to the service.</p>",
            "smithy.api#required": true
          }
        },
        "NamespaceId": {
          "target": "com.amazonaws.route53.autonaming.v20170314#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the namespace that you want to use to create the service.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#CreateServiceResponse": {
      "type": "structure",
      "members": {
        "Service": {
          "target": "com.amazonaws.route53.autonaming.v20170314#Service",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains information about the new service.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#CustomHealthNotFound": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.route53.autonaming.v20170314#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The health check for the instance that is specified by <code>ServiceId</code> and <code>InstanceId</code> is not a custom health check. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#CustomHealthStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "HEALTHY": {
            "name": "HEALTHY"
          },
          "UNHEALTHY": {
            "name": "UNHEALTHY"
          }
        }
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#DeleteNamespace": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53.autonaming.v20170314#DeleteNamespaceRequest"
      },
      "output": {
        "target": "com.amazonaws.route53.autonaming.v20170314#DeleteNamespaceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53.autonaming.v20170314#DuplicateRequest"
        },
        {
          "target": "com.amazonaws.route53.autonaming.v20170314#InvalidInput"
        },
        {
          "target": "com.amazonaws.route53.autonaming.v20170314#NamespaceNotFound"
        },
        {
          "target": "com.amazonaws.route53.autonaming.v20170314#ResourceInUse"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a namespace from the current account. If the namespace still contains one or more services, the request fails.</p>"
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#DeleteNamespaceRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.route53.autonaming.v20170314#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the namespace that you want to delete.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#DeleteNamespaceResponse": {
      "type": "structure",
      "members": {
        "OperationId": {
          "target": "com.amazonaws.route53.autonaming.v20170314#OperationId",
          "traits": {
            "smithy.api#documentation": "<p>A value that you can use to determine whether the request completed successfully. To get the status of the operation, \n\t\t\tsee <a>GetOperation</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#DeleteService": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53.autonaming.v20170314#DeleteServiceRequest"
      },
      "output": {
        "target": "com.amazonaws.route53.autonaming.v20170314#DeleteServiceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53.autonaming.v20170314#InvalidInput"
        },
        {
          "target": "com.amazonaws.route53.autonaming.v20170314#ResourceInUse"
        },
        {
          "target": "com.amazonaws.route53.autonaming.v20170314#ServiceNotFound"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a specified service. If the service still contains one or more registered instances, the request fails.</p>"
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#DeleteServiceRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.route53.autonaming.v20170314#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the service that you want to delete.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#DeleteServiceResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.route53.autonaming.v20170314#DeregisterInstance": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53.autonaming.v20170314#DeregisterInstanceRequest"
      },
      "output": {
        "target": "com.amazonaws.route53.autonaming.v20170314#DeregisterInstanceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53.autonaming.v20170314#DuplicateRequest"
        },
        {
          "target": "com.amazonaws.route53.autonaming.v20170314#InstanceNotFound"
        },
        {
          "target": "com.amazonaws.route53.autonaming.v20170314#InvalidInput"
        },
        {
          "target": "com.amazonaws.route53.autonaming.v20170314#ResourceInUse"
        },
        {
          "target": "com.amazonaws.route53.autonaming.v20170314#ServiceNotFound"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the Amazon Route 53 DNS records and health check, if any, that AWS Cloud Map created for the specified instance.</p>"
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#DeregisterInstanceRequest": {
      "type": "structure",
      "members": {
        "InstanceId": {
          "target": "com.amazonaws.route53.autonaming.v20170314#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The value that you specified for <code>Id</code> in the <a>RegisterInstance</a> request.</p>",
            "smithy.api#required": true
          }
        },
        "ServiceId": {
          "target": "com.amazonaws.route53.autonaming.v20170314#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the service that the instance is associated with.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#DeregisterInstanceResponse": {
      "type": "structure",
      "members": {
        "OperationId": {
          "target": "com.amazonaws.route53.autonaming.v20170314#OperationId",
          "traits": {
            "smithy.api#documentation": "<p>A value that you can use to determine whether the request completed successfully. For more information, see <a>GetOperation</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#DiscoverInstances": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53.autonaming.v20170314#DiscoverInstancesRequest"
      },
      "output": {
        "target": "com.amazonaws.route53.autonaming.v20170314#DiscoverInstancesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53.autonaming.v20170314#InvalidInput"
        },
        {
          "target": "com.amazonaws.route53.autonaming.v20170314#NamespaceNotFound"
        },
        {
          "target": "com.amazonaws.route53.autonaming.v20170314#ServiceNotFound"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Discovers registered instances for a specified namespace and service.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "data-"
        }
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#DiscoverInstancesRequest": {
      "type": "structure",
      "members": {
        "HealthStatus": {
          "target": "com.amazonaws.route53.autonaming.v20170314#HealthStatusFilter",
          "traits": {
            "smithy.api#documentation": "<p>The health status of the instances that you want to discover.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.route53.autonaming.v20170314#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of instances that you want Cloud Map to return in the response to a <code>DiscoverInstances</code> request. \n\t\t\tIf you don't specify a value for <code>MaxResults</code>, Cloud Map returns up to 100 instances.</p>"
          }
        },
        "NamespaceName": {
          "target": "com.amazonaws.route53.autonaming.v20170314#NamespaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the namespace that you specified when you registered the instance.</p>",
            "smithy.api#required": true
          }
        },
        "QueryParameters": {
          "target": "com.amazonaws.route53.autonaming.v20170314#Attributes",
          "traits": {
            "smithy.api#documentation": "<p>A string map that contains attributes with values that you can use to filter instances by any custom attribute that you \n\t\t\tspecified when you registered the instance. Only instances that match all the specified key/value pairs will be returned.</p>"
          }
        },
        "ServiceName": {
          "target": "com.amazonaws.route53.autonaming.v20170314#ServiceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the service that you specified when you registered the instance.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#DiscoverInstancesResponse": {
      "type": "structure",
      "members": {
        "Instances": {
          "target": "com.amazonaws.route53.autonaming.v20170314#HttpInstanceSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains one <code>HttpInstanceSummary</code> for each registered instance.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#DnsConfig": {
      "type": "structure",
      "members": {
        "DnsRecords": {
          "target": "com.amazonaws.route53.autonaming.v20170314#DnsRecordList",
          "traits": {
            "smithy.api#documentation": "<p>An array that contains one <code>DnsRecord</code> object for each Route 53 DNS record that you want AWS Cloud Map to create \n\t\t\twhen you register an instance.</p>",
            "smithy.api#required": true
          }
        },
        "NamespaceId": {
          "target": "com.amazonaws.route53.autonaming.v20170314#ResourceId",
          "traits": {
            "smithy.api#deprecated": {
              "message": "Top level attribute in request should be used to reference namespace-id"
            },
            "smithy.api#documentation": "<p>The ID of the namespace to use for DNS configuration.</p>"
          }
        },
        "RoutingPolicy": {
          "target": "com.amazonaws.route53.autonaming.v20170314#RoutingPolicy",
          "traits": {
            "smithy.api#documentation": "<p>The routing policy that you want to apply to all Route 53 DNS records that AWS Cloud Map creates when you register an instance and \n\t\t\tspecify this service.</p>\n\t\t\t\n\t\t\t      <note>\n\t\t\t\t        <p>If you want to use this service to register instances that create alias records, specify <code>WEIGHTED</code> \n\t\t\t\t\tfor the routing policy.</p>\n\t\t\t      </note>\n\t\t\n\t\t       <p>You can specify the following values:</p>\n\t\t\n\t\t       <p>\n            <b>MULTIVALUE</b>\n         </p>\n\t\t       <p>If you define a health check for the service and the health check is healthy, Route 53 returns the applicable value for up to eight instances.</p>\n\t\t       <p>For example, suppose the service includes configurations for one A record and a health check, and you use the service to register 10 instances. \n\t\t\tRoute 53 responds to DNS queries with IP addresses for up to eight healthy instances. If fewer than eight instances are healthy, Route 53 responds to \n\t\t\tevery DNS query with the IP addresses for all of the healthy instances.</p>\n\t\t       <p>If you don't define a health check for the service, Route 53 assumes that all instances are healthy and returns the values for up to eight instances.</p>\n\t\t       <p>For more information about the multivalue routing policy, see \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/routing-policy.html#routing-policy-multivalue\">Multivalue Answer Routing</a> in the \n\t\t\t<i>Route 53 Developer Guide</i>.</p>\n\t\t\n\t\t       <p>\n            <b>WEIGHTED</b>\n         </p>\n\t\t       <p>Route 53 returns the applicable value from one randomly selected instance from among the instances that you registered using the same service. \n\t\t\tCurrently, all records have the same weight, so you can't route more or less traffic to any instances.</p>\n\t\t       <p>For example, suppose the service includes configurations for one A record and a health check, and you use the service to register 10 instances. \n\t\t\tRoute 53 responds to DNS queries with the IP address for one randomly selected instance from among the healthy instances. If no instances are healthy, \n\t\t\tRoute 53 responds to DNS queries as if all of the instances were healthy.</p>\n\t\t       <p>If you don't define a health check for the service, Route 53 assumes that all instances are healthy and returns the applicable value for one \n\t\t\trandomly selected instance.</p>\n\t\t       <p>For more information about the weighted routing policy, see \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/routing-policy.html#routing-policy-weighted\">Weighted Routing</a> in the \n\t\t\t<i>Route 53 Developer Guide</i>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that contains information about the Amazon Route 53 DNS records that you want AWS Cloud Map to create when you register an instance.</p>"
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#DnsConfigChange": {
      "type": "structure",
      "members": {
        "DnsRecords": {
          "target": "com.amazonaws.route53.autonaming.v20170314#DnsRecordList",
          "traits": {
            "smithy.api#documentation": "<p>An array that contains one <code>DnsRecord</code> object for each Route 53 record that you want AWS Cloud Map to create \n\t\t\twhen you register an instance.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that contains information about changes to the Route 53 DNS records that AWS Cloud Map creates when you \n\t\t\tregister an instance.</p>"
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#DnsProperties": {
      "type": "structure",
      "members": {
        "HostedZoneId": {
          "target": "com.amazonaws.route53.autonaming.v20170314#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID for the Route 53 hosted zone that AWS Cloud Map creates when you create a namespace.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that contains the ID for the Route 53 hosted zone that AWS Cloud Map creates when you create a namespace.</p>"
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#DnsRecord": {
      "type": "structure",
      "members": {
        "TTL": {
          "target": "com.amazonaws.route53.autonaming.v20170314#RecordTTL",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time, in seconds, that you want DNS resolvers to cache the settings for this record.</p>\n\t\t       <note>\n            <p>Alias records don't include a TTL because Route 53 uses the TTL for the AWS resource that an alias record \n\t\t\troutes traffic to. If you include the <code>AWS_ALIAS_DNS_NAME</code> attribute when you submit a <a>RegisterInstance</a> request, \n\t\t\tthe <code>TTL</code> value is ignored. Always specify a TTL for the service; you can use a service to register instances that create either \n\t\t\talias or non-alias records.</p>\n         </note>",
            "smithy.api#required": true
          }
        },
        "Type": {
          "target": "com.amazonaws.route53.autonaming.v20170314#RecordType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the resource, which indicates the type of value that Route 53 returns in response to DNS queries.</p>\n\t\t       <p>Note the following:</p>\n\t\t\t      <ul>\n            <li>\n               <p>\n                  <b>A, AAAA, and SRV records:</b> You can specify settings for a maximum of one A, one AAAA, \n\t\t\t\t\tand one SRV record. You can specify them in any combination.</p>\n            </li>\n            <li>\n               <p>\n                  <b>CNAME records:</b> If you specify <code>CNAME</code> for <code>Type</code>, \n\t\t\t\t\tyou can't define any other records. This is a limitation of DNS: you can't create a CNAME record and any other type of record \n\t\t\t\t\tthat has the same name as a CNAME record.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Alias records:</b> If you want AWS Cloud Map to create a Route 53 alias record \n\t\t\t\t\twhen you register an instance, specify <code>A</code> or <code>AAAA</code> for <code>Type</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>All records:</b> You specify settings other than <code>TTL</code> and <code>Type</code> \n\t\t\t\t\twhen you register an instance.</p>\n            </li>\n         </ul>\n\t\t\n\t\t       <p>The following values are supported:</p>\n\t\t\n\t\t       <p>\n            <b>A</b>\n         </p>\n\t\t       <p>Route 53 returns the IP address of the resource in IPv4 format, such as 192.0.2.44.</p>\n\t\t\n\t\t       <p>\n            <b>AAAA</b>\n         </p>\n\t\t       <p>Route 53 returns the IP address of the resource in IPv6 format, such as 2001:0db8:85a3:0000:0000:abcd:0001:2345.</p>\n\t\t\n\t\t       <p>\n            <b>CNAME</b>\n         </p>\n\t\t       <p>Route 53 returns the domain name of the resource, such as www.example.com. Note the following:</p>\n\t\t       <ul>\n            <li>\n               <p>You specify the domain name that you want to route traffic to when you register an instance. For more information, \n\t\t\t\tsee <a>RegisterInstanceRequest$Attributes</a>.</p>\n            </li>\n            <li>\n               <p>You must specify <code>WEIGHTED</code> for the value of <code>RoutingPolicy</code>.</p>\n            </li>\n            <li>\n               <p>You can't specify both <code>CNAME</code> for <code>Type</code> and settings for <code>HealthCheckConfig</code>. \n\t\t\t\tIf you do, the request will fail with an <code>InvalidInput</code> error.</p>\n            </li>\n         </ul>\n\t\t\n\t\t       <p>\n            <b>SRV</b>\n         </p>\n\t\t       <p>Route 53 returns the value for an SRV record. The value for an SRV record uses the following values:</p>\n\t\t       <p>\n            <code>priority weight port service-hostname</code>\n         </p>\n\t\t       <p>Note the following about the values:</p>\n\t\t\t      <ul>\n            <li>\n               <p>The values of <code>priority</code> and <code>weight</code> are both set to <code>1</code> and can't be changed. </p>\n            </li>\n            <li>\n               <p>The value of <code>port</code> comes from the value that you specify for the <code>AWS_INSTANCE_PORT</code> attribute \n\t\t\t\t\twhen you submit a <a>RegisterInstance</a> request. </p>\n            </li>\n            <li>\n               <p>The value of <code>service-hostname</code> is a concatenation of the following values:</p>\n\t\t\t\t\t          <ul>\n                  <li>\n                     <p>The value that you specify for <code>InstanceId</code> when you register an instance.</p>\n                  </li>\n                  <li>\n                     <p>The name of the service.</p>\n                  </li>\n                  <li>\n                     <p>The name of the namespace. </p>\n                  </li>\n               </ul>\n\t\t\t\t\t          <p>For example, if the value of <code>InstanceId</code> is <code>test</code>, the name of the service is <code>backend</code>, and the \n\t\t\t\t\t\tname of the namespace is <code>example.com</code>, the value of <code>service-hostname</code> is:</p>\n\t\t\t\t\t          <p>\n                  <code>test.backend.example.com</code>\n               </p>\n\t\t\t\t        </li>\n         </ul>\n\t\t       <p>If you specify settings for an SRV record and if you specify values for <code>AWS_INSTANCE_IPV4</code>, <code>AWS_INSTANCE_IPV6</code>, or both \n\t\t\tin the <code>RegisterInstance</code> request, AWS Cloud Map automatically creates <code>A</code> and/or <code>AAAA</code> records that have the same name \n\t\t\tas the value of <code>service-hostname</code> in the SRV record. You can ignore these records.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that contains information about the Route 53 DNS records that you want AWS Cloud Map to create when you register an instance.</p>"
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#DnsRecordList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.route53.autonaming.v20170314#DnsRecord"
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#DuplicateRequest": {
      "type": "structure",
      "members": {
        "DuplicateOperationId": {
          "target": "com.amazonaws.route53.autonaming.v20170314#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the operation that is already in progress.</p>"
          }
        },
        "Message": {
          "target": "com.amazonaws.route53.autonaming.v20170314#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The operation is already in progress.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.route53.autonaming.v20170314#FailureThreshold": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#FilterCondition": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "EQ": {
            "name": "EQ"
          },
          "IN": {
            "name": "IN"
          },
          "BETWEEN": {
            "name": "BETWEEN"
          }
        }
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#FilterValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#FilterValues": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.route53.autonaming.v20170314#FilterValue",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#GetInstance": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53.autonaming.v20170314#GetInstanceRequest"
      },
      "output": {
        "target": "com.amazonaws.route53.autonaming.v20170314#GetInstanceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53.autonaming.v20170314#InstanceNotFound"
        },
        {
          "target": "com.amazonaws.route53.autonaming.v20170314#InvalidInput"
        },
        {
          "target": "com.amazonaws.route53.autonaming.v20170314#ServiceNotFound"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about a specified instance.</p>"
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#GetInstanceRequest": {
      "type": "structure",
      "members": {
        "InstanceId": {
          "target": "com.amazonaws.route53.autonaming.v20170314#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the instance that you want to get information about.</p>",
            "smithy.api#required": true
          }
        },
        "ServiceId": {
          "target": "com.amazonaws.route53.autonaming.v20170314#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the service that the instance is associated with.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#GetInstanceResponse": {
      "type": "structure",
      "members": {
        "Instance": {
          "target": "com.amazonaws.route53.autonaming.v20170314#Instance",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains information about a specified instance.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#GetInstancesHealthStatus": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53.autonaming.v20170314#GetInstancesHealthStatusRequest"
      },
      "output": {
        "target": "com.amazonaws.route53.autonaming.v20170314#GetInstancesHealthStatusResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53.autonaming.v20170314#InstanceNotFound"
        },
        {
          "target": "com.amazonaws.route53.autonaming.v20170314#InvalidInput"
        },
        {
          "target": "com.amazonaws.route53.autonaming.v20170314#ServiceNotFound"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the current health status (<code>Healthy</code>, <code>Unhealthy</code>, or <code>Unknown</code>) of one or more instances \n\t\t\tthat are associated with a specified service.</p>\n\t\t       <note>\n            <p>There is a brief delay between when you register an instance and when the health status for the instance is available. </p>\n         </note>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#GetInstancesHealthStatusRequest": {
      "type": "structure",
      "members": {
        "Instances": {
          "target": "com.amazonaws.route53.autonaming.v20170314#InstanceIdList",
          "traits": {
            "smithy.api#documentation": "<p>An array that contains the IDs of all the instances that you want to get the health status for.</p> \n\t\t       <p>If you omit <code>Instances</code>, AWS Cloud Map returns the health status for all the instances that are associated with the \n\t\t\tspecified service.</p>\n\t\t       <note>\n            <p>To get the IDs for the instances that you've registered by using a specified service, submit a \n\t\t\t<a>ListInstances</a> request.</p>\n         </note>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.route53.autonaming.v20170314#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of instances that you want AWS Cloud Map to return in the response to a <code>GetInstancesHealthStatus</code> request. \n\t\t\tIf you don't specify a value for <code>MaxResults</code>, AWS Cloud Map returns up to 100 instances.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53.autonaming.v20170314#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>For the first <code>GetInstancesHealthStatus</code> request, omit this value.</p>\n\t\t       <p>If more than <code>MaxResults</code> instances match the specified criteria, you can submit another <code>GetInstancesHealthStatus</code> request \n\t\t\tto get the next group of results. Specify the value of <code>NextToken</code> from the previous response in the next request.</p>"
          }
        },
        "ServiceId": {
          "target": "com.amazonaws.route53.autonaming.v20170314#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the service that the instance is associated with.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#GetInstancesHealthStatusResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.route53.autonaming.v20170314#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If more than <code>MaxResults</code> instances match the specified criteria, you can submit another <code>GetInstancesHealthStatus</code> request \n\t\t\tto get the next group of results. Specify the value of <code>NextToken</code> from the previous response in the next request.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.route53.autonaming.v20170314#InstanceHealthStatusMap",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains the IDs and the health status of the instances that you specified in the \n\t\t\t<code>GetInstancesHealthStatus</code> request.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#GetNamespace": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53.autonaming.v20170314#GetNamespaceRequest"
      },
      "output": {
        "target": "com.amazonaws.route53.autonaming.v20170314#GetNamespaceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53.autonaming.v20170314#InvalidInput"
        },
        {
          "target": "com.amazonaws.route53.autonaming.v20170314#NamespaceNotFound"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about a namespace.</p>"
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#GetNamespaceRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.route53.autonaming.v20170314#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the namespace that you want to get information about.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#GetNamespaceResponse": {
      "type": "structure",
      "members": {
        "Namespace": {
          "target": "com.amazonaws.route53.autonaming.v20170314#Namespace",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains information about the specified namespace.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#GetOperation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53.autonaming.v20170314#GetOperationRequest"
      },
      "output": {
        "target": "com.amazonaws.route53.autonaming.v20170314#GetOperationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53.autonaming.v20170314#InvalidInput"
        },
        {
          "target": "com.amazonaws.route53.autonaming.v20170314#OperationNotFound"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about any operation that returns an operation ID in the response, such as a <code>CreateService</code> request.</p>\n\t\t\n\t\t\t      <note>\n\t\t\t\t        <p>To get a list of operations that match specified criteria, see <a>ListOperations</a>.</p>\n\t\t\t      </note>"
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#GetOperationRequest": {
      "type": "structure",
      "members": {
        "OperationId": {
          "target": "com.amazonaws.route53.autonaming.v20170314#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the operation that you want to get more information about.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#GetOperationResponse": {
      "type": "structure",
      "members": {
        "Operation": {
          "target": "com.amazonaws.route53.autonaming.v20170314#Operation",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains information about the operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#GetService": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53.autonaming.v20170314#GetServiceRequest"
      },
      "output": {
        "target": "com.amazonaws.route53.autonaming.v20170314#GetServiceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53.autonaming.v20170314#InvalidInput"
        },
        {
          "target": "com.amazonaws.route53.autonaming.v20170314#ServiceNotFound"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the settings for a specified service.</p>"
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#GetServiceRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.route53.autonaming.v20170314#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the service that you want to get settings for.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#GetServiceResponse": {
      "type": "structure",
      "members": {
        "Service": {
          "target": "com.amazonaws.route53.autonaming.v20170314#Service",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains information about the service.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#HealthCheckConfig": {
      "type": "structure",
      "members": {
        "FailureThreshold": {
          "target": "com.amazonaws.route53.autonaming.v20170314#FailureThreshold",
          "traits": {
            "smithy.api#documentation": "<p>The number of consecutive health checks that an endpoint must pass or fail for Route 53 to change the current status of the endpoint \n\t\t\tfrom unhealthy to healthy or vice versa. For more information, see \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/dns-failover-determining-health-of-endpoints.html\">How Route 53 Determines \n\t\t\t\tWhether an Endpoint Is Healthy</a> in the <i>Route 53 Developer Guide</i>.</p>"
          }
        },
        "ResourcePath": {
          "target": "com.amazonaws.route53.autonaming.v20170314#ResourcePath",
          "traits": {
            "smithy.api#documentation": "<p>The path that you want Route 53 to request when performing health checks. The path can be any value for which your endpoint \n\t\t\twill return an HTTP status code of 2xx or 3xx when the endpoint is healthy, such as the file <code>/docs/route53-health-check.html</code>. \n\t\t\tRoute 53 automatically adds the DNS name for the service. If you don't specify a value for <code>ResourcePath</code>, \n\t\t\tthe default value is <code>/</code>.</p>\n\t\t\t      <p>If you specify <code>TCP</code> for <code>Type</code>, you must <i>not</i> specify a value for \n\t\t\t\t<code>ResourcePath</code>.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.route53.autonaming.v20170314#HealthCheckType",
          "traits": {
            "smithy.api#documentation": "<p>The type of health check that you want to create, which indicates how Route 53 determines whether an endpoint is healthy.</p>\n\t\t\n\t\t       <important>\n            <p>You can't change the value of <code>Type</code> after you create a health check.</p>\n         </important>\n\t\t\n\t\t       <p>You can create the following types of health checks:</p>\n\t\t       <ul>\n            <li>\n               <p>\n                  <b>HTTP</b>: Route 53 tries to establish a TCP connection. If successful, Route 53 submits an \n\t\t\t\tHTTP request and waits for an HTTP status code of 200 or greater and less than 400.</p>\n\t\t\t         </li>\n            <li>\n               <p>\n                  <b>HTTPS</b>: Route 53 tries to establish a TCP connection. If successful, Route 53 submits an \n\t\t\t\tHTTPS request and waits for an HTTP status code of 200 or greater and less than 400.</p>\n\t\t\t\t           <important>\n\t\t\t\t\t             <p>If you specify HTTPS for the value of <code>Type</code>, the endpoint must support TLS v1.0 or later.</p>\n\t\t\t\t           </important>\n\t\t\t         </li>\n            <li>\n               <p>\n                  <b>TCP</b>: Route 53 tries to establish a TCP connection.</p>\n\t\t\t\t           <p>If you specify <code>TCP</code> for <code>Type</code>, don't specify a value for <code>ResourcePath</code>.</p>\n\t\t\t         </li>\n         </ul>\n\t\t       <p>For more information, see \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/dns-failover-determining-health-of-endpoints.html\">How Route 53 Determines \n\t\t\t\tWhether an Endpoint Is Healthy</a> in the <i>Route 53 Developer Guide</i>.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            <i>Public DNS namespaces only.</i> A complex type that contains settings for an optional health check. If you \n\t\t\tspecify settings for a health check, AWS Cloud Map associates the health check with the records that you specify in \n\t\t\t<code>DnsConfig</code>.</p>\n\t\t       <important>\n            <p>If you specify a health check configuration, you can specify either <code>HealthCheckCustomConfig</code> or \n\t\t\t<code>HealthCheckConfig</code> but not both.</p>\n         </important>\n\n\t\t       <p>Health checks are basic Route 53 health checks that monitor an AWS endpoint. For information about pricing for \n\t\t\thealth checks, see <a href=\"http://aws.amazon.com/route53/pricing/\">Amazon Route 53 Pricing</a>.</p>\n\t\t\n\t\t       <p>Note the following about configuring health checks.</p>\n\t\t\n\t\t       <p>\n            <b>A and AAAA records</b>\n         </p>\n\t\t       <p>If <code>DnsConfig</code> includes configurations for both A and AAAA records, AWS Cloud Map creates a health check \n\t\t\tthat uses the IPv4 address to check the health of the resource. If the endpoint that is specified by the IPv4 address is unhealthy, \n\t\t\tRoute 53 considers both the A and AAAA records to be unhealthy. </p>\n\t\t\n\t\t       <p>\n            <b>CNAME records</b>\n         </p>\n\t\t       <p>You can't specify settings for <code>HealthCheckConfig</code> when the <code>DNSConfig</code> includes <code>CNAME</code> for \n\t\t\tthe value of <code>Type</code>. If you do, the <code>CreateService</code> request will fail with an <code>InvalidInput</code> error.</p>\n\t\t\n\t\t       <p>\n            <b>Request interval</b>\n         </p>\n\t\t       <p>A Route 53 health checker in each health-checking region sends a health check request to an endpoint every 30 seconds. On average, \n\t\t\tyour endpoint receives a health check request about every two seconds. However, health checkers don't coordinate with one another, \n\t\t\tso you'll sometimes see several requests per second followed by a few seconds with no health checks at all.</p>\n\t\t\n\t\t       <p>\n            <b>Health checking regions</b>\n         </p>\n\t\t       <p>Health checkers perform checks from all Route 53 health-checking regions. For a list of the current regions, see \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_HealthCheckConfig.html#Route53-Type-HealthCheckConfig-Regions\">Regions</a>.</p>\n\t\t\n\t\t       <p>\n            <b>Alias records</b>\n         </p>\n\t\t       <p>When you register an instance, if you include the <code>AWS_ALIAS_DNS_NAME</code> attribute, AWS Cloud Map creates a Route 53 alias record. \n\t\t\tNote the following:</p>\n\t\t       <ul>\n            <li>\n               <p>Route 53 automatically sets <code>EvaluateTargetHealth</code> to true for alias records. \n\t\t\t\tWhen <code>EvaluateTargetHealth</code> is true, the alias record inherits the health of the referenced AWS resource. \n\t\t\t\tsuch as an ELB load balancer. For more information, see \n\t\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_AliasTarget.html#Route53-Type-AliasTarget-EvaluateTargetHealth\">EvaluateTargetHealth</a>.</p>\n\t\t\t         </li>\n            <li>\n               <p>If you include <code>HealthCheckConfig</code> and then use the service to register an instance that creates \n\t\t\t\tan alias record, Route 53 doesn't create the health check.</p>\n            </li>\n         </ul>\n\t\t\n\t\t       <p>\n            <b>Charges for health checks</b>\n         </p>\n\t\t       <p>Health checks are basic Route 53 health checks that monitor an AWS endpoint. For information about pricing for \n\t\t\thealth checks, see <a href=\"http://aws.amazon.com/route53/pricing/\">Amazon Route 53 Pricing</a>.</p>"
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#HealthCheckCustomConfig": {
      "type": "structure",
      "members": {
        "FailureThreshold": {
          "target": "com.amazonaws.route53.autonaming.v20170314#FailureThreshold",
          "traits": {
            "smithy.api#documentation": "<p>The number of 30-second intervals that you want Cloud Map to wait after receiving an <code>UpdateInstanceCustomHealthStatus</code> request \n\t\t\tbefore it changes the health status of a service instance. For example, suppose you specify a value of <code>2</code> for <code>FailureTheshold</code>, \n\t\t\tand then your application sends an <code>UpdateInstanceCustomHealthStatus</code> request. Cloud Map waits for approximately 60 seconds (2 x 30) \n\t\t\tbefore changing the status of the service instance based on that request.</p>\n\t\t       <p>Sending a second or subsequent <code>UpdateInstanceCustomHealthStatus</code> request with the same value before \n\t\t\t<code>FailureThreshold x 30</code> seconds has passed doesn't accelerate the change. Cloud Map still waits \n\t\t\t<code>FailureThreshold x 30</code> seconds after the first request to make the change.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that contains information about an optional custom health check. A custom health check, which requires that you \n\t\t\tuse a third-party health checker to evaluate the health of your resources, is useful in the following circumstances:</p>\n\t\t\t      <ul>\n            <li>\n               <p>You can't use a health check that is defined by <code>HealthCheckConfig</code> because the resource isn't available \n\t\t\t\t\tover the internet. For example, you can use a custom health check when the instance is in an Amazon VPC. (To check the health of resources \n\t\t\t\t\tin a VPC, the health checker must also be in the VPC.)</p>\n            </li>\n            <li>\n               <p>You want to use a third-party health checker regardless of where your resources are.</p>\n            </li>\n         </ul>\n\n\t\t       <important>\n            <p>If you specify a health check configuration, you can specify either <code>HealthCheckCustomConfig</code> or \n\t\t\t<code>HealthCheckConfig</code> but not both.</p>\n         </important>\n\t\t\n\t\t       <p>To change the status of a custom health check, submit an <code>UpdateInstanceCustomHealthStatus</code> request. Cloud Map \n\t\t\tdoesn't monitor the status of the resource, it just keeps a record of the status specified in the most recent \n\t\t\t<code>UpdateInstanceCustomHealthStatus</code> request.</p>\n\n\t\t       <p>Here's how custom health checks work:</p>\n\t\t       <ol>\n            <li>\n               <p>You create a service and specify a value for <code>FailureThreshold</code>. </p>\n\t\t\t\t           <p>The failure threshold indicates the number of 30-second intervals you want AWS Cloud Map to wait between the time that your application \n\t\t\t\t\tsends an <a>UpdateInstanceCustomHealthStatus</a> request and the time that AWS Cloud Map stops routing internet traffic to the \n\t\t\t\t\tcorresponding resource.</p>\n\t\t\t         </li>\n            <li>\n               <p>You register an instance.</p>\n            </li>\n            <li>\n               <p>You configure a third-party health checker to monitor the resource that is associated with the new instance. </p>\n\t\t\t\t           <note>\n                  <p>AWS Cloud Map doesn't check the health of the resource directly. </p>\n               </note>\n\t\t\t         </li>\n            <li>\n               <p>The third-party health-checker determines that the resource is unhealthy and notifies your application.</p>\n            </li>\n            <li>\n               <p>Your application submits an <code>UpdateInstanceCustomHealthStatus</code> request.</p>\n            </li>\n            <li>\n               <p>AWS Cloud Map waits for (<code>FailureThreshold</code> x 30) seconds.</p>\n            </li>\n            <li>\n               <p>If another <code>UpdateInstanceCustomHealthStatus</code> request doesn't arrive during that time to change the status back to healthy, \n\t\t\t\tAWS Cloud Map stops routing traffic to the resource.</p>\n            </li>\n         </ol>\n\t\t\n\t\t       <p>Note the following about configuring custom health checks.</p>"
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#HealthCheckType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "HTTP": {
            "name": "HTTP"
          },
          "HTTPS": {
            "name": "HTTPS"
          },
          "TCP": {
            "name": "TCP"
          }
        }
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#HealthStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "HEALTHY": {
            "name": "HEALTHY"
          },
          "UNHEALTHY": {
            "name": "UNHEALTHY"
          },
          "UNKNOWN": {
            "name": "UNKNOWN"
          }
        }
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#HealthStatusFilter": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "HEALTHY": {
            "name": "HEALTHY"
          },
          "UNHEALTHY": {
            "name": "UNHEALTHY"
          },
          "ALL": {
            "name": "ALL"
          }
        }
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#HttpInstanceSummary": {
      "type": "structure",
      "members": {
        "Attributes": {
          "target": "com.amazonaws.route53.autonaming.v20170314#Attributes",
          "traits": {
            "smithy.api#documentation": "<p>If you included any attributes when you registered the instance, the values of those attributes.</p>"
          }
        },
        "HealthStatus": {
          "target": "com.amazonaws.route53.autonaming.v20170314#HealthStatus",
          "traits": {
            "smithy.api#documentation": "<p>If you configured health checking in the service, the current health status of the service instance.</p>"
          }
        },
        "InstanceId": {
          "target": "com.amazonaws.route53.autonaming.v20170314#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of an instance that matches the values that you specified in the request.</p>"
          }
        },
        "NamespaceName": {
          "target": "com.amazonaws.route53.autonaming.v20170314#NamespaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the namespace that you specified when you registered the instance.</p>"
          }
        },
        "ServiceName": {
          "target": "com.amazonaws.route53.autonaming.v20170314#ServiceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the service that you specified when you registered the instance.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>In a response to a <a>DiscoverInstance</a> request, <code>HttpInstanceSummary</code> contains information \n\t\t\tabout one instance that matches the values that you specified in the request.</p>"
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#HttpInstanceSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.route53.autonaming.v20170314#HttpInstanceSummary"
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#HttpProperties": {
      "type": "structure",
      "members": {
        "HttpName": {
          "target": "com.amazonaws.route53.autonaming.v20170314#NamespaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of an HTTP namespace.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that contains the name of an HTTP namespace.</p>"
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#Instance": {
      "type": "structure",
      "members": {
        "Attributes": {
          "target": "com.amazonaws.route53.autonaming.v20170314#Attributes",
          "traits": {
            "smithy.api#documentation": "<p>A string map that contains the following information for the service that you specify in <code>ServiceId</code>:</p>\n\t\t       <ul>\n            <li>\n               <p>The attributes that apply to the records that are defined in the service. </p>\n            </li>\n            <li>\n               <p>For each attribute, the applicable value.</p>\n            </li>\n         </ul>\n\t\t\n\t\t       <p>Supported attribute keys include the following:</p>\n\t\t\n\t\t       <p>\n            <b>AWS_ALIAS_DNS_NAME</b>\n         </p>\n\t\t       <p>\n            <b></b>\n         </p>\n\t\t       <p>If you want AWS Cloud Map to create a Route 53 alias record that routes traffic to an Elastic Load Balancing load balancer, specify the DNS name \n\t\t\tthat is associated with the load balancer. For information about how to get the DNS name, see \"DNSName\" in the topic \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_AliasTarget.html\">AliasTarget</a>.</p>\n\t\t       <p>Note the following:</p>\n\t\t       <ul>\n            <li>\n               <p>The configuration for the service that is specified by <code>ServiceId</code> must include settings for an A record, \n\t\t\t\tan AAAA record, or both.</p>\n            </li>\n            <li>\n               <p>In the service that is specified by <code>ServiceId</code>, the value of <code>RoutingPolicy</code> must be \n\t\t\t\t<code>WEIGHTED</code>.</p>\n            </li>\n            <li>\n               <p>If the service that is specified by <code>ServiceId</code> includes <code>HealthCheckConfig</code> settings, \n\t\t\t\tAWS Cloud Map will create the health check, but it won't associate the health check with the alias record.</p>\n            </li>\n            <li>\n               <p>Auto naming currently doesn't support creating alias records that route traffic to AWS resources other than \n\t\t\t\tELB load balancers.</p>\n            </li>\n            <li>\n               <p>If you specify a value for <code>AWS_ALIAS_DNS_NAME</code>, don't specify values for any of the \n\t\t\t\t<code>AWS_INSTANCE</code> attributes.</p>\n            </li>\n         </ul>\n\t\t\n\t\t       <p>\n            <b>AWS_INSTANCE_CNAME</b>\n         </p>\n\t\t       <p>If the service configuration includes a CNAME record, the domain name that you want Route 53 to return in response to \n\t\t\tDNS queries, for example, <code>example.com</code>.</p>\n\t\t       <p>This value is required if the service specified by <code>ServiceId</code> includes settings for an CNAME record.</p>\t\t\n\t\t\n\t\t       <p>\n            <b>AWS_INSTANCE_IPV4</b>\n         </p>\n\t\t       <p>If the service configuration includes an A record, the IPv4 address that you want Route 53 to return in response to DNS queries, \n\t\t\tfor example, <code>192.0.2.44</code>.</p>\n\t\t       <p>This value is required if the service specified by <code>ServiceId</code> includes settings for an A record. \n\t\t\tIf the service includes settings for an SRV record, you must specify a value for <code>AWS_INSTANCE_IPV4</code>, <code>AWS_INSTANCE_IPV6</code>, \n\t\t\tor both.</p>\n\t\t\n\t\t       <p>\n            <b>AWS_INSTANCE_IPV6</b>\n         </p>\n\t\t       <p>If the service configuration includes an AAAA record, the IPv6 address that you want Route 53 to return in response to DNS queries, \n\t\t\tfor example, <code>2001:0db8:85a3:0000:0000:abcd:0001:2345</code>.</p>\n\t\t       <p>This value is required if the service specified by <code>ServiceId</code> includes settings for an AAAA record. \n\t\t\tIf the service includes settings for an SRV record, you must specify a value for <code>AWS_INSTANCE_IPV4</code>, <code>AWS_INSTANCE_IPV6</code>, \n\t\t\tor both.</p>\n\t\t\n\t\t       <p>\n            <b>AWS_INSTANCE_PORT</b>\n         </p>\n\t\t       <p>If the service includes an SRV record, the value that you want Route 53 to return for the port.</p>\n\t\t       <p>If the service includes <code>HealthCheckConfig</code>, the port on the endpoint that you want Route 53 to send requests to. </p>\n\t\t       <p>This value is required if you specified settings for an SRV record when you created the service.</p>"
          }
        },
        "CreatorRequestId": {
          "target": "com.amazonaws.route53.autonaming.v20170314#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies the request and that allows failed <code>RegisterInstance</code> requests to be retried \n\t\t\twithout the risk of executing the operation twice. You must use a unique <code>CreatorRequestId</code> string every time you submit a \n\t\t\t<code>RegisterInstance</code> request if you're registering additional instances for the same namespace and service. \n\t\t\t<code>CreatorRequestId</code> can be any unique string, for example, a date/time stamp.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.route53.autonaming.v20170314#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>An identifier that you want to associate with the instance. Note the following:</p>\n\t\t       <ul>\n            <li>\n               <p>If the service that is specified by <code>ServiceId</code> includes settings for an SRV record, the value of <code>InstanceId</code> \n\t\t\t\tis automatically included as part of the value for the SRV record. For more information, see <a>DnsRecord$Type</a>.</p>\n            </li>\n            <li>\n               <p>You can use this value to update an existing instance.</p>\n            </li>\n            <li>\n               <p>To register a new instance, you must specify a value that is unique among instances that you register \n\t\t\t\tby using the same service. </p>\n            </li>\n            <li>\n               <p>If you specify an existing <code>InstanceId</code> and <code>ServiceId</code>, AWS Cloud Map updates the existing DNS records. \n\t\t\t\tIf there's also an existing health check, AWS Cloud Map deletes the old health check and creates a new one. </p>\n\t\t\t\t           <note>\n                  <p>The health check isn't deleted immediately, so it will still appear for a while if you submit a <code>ListHealthChecks</code> \n\t\t\t\trequest, for example.</p>\n               </note>\n            </li>\n         </ul>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that contains information about an instance that AWS Cloud Map creates when you submit a <code>RegisterInstance</code> request.</p>"
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#InstanceHealthStatusMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.route53.autonaming.v20170314#ResourceId"
      },
      "value": {
        "target": "com.amazonaws.route53.autonaming.v20170314#HealthStatus"
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#InstanceIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.route53.autonaming.v20170314#ResourceId",
        "traits": {
          "smithy.api#xmlName": "InstanceId"
        }
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#InstanceNotFound": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.route53.autonaming.v20170314#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>No instance exists with the specified ID, or the instance was recently registered, and information about the instance hasn't propagated yet.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#InstanceSummary": {
      "type": "structure",
      "members": {
        "Attributes": {
          "target": "com.amazonaws.route53.autonaming.v20170314#Attributes",
          "traits": {
            "smithy.api#documentation": "<p>A string map that contains the following information:</p>\n\t\t       <ul>\n            <li>\n               <p>The attributes that are associate with the instance. </p>\n            </li>\n            <li>\n               <p>For each attribute, the applicable value.</p>\n            </li>\n         </ul>\n\t\t\n\t\t       <p>Supported attribute keys include the following:</p>\n\t\t       <ul>\n            <li>\n               <p>\n                  <code>AWS_ALIAS_DNS_NAME</code>: For an alias record that routes traffic to an Elastic Load Balancing load balancer, \n\t\t\t\tthe DNS name that is associated with the load balancer. </p>\n\t\t\t         </li>\n            <li>\n               <p>\n                  <code>AWS_INSTANCE_CNAME</code>: For a CNAME record, the domain name that Route 53 returns in response to DNS queries, \n\t\t\t\tfor example, <code>example.com</code>.</p>\n\t\t\t         </li>\n            <li>\n               <p>\n                  <code>AWS_INSTANCE_IPV4</code>: For an A record, the IPv4 address that Route 53 returns in response to DNS queries, \n\t\t\t\tfor example, <code>192.0.2.44</code>.</p>\n\t\t\t         </li>\n            <li>\n               <p>\n                  <code>AWS_INSTANCE_IPV6</code>: For an AAAA record, the IPv6 address that Route 53 returns in response to DNS queries, \n\t\t\t\tfor example, <code>2001:0db8:85a3:0000:0000:abcd:0001:2345</code>.</p>\n\t\t\t         </li>\n            <li>\n               <p>\n                  <code>AWS_INSTANCE_PORT</code>: For an SRV record, the value that Route 53 returns for the port. \n\t\t\t\tIn addition, if the service includes <code>HealthCheckConfig</code>, the port on the endpoint that Route 53 sends requests to.</p>\n\t\t\t         </li>\n         </ul>"
          }
        },
        "Id": {
          "target": "com.amazonaws.route53.autonaming.v20170314#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID for an instance that you created by using a specified service.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that contains information about the instances that you registered by using a specified service.</p>"
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#InstanceSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.route53.autonaming.v20170314#InstanceSummary",
        "traits": {
          "smithy.api#xmlName": "InstanceSummary"
        }
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#InvalidInput": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.route53.autonaming.v20170314#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>One or more specified values aren't valid. For example, a required value might be missing, a numeric value might be outside the allowed range, \n\t\t\tor a string value might exceed length constraints.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#ListInstances": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53.autonaming.v20170314#ListInstancesRequest"
      },
      "output": {
        "target": "com.amazonaws.route53.autonaming.v20170314#ListInstancesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53.autonaming.v20170314#InvalidInput"
        },
        {
          "target": "com.amazonaws.route53.autonaming.v20170314#ServiceNotFound"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists summary information about the instances that you registered by using a specified service.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#ListInstancesRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.route53.autonaming.v20170314#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of instances that you want AWS Cloud Map to return in the response to a <code>ListInstances</code> request. \n\t\t\tIf you don't specify a value for <code>MaxResults</code>, AWS Cloud Map returns up to 100 instances.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53.autonaming.v20170314#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>For the first <code>ListInstances</code> request, omit this value.</p>\n\t\t       <p>If more than <code>MaxResults</code> instances match the specified criteria, you can submit another <code>ListInstances</code> request \n\t\t\tto get the next group of results. Specify the value of <code>NextToken</code> from the previous response in the next request.</p>"
          }
        },
        "ServiceId": {
          "target": "com.amazonaws.route53.autonaming.v20170314#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the service that you want to list instances for.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#ListInstancesResponse": {
      "type": "structure",
      "members": {
        "Instances": {
          "target": "com.amazonaws.route53.autonaming.v20170314#InstanceSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>Summary information about the instances that are associated with the specified service.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53.autonaming.v20170314#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If more than <code>MaxResults</code> instances match the specified criteria, you can submit another <code>ListInstances</code> request \n\t\t\tto get the next group of results. Specify the value of <code>NextToken</code> from the previous response in the next request.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#ListNamespaces": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53.autonaming.v20170314#ListNamespacesRequest"
      },
      "output": {
        "target": "com.amazonaws.route53.autonaming.v20170314#ListNamespacesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53.autonaming.v20170314#InvalidInput"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists summary information about the namespaces that were created by the current AWS account.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#ListNamespacesRequest": {
      "type": "structure",
      "members": {
        "Filters": {
          "target": "com.amazonaws.route53.autonaming.v20170314#NamespaceFilters",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains specifications for the namespaces that you want to list.</p>\n\t\t       <p>If you specify more than one filter, a namespace must match all filters to be returned by <code>ListNamespaces</code>.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.route53.autonaming.v20170314#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of namespaces that you want AWS Cloud Map to return in the response to a <code>ListNamespaces</code> request. \n\t\t\tIf you don't specify a value for <code>MaxResults</code>, AWS Cloud Map returns up to 100 namespaces.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53.autonaming.v20170314#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>For the first <code>ListNamespaces</code> request, omit this value.</p>\n\t\t       <p>If the response contains <code>NextToken</code>, submit another <code>ListNamespaces</code> request to get the next group of results. \n\t\t\tSpecify the value of <code>NextToken</code> from the previous response in the next request.</p>\n\t\t       <note>\n            <p>AWS Cloud Map gets <code>MaxResults</code> namespaces and then filters them based on the specified criteria. It's possible that \n\t\t\tno namespaces in the first <code>MaxResults</code> namespaces matched the specified criteria but that subsequent groups of \n\t\t\t<code>MaxResults</code> namespaces do contain namespaces that match the criteria.</p>\n         </note>"
          }
        }
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#ListNamespacesResponse": {
      "type": "structure",
      "members": {
        "Namespaces": {
          "target": "com.amazonaws.route53.autonaming.v20170314#NamespaceSummariesList",
          "traits": {
            "smithy.api#documentation": "<p>An array that contains one <code>NamespaceSummary</code> object for each namespace that matches the specified filter criteria.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53.autonaming.v20170314#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If the response contains <code>NextToken</code>, submit another <code>ListNamespaces</code> request to get the next group of results. \n\t\t\tSpecify the value of <code>NextToken</code> from the previous response in the next request.</p>\n\t\t       <note>\n            <p>AWS Cloud Map gets <code>MaxResults</code> namespaces and then filters them based on the specified criteria. It's possible that \n\t\t\tno namespaces in the first <code>MaxResults</code> namespaces matched the specified criteria but that subsequent groups of \n\t\t\t<code>MaxResults</code> namespaces do contain namespaces that match the criteria.</p>\n         </note>"
          }
        }
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#ListOperations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53.autonaming.v20170314#ListOperationsRequest"
      },
      "output": {
        "target": "com.amazonaws.route53.autonaming.v20170314#ListOperationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53.autonaming.v20170314#InvalidInput"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists operations that match the criteria that you specify.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#ListOperationsRequest": {
      "type": "structure",
      "members": {
        "Filters": {
          "target": "com.amazonaws.route53.autonaming.v20170314#OperationFilters",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains specifications for the operations that you want to list, for example, operations that you started \n\t\t\tbetween a specified start date and end date.</p>\n\t\t       <p>If you specify more than one filter, an operation must match all filters to be returned by <code>ListOperations</code>.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.route53.autonaming.v20170314#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of items that you want AWS Cloud Map to return in the response to a <code>ListOperations</code> request. \n\t\t\tIf you don't specify a value for <code>MaxResults</code>, AWS Cloud Map returns up to 100 operations.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53.autonaming.v20170314#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>For the first <code>ListOperations</code> request, omit this value.</p>\n\t\t       <p>If the response contains <code>NextToken</code>, submit another <code>ListOperations</code> request to get the next group of results. \n\t\t\tSpecify the value of <code>NextToken</code> from the previous response in the next request.</p>\n\t\t       <note>\n            <p>AWS Cloud Map gets <code>MaxResults</code> operations and then filters them based on the specified criteria. It's possible that \n\t\t\tno operations in the first <code>MaxResults</code> operations matched the specified criteria but that subsequent groups of \n\t\t\t<code>MaxResults</code> operations do contain operations that match the criteria.</p>\n         </note>"
          }
        }
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.route53.autonaming.v20170314#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If the response contains <code>NextToken</code>, submit another <code>ListOperations</code> request to get the next group of results. \n\t\t\tSpecify the value of <code>NextToken</code> from the previous response in the next request.</p>\n\t\t       <note>\n            <p>AWS Cloud Map gets <code>MaxResults</code> operations and then filters them based on the specified criteria. It's possible that \n\t\t\tno operations in the first <code>MaxResults</code> operations matched the specified criteria but that subsequent groups of \n\t\t\t<code>MaxResults</code> operations do contain operations that match the criteria.</p>\n         </note>"
          }
        },
        "Operations": {
          "target": "com.amazonaws.route53.autonaming.v20170314#OperationSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>Summary information about the operations that match the specified criteria.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#ListServices": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53.autonaming.v20170314#ListServicesRequest"
      },
      "output": {
        "target": "com.amazonaws.route53.autonaming.v20170314#ListServicesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53.autonaming.v20170314#InvalidInput"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists summary information for all the services that are associated with one or more specified namespaces.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#ListServicesRequest": {
      "type": "structure",
      "members": {
        "Filters": {
          "target": "com.amazonaws.route53.autonaming.v20170314#ServiceFilters",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains specifications for the namespaces that you want to list services for. </p>\n\t\t       <p>If you specify more than one filter, an operation must match all filters to be returned by <code>ListServices</code>.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.route53.autonaming.v20170314#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of services that you want AWS Cloud Map to return in the response to a <code>ListServices</code> request. \n\t\t\tIf you don't specify a value for <code>MaxResults</code>, AWS Cloud Map returns up to 100 services.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53.autonaming.v20170314#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>For the first <code>ListServices</code> request, omit this value.</p>\n\t\t       <p>If the response contains <code>NextToken</code>, submit another <code>ListServices</code> request to get the next group of results. \n\t\t\tSpecify the value of <code>NextToken</code> from the previous response in the next request.</p>\n\t\t       <note>\n            <p>AWS Cloud Map gets <code>MaxResults</code> services and then filters them based on the specified criteria. It's possible that \n\t\t\tno services in the first <code>MaxResults</code> services matched the specified criteria but that subsequent groups of \n\t\t\t<code>MaxResults</code> services do contain services that match the criteria.</p>\n         </note>"
          }
        }
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#ListServicesResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.route53.autonaming.v20170314#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If the response contains <code>NextToken</code>, submit another <code>ListServices</code> request to get the next group of results. \n\t\t\tSpecify the value of <code>NextToken</code> from the previous response in the next request.</p>\n\t\t       <note>\n            <p>AWS Cloud Map gets <code>MaxResults</code> services and then filters them based on the specified criteria. It's possible that \n\t\t\tno services in the first <code>MaxResults</code> services matched the specified criteria but that subsequent groups of \n\t\t\t<code>MaxResults</code> services do contain services that match the criteria.</p>\n         </note>"
          }
        },
        "Services": {
          "target": "com.amazonaws.route53.autonaming.v20170314#ServiceSummariesList",
          "traits": {
            "smithy.api#documentation": "<p>An array that contains one <code>ServiceSummary</code> object for each service that matches the specified filter criteria.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#Message": {
      "type": "string"
    },
    "com.amazonaws.route53.autonaming.v20170314#Namespace": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.route53.autonaming.v20170314#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that AWS Cloud Map assigns to the namespace when you create it.</p>"
          }
        },
        "CreateDate": {
          "target": "com.amazonaws.route53.autonaming.v20170314#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date that the namespace was created, in Unix date/time format and Coordinated Universal Time (UTC). The value of <code>CreateDate</code> \n\t\t\tis accurate to milliseconds. For example, the value <code>1516925490.087</code> represents Friday, January 26, 2018 12:11:30.087 AM.</p>"
          }
        },
        "CreatorRequestId": {
          "target": "com.amazonaws.route53.autonaming.v20170314#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies the request and that allows failed requests to be retried without the risk of executing an operation twice. </p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.route53.autonaming.v20170314#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description that you specify for the namespace when you create it.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.route53.autonaming.v20170314#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of a namespace.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.route53.autonaming.v20170314#NamespaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the namespace, such as <code>example.com</code>.</p>"
          }
        },
        "Properties": {
          "target": "com.amazonaws.route53.autonaming.v20170314#NamespaceProperties",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains information that's specific to the type of the namespace.</p>"
          }
        },
        "ServiceCount": {
          "target": "com.amazonaws.route53.autonaming.v20170314#ResourceCount",
          "traits": {
            "smithy.api#documentation": "<p>The number of services that are associated with the namespace.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.route53.autonaming.v20170314#NamespaceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the namespace. Valid values are <code>DNS_PUBLIC</code> and <code>DNS_PRIVATE</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that contains information about a specified namespace.</p>"
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#NamespaceAlreadyExists": {
      "type": "structure",
      "members": {
        "CreatorRequestId": {
          "target": "com.amazonaws.route53.autonaming.v20170314#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The <code>CreatorRequestId</code> that was used to create the namespace.</p>"
          }
        },
        "Message": {
          "target": "com.amazonaws.route53.autonaming.v20170314#ErrorMessage"
        },
        "NamespaceId": {
          "target": "com.amazonaws.route53.autonaming.v20170314#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the existing namespace.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The namespace that you're trying to create already exists.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#NamespaceFilter": {
      "type": "structure",
      "members": {
        "Condition": {
          "target": "com.amazonaws.route53.autonaming.v20170314#FilterCondition",
          "traits": {
            "smithy.api#documentation": "<p>The operator that you want to use to determine whether <code>ListNamespaces</code> returns a namespace. Valid values \n\t\t\tfor <code>condition</code> include:</p>\n\t\t       <ul>\n            <li>\n               <p>\n                  <code>EQ</code>: When you specify <code>EQ</code> for the condition, you can choose to list only \n\t\t\t\tpublic namespaces or private namespaces, but not both. <code>EQ</code> is the default condition and can be omitted.</p>\n            </li>\n            <li>\n               <p>\n                  <code>IN</code>: When you specify <code>IN</code> for the condition, you can choose to list public namespaces, \n\t\t\t\tprivate namespaces, or both. </p>\n            </li>\n            <li>\n               <p>\n                  <code>BETWEEN</code>: Not applicable</p>\n            </li>\n         </ul>"
          }
        },
        "Name": {
          "target": "com.amazonaws.route53.autonaming.v20170314#NamespaceFilterName",
          "traits": {
            "smithy.api#documentation": "<p>Specify <code>TYPE</code>.</p>",
            "smithy.api#required": true
          }
        },
        "Values": {
          "target": "com.amazonaws.route53.autonaming.v20170314#FilterValues",
          "traits": {
            "smithy.api#documentation": "<p>If you specify <code>EQ</code> for <code>Condition</code>, specify either <code>DNS_PUBLIC</code> or <code>DNS_PRIVATE</code>.</p>\n\t\t       <p>If you specify <code>IN</code> for <code>Condition</code>, you can specify <code>DNS_PUBLIC</code>, <code>DNS_PRIVATE</code>, \n\t\t\tor both.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that identifies the namespaces that you want to list. You can choose to list public or private namespaces.</p>"
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#NamespaceFilterName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "TYPE": {
            "name": "TYPE"
          }
        }
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#NamespaceFilters": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.route53.autonaming.v20170314#NamespaceFilter",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      }
    },
    "com.amazonaws.route53.autonaming.v20170314#NamespaceName": {
      "type": "string",
      "traits": {
[...]
