{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      },
      {
        "ids": [
          "HttpUriConflict"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazonaws.bardockcustomerapiservice.v20160616#AWSShield_20160616": {
      "type": "service",
      "version": "2016-06-02",
      "operations": [
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#AssociateDRTLogBucket"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#AssociateDRTRole"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#CreateProtection"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#CreateSubscription"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#DeleteProtection"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#DeleteSubscription"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#DescribeAttack"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#DescribeDRTAccess"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#DescribeEmergencyContactSettings"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#DescribeProtection"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#DescribeSubscription"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#DisassociateDRTLogBucket"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#DisassociateDRTRole"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#GetSubscriptionState"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#ListAttacks"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#ListProtections"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#UpdateEmergencyContactSettings"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#UpdateSubscription"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Shield",
          "arnNamespace": "shield",
          "cloudFormationName": "Shield",
          "cloudTrailEventSource": "v20160616.bardockcustomerapiservice.amazonaws.com"
        },
        "smithy.api#documentation": "<fullname>AWS Shield Advanced</fullname>\n         <p>This is the <i>AWS Shield Advanced API Reference</i>. This guide is for developers who need detailed information about the AWS Shield Advanced API actions, \n         data types, and errors. For detailed information about AWS WAF and AWS Shield Advanced features and an overview of how to use the AWS WAF and AWS Shield Advanced APIs, see the \n         <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF and AWS Shield Developer Guide</a>.</p>",
        "smithy.api#protocols": [
          {
            "name": "aws.json-1.1",
            "auth": [
              "aws.v4"
            ]
          }
        ],
        "smithy.api#title": "AWS Shield",
        "smithy.api#xmlNamespace": {
          "uri": "http://ddp.amazonaws.com/doc/2016-06-02/"
        }
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Exception that indicates the specified <code>AttackId</code> does not exist, or the requester does not have the appropriate permissions to access the <code>AttackId</code>.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#AccessDeniedForDependencyException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>In order to grant the necessary access to the DDoS Response Team, the user submitting  <code>AssociateDRTRole</code> must have the <code>iam:PassRole</code> permission. This error indicates the user did not have the appropriate permissions. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use_passrole.html\">Granting a User Permissions to Pass a Role to an AWS Service</a>. </p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#AssociateDRTLogBucket": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bardockcustomerapiservice.v20160616#AssociateDRTLogBucketRequest"
      },
      "output": {
        "target": "com.amazonaws.bardockcustomerapiservice.v20160616#AssociateDRTLogBucketResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#AccessDeniedForDependencyException"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#InternalErrorException"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#LimitsExceededException"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#NoAssociatedRoleException"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#OptimisticLockException"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Authorizes the DDoS Response team (DRT) to access the specified Amazon S3 bucket containing your AWS WAF logs. You can associate up to 10 Amazon S3 buckets with your subscription.</p>\n\t        <p>To use the services of the DRT and make an <code>AssociateDRTLogBucket</code> request, you must be subscribed to the <a href=\"https://aws.amazon.com/premiumsupport/business-support/\">Business Support plan</a> or the <a href=\"https://aws.amazon.com/premiumsupport/enterprise-support/\">Enterprise Support plan</a>.</p>"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#AssociateDRTLogBucketRequest": {
      "type": "structure",
      "members": {
        "LogBucket": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#LogBucket",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 bucket that contains your AWS WAF logs.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#AssociateDRTLogBucketResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#AssociateDRTRole": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bardockcustomerapiservice.v20160616#AssociateDRTRoleRequest"
      },
      "output": {
        "target": "com.amazonaws.bardockcustomerapiservice.v20160616#AssociateDRTRoleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#AccessDeniedForDependencyException"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#InternalErrorException"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#OptimisticLockException"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Authorizes the DDoS Response team (DRT), using the specified role, to access your AWS account to assist with DDoS attack mitigation during potential attacks. This enables the DRT to inspect your AWS WAF configuration and create or update AWS WAF rules and web ACLs.</p>\n         <p>You can associate only one <code>RoleArn</code> with your subscription. If you submit an <code>AssociateDRTRole</code> request for an account that already has an associated role, the new <code>RoleArn</code> will replace the existing <code>RoleArn</code>. </p>\n         <p>Prior to making the <code>AssociateDRTRole</code> request, you must attach the <a href=\"https://console.aws.amazon.com/iam/home?#/policies/arn:aws:iam::aws:policy/service-role/AWSShieldDRTAccessPolicy\">AWSShieldDRTAccessPolicy</a> managed policy to the role you will specify in the request. For more information see <a href=\" https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_manage-attach-detach.html\">Attaching and Detaching IAM Policies</a>. The role must also trust the service principal <code> drt.shield.amazonaws.com</code>. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_elements_principal.html\">IAM JSON Policy Elements: Principal</a>.</p>\n\n         <p>The DRT will have access only to your AWS WAF and Shield resources. By submitting this request, you authorize the DRT to inspect your AWS WAF and Shield configuration and create and update AWS WAF rules and web ACLs on your behalf. The DRT takes these actions only if explicitly authorized by you.</p>\n         <p>You must have the <code>iam:PassRole</code> permission to make an <code>AssociateDRTRole</code> request. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use_passrole.html\">Granting a User Permissions to Pass a Role to an AWS Service</a>. </p>\n         <p>To use the services of the DRT and make an <code>AssociateDRTRole</code> request, you must be subscribed to the <a href=\"https://aws.amazon.com/premiumsupport/business-support/\">Business Support plan</a> or the <a href=\"https://aws.amazon.com/premiumsupport/enterprise-support/\">Enterprise Support plan</a>.</p>"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#AssociateDRTRoleRequest": {
      "type": "structure",
      "members": {
        "RoleArn": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the role the DRT will use to access your AWS account.</p>\n\t        <p>Prior to making the <code>AssociateDRTRole</code> request, you must attach the <a href=\"https://console.aws.amazon.com/iam/home?#/policies/arn:aws:iam::aws:policy/service-role/AWSShieldDRTAccessPolicy\">AWSShieldDRTAccessPolicy</a> managed policy to this role.  For more information see <a href=\" https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_manage-attach-detach.html\">Attaching and Detaching IAM Policies</a>.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#AssociateDRTRoleResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#AttackDetail": {
      "type": "structure",
      "members": {
        "AttackCounters": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#SummarizedCounterList",
          "traits": {
            "smithy.api#documentation": "<p>List of counters that describe the attack for the specified time period.</p>"
          }
        },
        "AttackId": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#AttackId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier (ID) of the attack.</p>"
          }
        },
        "AttackProperties": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#AttackProperties",
          "traits": {
            "smithy.api#documentation": "<p>The array of <a>AttackProperty</a> objects.</p>"
          }
        },
        "EndTime": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#AttackTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the attack ended, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.</p>"
          }
        },
        "Mitigations": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#MitigationList",
          "traits": {
            "smithy.api#documentation": "<p>List of mitigation actions taken for the attack.</p>"
          }
        },
        "ResourceArn": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN (Amazon Resource Name) of the resource that was attacked.</p>"
          }
        },
        "StartTime": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#AttackTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the attack started, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.</p>"
          }
        },
        "SubResources": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#SubResourceSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>If applicable, additional detail about the resource being attacked, for example, IP\n         address or URL.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of a DDoS attack.</p>"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#AttackId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "[a-zA-Z0-9\\\\-]*"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#AttackLayer": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "NETWORK": {
            "name": "NETWORK"
          },
          "APPLICATION": {
            "name": "APPLICATION"
          }
        }
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#AttackProperties": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bardockcustomerapiservice.v20160616#AttackProperty"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#AttackProperty": {
      "type": "structure",
      "members": {
        "AttackLayer": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#AttackLayer",
          "traits": {
            "smithy.api#documentation": "<p>The type of distributed denial of service (DDoS) event that was observed.\n            <code>NETWORK</code> indicates layer 3 and layer 4 events and <code>APPLICATION</code>\n         indicates layer 7 events.</p>"
          }
        },
        "AttackPropertyIdentifier": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#AttackPropertyIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>Defines the DDoS attack property information that is provided. The\n            <code>WORDPRESS_PINGBACK_REFLECTOR</code> and <code>WORDPRESS_PINGBACK_SOURCE</code>\n         values are valid only for WordPress reflective pingback DDoS attacks.</p>"
          }
        },
        "TopContributors": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#TopContributors",
          "traits": {
            "smithy.api#documentation": "<p>The array of <a>Contributor</a> objects that includes the top five contributors to an attack. </p>"
          }
        },
        "Total": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#Long",
          "traits": {
            "smithy.api#documentation": "<p>The total contributions made to this attack by all contributors, not just the five listed in the <code>TopContributors</code> list.</p>"
          }
        },
        "Unit": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#Unit",
          "traits": {
            "smithy.api#documentation": "<p>The unit of the <code>Value</code> of the contributions.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details of the described attack.</p>"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#AttackPropertyIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "DESTINATION_URL": {
            "name": "DESTINATION_URL"
          },
          "REFERRER": {
            "name": "REFERRER"
          },
          "SOURCE_ASN": {
            "name": "SOURCE_ASN"
          },
          "SOURCE_COUNTRY": {
            "name": "SOURCE_COUNTRY"
          },
          "SOURCE_IP_ADDRESS": {
            "name": "SOURCE_IP_ADDRESS"
          },
          "SOURCE_USER_AGENT": {
            "name": "SOURCE_USER_AGENT"
          },
          "WORDPRESS_PINGBACK_REFLECTOR": {
            "name": "WORDPRESS_PINGBACK_REFLECTOR"
          },
          "WORDPRESS_PINGBACK_SOURCE": {
            "name": "WORDPRESS_PINGBACK_SOURCE"
          }
        }
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#AttackSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bardockcustomerapiservice.v20160616#AttackSummary"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#AttackSummary": {
      "type": "structure",
      "members": {
        "AttackId": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier (ID) of the attack.</p>"
          }
        },
        "AttackVectors": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#AttackVectorDescriptionList",
          "traits": {
            "smithy.api#documentation": "<p>The list of attacks for a specified time period.</p>"
          }
        },
        "EndTime": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#AttackTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The end time of the attack, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.</p>"
          }
        },
        "ResourceArn": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN (Amazon Resource Name) of the resource that was attacked.</p>"
          }
        },
        "StartTime": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#AttackTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The start time of the attack, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summarizes all DDoS attacks for a specified time period.</p>"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#AttackTimestamp": {
      "type": "timestamp"
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#AttackVectorDescription": {
      "type": "structure",
      "members": {
        "VectorType": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#String",
          "traits": {
            "smithy.api#documentation": "<p>The attack type. Valid values:</p>\n\t        <ul>\n            <li>\n               <p>UDP_TRAFFIC</p>\n            </li>\n            <li>\n               <p>UDP_FRAGMENT</p>\n            </li>\n            <li>\n               <p>GENERIC_UDP_REFLECTION</p>\n            </li>\n            <li>\n               <p>DNS_REFLECTION</p>\n            </li>\n            <li>\n               <p>NTP_REFLECTION</p>\n            </li>\n            <li>\n               <p>CHARGEN_REFLECTION</p>\n            </li>\n            <li>\n               <p>SSDP_REFLECTION</p>\n            </li>\n            <li>\n               <p>PORT_MAPPER</p>\n            </li>\n            <li>\n               <p>RIP_REFLECTION</p>\n            </li>\n            <li>\n               <p>SNMP_REFLECTION</p>\n            </li>\n            <li>\n               <p>MSSQL_REFLECTION</p>\n            </li>\n            <li>\n               <p>NET_BIOS_REFLECTION</p>\n            </li>\n            <li>\n               <p>SYN_FLOOD</p>\n            </li>\n            <li>\n               <p>ACK_FLOOD</p>\n            </li>\n            <li>\n               <p>REQUEST_FLOOD</p> \n            </li>\n            <li>\n               <p>HTTP_REFLECTION</p>\n            </li>\n            <li>\n               <p>UDS_REFLECTION</p>\n            </li>\n            <li>\n               <p>MEMCACHED_REFLECTION</p>\n            </li>\n         </ul>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the attack.</p>"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#AttackVectorDescriptionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bardockcustomerapiservice.v20160616#AttackVectorDescription"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#AutoRenew": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "ENABLED": {
            "name": "ENABLED"
          },
          "DISABLED": {
            "name": "DISABLED"
          }
        }
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#Contributor": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the contributor. This is dependent on the <code>AttackPropertyIdentifier</code>. For example, if the <code>AttackPropertyIdentifier</code> is <code>SOURCE_COUNTRY</code>, the <code>Name</code> could be <code>United States</code>.</p>"
          }
        },
        "Value": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#Long",
          "traits": {
            "smithy.api#documentation": "<p>The contribution of this contributor expressed in <a>Protection</a> units. For example <code>10,000</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A contributor to the attack and their contribution.</p>"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#CreateProtection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bardockcustomerapiservice.v20160616#CreateProtectionRequest"
      },
      "output": {
        "target": "com.amazonaws.bardockcustomerapiservice.v20160616#CreateProtectionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#InternalErrorException"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#InvalidResourceException"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#LimitsExceededException"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#OptimisticLockException"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Enables AWS Shield Advanced for a specific AWS resource. The resource can be an Amazon\n         CloudFront distribution, Elastic Load Balancing load balancer, AWS Global Accelerator accelerator, Elastic IP Address, or an Amazon Route 53 hosted zone.</p>\n         <p>You can add protection to only a single resource with each CreateProtection request. If you want to add protection to multiple resources at once, use the <a href=\"https://console.aws.amazon.com/waf/\">AWS WAF console</a>. For more information see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/getting-started-ddos.html\">Getting Started with AWS Shield Advanced</a> and <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/configure-new-protection.html\">Add AWS Shield Advanced Protection to more AWS Resources</a>.</p>"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#CreateProtectionRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#ProtectionName",
          "traits": {
            "smithy.api#documentation": "<p>Friendly name for the <code>Protection</code> you are creating.</p>",
            "smithy.api#required": true
          }
        },
        "ResourceArn": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN (Amazon Resource Name) of the resource to be protected.</p>\n         <p>The ARN should be in one of the following formats:</p>\n         <ul>\n            <li>\n               <p>For an Application Load Balancer: <code>arn:aws:elasticloadbalancing:<i>region</i>:<i>account-id</i>:loadbalancer/app/<i>load-balancer-name</i>/<i>load-balancer-id</i>\n                  </code>\n               </p>\n            </li>\n            <li>\n               <p>For an Elastic Load Balancer (Classic Load Balancer): <code>arn:aws:elasticloadbalancing:<i>region</i>:<i>account-id</i>:loadbalancer/<i>load-balancer-name</i>\n                  </code>\n               </p>\n            </li>\n            <li>\n               <p>For an AWS CloudFront distribution: <code>arn:aws:cloudfront::<i>account-id</i>:distribution/<i>distribution-id</i>\n                  </code>\n               </p>\n            </li>\n            <li>\n               <p>For an AWS Global Accelerator accelerator: <code>arn:aws:globalaccelerator::<i>account-id</i>:accelerator/<i>accelerator-id</i>\n                  </code>\n               </p>\n            </li>\n            <li>\n               <p>For Amazon Route 53: <code>arn:aws:route53:::hostedzone/<i>hosted-zone-id</i>\n                  </code>\n               </p>\n            </li>\n            <li>\n               <p>For an Elastic IP address: <code>arn:aws:ec2:<i>region</i>:<i>account-id</i>:eip-allocation/<i>allocation-id</i>\n                  </code>\n               </p>\n            </li>\n         </ul>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#CreateProtectionResponse": {
      "type": "structure",
      "members": {
        "ProtectionId": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#ProtectionId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier (ID) for the <a>Protection</a> object that is\n         created.</p>"
          }
        }
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#CreateSubscription": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bardockcustomerapiservice.v20160616#CreateSubscriptionRequest"
      },
      "output": {
        "target": "com.amazonaws.bardockcustomerapiservice.v20160616#CreateSubscriptionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#InternalErrorException"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#ResourceAlreadyExistsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Activates AWS Shield Advanced for an account.</p>\n         <p>As part of this request you can specify <code>EmergencySettings</code> that automaticaly grant the DDoS response team (DRT) needed permissions to assist you during a suspected DDoS attack. For more information see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/authorize-DRT.html\">Authorize the DDoS Response Team to Create Rules and Web ACLs on Your Behalf</a>.</p>\n         <p>To use the services of the DRT, you must be subscribed to the <a href=\"https://aws.amazon.com/premiumsupport/business-support/\">Business Support\n            plan</a> or the <a href=\"https://aws.amazon.com/premiumsupport/enterprise-support/\">Enterprise\n               Support plan</a>.</p>\n      \n         <p>When you initally create a subscription, your subscription is set to be automatically renewed at the end of the existing subscription period.  You can change this by submitting an <code>UpdateSubscription</code> request. </p>"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#CreateSubscriptionRequest": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#CreateSubscriptionResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#DeleteProtection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bardockcustomerapiservice.v20160616#DeleteProtectionRequest"
      },
      "output": {
        "target": "com.amazonaws.bardockcustomerapiservice.v20160616#DeleteProtectionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#InternalErrorException"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#OptimisticLockException"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an AWS Shield Advanced <a>Protection</a>.</p>"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#DeleteProtectionRequest": {
      "type": "structure",
      "members": {
        "ProtectionId": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#ProtectionId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier (ID) for the <a>Protection</a> object to be\n         deleted.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#DeleteProtectionResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#DeleteSubscription": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bardockcustomerapiservice.v20160616#DeleteSubscriptionRequest"
      },
      "output": {
        "target": "com.amazonaws.bardockcustomerapiservice.v20160616#DeleteSubscriptionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#InternalErrorException"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#LockedSubscriptionException"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#deprecated": { },
        "smithy.api#documentation": "<p>Removes AWS Shield Advanced from an account. AWS Shield Advanced requires a 1-year subscription commitment. You cannot delete a subscription prior to the completion of that commitment. </p>"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#DeleteSubscriptionRequest": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#deprecated": { }
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#DeleteSubscriptionResponse": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#deprecated": { }
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#DescribeAttack": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bardockcustomerapiservice.v20160616#DescribeAttackRequest"
      },
      "output": {
        "target": "com.amazonaws.bardockcustomerapiservice.v20160616#DescribeAttackResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#InternalErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the details of a DDoS attack. </p>"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#DescribeAttackRequest": {
      "type": "structure",
      "members": {
        "AttackId": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#AttackId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier (ID) for the attack that to be described.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#DescribeAttackResponse": {
      "type": "structure",
      "members": {
        "Attack": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#AttackDetail",
          "traits": {
            "smithy.api#documentation": "<p>The attack that is described.</p>"
          }
        }
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#DescribeDRTAccess": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bardockcustomerapiservice.v20160616#DescribeDRTAccessRequest"
      },
      "output": {
        "target": "com.amazonaws.bardockcustomerapiservice.v20160616#DescribeDRTAccessResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#InternalErrorException"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the current role and list of Amazon S3 log buckets used by the DDoS Response team (DRT) to access your AWS account while assisting with attack mitigation.</p>"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#DescribeDRTAccessRequest": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#DescribeDRTAccessResponse": {
      "type": "structure",
      "members": {
        "LogBucketList": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#LogBucketList",
          "traits": {
            "smithy.api#documentation": "<p>The list of Amazon S3 buckets accessed by the DRT.</p>"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the role the DRT used to access your AWS account.</p>"
          }
        }
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#DescribeEmergencyContactSettings": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bardockcustomerapiservice.v20160616#DescribeEmergencyContactSettingsRequest"
      },
      "output": {
        "target": "com.amazonaws.bardockcustomerapiservice.v20160616#DescribeEmergencyContactSettingsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#InternalErrorException"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the email addresses that the DRT can use to contact you during a suspected attack.</p>"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#DescribeEmergencyContactSettingsRequest": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#DescribeEmergencyContactSettingsResponse": {
      "type": "structure",
      "members": {
        "EmergencyContactList": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#EmergencyContactList",
          "traits": {
            "smithy.api#documentation": "<p>A list of email addresses that the DRT can use to contact you during a suspected attack.</p>"
          }
        }
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#DescribeProtection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bardockcustomerapiservice.v20160616#DescribeProtectionRequest"
      },
      "output": {
        "target": "com.amazonaws.bardockcustomerapiservice.v20160616#DescribeProtectionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#InternalErrorException"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the details of a <a>Protection</a> object.</p>"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#DescribeProtectionRequest": {
      "type": "structure",
      "members": {
        "ProtectionId": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#ProtectionId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier (ID) for the <a>Protection</a> object that is\n         described. When submitting the <code>DescribeProtection</code> request you must provide either the <code>ResourceArn</code> or the <code>ProtectionID</code>, but not both.</p>"
          }
        },
        "ResourceArn": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN (Amazon Resource Name) of the AWS resource for the <a>Protection</a> object that is\n         described. When submitting the <code>DescribeProtection</code> request you must provide either the <code>ResourceArn</code> or the <code>ProtectionID</code>, but not both.</p>"
          }
        }
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#DescribeProtectionResponse": {
      "type": "structure",
      "members": {
        "Protection": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#Protection",
          "traits": {
            "smithy.api#documentation": "<p>The <a>Protection</a> object that is described.</p>"
          }
        }
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#DescribeSubscription": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bardockcustomerapiservice.v20160616#DescribeSubscriptionRequest"
      },
      "output": {
        "target": "com.amazonaws.bardockcustomerapiservice.v20160616#DescribeSubscriptionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#InternalErrorException"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides details about the AWS Shield Advanced subscription for an account.</p>"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#DescribeSubscriptionRequest": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#DescribeSubscriptionResponse": {
      "type": "structure",
      "members": {
        "Subscription": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#Subscription",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Shield Advanced subscription details for an account.</p>"
          }
        }
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#DisassociateDRTLogBucket": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bardockcustomerapiservice.v20160616#DisassociateDRTLogBucketRequest"
      },
      "output": {
        "target": "com.amazonaws.bardockcustomerapiservice.v20160616#DisassociateDRTLogBucketResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#AccessDeniedForDependencyException"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#InternalErrorException"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#NoAssociatedRoleException"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#OptimisticLockException"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes the DDoS Response team's (DRT) access to the specified Amazon S3 bucket containing your AWS WAF logs.</p>\n\t        <p>To make a <code>DisassociateDRTLogBucket</code> request, you must be subscribed to the <a href=\"https://aws.amazon.com/premiumsupport/business-support/\">Business Support plan</a> or the <a href=\"https://aws.amazon.com/premiumsupport/enterprise-support/\">Enterprise Support plan</a>. However, if you are not subscribed to one of these support plans, but had been previously and had granted the DRT access to your account, you can submit a <code>DisassociateDRTLogBucket</code> request to remove this access.</p>"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#DisassociateDRTLogBucketRequest": {
      "type": "structure",
      "members": {
        "LogBucket": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#LogBucket",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 bucket that contains your AWS WAF logs.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#DisassociateDRTLogBucketResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#DisassociateDRTRole": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bardockcustomerapiservice.v20160616#DisassociateDRTRoleRequest"
      },
      "output": {
        "target": "com.amazonaws.bardockcustomerapiservice.v20160616#DisassociateDRTRoleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#InternalErrorException"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#OptimisticLockException"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes the DDoS Response team's (DRT) access to your AWS account.</p>\n\t        <p>To make a <code>DisassociateDRTRole</code> request, you must be subscribed to the <a href=\"https://aws.amazon.com/premiumsupport/business-support/\">Business Support plan</a> or the <a href=\"https://aws.amazon.com/premiumsupport/enterprise-support/\">Enterprise Support plan</a>. However, if you are not subscribed to one of these support plans, but had been previously and had granted the DRT access to your account, you can submit a <code>DisassociateDRTRole</code> request to remove this access.</p>"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#DisassociateDRTRoleRequest": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#DisassociateDRTRoleResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#Double": {
      "type": "double"
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#DurationInSeconds": {
      "type": "long",
      "traits": {
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#EmailAddress": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 150
        },
        "smithy.api#pattern": "^\\S+@\\S+\\.\\S+$"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#EmergencyContact": {
      "type": "structure",
      "members": {
        "EmailAddress": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#EmailAddress",
          "traits": {
            "smithy.api#documentation": "<p>An email address that the DRT can use to contact you during a suspected attack.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contact information that the DRT can use to contact you during a suspected attack.</p>"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#EmergencyContactList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bardockcustomerapiservice.v20160616#EmergencyContact"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#GetSubscriptionState": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bardockcustomerapiservice.v20160616#GetSubscriptionStateRequest"
      },
      "output": {
        "target": "com.amazonaws.bardockcustomerapiservice.v20160616#GetSubscriptionStateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#InternalErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the <code>SubscriptionState</code>, either <code>Active</code> or <code>Inactive</code>.</p>"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#GetSubscriptionStateRequest": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#GetSubscriptionStateResponse": {
      "type": "structure",
      "members": {
        "SubscriptionState": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#SubscriptionState",
          "traits": {
            "smithy.api#documentation": "<p>The status of the subscription.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#Integer": {
      "type": "integer"
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#InternalErrorException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Exception that indicates that a problem occurred with the service infrastructure. You\n         can retry the request.</p>",
        "smithy.api#error": "server"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#InvalidOperationException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Exception that indicates that the operation would not cause any change to occur.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#InvalidPaginationTokenException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Exception that indicates that the NextToken specified in the request is invalid. Submit the request using the NextToken value that was returned in the response.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#InvalidParameterException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Exception that indicates that the parameters passed to the API are invalid. </p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#InvalidResourceException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Exception that indicates that the resource is invalid. You might not have access to the resource, or the resource might not exist.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#Limit": {
      "type": "structure",
      "members": {
        "Max": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#Long",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of protections that can be created for the specified <code>Type</code>.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of protection.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies how many protections of a given type you can create.</p>"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#LimitNumber": {
      "type": "long"
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#LimitType": {
      "type": "string"
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#Limits": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bardockcustomerapiservice.v20160616#Limit"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#LimitsExceededException": {
      "type": "structure",
      "members": {
        "Limit": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#LimitNumber"
        },
        "Type": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#LimitType"
        },
        "message": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Exception that indicates that the operation would exceed a limit.</p>\n         <p>\n            <code>Type</code> is the type of limit that would be exceeded.</p>\n         <p>\n            <code>Limit</code> is the threshold that would be exceeded.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#ListAttacks": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bardockcustomerapiservice.v20160616#ListAttacksRequest"
      },
      "output": {
        "target": "com.amazonaws.bardockcustomerapiservice.v20160616#ListAttacksResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#InternalErrorException"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#InvalidParameterException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns all ongoing DDoS attacks or all DDoS attacks during a specified time\n         period.</p>"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#ListAttacksRequest": {
      "type": "structure",
      "members": {
        "EndTime": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#TimeRange",
          "traits": {
            "smithy.api#documentation": "<p>The end of the time period for the attacks. This is a <code>timestamp</code> type. The sample request above indicates a <code>number</code> type because the default used by WAF is Unix time in seconds. However any valid <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp format</a>  is allowed.  </p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of <a>AttackSummary</a> objects to be returned. If this is left blank, the first 20 results will be returned.</p>\n         <p>This is a maximum value; it is possible that AWS WAF will return the results in smaller batches. That is, the number of <a>AttackSummary</a> objects returned could be less than <code>MaxResults</code>, even if there are still more <a>AttackSummary</a> objects yet to return. If there are more <a>AttackSummary</a> objects to return, AWS WAF will always also return a <code>NextToken</code>.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#Token",
          "traits": {
            "smithy.api#documentation": "<p>The <code>ListAttacksRequest.NextMarker</code> value from a previous call to <code>ListAttacksRequest</code>. Pass null if this is the first call.</p>"
          }
        },
        "ResourceArns": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#ResourceArnFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The ARN (Amazon Resource Name) of the resource that was attacked. If this is left\n         blank, all applicable resources for this account will be included.</p>"
          }
        },
        "StartTime": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#TimeRange",
          "traits": {
            "smithy.api#documentation": "<p>The start of the time period for the attacks. This is a <code>timestamp</code> type. The sample request above indicates a <code>number</code> type because the default used by WAF is Unix time in seconds. However any valid <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp format</a>  is allowed.  </p>"
          }
        }
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#ListAttacksResponse": {
      "type": "structure",
      "members": {
        "AttackSummaries": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#AttackSummaries",
          "traits": {
            "smithy.api#documentation": "<p>The attack information for the specified time range.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#Token",
          "traits": {
            "smithy.api#documentation": "<p>The token returned by a previous call to indicate that there is more data available.\n         If not null, more results are available. Pass this value for the <code>NextMarker</code>\n         parameter in a subsequent call to <code>ListAttacks</code> to retrieve the next set of\n         items.</p>\n         <p>AWS WAF might return the list of <a>AttackSummary</a> objects in batches smaller than the number specified by MaxResults. If there are more <a>AttackSummary</a> objects to return, AWS WAF will always also return a <code>NextToken</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#ListProtections": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bardockcustomerapiservice.v20160616#ListProtectionsRequest"
      },
      "output": {
        "target": "com.amazonaws.bardockcustomerapiservice.v20160616#ListProtectionsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#InternalErrorException"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#InvalidPaginationTokenException"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all <a>Protection</a> objects for the account.</p>"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#ListProtectionsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of <a>Protection</a> objects to be returned. If this is\n         left blank the first 20 results will be returned.</p>\n         <p>This is a maximum value; it is possible that AWS WAF will return the results in smaller batches. That is, the number of <a>Protection</a> objects returned could be less than <code>MaxResults</code>, even if there are still more <a>Protection</a> objects yet to return. If there are more <a>Protection</a> objects to return, AWS WAF will always also return a <code>NextToken</code>.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#Token",
          "traits": {
            "smithy.api#documentation": "<p>The <code>ListProtectionsRequest.NextToken</code> value from a previous call to <code>ListProtections</code>. Pass null if this is the first call.</p>"
          }
        }
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#ListProtectionsResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#Token",
          "traits": {
            "smithy.api#documentation": "<p>If you specify a value for <code>MaxResults</code> and you have more Protections than the value of MaxResults, AWS Shield Advanced returns a NextToken value in the response that allows you to list another group of Protections. For the second and subsequent ListProtections requests, specify the value of NextToken from the previous response to get information about another batch of Protections.</p>\n         <p>AWS WAF might return the list of <a>Protection</a> objects in batches smaller than the number specified by MaxResults. If there are more <a>Protection</a> objects to return, AWS WAF will always also return a <code>NextToken</code>.</p>"
          }
        },
        "Protections": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#Protections",
          "traits": {
            "smithy.api#documentation": "<p>The array of enabled <a>Protection</a> objects.</p>"
          }
        }
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#LockedSubscriptionException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You are trying to update a subscription that has not yet completed the 1-year commitment. You can change the <code>AutoRenew</code> parameter during the last 30 days of your subscription. This exception indicates that you are attempting to change <code>AutoRenew</code> prior to that period.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#LogBucket": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 63
        },
        "smithy.api#pattern": "^([a-z]|(\\d(?!\\d{0,2}\\.\\d{1,3}\\.\\d{1,3}\\.\\d{1,3})))([a-z\\d]|(\\.(?!(\\.|-)))|(-(?!\\.))){1,61}[a-z\\d]$"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#LogBucketList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bardockcustomerapiservice.v20160616#LogBucket"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#Long": {
      "type": "long"
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 0,
          "max": 10000
        }
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#Mitigation": {
      "type": "structure",
      "members": {
        "MitigationName": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the mitigation taken for this attack.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The mitigation applied to a DDoS attack.</p>"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#MitigationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bardockcustomerapiservice.v20160616#Mitigation"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#NoAssociatedRoleException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The ARN of the role that you specifed does not exist.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#OptimisticLockException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Exception that indicates that the protection state has been modified by another\n         client. You can retry the request.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#Protection": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#ProtectionId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier (ID) of the protection.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#ProtectionName",
          "traits": {
            "smithy.api#documentation": "<p>The friendly name of the protection. For example, <code>My CloudFront distributions</code>.</p>"
          }
        },
        "ResourceArn": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN (Amazon Resource Name) of the AWS resource that is protected.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that represents a resource that is under DDoS protection.</p>"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#ProtectionId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 36
        },
        "smithy.api#pattern": "[a-zA-Z0-9\\\\-]*"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#ProtectionName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "[ a-zA-Z0-9_\\\\.\\\\-]*"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#Protections": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bardockcustomerapiservice.v20160616#Protection"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#ResourceAlreadyExistsException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Exception indicating the specified resource already exists.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#ResourceArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:aws.*"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#ResourceArnFilterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bardockcustomerapiservice.v20160616#ResourceArn"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Exception indicating the specified resource does not exist.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#RoleArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:aws:iam::\\d{12}:role/?[a-zA-Z_0-9+=,.@\\-_/]+"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#String": {
      "type": "string"
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#SubResourceSummary": {
      "type": "structure",
      "members": {
        "AttackVectors": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#SummarizedAttackVectorList",
          "traits": {
            "smithy.api#documentation": "<p>The list of attack types and associated counters.</p>"
          }
        },
        "Counters": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#SummarizedCounterList",
          "traits": {
            "smithy.api#documentation": "<p>The counters that describe the details of the attack.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier (ID) of the <code>SubResource</code>.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#SubResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The <code>SubResource</code> type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The attack information for the specified SubResource.</p>"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#SubResourceSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bardockcustomerapiservice.v20160616#SubResourceSummary"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#SubResourceType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "IP": {
            "name": "IP"
          },
          "URL": {
            "name": "URL"
          }
        }
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#Subscription": {
      "type": "structure",
      "members": {
        "AutoRenew": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#AutoRenew",
          "traits": {
            "smithy.api#documentation": "<p>If <code>ENABLED</code>, the subscription will be automatically renewed at the end of the existing subscription period.</p>\n         <p>When you initally create a subscription, <code>AutoRenew</code> is set to <code>ENABLED</code>. You can change this by submitting an <code>UpdateSubscription</code> request. If the <code>UpdateSubscription</code> request does not included a value for <code>AutoRenew</code>, the existing value for <code>AutoRenew</code> remains unchanged.</p>"
          }
        },
        "EndTime": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time your subscription will end.</p>"
          }
        },
        "Limits": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#Limits",
          "traits": {
            "smithy.api#documentation": "<p>Specifies how many protections of a given type you can create.</p>"
          }
        },
        "StartTime": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The start time of the subscription, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.</p>"
          }
        },
        "TimeCommitmentInSeconds": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#DurationInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>The length, in seconds, of the AWS Shield Advanced subscription for the account.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the AWS Shield Advanced subscription for an account.</p>"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#SubscriptionState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "ACTIVE": {
            "name": "ACTIVE"
          },
          "INACTIVE": {
            "name": "INACTIVE"
          }
        }
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#SummarizedAttackVector": {
      "type": "structure",
      "members": {
        "VectorCounters": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#SummarizedCounterList",
          "traits": {
            "smithy.api#documentation": "<p>The list of counters that describe the details of the attack.</p>"
          }
        },
        "VectorType": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#String",
          "traits": {
            "smithy.api#documentation": "<p>The attack type, for example, SNMP reflection or SYN flood.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A summary of information about the attack.</p>"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#SummarizedAttackVectorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bardockcustomerapiservice.v20160616#SummarizedAttackVector"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#SummarizedCounter": {
      "type": "structure",
      "members": {
        "Average": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#Double",
          "traits": {
            "smithy.api#documentation": "<p>The average value of the counter for a specified time period.</p>"
          }
        },
        "Max": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#Double",
          "traits": {
            "smithy.api#documentation": "<p>The maximum value of the counter for a specified time period.</p>"
          }
        },
        "N": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of counters for a specified time period.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#String",
          "traits": {
            "smithy.api#documentation": "<p>The counter name.</p>"
          }
        },
        "Sum": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#Double",
          "traits": {
            "smithy.api#documentation": "<p>The total of counter values for a specified time period.</p>"
          }
        },
        "Unit": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#String",
          "traits": {
            "smithy.api#documentation": "<p>The unit of the counters.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The counter that describes a DDoS attack.</p>"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#SummarizedCounterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bardockcustomerapiservice.v20160616#SummarizedCounter"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#TimeRange": {
      "type": "structure",
      "members": {
        "FromInclusive": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#AttackTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The start time, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.</p>"
          }
        },
        "ToExclusive": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#AttackTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The end time, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The time range.</p>"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#Timestamp": {
      "type": "timestamp"
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#Token": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 4096
        },
        "smithy.api#pattern": "^.*$"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#TopContributors": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bardockcustomerapiservice.v20160616#Contributor"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#Unit": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "BITS": {
            "name": "BITS"
          },
          "BYTES": {
            "name": "BYTES"
          },
          "PACKETS": {
            "name": "PACKETS"
          },
          "REQUESTS": {
            "name": "REQUESTS"
          }
        }
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#UpdateEmergencyContactSettings": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bardockcustomerapiservice.v20160616#UpdateEmergencyContactSettingsRequest"
      },
      "output": {
        "target": "com.amazonaws.bardockcustomerapiservice.v20160616#UpdateEmergencyContactSettingsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#InternalErrorException"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#OptimisticLockException"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Updates the details of the list of email addresses that the DRT can use to contact you during a suspected attack.</p>"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#UpdateEmergencyContactSettingsRequest": {
      "type": "structure",
      "members": {
        "EmergencyContactList": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#EmergencyContactList",
          "traits": {
            "smithy.api#documentation": "<p>A list of email addresses that the DRT can use to contact you during a suspected attack.</p>"
          }
        }
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#UpdateEmergencyContactSettingsResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#UpdateSubscription": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bardockcustomerapiservice.v20160616#UpdateSubscriptionRequest"
      },
      "output": {
        "target": "com.amazonaws.bardockcustomerapiservice.v20160616#UpdateSubscriptionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#InternalErrorException"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#LockedSubscriptionException"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#OptimisticLockException"
        },
        {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Updates the details of an existing subscription. Only enter values for parameters you want to change. Empty parameters are not updated.</p>"
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#UpdateSubscriptionRequest": {
      "type": "structure",
      "members": {
        "AutoRenew": {
          "target": "com.amazonaws.bardockcustomerapiservice.v20160616#AutoRenew",
          "traits": {
            "smithy.api#documentation": "<p>When you initally create a subscription, <code>AutoRenew</code> is set to <code>ENABLED</code>. If <code>ENABLED</code>, the subscription will be automatically renewed at the end of the existing subscription period. You can change this by submitting an <code>UpdateSubscription</code> request. If the <code>UpdateSubscription</code> request does not included a value for <code>AutoRenew</code>, the existing value for <code>AutoRenew</code> remains unchanged.</p>"
          }
        }
      }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#UpdateSubscriptionResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.bardockcustomerapiservice.v20160616#errorMessage": {
      "type": "string"
    }
  }
}
