{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      },
      {
        "ids": [
          "HttpUriConflict"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazonaws.sso.oidc#AWSSSOOIDCService": {
      "type": "service",
      "version": "2019-06-10",
      "operations": [
        {
          "target": "com.amazonaws.sso.oidc#CreateToken"
        },
        {
          "target": "com.amazonaws.sso.oidc#RegisterClient"
        },
        {
          "target": "com.amazonaws.sso.oidc#StartDeviceAuthorization"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "SSO OIDC",
          "arnNamespace": "awsssooidc",
          "cloudFormationName": "SSOOIDC",
          "cloudTrailEventSource": "oidc.sso.amazonaws.com"
        },
        "smithy.api#documentation": "<p>AWS Single Sign-On (SSO) OpenID Connect (OIDC) is a web service that enables a client\n      (such as AWS CLI or a native application) to register with AWS SSO. The service also\n      enables the client to fetch the user’s access token upon successful authentication and\n      authorization with AWS SSO. This service conforms with the OAuth 2.0 based implementation of\n      the device authorization grant standard (<a href=\"https://tools.ietf.org/html/rfc8628\">https://tools.ietf.org/html/rfc8628</a>).</p>\n    \n         <p>For general information about AWS SSO, see <a href=\"https://docs.aws.amazon.com/singlesignon/latest/userguide/what-is.html\">What is AWS\n        Single Sign-On?</a> in the <i>AWS SSO User Guide</i>.</p>\n    \n         <p>This API reference guide describes the AWS SSO OIDC operations that you can call\n      programatically and includes detailed information on data types and errors.</p>\n    \n         <note>\n            <p>AWS provides SDKs that consist of libraries and sample code for various programming\n        languages and platforms such as Java, Ruby, .Net, iOS, and Android. The SDKs provide a\n        convenient way to create programmatic access to AWS SSO and other AWS services. For more\n        information about the AWS SDKs, including how to download and install them, see <a href=\"http://aws.amazon.com/tools/\">Tools for Amazon Web Services</a>.</p>\n         </note>",
        "smithy.api#protocols": [
          {
            "name": "aws.rest-json-1.1",
            "auth": [
              "aws.v4"
            ]
          }
        ],
        "smithy.api#title": "AWS SSO OIDC"
      }
    },
    "com.amazonaws.sso.oidc#AccessDeniedException": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.amazonaws.sso.oidc#Error"
        },
        "error_description": {
          "target": "com.amazonaws.sso.oidc#ErrorDescription"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.sso.oidc#AccessToken": {
      "type": "string"
    },
    "com.amazonaws.sso.oidc#AuthCode": {
      "type": "string"
    },
    "com.amazonaws.sso.oidc#AuthorizationPendingException": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.amazonaws.sso.oidc#Error"
        },
        "error_description": {
          "target": "com.amazonaws.sso.oidc#ErrorDescription"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates that a request to authorize a client with an access user session token is pending.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.sso.oidc#ClientId": {
      "type": "string"
    },
    "com.amazonaws.sso.oidc#ClientName": {
      "type": "string"
    },
    "com.amazonaws.sso.oidc#ClientSecret": {
      "type": "string"
    },
    "com.amazonaws.sso.oidc#ClientType": {
      "type": "string"
    },
    "com.amazonaws.sso.oidc#CreateToken": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sso.oidc#CreateTokenRequest"
      },
      "output": {
        "target": "com.amazonaws.sso.oidc#CreateTokenResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.sso.oidc#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.sso.oidc#AuthorizationPendingException"
        },
        {
          "target": "com.amazonaws.sso.oidc#ExpiredTokenException"
        },
        {
          "target": "com.amazonaws.sso.oidc#InternalServerException"
        },
        {
          "target": "com.amazonaws.sso.oidc#InvalidClientException"
        },
        {
          "target": "com.amazonaws.sso.oidc#InvalidGrantException"
        },
        {
          "target": "com.amazonaws.sso.oidc#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.sso.oidc#InvalidScopeException"
        },
        {
          "target": "com.amazonaws.sso.oidc#SlowDownException"
        },
        {
          "target": "com.amazonaws.sso.oidc#UnauthorizedClientException"
        },
        {
          "target": "com.amazonaws.sso.oidc#UnsupportedGrantTypeException"
        }
      ],
      "traits": {
        "smithy.api#auth": [
          "none"
        ],
        "smithy.api#documentation": "<p>Creates and returns an access token for the authorized client. The access token issued\n      will be used to fetch short-term credentials for the assigned roles in the AWS\n      account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/token",
          "code": 200
        }
      }
    },
    "com.amazonaws.sso.oidc#CreateTokenRequest": {
      "type": "structure",
      "members": {
        "clientId": {
          "target": "com.amazonaws.sso.oidc#ClientId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier string for each client. This value should come from the persisted result of the <a>RegisterClient</a> API.</p>",
            "smithy.api#required": true
          }
        },
        "clientSecret": {
          "target": "com.amazonaws.sso.oidc#ClientSecret",
          "traits": {
            "smithy.api#documentation": "<p>A secret string generated for the client. This value should come from the persisted result of the <a>RegisterClient</a> API.</p>",
            "smithy.api#required": true
          }
        },
        "code": {
          "target": "com.amazonaws.sso.oidc#AuthCode",
          "traits": {
            "smithy.api#documentation": "<p>The authorization code received from the authorization service. This parameter is required to perform an authorization grant request to get access to a token.</p>"
          }
        },
        "deviceCode": {
          "target": "com.amazonaws.sso.oidc#DeviceCode",
          "traits": {
            "smithy.api#documentation": "<p>Used only when calling this API for the device code grant type. This short-term code is\n      used to identify this authentication attempt. This should come from an in-memory reference to\n      the result of the <a>StartDeviceAuthorization</a> API.</p>",
            "smithy.api#required": true
          }
        },
        "grantType": {
          "target": "com.amazonaws.sso.oidc#GrantType",
          "traits": {
            "smithy.api#documentation": "<p>Supports grant types for authorization code, refresh token, and device code request.</p>",
            "smithy.api#required": true
          }
        },
        "redirectUri": {
          "target": "com.amazonaws.sso.oidc#URI",
          "traits": {
            "smithy.api#documentation": "<p>The location of the application that will receive the authorization code. Users authorize\n      the service to send the request to this location.</p>"
          }
        },
        "refreshToken": {
          "target": "com.amazonaws.sso.oidc#RefreshToken",
          "traits": {
            "smithy.api#documentation": "<p>The token used to obtain an access token in the event that the access token is invalid or expired. This token is not issued by the service.</p>"
          }
        },
        "scope": {
          "target": "com.amazonaws.sso.oidc#Scopes",
          "traits": {
            "smithy.api#documentation": "<p>The list of scopes that is defined by the client. Upon authorization, this list is used to\n      restrict permissions when granting an access token.</p>"
          }
        }
      }
    },
    "com.amazonaws.sso.oidc#CreateTokenResponse": {
      "type": "structure",
      "members": {
        "accessToken": {
          "target": "com.amazonaws.sso.oidc#AccessToken",
          "traits": {
            "smithy.api#documentation": "<p>An opaque token to access AWS SSO resources assigned to a user.</p>"
          }
        },
        "expiresIn": {
          "target": "com.amazonaws.sso.oidc#ExpirationInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the time in seconds when an access token will expire.</p>"
          }
        },
        "idToken": {
          "target": "com.amazonaws.sso.oidc#IdToken",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the user that associated with the access token, if present.</p>"
          }
        },
        "refreshToken": {
          "target": "com.amazonaws.sso.oidc#RefreshToken",
          "traits": {
            "smithy.api#documentation": "<p>A token that, if present, can be used to refresh a previously issued access token that\n      might have expired.</p>"
          }
        },
        "tokenType": {
          "target": "com.amazonaws.sso.oidc#TokenType",
          "traits": {
            "smithy.api#documentation": "<p>Used to notify the client that the returned token is an access token. The supported type\n      is <code>BearerToken</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.sso.oidc#DeviceCode": {
      "type": "string"
    },
    "com.amazonaws.sso.oidc#Error": {
      "type": "string"
    },
    "com.amazonaws.sso.oidc#ErrorDescription": {
      "type": "string"
    },
    "com.amazonaws.sso.oidc#ExpirationInSeconds": {
      "type": "integer"
    },
    "com.amazonaws.sso.oidc#ExpiredTokenException": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.amazonaws.sso.oidc#Error"
        },
        "error_description": {
          "target": "com.amazonaws.sso.oidc#ErrorDescription"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates that the token issued by the service is expired and is no longer valid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.sso.oidc#GrantType": {
      "type": "string"
    },
    "com.amazonaws.sso.oidc#IdToken": {
      "type": "string"
    },
    "com.amazonaws.sso.oidc#InternalServerException": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.amazonaws.sso.oidc#Error"
        },
        "error_description": {
          "target": "com.amazonaws.sso.oidc#ErrorDescription"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates that an error from the service occurred while trying to process a request.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.sso.oidc#IntervalInSeconds": {
      "type": "integer"
    },
    "com.amazonaws.sso.oidc#InvalidClientException": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.amazonaws.sso.oidc#Error"
        },
        "error_description": {
          "target": "com.amazonaws.sso.oidc#ErrorDescription"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates that the <code>clientId</code> or <code>clientSecret</code> in the request is\n      invalid. For example, this can occur when a client sends an incorrect <code>clientId</code> or\n      an expired <code>clientSecret</code>.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 401
      }
    },
    "com.amazonaws.sso.oidc#InvalidClientMetadataException": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.amazonaws.sso.oidc#Error"
        },
        "error_description": {
          "target": "com.amazonaws.sso.oidc#ErrorDescription"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates that the client information sent in the request during registration is invalid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.sso.oidc#InvalidGrantException": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.amazonaws.sso.oidc#Error"
        },
        "error_description": {
          "target": "com.amazonaws.sso.oidc#ErrorDescription"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates that a request contains an invalid grant. This can occur if a client makes a <a>CreateToken</a> request with an invalid grant type.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.sso.oidc#InvalidRequestException": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.amazonaws.sso.oidc#Error"
        },
        "error_description": {
          "target": "com.amazonaws.sso.oidc#ErrorDescription"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates that something is wrong with the input to the request. For example, a required\n      parameter might be missing or out of range.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.sso.oidc#InvalidScopeException": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.amazonaws.sso.oidc#Error"
        },
        "error_description": {
          "target": "com.amazonaws.sso.oidc#ErrorDescription"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates that the scope provided in the request is invalid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.sso.oidc#LongTimeStampType": {
      "type": "long"
    },
    "com.amazonaws.sso.oidc#RefreshToken": {
      "type": "string"
    },
    "com.amazonaws.sso.oidc#RegisterClient": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sso.oidc#RegisterClientRequest"
      },
      "output": {
        "target": "com.amazonaws.sso.oidc#RegisterClientResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.sso.oidc#InternalServerException"
        },
        {
          "target": "com.amazonaws.sso.oidc#InvalidClientMetadataException"
        },
        {
          "target": "com.amazonaws.sso.oidc#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.sso.oidc#InvalidScopeException"
        }
      ],
      "traits": {
        "smithy.api#auth": [
          "none"
        ],
        "smithy.api#documentation": "<p>Registers a client with AWS SSO. This allows clients to initiate device authorization.\n      The output should be persisted for reuse through many authentication requests.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/client/register",
          "code": 200
        }
      }
    },
    "com.amazonaws.sso.oidc#RegisterClientRequest": {
      "type": "structure",
      "members": {
        "clientName": {
          "target": "com.amazonaws.sso.oidc#ClientName",
          "traits": {
            "smithy.api#documentation": "<p>The friendly name of the client.</p>",
            "smithy.api#required": true
          }
        },
        "clientType": {
          "target": "com.amazonaws.sso.oidc#ClientType",
          "traits": {
            "smithy.api#documentation": "<p>The type of client. The service supports only <code>public</code> as a client type. Anything other than public will be rejected by the service.</p>",
            "smithy.api#required": true
          }
        },
        "scopes": {
          "target": "com.amazonaws.sso.oidc#Scopes",
          "traits": {
            "smithy.api#documentation": "<p>The list of scopes that are defined by the client. Upon authorization, this list is used\n      to restrict permissions when granting an access token.</p>"
          }
        }
      }
    },
    "com.amazonaws.sso.oidc#RegisterClientResponse": {
      "type": "structure",
      "members": {
        "authorizationEndpoint": {
          "target": "com.amazonaws.sso.oidc#URI",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint where the client can request authorization.</p>"
          }
        },
        "clientId": {
          "target": "com.amazonaws.sso.oidc#ClientId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier string for each client. This client uses this identifier to get\n      authenticated by the service in subsequent calls.</p>"
          }
        },
        "clientIdIssuedAt": {
          "target": "com.amazonaws.sso.oidc#LongTimeStampType",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the time at which the <code>clientId</code> and <code>clientSecret</code> were issued.</p>"
          }
        },
        "clientSecret": {
          "target": "com.amazonaws.sso.oidc#ClientSecret",
          "traits": {
            "smithy.api#documentation": "<p>A secret string generated for the client. The client will use this string to get\n      authenticated by the service in subsequent calls.</p>"
          }
        },
        "clientSecretExpiresAt": {
          "target": "com.amazonaws.sso.oidc#LongTimeStampType",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the time at which the <code>clientId</code> and <code>clientSecret</code> will become invalid.</p>"
          }
        },
        "tokenEndpoint": {
          "target": "com.amazonaws.sso.oidc#URI",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint where the client can get an access token.</p>"
          }
        }
      }
    },
    "com.amazonaws.sso.oidc#Scope": {
      "type": "string"
    },
    "com.amazonaws.sso.oidc#Scopes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.sso.oidc#Scope"
      }
    },
    "com.amazonaws.sso.oidc#SlowDownException": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.amazonaws.sso.oidc#Error"
        },
        "error_description": {
          "target": "com.amazonaws.sso.oidc#ErrorDescription"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates that the client is making the request too frequently and is more than the service can handle. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.sso.oidc#StartDeviceAuthorization": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.sso.oidc#StartDeviceAuthorizationRequest"
      },
      "output": {
        "target": "com.amazonaws.sso.oidc#StartDeviceAuthorizationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.sso.oidc#InternalServerException"
        },
        {
          "target": "com.amazonaws.sso.oidc#InvalidClientException"
        },
        {
          "target": "com.amazonaws.sso.oidc#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.sso.oidc#SlowDownException"
        },
        {
          "target": "com.amazonaws.sso.oidc#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#auth": [
          "none"
        ],
        "smithy.api#documentation": "<p>Initiates device authorization by requesting a pair of verification codes from the authorization service.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/device_authorization",
          "code": 200
        }
      }
    },
    "com.amazonaws.sso.oidc#StartDeviceAuthorizationRequest": {
      "type": "structure",
      "members": {
        "clientId": {
          "target": "com.amazonaws.sso.oidc#ClientId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier string for the client that is registered with AWS SSO. This value\n      should come from the persisted result of the <a>RegisterClient</a> API\n      operation.</p>",
            "smithy.api#required": true
          }
        },
        "clientSecret": {
          "target": "com.amazonaws.sso.oidc#ClientSecret",
          "traits": {
            "smithy.api#documentation": "<p>A secret string that is generated for the client. This value should come from the\n      persisted result of the <a>RegisterClient</a> API operation.</p>",
            "smithy.api#required": true
          }
        },
        "startUrl": {
          "target": "com.amazonaws.sso.oidc#URI",
          "traits": {
            "smithy.api#documentation": "<p>The URL for the AWS SSO user portal. For more information, see <a href=\"https://docs.aws.amazon.com/singlesignon/latest/userguide/using-the-portal.html\">Using\n        the User Portal</a> in the <i>AWS Single Sign-On User Guide</i>.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.sso.oidc#StartDeviceAuthorizationResponse": {
      "type": "structure",
      "members": {
        "deviceCode": {
          "target": "com.amazonaws.sso.oidc#DeviceCode",
          "traits": {
            "smithy.api#documentation": "<p>The short-lived code that is used by the device when polling for a session token.</p>"
          }
        },
        "expiresIn": {
          "target": "com.amazonaws.sso.oidc#ExpirationInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the number of seconds in which the verification code will become invalid.</p>"
          }
        },
        "interval": {
          "target": "com.amazonaws.sso.oidc#IntervalInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the number of seconds the client must wait between attempts when polling for a session.</p>"
          }
        },
        "userCode": {
          "target": "com.amazonaws.sso.oidc#UserCode",
          "traits": {
            "smithy.api#documentation": "<p>A one-time user verification code. This is needed to authorize an in-use device.</p>"
          }
        },
        "verificationUri": {
          "target": "com.amazonaws.sso.oidc#URI",
          "traits": {
            "smithy.api#documentation": "<p>The URI of the verification page that takes the <code>userCode</code> to authorize the device.</p>"
          }
        },
        "verificationUriComplete": {
          "target": "com.amazonaws.sso.oidc#URI",
          "traits": {
            "smithy.api#documentation": "<p>An alternate URL that the client can use to automatically launch a browser. This process\n      skips the manual step in which the user visits the verification page and enters their\n      code.</p>"
          }
        }
      }
    },
    "com.amazonaws.sso.oidc#TokenType": {
      "type": "string"
    },
    "com.amazonaws.sso.oidc#URI": {
      "type": "string"
    },
    "com.amazonaws.sso.oidc#UnauthorizedClientException": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.amazonaws.sso.oidc#Error"
        },
        "error_description": {
          "target": "com.amazonaws.sso.oidc#ErrorDescription"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates that the client is not currently authorized to make the request. This can happen\n      when a <code>clientId</code> is not issued for a public client.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.sso.oidc#UnsupportedGrantTypeException": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.amazonaws.sso.oidc#Error"
        },
        "error_description": {
          "target": "com.amazonaws.sso.oidc#ErrorDescription"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates that the grant type in the request is not supported by the service.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.sso.oidc#UserCode": {
      "type": "string"
    }
  }
}
